{{response.title='About OneZoom'}}
{{extend 'uikit_layout.html'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>About OneZoom</h1>

</div>
{{end block}}

<div class = "uk-padding">
{{include 'default/about.load'}}




<h3>Other applications</h3>
<p>
Use of OneZoom and the Interactive Fractal Inspired Graph (IFIG&trade;) concept for other types of big data visualisation. Possibilities that we are evaluating include ...
<ul>
    <li>Monitoring of large and complex industrial processes</li>
    <li>Global financial data</li>
    <li>Spending and performance data</li>
    <li>Directory structures</li>
    <li>Complex computing structures including hardware and software</li>
    <li>Exploration of the contents of personal computing devices</li>
    <li>Databases of drugs for healthcare</li>
    <li>Exploration of the products available for purchase from large online stores</li>
    <li>Family trees, genealogy and pedigrees</li>
    <li>We'd like to see a OneZoom visualisation of the <a href="http://www.youtube.com/watch?v=mmQl6VGvX-c" target="_blank">Google Knowledge Graph</a>. This could be done by allowing the same data to appear in multiple places as part of an infinitely zoomable tree of knowledge assocation from any given starting topic.</li>
    
</ul>
The concept of visualisation by use of a fractal inspired zoomable interface does not have to produce images that appear like a tree with leaves and need not be restricted to the visualisation of strict hierarchies only.  We expect many more types of IFIG to be possible after further research and these will be more suitable for the visualisation and popularisation of other types of scientific, political and industrial data.  OneZoom allows the strucutre of the fractal itself to reflect summary statistics of the data, such as the ballance of a tree.
</p>
</div>
