{{response.title='About OneZoom'}}
{{extend 'uikit_layout.html'}}
{{response.files.append(URL('static', 'css/OZ_shared.css'))}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>About OneZoom</h1>
    <p>We are a not for profit organisation registered in the UK. Our mission is to advance the education of the public in the subjects of evolution, biodiversity and conservation of the variety of life on earth.</p>
</div>
{{end block}}

<div class = "uk-padding">
{{include 'default/about.load'}}
</div>
