{{response.title=base_title + ': ' + T('Accessibility')}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Accessibility on OneZoom.org site</h1>
</div>
{{end block}}

<div class="uk-padding uk-text-small uk-column-1-2@s uk-column-1-3@m no-break-paras">
  <h4>Introduction</h4>
  <p><img class="lft_edge" src="/static/images/leaves/Lpic1.png" /></p>
  <p>This statement applies to content published on <a href="http://www.onezoom.org">OneZoom.org</a></p>
  
  <p>We want as many people as possible to be able to use this website. For example, that means you should be able to:
  </p>
      <ol>
          <li>Access all parts of the site from devices with different screen sizes.</li>
          <li>Increase the text size.</li>
          <li>Access the tree of life explorer with a mouse or touch screen user interface.</li>
   </ol>
   
 
   
   <p><a href="https://abilitynet.org.uk/">abilitynet.org.uk</a> has advice on making your device easier to use if you have a disability.</p>
      
 <h4>How accessible this website is</h4>
 
 <p>Parts of this website are not fully accessible.</p>
 <p>For example: the tree of life explorer itself is an inherently visual exploration tool and it is built in a highly customised way.  Images on this page do not have alternative text equivalents.</p>
 <p>We have provided a text version of the tree that can be found at
 <a href = "{{=URL('default','life_text.html')}}">http://www.onezoom.org/life_text.html</a></p>
 
 <h4>What we do about known issues</h4>
 <p>We are a  small not for profit organisation were most work is done by volunteers.</p>
 <p>We will work to achieve and maintain WCAG 2.1 AA standards, but it is not always possible for all our content to be accessible due to both technical constraints, and time constrains.</p>
 <p>Where content is not accessible, we will aim to state a reason, warn users and offer alternatives.</p>
 <p>We are a charity that does not receive primary funding from the UK government, and does not provide a service that is essential to the public. As a result, we are not bound by the formal obligations that apply to the public sector, but we will do our best.</p>
 
 <p><img class="rgt_edge" src="/static/images/leaves/Rpic4.png" /></p>
 
  <h4>Reporting accessibility issues</h4>
 
 <p>If you need information on this website in a different format, or if you find any accessibility issues not listed on this page then please contact <a href="mailto:mail@onezoom.org">mail@onezoom.org</a></p>
 
 <p>Last updated on 24th September 2021.</p>
 
</div>
