{{response.title='OneZoom data sources'}}
{{response.files.append(URL('static', 'css/OZ_shared.css'))}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>OneZoom data sources</h1>
</div>
{{end block}}

<div class = "uk-padding">
{{include 'default/data_sources.load'}}

<h2>Further details and references</h2>
For further details and up to date academic references for OneZoom specific phylogenetic trees, please see the the {{=A("OneZoom github repository", _href="https://github.com/OneZoom/OZtree/")}}, in particular 
<code>{{=A("OZprivate/data/OZTreeBuild/AllLife/", _href="https://github.com/OneZoom/OZtree/tree/master/OZprivate/data/OZTreeBuild/AllLife/")}}</code>. For references used in the Open Tree of Life, see {{=A("their references page", _href="https://tree.opentreeoflife.org/about/references")}}, or consult the references given for each node on their make webpage at {{=A("https://tree.opentreeoflife.org/", _href="https://tree.opentreeoflife.org/")}}.

</div>
