{{from applications.OZtree.modules.docs import render_docs}}
{{response.title='OneZoom: Information for Developers'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>OneZoom software tools for researchers and developers</h1>
    <em>Our code is the work of over ten years and is available on a public Github repository. We're still improving our software iteratively and welcome collaboration. This website is running OneZoom {{=release_info[0]}}
{{=XML("&lsquo;" + release_info[1] + "&rsquo;" if release_info[1] else "")}}
{{=("(released " + release_info[2].strftime("%B %Y") + ")" if release_info[2] else "")}}</em>
</div>
{{end block}}

<div class="uk-text-small uk-column-1-3@m uk-padding-small">

{{=XML(render_docs('README.md'))}}
{{=XML(render_docs('CHANGELOG.md'))}}

</div>

