{{response.title='OneZoom: Donors'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}
{{import img}}
{{from OZfunc import fmt_pounds}}
{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>The OneZoom charity would like to thank the following generous donors</h1>
</div>
{{end block}}


<div>
    <div>
        <ol class="blank">
{{cutoff_index = 0}}
{{for i, row in enumerate(donor_rows):}}{{if i==items_per_page: break}}
{{ if row["sum_paid"] <= cutoffs[cutoff_index] and (i<=0 or donor_rows[i-1]["sum_paid"]> cutoffs[cutoff_index]):}}
{{  while ((row["sum_paid"] or 0.1) <= cutoffs[cutoff_index]): cutoff_index+=1}}
        </ol>
        <ol class="donor_list cutoff_gt{{=cutoffs[cutoff_index]}}">
{{ pass}}
            <li>
{{ if row["num_sponsorships"] > 1:}}
                <p class="donor">{{=row["donor_name"]}}</p>
{{  if row["use_otts"]:}}
                <ul>
{{   for OTT in row["use_otts"]:}}
{{    image = images.get(OTT)}}
{{    if image:}}
                <li><a href="{{=URL('life/@=' + str(OTT), url_encode=False)}}"><img alt="Go to this species on the OneZoom tree of life"
    src="{{=img.thumb_url(thumb_base_url, image.get('src'), image.get('src_id'))}}"
    title="{{=' / '.join([t for t in [image.rights, image.licence] if t]).replace('"',"'")}}" /></a></li>
{{    pass}}
{{   pass}}
                </ul>
{{  pass}}
{{ else:}}
{{  OTT = row["use_otts"][0]}}
                <a href="{{=URL('life/@=' + str(OTT), url_encode=False)}}"><img alt="Go to this species on the OneZoom tree of life"
{{  image = images.get(OTT)}}
{{  if image:}}
    src="{{=img.thumb_url(thumb_base_url, image.get('src'),image.get('src_id'))}}"
    title="{{=' / '.join([t for t in [image.rights, image.licence] if t]).replace('"',"'")}}"
{{  else:}}
    src="{{=URL('static','images/noImage_transparent.png')}}"
{{  pass}} width="150" />
</a>
                <p>Sponsored {{=row["verified_kind"]}}<br /><strong>{{=row["verified_name"]}}</strong></p>
{{ pass}}
            </li>
{{pass}}
        </ol>
{{if page:}}{{=A(XML('&lt;&nbsp;previous&nbsp;'+str(items_per_page)+'..'),_href=URL(args=[page-1], vars=vars),_class='hefty')}}{{pass}}
{{if len(donor_rows) >= items_per_page:}}{{=A(XML('..next&nbsp;'+str(items_per_page)+'&nbsp;&gt;'),_href=URL(args=[page+1], vars=vars),_class='hefty')}}{{pass}}
<hr />
<div class="donor_foot">Particular thanks to our gold donors whose contributions total over {{=fmt_pounds(cutoffs[1])}}, and silver donors who have contributed over {{=fmt_pounds(cutoffs[2])}} in total.</div>
    </div>
</div>
