{{response.title='OneZoom: Renew your sponsored items'}}
{{response.files.append(URL('static', 'OZSponsor/sponsor_leaf.css'))}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{body_restricted_width = True}}{{extend 'uikit_layout.html'}}
{{import datetime}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Sponsorship page for {{=most_recent.user_donor_name or most_recent.username}}</h1>
    {{if sponsor_status:}}<p>{{=most_recent.user_donor_name or most_recent.username}} is a <span>{{=sponsor_status}}</span> sponsor</p>{{pass}}
</div>
{{end block}}

<ul class="uk-list">{{for item in rows:}}
  <li uk-grid class="uk-padding-small uk-flex-middle uk-text-small">
    {{if item.OTT_ID in images:}}<div class="uk-width-1-5@m" style="text-align:center">
      <a href="{{=URL('/life/@=%d?init=jump' % item.OTT_ID, url_encode=False)}}" target="_blank">
        <span class="img-species leafout leafout-corner"><img class="species" alt=""
                src="{{=images[item.OTT_ID].get('url','')}}"
            onerror="this.onerror=null; this.src='{{=URL('static','images/notAvailable.png')}}'"
              title="{{=' / '.join(s for s in [images[item.OTT_ID].get('rights', ''), images[item.OTT_ID].get('licence', '')] if s)}}" /></span>
      </a>
    </div>{{pass}}

    <div class="uk-width-1-5@m" style="text-align:center">
        <div>{{=html_names.get(item.OTT_ID, 'Unknown')}}</div>
        <div>
           Sponsored in {{=item['reserve_time'].strftime("%Y")}} {{=item['verified_kind']}}
           <i class="sponsored-by">{{=item['verified_name']}}</i>
        </div>
        {{if item.get('verified_more_info', ''):}}<br/><div>{{=item['verified_more_info']}}</div>{{pass}}
    </div>

    {{if item.sponsorship_story:}}<div class="uk-width-expand@m">
      <p>{{=item.sponsorship_story}}</p>
    </div>{{pass}}
  </li>
{{pass}}</ul>

{{if page:}}{{=A(XML('&lt;&nbsp;previous&nbsp;'+str(items_per_page)+'..'),_href=URL(args=[args[0], page-1], vars=vars),_class='hefty')}}{{pass}}
{{if len(rows)>items_per_page:}}{{=A(XML('..next&nbsp;'+str(items_per_page)+'&nbsp;&gt;'),_href=URL(args=[args[0], page+1], vars=vars),_class='hefty')}}{{pass}}
