{{response.title='OneZoom embed editor'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Onezoom Embed widget editor</h1>
    <p>Configure a OneZoom embeddable widget for your website</p>
</div>
{{end block}}

<form id="form_embed_edit" onsubmit="return false;">

  <div class="uk-grid-small uk-text-small uk-grid-divider" uk-grid>
    <div class="uk-child-width-2-3@m">
      <h3>Configure OneZoom</h3>

      <input type="hidden" name="_origin" value="" />

      <label><span class="uk-form-label">Page variant</span>
      <div class="uk-form-controls">
        <select name="_pathname" class="uk-select">
          <option value="/life/">Default</option>
          <option value="/life_noninteractive/">Non-interactive view</option>
        </select>
      </div>
      </label>

      <label for="input_url_search">Search for your starting location</label>
      <div class="search-nav" style="float: none"><div class="search-basic">
        <div class="searchbox uk-search uk-search-default">
          <div class="searchinput"><div class="icon-beside-input">
              <button   class="spinner" uk-spinner="ratio:0.5"></button>
              <button   class="main-icon" uk-icon="icon: search"></button>
            </div>
            <input id="input_url_search" class="uk-search-input" type="search" placeholder="{{=T('Search all life...')}}" />
            <input type="hidden" name="_pinpoint" value="" />
            <input type="hidden" name="otthome" value="" />
          </div>
          <div uk-dropdown="pos: bottom-left; offset: 1" class="search_dropdown selectable uk-overflow-auto">
            <div class="no_results">{{=T("No results found")}}</div>
            <dl class="search_hits"></dl>
          </div>
        </div>
      </div></div>

      <label for="input_url_search">Highlight path to a species</label>
      <div class="search-nav" style="float: none"><div class="search-basic">
        <div class="searchbox uk-search uk-search-default">
          <div class="searchinput"><div class="icon-beside-input">
              <button   class="spinner" uk-spinner="ratio:0.5"></button>
              <button   class="main-icon" uk-icon="icon: search"></button>
            </div>
            <input id="input_url_search" class="uk-search-input" type="search" placeholder="{{=T('Search all life...')}}" />
            <input type="hidden" name="initmark" value="" />
          </div>
          <div uk-dropdown="pos: bottom-left; offset: 1" class="search_dropdown selectable uk-overflow-auto">
            <div class="no_results">{{=T("No results found")}}</div>
            <dl class="search_hits"></dl>
          </div>
        </div>
        <br/>
      </div></div>
      <button id="button_clear_initmark" class="uk-button uk-button-secondary" disabled>Clear highlight</button>

      <label><span class="uk-form-label">{{=T('Image sources')}}</span>
      <div class="uk-form-controls">
        <select name="img" class="uk-select">
          {{include 'settings_values/img.load'}}
        </select>
      </div>
      </label>

      <label><span class="uk-form-label">{{=T('Language')}}</span>
      <div class="uk-form-controls">
        <select name="lang" class="uk-select">
          {{include 'settings_values/lang.load'}}
        </select>
      </div>
      </label>

      <label><span class="uk-form-label">Initial animation</span>
      <div class="uk-form-controls">
        <select name="init" class="uk-select">
          <option value="leap" selected>No animation</option>
          <option value="pzoom">Short zoom to species</option>
          <option value="zoom">Full zoom to species</option>
        </select>
      </div>
      </label>

      <label><span class="uk-form-label">{{=T('Visualisation Shape')}}</span>
      <div class="uk-form-controls">
        <select name="vis" class="uk-select">
          {{include 'settings_values/vis.load'}}
        </select>
      </div>
      </label>

      <label><span class="uk-form-label">Colour scheme</span>
      <div class="uk-form-controls">
        <select name="cols" class="uk-select">
          <optgroup label="{{=T('Colour By')}}">
            {{include 'settings_values/cols.load'}}
          </optgroup>
          <optgroup label="{{=T('Colour blind friendly')}}">
            <option value="IUCN_CBF" selected>{{=T('Extinction risk')}} (CBF)</option>
            <option value="popularity_CBF">{{=T('Species popularity')}} (CBF)</option>
          </optgroup>
        </select>
      </div>
      </label>

    </div>
    <div class="uk-width-expand@m">
      <h3>Preview</h3>
      <iframe id="iframe_embed_preview" src="javascript:" style="border: 1px solid black; padding: 2px; width: 600px; height: 400px"></iframe>
    </div>
  </div>
</form>

<hr/>

<h3>E-mail me the embed code</h3>
<p>We will store your e-mail address in our database and use it as a point of contact if we notice any problems with the OneZoom embedding.</p>

{{=form}}

<script>
(function() {
    var form_embed_edit = document.getElementById('form_embed_edit'),
        iframe_embed_preview = document.getElementById('iframe_embed_preview');

    // Wire up search box to update url field
    var search_manager = OZentry.api_utils_setup({
      /* These fill out the equivalently named variables in OneZoom global_config.
         They need to be defined in this file to avoid hard-coding them into the OneZoom js code
         They are coded with the full URL so that they can be used remotely (e.g. in a partial install) */
      search_api: "{{try:}}{{=myconf.take('API.search')}}{{except:}}{{=URL('API','search_node.json', scheme=True, host=True)}}{{pass}}",
      search_sponsor_api: "{{try:}}{{=myconf.take('API.search_sponsor')}}{{except:}}{{=URL('API','search_for_sponsor.json', scheme=True, host=True)}}{{pass}}",
    }).search_manager;

    $('.searchinput input', form_embed_edit)
        .blur(function(event) {
            // if we have an already-selected location, and we lose focus, we simply revert
            var searchbox = $(event.currentTarget).closest('.searchbox');
            if ($('.searchresult', searchbox).attr('data-OZid')) {
                searchbox.addClass('result_displayed_in_box');
            }
        })
        .on('keyup', function(event) {

            var search_input = $(this);
            var search_term = this.value;
            var searchbox = $(this).closest('.searchbox');
            var searchresult = $('.searchresult', searchbox);
            var dropdown = $('.search_dropdown', searchbox);
            if (searchresult.attr('data-OZid')) {
                onezoom.controller.unmark_area(searchresult.attr('data-OZid'));
                searchresult.attr('data-OZid','');
            }
            if (search_term.length==0) {
                {{if is_testing:}}console.log("Hiding no_result section of dropdown");{{pass}}
                $('.no_results', dropdown).hide();
                $('.search_hits', dropdown).empty();
                search_manager.full_search(""); // this clears the search
                $('.searchinput', searchbox).removeClass('waiting_for_search_result');
            } else {
                var delay_ms = 1000;
                if (event.which == 13) {
                    delay_ms = 1;   //enter was pressed - don't delay
                }
            if ((search_term.replace(/ /g,'').length > 2)||((search_term.replace(/ /g,'').length > 1)&&(delay_ms == 1))) { // we're never going to search for a single character

            search_manager.full_search(
                search_term,
                function(original_string, actual_search, results) {
                    search_ui.searchPopulate(searchbox, original_string, results, function (event, OZIDin, given_name, sciname) {
                        event.preventDefault();  // Don't follow links
                        var hidden_el = searchbox.find('input[type=hidden]')[0];

                        // Populate search input with current item, so it's more obvious what's selected
                        search_input.val(given_name);

                        if (hidden_el.name === '_pinpoint') {
                            hidden_el.value =  event.target.getAttribute('href').replace(/^.*\//, '');
                            form_embed_edit.elements['otthome'].value = event.target.getAttribute('href').replace(/^.*\=/, '');
                        } else if (hidden_el.name === 'initmark') {
                            hidden_el.value = event.target.getAttribute('href').replace(/^.*\=/, '');
                        } else {
                            throw new Error("Unknown hidden element name" + hidden_el);
                        }
                        form_embed_edit.dispatchEvent(new Event('change'));
                    })},
                delay_ms,
                function() {
                    {{if is_testing:}}console.log("Search for '" + search_term + "' sent to OneZoom API from advanced search");{{pass}}
                    if(!($(".searchinput").hasClass('waiting_for_search_result'))) {
                        $(".searchinput", searchbox).addClass('waiting_for_search_result'); // switch flag for search to on
                    }});
            }
            }
        });

    document.getElementById('button_clear_initmark').addEventListener('click', function (e) {
        e.preventDefault();
        form_embed_edit.elements['initmark'].value = "";
        form_embed_edit.dispatchEvent(new Event('change'));
    });

    form_embed_edit.addEventListener('change', function (e) {
        // Turn form content back into URL
        var url =
                form_embed_edit.elements['_origin'].value +
                form_embed_edit.elements['_pathname'].value +
                form_embed_edit.elements['_pinpoint'].value + '?' + $(this).serializeArray().filter(function (x) {
            // Ignore _path, anything with empty value
            return x.name && x.name[0] !== '_' && x.value;
        }).map(function(x) {
            return encodeURIComponent(x.name) + "=" + encodeURIComponent(x.value);
        }).join("&");

        document.getElementById('button_clear_initmark').disabled = !(form_embed_edit.elements['initmark'].value);

        iframe_embed_preview.src = url;
        document.getElementById('form_embed_email').elements.url.value = url;
    });
}());

(function() {
    // On startup, bootstrap by populating preview fields from hidden form URL
    var form_embed_edit = document.getElementById('form_embed_edit'),
        loc = document.createElement('A'),
        m;

    // Use DOM to parse incoming URL
    loc.href = document.getElementById('form_embed_email').elements.url.value;

    $(form_embed_edit.elements['_origin']).val(loc.origin);
    m = loc.pathname.split(/(@.*)/);
    $(form_embed_edit.elements['_pathname']).val(m[0].replace(/\/?$/, '/'));
    $(form_embed_edit.elements['_pinpoint']).val(m[1] || '');
    loc.search.replace(/^\?/, '').split(/\&/).forEach(function(part) {
        var parts = part.split(/\=/);
        if (parts[0]) {
            $(form_embed_edit.elements[decodeURIComponent(parts[0])]).val(decodeURIComponent(parts[1]));
        }
    });

    form_embed_edit.dispatchEvent(new Event('change'));
}());
</script>
