{{response.title='OneZoom: Endorsements'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Endorsements and impacts of OneZoom</h1>
    <em>If you like our tree of life explorer, please <a href="mailto:mail@onezoom.org">e-mail us</a> your comments to add to this page.</em>
</div>
{{end block}}




    <div>
        <div class=" uk-text-small uk-padding-small uk-column-1-3@m" >
            <h2 class="uk-padding-small">Endorsements</h2>
            <ul class = "blockquote-ul">
{{category_order=['Scientists', 'Lecturers and professors', 'User quotes', 'Professionals', 'Students', 'Educators']}}
{{for category in category_order + [q for q in quotes.keys() if q not in category_order]:}}
                <li><h4>{{=category}}</h4>
    {{for q in quotes.get(category,[]):}}
                    <blockquote id="quote{{=q.id}}" class="blockquote-main">{{=XML(q.html_quote)}}
                        <footer class="blockquote-footer">
                            <cite>{{if q.person_url:}}<a href="{{=q.person_url}}" target="_blank">{{=q.person}}</a>{{else:}}{{=q.person}}{{pass}}{{if q.html_affiliation:}}, {{=XML(q.html_affiliation)}}{{pass}}</cite>
                        </footer>
                    </blockquote>
    {{pass}}
                </li>
    {{if category == "Professionals":}}
    {{ #Add a pretty picture in to break up the monotony}}
                <figure>
                    <a href="http://www.plosbiology.org/article/browseIssue.action?issue=info%3Adoi%2F10.1371%2Fissue.pbio.v10.i10" target = "_blank" class="thumbnail"><img src="{{=URL('static','images/gallery/PLoS_cover_small.jpeg')}}" alt=""></a>
                    <figcaption>OneZoom as the cover image for PLoS Biology (2012)</figcaption>
                </figure>
    {{pass}}
{{pass}}
            </ul>
        </div>
    </div>





<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
        <h2 class="uk-padding-small">Impacts</h2>
            <a href="{{=URL('static','images/gallery/One_Zoom_Science_Uncovered.jpg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/One_Zoom_Science_Uncovered_small.jpg')}}" alt=""></a>
            <p>The OneZoom software in its most basic form was released in October 2012. It's already been used as a source of natural history information by a million unique users. In addition, this software has been used in more specific science and education settings, including as an interactive display at museums and exhibitions around the globe. OneZoom has been adapted to solve other data visualisation problems such as human genealogy.</p>
            
            <a href = "{{=URL('static','images/gallery/AT_cover.png')}}"  target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/AT_cover_small.png')}}" alt=""></a>
            
            <p>Our tree of life visualisations have been used prominently in <cite>The Ancestor's Tale (2nd edition), by Richard Dawkins &#38; Yan Wong (2016)</cite>. They were also adapted by renowned artist Naziha Mestaoui for use at the core of One Tree One Planet in Florida (2017)</p>
    </div>


    <div class = "uk-padding">

            <h4>Attendance at events</h4>
            <ol>
                <li><a href="https://www.linnean.org/meetings-and-events/events/the-tree-of-life-1" target="_blank">The Linnean Society</a> Tree of life presentation by Yan Wong and James Rosindell, 5th December 2017</li>
                <li><a href="https://www.floridamuseum.ufl.edu/onetree/" target="_blank">OneTree, One Planet</a>: a projection of a version of the OneZoom tree of life onto the Florida Museum of Natural History 16-18 November 2017.</li>
                <li>Big Biology Day <a href="http://www.hillsroad.ac.uk/college-life/news/2017/10/06/big-biology-day-celebrates-its-sixth-anniversary!" target="_blank">Hills Road</a> Cambridge, 14th October 2017</li>
                <li>Ten years on the EDGE of existence <a href="https://www.zsl.org/science/whats-on/ten-years-on-the-edge-of-existence" target="_blank">Zoological Society of London</a> 10th October 2017</li>
                <li>Eco Fun Palace, in association with the <a href="https://www.linnean.org/" target="_blank">Linnean Society of London</a> 8th October 2017 </li>
                <li><a href="http://www.ox.ac.uk/curiosity-carnival/about" target="_blank">Curiosity Carnival</a> Oxford Botanic Gardens 29th September 2017</li>
                <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 29th July 2017</li>
                <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/lifesciences/grandchallengesinecosystemsandtheenvironment/eventssummary/event_22-6-2017-14-17-8" target="_blank">Silwood Park Bugs day</a> 24th July 2017</li>
                <li><a href="https://www.botanic-garden.ox.ac.uk" target="_blank">Oxford Botanic Garden</a> International Fascination of Plants Day 21st May 2017</li>
                <li><a href="https://www.linnean.org/meetings-and-events/events/the-tree-of-life" target="_blank">The Linnean Society</a> Tree of life presentation by Yan Wong and James Rosindell, 27th April 2017</li>
                <li><a href="https://www.linnean.org/meetings-and-events/events/st-jamess-piccadilly-eco-fun-palace" target="_blank">Eco Fun Palace, London</a> 2 October 2016 in association with the Linnean Society</li>
                <li><a href="http://www.sciencemuseum.org.uk/visitmuseum/plan_your_visit/lates" target="_blank">Science Museum Lates, London</a> 31 August 2016</li>
                <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 30-31 July 2016</li>
                <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 10-11 June 2016</li>
                <li><a href="http://www.oum.ox.ac.uk" target="_blank">Oxford University Natural History Museum</a> 28 April 2016</li>
                <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 20 August 2015</li>
                <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 6 June 2015</li>
                <li><a href="http://www3.imperial.ac.uk/festival" target="_blank">Imperial Festival</a> 8-10 May 2015</li>
                <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 3-8 June 2014</li>
                <li><a href="http://www.oum.ox.ac.uk" target="_blank">WowHow at the Oxford University Natural History Museum</a> 15th March 2014</li>
                <li><a href="https://www.facebook.com/photo.php?fbid=456924184420592&set=a.357897014323310.1073741825.261228357323510&type=1&theater" target="_blank">Science Uncovered at the Nautral History Museum</a> 27th September 2013</li>
                <li><a href="http://www3.imperial.ac.uk/festival" target="_blank">Imperial Festival</a> 2-4 May 2013</li>
            </ol>
        </div>
    <div class = "uk-padding">

            <h4>Known reuse of our software</h4>
            <ol>
                <li><a href="http://pavlin-identitytree.home.amu.edu.pl/tetrapods.htm" target="_blank">Pavel Linhart - tetrapod sounds</a></li>
                <li><a href="https://flagellateplants.pythonanywhere.com/OZtree/default/life" target="_blank">Phylogenetic Tree</a> on <a href="http://flagellateplants.org" target="_blank">Flagellate Plants, University of Florida</a></li>
                <li><a href="https://www.floridamuseum.ufl.edu/onetree/" target="_blank">OneTree, One Planet, Florida Musuem</a></li>
                <li><a href="http://edgeofexistence.org/index.php" target="_blank">EDGE of existence programme at ZSL</a></li>
                <li><a href="http://www.4apes.com/species/bonobo" target="_blank">Ape Alliance</a></li>
                <li><a href="http://www.birdtree.org" target="_blank">birdtree.org</a></li>
                <li><a href="http://www.onezoom.org/birds.htm" target="_blank">birdtree.org (updated version)</a></li>
                <li><a href="http://www.zoompast.com" target="_blank">ZoomPast.com human genealogy explorer</a></li>
                <li><a href="http://www.fxysw.com/tree/tree.php" target="_blank"> FSYXW.com</a></li>
                <li><a href="http://www.fxysw.com/forum.php" target="_blank"> FSYXW.com forum</a></li>
                <li><a href="https://github.com/nachocab/clickme" target="_blank">Clickme on Github - An R interface for OneZoom</a></li>
                <li><a href="{{=URL('default','plants_Soltis2')}}">Plant tree (latin only) </a> for Professor <a href="http://www.flmnh.ufl.edu/soltislab/Soltis_site/Home.html" target="_blank">Doug Soltis</a></li>
                <li><a href="{{=URL('default','plants_Soltis1')}}">Plant tree (latin only - alternative layout) </a></li>
            </ol>
            <p>Please also see our page about <a href="{{=URL('default', 'installations.html')}}">installations of OneZoom on touch screen kiosks</a> at public venues such as museums.</p>
            <a href="{{=URL('static','images/gallery/MUT_exhibition.jpeg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/MUT_exhibition_small.jpeg')}}" alt=""></a>
            <p>Using OneZoom software in your webpage or at your exhibition?  Please <a href="mailto:mail@onezoom.org">let us know</a> so you can be listed here too.</p>
        </div>
    </div>



<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
        <h2 class="uk-padding-small">Media coverage</h2>
            <ul>
                <li><a href="https://soundcloud.com/zsl-1826/zsl-wild-science-podcast-ten-years-on-the-edge-of-existence" target="_blank">ZSL wild science podcast</a></li>
                <li><a href="https://www.zsl.org/blogs/artefact-of-the-month/depicting-the-tree-of-life" target="_blank">ZSL blog</a></li>
                <li>An interview of James Rosindell and Yan Wong by Daniel Cressey, a reporter for <a href="http://blogs.nature.com/aviewfromthebridge/2016/05/16/crowdfunding-tree-of-life/" target="_blank">Nature</a> in London. Read the <a href="{{=URL('static','images/Daniel_Cressey_Nature_Interview_OneZoom.pdf')}}" target="_blank">full interview text</a> or <a href="http://blogs.nature.com/aviewfromthebridge/2016/05/16/crowdfunding-tree-of-life/" target="_blank">the finished blog post</a> </li>
                <li><a href="https://whyevolutionistrue.wordpress.com/2016/04/30/the-best-interactive-tree-of-life-ever/" target="_blank">Why Evolution is True</a></li>
                <li><a href="http://www.oxfordtoday.ox.ac.uk" target="_blank">Oxford today</a></li>
                <li><a href="https://www.family-tree.co.uk" target="_blank">Family Tree Magazine</a></li>
                <li><a href="http://www.bbc.co.uk/news/science-environment-36358104" target="_blank">BBC News</a></li>
                <li><a href="http://www.bbc.co.uk/programmes/p03xzcyc" target="_blank">BBC World Service Science Hour</a></li>
                <li><a href="http://blog.willyvanstrien.nl/2016/05/02/boom-groeit-uit/" target="_blank">blog.willyvanstrien.nl</a></li>
                <li><a href="https://www.imperial.ac.uk/blog/charityinsights/2016/08/29/my-first-week-with-onezoom/" target="_blank">Charity insights blog</a></li>
                <li><a href="https://eurekablogazine.com/2016/05/19/onezoom-tree-of-life/" target="_blank">Eureka</a></li>
                <li><a href="http://www.sciencemag.org/content/338/6105/317.summary" target="_blank">Science magazine</a></li>
                <li><a href="http://www.sciencemag.org/news/2015/09/first-comprehensive-tree-life-shows-how-related-you-are-millions-species" target="_blank">Science magazine further coverage</a></li>
                <li><a href="http://www.bbc.co.uk/programmes/p02qtx6x#auto" target="_blank">BBC world service Science in Action</a> </li>
                <li><a href="http://www.itv.com/news/2012-10-16/online-tree-of-life-makes-exploring-evolution-easy/" target="_blank">ITV news</a></li>
                <li><a href="http://www.sciencedaily.com/releases/2012/10/121016173123.htm" target="_blank">Science Daily</a></li>
                <li><a href="http://www.sciencedaily.com/releases/2012/12/121217234946.htm" target="_blank"> Science Daily further coverage</a></li>
                <li><a href="http://www.popsci.com/technology/article/2012-10/new-fractal-tree-life-zooms-earths-entire-evolutionary-history" target="_blank">Popular Science</a></li>
                <li><a href="http://www.discoverwildlife.com" target="_blank">BBC Wildlife Magazine (January 2013)</a></li>
                <li><a href="http://bjgp.org/content/64/623/301.extract" target="_blank">British Jounral of General Practitioners</a></li>
                <li><a href="http://www.nrc.nl" target="_blank"> NRC-Handelsblad</a></li>
                <li><a href="http://www.thenakedscientists.com/HTML/podcasts/genetics/show/20150514/" target="_blank"> Thenakedscientists.com genetics podcast.</a></li>
                <li><a href="http://www.schoolscience.co.uk" target="_blank">SchoolScience.co.uk</a></li>
                <li><a href="http://www.richarddawkins.net" target="_blank">RichardDawkins.net</a></li>
                <li><a href="http://www.teachersfirst.com/single.cfm?id=14148" target="_blank">teachersfirst.com</a></li>
                <li><a href="http://www.nea.org/tools/lessons/57400.htm" target="_blank">National Education Association</a></li>
                <li><a href="http://www.vetscite.org" target="_blank"> Veterinary Sciences Tomorrow</a></li>
            </ul>
    </div>
  <div class = "uk-padding">
            <ul>
                <li><a href="http://www.20minutos.es/noticia/1621933/0/arbol-de-la-vida/digital/ancestro-especies/" target="_blank">20minutos.es</a></li>
                <li><a href="http://www.abc.es/20121017/ciencia/abci-primer-arbol-vida-internet-201210171300.html" target="_blank">ABC Spanish</a></li>
                <li><a href="https://www.facebook.com/note.php?note_id=551836791514376" target="_blank">British Columbia News</a></li>
                <li><a href="http://ec.europa.eu/research/headlines/news/article_12_10_31_en.html" target="_blank">European Commission Resarch and Innovation</a></li>
                <li><a href="http://www.caracol.com.co/noticias/internacional/cientificos-britanicos-y-estadounidenses-crearon-el-primer-arbol-de-la-vida-digital/20121016/nota/1780069.aspx" target="_blank">Caracol Radio</a></li>
                <li><a href="http://f1000.com/prime/717964377" target="_blank">F1000</a></li>
                <li><a href="http://visual.ly/onezoom-tree-life" target="_blank">visua.ly</a></li>
                <li><a href="http://metronews.ca/news/vancouver/615255/vancouver-scientists-contribute-to-digital-map-aiming-to-list-all-known-life-forms/" target="_blank">Metro News - Canada</a></li>
                <li><a href="http://www.ntn24.com/noticias/onezoom-se-convierte-en-el-pri-066004" target="_blank">NTN24</a></li>
                <li><a href="http://www.emol.com/noticias/tecnologia/2012/10/17/565085/crean-el-primer-arbol-de-la-vida-digital-con-hasta-5200-especies.html" target="_blank">emol.com</a></li>
                <li><a href="http://www.33rdsquare.com/2012/10/fractal-used-to-visualize-interactive.html#more" target="_blank">33rd Square</a></li>
                <li><a href="http://policyoptions.irpp.org/issues/beautiful-data/photo-essay/" target="_blank">Policy Options (Canada)</a></li>
                <!--</ol>
                 <h3>Further Media and Web Coverage</h3>
                 <ol> -->
                <li><a href="http://www.sciencevisualization.com" target="_blank">ScienceVisualization.com</a></li>
                <li><a href="http://planetearth.nerc.ac.uk" target="_blank">Planet Earth Online (NERC)</a></li> <!-- the old link is broken http://planetearth.nerc.ac.uk/news/story.aspx?id=1301 -->
                <li><a href="http://www.itsokaytobesmart.com/post/34778921412/onezoom-tree-of-life" target="_blank"> It's Okay to be smart.com</a></li>
                <li><a href="http://www.omixon.com/onezoom-and-the-importance-of-visualization/" target="_blank">omixon.com</a></li>
                <li><a href="http://visualoop.com/2657/interactive-inspiration-9" target="_blank"> Visualoop.com</a></li>
                <li><a href="http://www.sciencecodex.com" target="_blank"</a>ScienceCodex</li> <!-- http://www.sciencecodex.com/tree_of_life_branches_out_online-100288 original link wsa broken -->
                <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/newssummary/news_16-10-2012-15-17-28" target="_blank">Imperial College London</a></li>
                <li><a href="http://www.uidaho.edu" target="_blank">University of Idaho</a></li> <!-- http://www.uidaho.edu/sci/biology/news/features/onezoom/onezoom original link broken -->
                <li><a href="http://www.sfu.ca/pamr/media-releases/2013/world-first-viewing-life-in-onezoom.html" target="_blank">Simon Fraser University</a></li>
                <li><a href="http://blog.openhelix.eu/?p=14074" target="_blank">Openhelix Blog</a></li>
                <li><a href=" http://britishlibrary.typepad.co.uk/digital-scholarship/2013/03/phylogenetic-tree-visualisation-and-annotation.html" target="_blank">British Library Blog</a></li>
                <li><a href="http://iphylo.blogspot.co.uk/2012/10/onezoom.html" target="_blank">Rod Page's Blog</a></li>
                <li>The Beast, the Bard and the Bot (WordPress)</li>
                <li><!-- borken link <a href="http://www.inquirebotany.org/en/news/onezoom-tree-of-life-explorer-470.html" target="_blank"> --> Inquirebotany.org</li>
                <li><a href=" http://www.scoop.it/t/amazing-science/p/3197476854/2012/11/03/onezoom-a-fractal-explorer-for-the-tree-of-life" target="_blank">Amazing science</a></li>
                <li><a href="http://reluctantapostate.wordpress.com/2013/03/09/the-onezoom-tree-of-life/" target="_blank">A reluctant Apostate Blog</a></li>
                <li><a href="http://coastalpathogens.wordpress.com/2012/11/25/onezoom/" target="_blank">Coastal Pathogens</a></li>
                <li><a href="http://www.alphagalileo.org/ViewItem.aspx?ItemId=126991&CultureCode=en" target="_blank"> alphagalileo.org</a></li>
            </ul>
        </div>
  <div class = "uk-padding">
            <ul>
            <li><a href="http://phys.org/news/2012-10-tree-life-online.html" target="_blank">Phys.org</a></li>
                <li><a href="http://phys.org/news/2013-04-viewing-life-onezoom.html" target="_blank">Phys.org further coverage</a></li>
                <li><!--<a href="http://tech.groups.yahoo.com/group/evolutionary-psychology/message/141344" target="_blank"> link broken -->Evolutionary Psychology Yahoo group</li>
                <li><a href="http://www.redorbit.com/news/science/1112714944/evolutionary-tree-of-life-made-digital-101712/" target="_blank">RedOrbit</a></li>
                <li><a href="http://www.treevis.net" target="_blank">treevis.net</a></li>
                <li><a href="http://www.youtube.com/watch?v=eQUt8XgXNWE" target="_blank">Imperial TV (STOIC)</a></li>
                <li><a href="http://champagnewhisky.com/2013/02/15/fractalling-the-paper-paradigm/" target="_blank">champagnewhisky.com</a></li>
                <li><a href="http://champagnewhisky.com/2013/03/26/march-of-tetrapods-elver-reluctance/" target="_blank">champagnewhisky.com further coverage</a></li>
                <li><a href="http://civic.mit.edu/blog/kyuan/onezoom-tree-of-life" target="_blank">Kyle Yuan Blog at MIT</a></li>
                <li><a href="http://yanwong.me/?p=942" target="_blank">Dr. Yan Wong personal blog</a></li>
                <li><a href="http://blogs.plos.org/biologue/2012/11/09/fractaltastic-evolution/" target="_blank">PLoS Biologue</a></li>
                <li><a href="http://www.cfax1070.com/Media/CFAX-Podcasts/Frank-Stanford/April-2,-2013-1pm" target="_blank">CFAX1070 live interview</a></li>
                <li><a href="http://jecologyblog.wordpress.com/2013/04/19/interview-with-james-rosindell/" target="_blank">Journal of Ecology Podcast</a></li>
                <li>Promega Connections (WordPress)</li>
                <li><a href="http://www.xatakaciencia.com" target="_blank">Xatakaciencia.com</a></li>
                <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/newssummary/news_30-7-2013-14-17-5" target="_blank">Inventor's Corner</a></li>
                <li><a href="http://www.ibest.uidaho.edu" target="_blank">ibest News</a></li> <!-- Original link broken http://www.ibest.uidaho.edu/contact/news/interactive-fractal-tree-of-life-zooms-in-on-earths-entire-evolutionary-history/-->
                <li><a href="http://www.pinterest.com/search/pins/?q=OneZoom" target="_blank">Pinterest postings</a></li>
                <li><a href="http://sandrarendgen.wordpress.com/2013/02/06/tree-of-life-2/" target="_blank">Big Times</a></li>
                <li><a href="http://blogs.plos.org/scied/2013/05/20/learning-to-read-the-tree-of-life/" target="_blank">PLOS blogs further coverage</a></li>
                <li><a href="http://cabbagesofdoom.blogspot.co.uk/2012/12/zooming-round-tree-of-life.html" target="_blank">Cabbages of Doom Blog</a></li>
                <li><a href=" http://www.treeoflife.net.au/Tree-of-Life-Evolution-Tree-Of-Life.net.au.html" target="_blank">Treeoflife.net.au</a></li>
                <li><a href="http://britishlibrary.typepad.co.uk/sound-and-vision/2014/01/index.html" target="_blank">British Library Blog</a></li>
                <li><a href="http://londonist.com/2014/02/beautiful-science-at-the-british-library.php?showpage=4#gallery-1" target="_blank">Londonist.com</a></li>
                <li><a href="http://allthedirtongardening.blogspot.co.uk/2014/02/big-data-and-one-zooms-tree-of-life.html" target="_blank">All the dirt on gardening blog</a></li>
                <li><a href="http://www.bbc.co.uk/programmes/b03vtgbd" target="_blank">BBC Radio 4 Saturday Review (20m 30s in)</a></li>
                <li><a href="http://www.telegraph.co.uk/culture/culturepicturegalleries/10650907/Beautiful-Science-Picturing-Data-Inspiring-Insight-at-the-British-Library.html?frame=2828805" target="_blank">The Telegraph</a></li>
                <li><a href="http://www.designweek.co.uk/whats-on/data-visualisation-throughout-the-ages/3037981.article?utm_term=%23Design+%23photography&utm_source=twitterfeed&utm_medium=twitter" target="_blank">Design Week .co.uk</a></li>
                <li><a href="http://www.theguardian.com/technology/2014/feb/16/visualise-data-change-life-florence-nightingale" target="_blank">The Guardian</a></li>
                <li><a href="http://www.wired.com/wiredscience/2014/03/beautiful-science/#slide-id-560821" target="_blank">Wired</a></li>
                <li><a href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(14)60433-5/fulltext" target="_blank">The Lancet</a></li>
                <li><a href="http://brilliantbotany.com" target="_blank">Brilliant Botany.com</a></li> <!-- original post at http://brilliantbotany.com/post/74723720918/onezoom-tree-of-life-explorer-plants no longer accessible-->
                <li><a href="http://neurosciencestuff.tumblr.com/post/34982401370/onezoom-a-fractal-explorer-for-the-tree-of-life" target="_blank">Neuo Science Stuff Blog</a></li>
                <li><a href="http://pressandpolicy.bl.uk/content/detail.aspx?ReleaseID=1666&NewsAreaId=2" target="_blank">British Library Press Release</a></li>
            </ul>
        </div>
    </div>

