{{response.title='OneZoom: Impacts'}}
{{extend 'layout.html'}}
        <!--<div class="row-fluid">
            <div class="col-md-12">
                <h1 class="full-title">OneZoom Impacts</h1>
             
            </div>
        </div>
         -->

        <div class="row-fluid">
            <div class="col-md-4">
                    
                <h3>OneZoom Endorsements</h3>

                <blockquote>The best interactive tree of life ever!
                    <footer class="blockquote-footer">
                        <cite><a href="https://whyevolutionistrue.wordpress.com/2016/04/30/the-best-interactive-tree-of-life-ever/" target="_blank">Prof. Jerry Coyne (Why Evolution is True)</a></cite>
                    </footer>
                </blockquote>

                <blockquote>Magnificent piece of software, brilliantly intuitive visualisation of the tree of life
                    <footer class="blockquote-footer">
                        <cite><a href="https://richarddawkins.net" target="_blank">Prof. Richard Dawkins, University of Oxford</a></cite>
                    </footer>
                </blockquote>

                <blockquote>This project has enormous potential both as a tool for increasing public knowledge and engagement but also as an aid to research in Conservation and Biodiversity.
                    <footer class="blockquote-footer">
                        <cite><a href="http://www.oxfordmartin.ox.ac.uk/people/525" target="_blank">Prof. Sir John Beddington, Chief scientific Adviser to the UK, 2008-2013</a></cite>
                    </footer>
                </blockquote>
                
                <blockquote>OneZoom is a brilliant, interactive tool for understanding the scope and scale of the tree of life, including highlights for conservation priorities.
                    <footer class="blockquote-footer">
                        <cite><a href="https://www.ucl.ac.uk/cber/people/georgina-mace" target="_blank">Prof. Dame Georgina Mace, University College London</a></cite>
                    </footer>
                </blockquote>
                
                <blockquote>The best tool I’ve seen for exploring the tree of life on this planet.
                    <footer class="blockquote-footer">
                        <cite><a href="http://www.alice-roberts.co.uk" target="_blank">Professor Alice Roberts, Professor of Public Engagement in Science, University of Birmingham</a></cite>
                    </footer>
                </blockquote>
                

                <blockquote>This will revolutionize how we teach and understand the Tree of Life.  It is an invaluable tool for communicating the grand scope of life's history.
                    <footer class="blockquote-footer">
                        <cite><a href="http://research.amnh.org/vz/ornithology/staff/joel-cracraft" target="_blank">Prof. Joel Cracraft, American Museum of Natural History</a></cite>
                    </footer>
                </blockquote>

                <blockquote>It’s hard to overstate how clever it is at solving a basic limitation in our capacity to communicate large and complicated trees.
                    <footer class="blockquote-footer">
                        <cite><a href="https://twitter.com/steveblackm0re?lang=en-gb" target="_blank">Prof. Stephen Blackmore, Her Majesty's Botanist in the UK</a></cite>
                    </footer>
                </blockquote>
                
                <blockquote> I love the OneZoom tool - really easy to use and the visualization is great.  I've just shared it with my 13 year old, who is a science geek - he loved it and is still playing with it!
                    <footer class="blockquote-footer">
                        <cite><a href="http://eol.org/info/meet_the_team#executive" target="_blank">Graham Higley, Encyclopedia of Life Executive Chair </a></cite>
                    </footer>
                </blockquote>

                
               
                    
                <h3>Attendance at events</h3>
                    
                <a href="{{=URL('static','images/gallery/One_Zoom_Science_Uncovered.jpg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/One_Zoom_Science_Uncovered_small.jpg')}}" alt=""></a>
                <ol>
                    
                    
                    <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 29th July 2017</li>
                     <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/lifesciences/grandchallengesinecosystemsandtheenvironment/eventssummary/event_22-6-2017-14-17-8" target="_blank">Silwood Park Bugs day</a> 24th July 2017</li>
                     <li><a href="https://www.botanic-garden.ox.ac.uk/event/international-fascination-plants-day" target="_blank">Oxford Botanic Garden</a> International Fascination of Plants Day 21st May 2017</li>
                    <li><a href="https://www.linnean.org/meetings-and-events/events/the-tree-of-life" target="_blank">The Linnean Society</a> Tree of life presentation by Yan Wong and James Rosindell, 27th April 2017</li>
                    <li><a href="https://www.linnean.org/meetings-and-events/events/st-jamess-piccadilly-eco-fun-palace" target="_blank">Eco Fun Palace, London</a> 2 October 2016 in association with the Linnean Society</li>
                    <li><a href="http://www.sciencemuseum.org.uk/visitmuseum/plan_your_visit/lates" target="_blank">Science Museum Lates, London</a> 31 August 2016</li>
                    <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 30-31 July 2016</li>
                    <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 10-11 June 2016</li>
                    <li><a href="http://www.oum.ox.ac.uk" target="_blank">Oxford University Natural History Museum</a> 28 April 2016</li>
                    <li><a href="http://ancestorstrail.org.uk" target="_blank">The Ancestor's Trail</a> 20 August 2015</li>
                    <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 6 June 2015</li>
                     <li><a href="http://www3.imperial.ac.uk/festival" target="_blank">Imperial Festival</a> 8-10 May 2015</li>
                    <li><a href="http://www.cheltenhamfestivals.com/science" target="_blank">Cheltenham Science Festival</a> 3-8 June 2014</li>
                    <li><a href="http://www.oum.ox.ac.uk" target="_blank">WowHow at the Oxford University Natural History Museum</a> 15th March 2014</li>
                    
                    <li><a href="https://www.facebook.com/photo.php?fbid=456924184420592&set=a.357897014323310.1073741825.261228357323510&type=1&theater" target="_blank">Science Uncovered at the Nautral History Museum</a> 27th September 2013</li>
                    
                    <li><a href="http://www3.imperial.ac.uk/festival" target="_blank">Imperial Festival</a> 2-4 May 2013</li>
                    
                       <a href="{{=URL('static','images/gallery/MUT_exhibition.jpeg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/MUT_exhibition_small.jpeg')}}" alt=""></a>
                    
                </ol>


                <h3>Known reuse of OneZoom software</h3>
                <ol>
                    <li><a href="http://edgeofexistence.org/index.php" target="_blank">EDGE of existence programme at ZSL</a></li>
                    <li><a href="http://www.4apes.com/species/bonobo" target="_blank">Ape Alliance</a></li>
                    <li><a href="http://litoria.eeb.yale.edu/bird-tree/OneZoomHackettAllSpecies.html" target="_blank">birdtree.org</a></li>
                    <li><a href=" http://www.onezoom.org/birds.htm" target="_blank">birdtree.org (updated version)</a></li>
                    <li><a href=" http://www.zoompast.com" target="_blank">ZoomPast.com human genealogy explorer</a></li>
                    <li><a href="http://www.fxysw.com/tree/tree.php" target="_blank"> FSYXW.com</a></li>
                    <li><a href="http://www.fxysw.com/forum.php" target="_blank"> FSYXW.com forum</a></li>
                    <li><a href="https://github.com/nachocab/clickme" target="_blank">Clickme on Github - An R interface for OneZoom</a></li>
                    <li><a href="http://127.0.0.1:8000/plants_Soltis2.htm">Plant tree (latin only) </a> for Professor <a href="http://www.flmnh.ufl.edu/soltislab/Soltis_site/Home.html" target="_blank">Doug Soltis</a></li>
                    <li><a href="http://127.0.0.1:8000/plants_Soltis1.htm">Plant tree (latin only - alternative layout) </a></li>
                </ol>

                <p>Please also see our page about <a href="{{=URL('default', 'installations.html')}}">installations of OneZoom on touch screen kiosks</a> at public venues such as museums.</p>

                <hr>
                <p>Using OneZoom software in your webpage or at your exhibition?  Please <a href="mailto:mail@onezoom.org">let us know</a> so you can be listed here too.</p>  
                </div>
                
                <div class="col-md-4">
                        
                    <h3>Some users have said&#8230;</h3>
                    
                    <blockquote>The fractal tree of life is one of the greatest inventions I have ever come across... If there was a single justification needed for technology, to show a competence not afforded by traditional media, here it is.
                        <footer class="blockquote-footer">
                            <cite><a href="http://www.oxfordtoday.ox.ac.uk/people/richard-lofthouse" title="danielasieff.com" target="_blank">Richard Lofthouse</a>, editor of Oxford Today</cite>
                        </footer>
                    </blockquote>


                    
                        <blockquote>It's a mind-blowing project &#151; I tend to see humans as one of many species of mammal, but the tree reminded me how much life there is beyond mammals, and indeed beyond vertebrates. It reignited my awe of evolution from undergraduate days 30 years ago.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.danielasieff.com" title="danielasieff.com" target="_blank">Daniela Sieff</a></cite>
                            </footer>
                        </blockquote>


<blockquote>I'm addicted already, and happily browsing 1.8 million species.
    <footer class="blockquote-footer">
        <cite></cite>
        <cite><a href="http://www.twitter.com/deborahcolvin62" target="_blank">Deborah Colvin @deborahcolvin62</a></cite>
    </footer>
</blockquote>


                        <blockquote>Your tree is the best thing to ever happen to evolutionary education. Keep up the amazing work.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.halbrindley.com" title="halbrindley.com" target="_blank">Hal Brindley</a> of <a href="http://www.travelforwildlife.com" target="_blank">Travel for Wildlife</a></cite>
                            </footer>
                        </blockquote>

<blockquote>I'm a biology student at LSU Baton Rouge, and OneZoom is probably my favorite website of all time.
    <footer class="blockquote-footer">
        <cite>Jackson Wheat</cite>
    </footer>
</blockquote>



<blockquote>I often use OneZoom in my class, the students love it.
    <footer class="blockquote-footer">
        <cite>Dr. Jana Vamosi</cite>
    </footer>
</blockquote>



                        <blockquote>I have been telling people about how incredible OneZoom is all week!
                            <footer class="blockquote-footer">
                                <cite>Jack Aylward</cite>
                            </footer>
                        </blockquote>

                        <blockquote>Just to say how very much impressed &#151; floored, even &#151; I am with the OneZoom tool. I'd wanted to see something as simple to use as this since at least 1998.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.geog.ox.ac.uk/staff/rgrenyer.html" title="" target="_blank">Richard Grenyer</a>, University of Oxford</cite>
                            </footer>
                        </blockquote>

                        <blockquote>A Revolutionary Look at the Tree of Life&#8230; Charles Darwin would be proud.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.sciencevisualization.com/2012/10/a-revolutionary-look-at-the-tree-of-life/" target="_blank">Science visualisation.com</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>In my opinion, it is the best visualisation of evolution that's out there for the lay person.
                            <footer class="blockquote-footer">
                                <cite>Michael Hanson, Vice Principal, Scotts Valley High School, California</cite>
                            </footer>
                        </blockquote>

                        <blockquote>We are just one tiny leaf on the tree of life. Watch 160 million years of mammal evolution.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/sciencemuseum" target="_blank">@sciencemuseum</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>I teach evolution and fractals, and thanks to @OneZoomTree this just got much cooler!
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/FractalMan" target="_blank">@FractalMan</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>OneZoom Tree of Life - be amazed and RT to every biologist you know
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/schoolscience" target="_blank">@SchoolScience</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>A beautiful organization of genetic relatedness in this new program - organized the way we think, not the way we read
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/jjunebrown" target="_blank">@jjunebrown</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>This seems to me like the perfect synthesis of new media.
                            <footer class="blockquote-footer">
                                <cite>Phil Walder, Media Consultant</cite>
                            </footer>
                        </blockquote>

                        <blockquote>To have all this information so readily available is a wondrous achievement that one might have imagined would only ever exist in the realms of science fiction. It is such an engrossing display I consult it daily.
                            <footer class="blockquote-footer">
                                <cite>Jason Saber</cite>
                            </footer>
                        </blockquote>  

                        <blockquote>Kudos to the @OneZoomTree team for making their cool software available as #opensource code at time of publication!
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/caseybergman" target="_blank">@caseybergman</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>I am very impressed by the OneZoom project as a first-of-its-kind learning tool with tremendous potential &#8230; This is truly an incredible program that democratizes knowledge and makes it immediately tangible in a way that only years of study might have done in the past &#8230;  I hope to see this project evolve and become as standard a tool of knowledge and education as Wikipedia is now.
                            <footer class="blockquote-footer">
                                <cite>Marco Valencia</cite>
                            </footer>
                        </blockquote>

                        <blockquote>I can appreciate the value of this project to scientists and students and I have spent hours exploring the tree just for curiosity.
                            <footer class="blockquote-footer">
                                <cite>Charles Pope</cite>
                            </footer>
                        </blockquote>

                        <blockquote>I wanted to congratulate the OneZoom team on the amazing interface and reference resource that is OneZoom. Amazing job!
                            <footer class="blockquote-footer">
                                <cite>Adam Bartley, Museum Exhibition Designer</cite>
                            </footer>
                        </blockquote>

                        <blockquote>Tree of Life redesign with OneZoom, a Google Maps like approach to phylogenetic trees
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/sciencemagazine" target="_blank">@sciencemagazine</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>I LOVE your phylogenetic trees! I am an undergrad at Middlebury College, and my professor just referred us to them. Now not only am I using your tool, but I'm also writing a paper about it.
                            <footer class="blockquote-footer">
                                <cite>Jeannie Bartlett</cite>
                            </footer>
                        </blockquote>  

                        <blockquote>I read about OneZoom in Science Magazine - TERRIFIC PROJECT!! Thank you. This is something that middle-school and high-school science classes should see and use regularly.
                            <footer class="blockquote-footer">
                                <cite>Frederick Lanni</cite>
                            </footer>
                        </blockquote>

                        <blockquote>&#8230;simply the most useful tool for understanding phylogenetic and evolutionary relationships.
                            <footer class="blockquote-footer">
                                <cite>Milana, biology undergraduate at Imperial College</cite>
                            </footer>
                        </blockquote>

                        <blockquote>OneZoom - fractal explorer for the tree of life:18,000+ views on #PLOSBiology Teaching Bio101 will never be the same
                            <footer class="blockquote-footer">
                                <cite>Isabelle Côté <a href="http://www.twitter.com/redlipblenny" target="_blank">@redlipblenny</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>Just discovered @OneZoomTree ! Such a cool and easy way to explore the tree of life. Check it out and find your species OneZoom.org
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/david_curnick" target="_blank">@david_curnick</a></cite>
                            </footer>
                        </blockquote>
                        
                        <blockquote>Genius visualisation project mapping the entire tree of life into a single explorable diagram.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/troutio" target="_blank">@troutio</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>one of the coolest things I've seen on the internet
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/jessicapellien" target="_blank">@jessicapellien</a></cite>
                            </footer>
                        </blockquote>
                        
                        <blockquote>This site is so awesome, I'm just gonna spend the rest of my day zoomin' and clickin' away here.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/GirlForScience" target="_blank">@GirlForScience</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>A friend of mine just sent me your paper about OneZoom, and now I'm so excited I can't concentrate on anything else &#8230; Your idea of using fractal trees to do that is so revolutionary, and at the same time so obvious!
                            <footer class="blockquote-footer">
                                <cite>Thomas Delattre</cite>
                            </footer>
                        </blockquote>

                        <blockquote>Gosh that's a bit beautiful
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/sauramaia" target="_blank">@sauramaia</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>There goes the afternoon
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/Vadievi" target="_blank">@Vadievi</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>OneZoom has been incredibly helpful throught my first year course: biology of organisms &#8230; [OneZoom] gives you a complete picture of the tree of life that imprints in your memory &#8230; I don’t know how to explain the greatness of it &#8230; thank you for such a great invention
                            <footer class="blockquote-footer">
                                <cite>Angelina, biology undergraduate at Imperial College</cite>
                            </footer>
                        </blockquote>

                        <blockquote>Is an educational time-waster possible? OneZoom
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/hbrinkschroeder" target="_blank">@hbrinkschroeder</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>I really love how they embrace the idea that the web is not made of electronic paper, and stuff like this lets us explore science in ways that we never could in books.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.itsokaytobesmart.com/post/34778921412/onezoom-tree-of-life" target="_blank">It's Okay to be smart.com</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>@OneZoom this looks amazing! a fantastic resource with so much potential
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/Henners181" target="_blank">@Henners181</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>The Google Maps of Evolutionary Biology: OneZoom
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/phylogenomics" target="_blank">Jonathan Eisen ‏@phylogenomics</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>Oh lord&#8230;amazing evolution-geek diversion. The growth animation is particularly pleasing to watch.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/animaloftheweek" target="_blank">Peter Hayward ‏@animaloftheweek</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>@OneZoomTree has to be one of the more underrated things I've come across in a long time.
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/VaedaSynapse" target="_blank">Ethan Nicolai ‏@VaedaSynapse</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>Warning to #science lovers - productivity loss ahead
                            <footer class="blockquote-footer">
                                <cite><a href="http://www.twitter.com/AustenE3" target="_blank">@AustenE3</a></cite>
                            </footer>
                        </blockquote>

                        <blockquote>The OneZoom tree is a fantastic teaching tool for high schools. Students can use it as a resource for many activities in biology classes from evolution to classification. They love the zooming capabilities of the site and really enjoyed the links to Wikipedia pages for more information. I can almost hear the gasps of amazement when images become part of the tree. Thanks for a great tool.
                            <footer class="blockquote-footer">
                                <cite>Lynn Wilhelm, US high school teacher</cite>
                            </footer>
                        </blockquote>

                        <blockquote>Your OneZoom website is the best visualization of data on the web, bar none&#8230; Years ago, attending a talk by Stephen Jay Gould, I asked Gould what the shape of a tree of life should be, what would it look like, and his answer wasn't satisfactory to me. I've thought about this problem for years, which is essentially a big data problem as well as one of finding the right visual concept. But you've done it. With fractals, of course! And my first thought was, why didn't I think of that?
                            <footer class="blockquote-footer">
                                <cite>Nancy Lowe, Outreach Coordinator for Discover Life</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <h3>Impacts of OneZoom</h3>
                           <p>The OneZoom software in its most basic form was released in October 2012. It's already been used as a source of natural history information by nearly 900,000 unique users. In addition, this software has been used in more specific science and education settings, including as an interactive display at museums and exhibitions around the globe. OneZoom has been adapted to solve other data visualisation problems such as human genealogy. Most recently, our tree of life visualisations have been used prominently in <cite><a href="http://ancestorstale.net" target="_blank">The Ancestor's Tale</a> (2nd edition), by Richard Dawkins &#38; Yan Wong, 2016.</cite>.</p>
                        <a href="http://www.plosbiology.org/article/browseIssue.action?issue=info%3Adoi%2F10.1371%2Fissue.pbio.v10.i10" target = "_blank" class="thumbnail"><img src="{{=URL('static','images/gallery/PLoS_cover_small.jpeg')}}" alt=""></a>
                        <p>OneZoom as the cover image for PLoS Biology (2012)</p>
                        <h3>Media coverage (since 2016)</h3>
                        <ol>
                            <li>An interview of James Rosindell and Yan Wong by Daniel Cressey, a reporter for <a href="http://blogs.nature.com/aviewfromthebridge/2016/05/16/crowdfunding-tree-of-life/" target="_blank">Nature</a> in London. Read the <a href="{{=URL('static','images/Daniel_Cressey_Nature_Interview_OneZoom.pdf')}}" target="_blank">full interview text</a> or <a href="http://blogs.nature.com/aviewfromthebridge/2016/05/16/crowdfunding-tree-of-life/" target="_blank">the finished blog post</a> </li>
                            <li><a href="https://whyevolutionistrue.wordpress.com/2016/04/30/the-best-interactive-tree-of-life-ever/" target="_blank">Why Evolution is True</a></li>
                            <li><a href="http://www.oxfordtoday.ox.ac.uk" target="_blank">Oxford today</a></li>
                            <li><a href="https://www.family-tree.co.uk" target="_blank">Family Tree Magazine</a></li>
                             <li><a href="http://www.bbc.co.uk/news/science-environment-36358104" target="_blank">BBC News</a></li>
                              <li><a href="http://www.bbc.co.uk/programmes/p03xzcyc" target="_blank">BBC World Service Science Hour</a></li>
                              <li><a href="http://blog.willyvanstrien.nl/2016/05/02/boom-groeit-uit/" target="_blank">blog.willyvanstrien.nl</a></li>
                              <li><a href="https://wwwf.imperial.ac.uk/blog/charityinsights/2016/08/29/my-first-week-with-onezoom/" target="_blank">Charity insights blog</a></li>
                               <li><a href="https://eurekablogazine.com/2016/05/19/onezoom-tree-of-life/" target="_blank">Eureka</a></li>
                            
                            
                            
                            
                        </ol>
                        
                        <h3>Media coverage (2012-2015)</h3>
                        <ol>
                            <li><a href="http://www.sciencemag.org/content/338/6105/317.summary" target="_blank">Science magazine</a></li>
                            <li><a href="http://www.sciencemag.org/news/2015/09/first-comprehensive-tree-life-shows-how-related-you-are-millions-species" target="_blank">Science magazine further coverage</a></li>
                            <li><a href="http://www.bbc.co.uk/programmes/p02qtx6x#auto" target="_blank">BBC world service Science in Action</a> </li>
                            <li><a href="http://www.itv.com/news/2012-10-16/online-tree-of-life-makes-exploring-evolution-easy/" target="_blank">ITV news</a></li>
                            <li><a href="http://www.sciencedaily.com/releases/2012/10/121016173123.htm" target="_blank">Science Daily</a></li>
                            <li><a href="http://www.sciencedaily.com/releases/2012/12/121217234946.htm" target="_blank"> Science Daily further coverage</a></li>
                            <li><a href="http://www.popsci.com/technology/article/2012-10/new-fractal-tree-life-zooms-earths-entire-evolutionary-history" target="_blank">Popular Science</a></li>
                            <li><a href="http://www.discoverwildlife.com" target="_blank">BBC Wildlife Magazine (January 2013)</a></li>
                            <li><a href="http://bjgp.org/content/64/623/301.extract" target="_blank">British Jounral of General Practitioners</a></li>
                            <li><a href="http://www.nrc.nl" target="_blank"> NRC-Handelsblad</a></li>
                            <li><a href="http://www.thenakedscientists.com/HTML/podcasts/genetics/show/20150514/" target="_blank"> Thenakedscientists.com genetics podcast.</a></li>
                            <li><a href="http://www.schoolscience.co.uk" target="_blank">SchoolScience.co.uk</a></li>
                            <li><a href="http://www.richarddawkins.net" target="_blank">RichardDawkins.net</a></li>
                            <li><a href="http://www.teachersfirst.com/single.cfm?id=14148" target="_blank">teachersfirst.com</a></li>
                            <li><a href="http://www.nea.org/tools/lessons/57400.htm" target="_blank">National Education Association</a></li>
                            <li><a href="http://www.vetscite.org" target="_blank"> Veterinary Sciences Tomorrow</a></li>
                            <li><a href="http://www.20minutos.es/noticia/1621933/0/arbol-de-la-vida/digital/ancestro-especies/" target="_blank">20minutos.es</a></li>
                            <li><a href="http://www.sciencecodex.com/tree_of_life_branches_out_online-100288" target="_blank">Science Codex</a></li>
                            <li><a href="http://www.abc.es/20121017/ciencia/abci-primer-arbol-vida-internet-201210171300.html" target="_blank">ABC Spanish</a></li>
                            <li><a href="https://www.facebook.com/note.php?note_id=551836791514376" target="_blank">British Columbia News</a></li>
                            <li><a href="http://ec.europa.eu/research/headlines/news/article_12_10_31_en.html" target="_blank">European Commission Resarch and Innovation</a></li>
                            <li><a href="http://www.caracol.com.co/noticias/internacional/cientificos-britanicos-y-estadounidenses-crearon-el-primer-arbol-de-la-vida-digital/20121016/nota/1780069.aspx" target="_blank">Caracol Radio</a></li>
                            <li><a href="http://f1000.com/prime/717964377" target="_blank">F1000</a></li>
                            <li><a href="http://visual.ly/onezoom-tree-life" target="_blank">visua.ly</a></li>
                            <li><a href="http://metronews.ca/news/vancouver/615255/vancouver-scientists-contribute-to-digital-map-aiming-to-list-all-known-life-forms/" target="_blank">Metro News - Canada</a></li>
                            <li><a href="http://www.ntn24.com/noticias/onezoom-se-convierte-en-el-pri-066004" target="_blank">NTN24</a></li>
                            <li><a href="http://www.emol.com/noticias/tecnologia/2012/10/17/565085/crean-el-primer-arbol-de-la-vida-digital-con-hasta-5200-especies.html" target="_blank">emol.com</a></li>
                            <li><a href="http://www.33rdsquare.com/2012/10/fractal-used-to-visualize-interactive.html#more" target="_blank">33rd Square</a></li>
                            <li><a href="http://policyoptions.irpp.org/issues/beautiful-data/photo-essay/" target="_blank">Policy Options (Canada)</a></li>
                            <!--</ol>
                            <h3>Further Media and Web Coverage</h3>
                            <ol> -->
                            <li><a href="http://www.sciencevisualization.com" target="_blank">ScienceVisualization.com</a></li>
                            <li><a href="http://planetearth.nerc.ac.uk/news/story.aspx?id=1301" target="_blank">Planet Earth Online</a></li>
                            <li><a href="http://www.itsokaytobesmart.com/post/34778921412/onezoom-tree-of-life" target="_blank"> It's Okay to be smart.com</a></li>
                            <li><a href="http://www.omixon.com/onezoom-and-the-importance-of-visualization/" target="_blank">omixon.com</a></li>
                            <li><a href="http://visualoop.com/2657/interactive-inspiration-9" target="_blank"> Visualoop.com</a></li>             
                            <li><a href="http://www.sciencecodex.com" target="_blank"</a>ScienceCodex</li>
                            <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/newssummary/news_16-10-2012-15-17-28" target="_blank">Imperial College London</a></li>
                            <li><a href="http://www.uidaho.edu/sci/biology/news/features/onezoom/onezoom" target="_blank">University of Idaho</a></li>
                            <li><a href="http://www.sfu.ca/pamr/media-releases/2013/world-first-viewing-life-in-onezoom.html" target="_blank">Simon Fraser University</a></li>
                            <li><a href="http://blog.openhelix.eu/?p=14074" target="_blank">Openhelix Blog</a></li>
                            <li><a href=" http://britishlibrary.typepad.co.uk/digital-scholarship/2013/03/phylogenetic-tree-visualisation-and-annotation.html" target="_blank">British Library Blog</a></li>
                            <li><a href="http://iphylo.blogspot.co.uk/2012/10/onezoom.html" target="_blank">Rod Page's Blog</a></li>
                            <li>The Beast, the Bard and the Bot (WordPress)</li>
                            <li><a href="http://www.inquirebotany.org/en/news/onezoom-tree-of-life-explorer-470.html" target="_blank">Inquirebotany.org</a></li>
                            <li><a href=" http://www.scoop.it/t/amazing-science/p/3197476854/2012/11/03/onezoom-a-fractal-explorer-for-the-tree-of-life" target="_blank">Amazing science</a></li>
                            <li><a href="http://reluctantapostate.wordpress.com/2013/03/09/the-onezoom-tree-of-life/" target="_blank">A reluctant Apostate Blog</a></li>
                            <li><a href="http://coastalpathogens.wordpress.com/2012/11/25/onezoom/" target="_blank">Coastal Pathogens</a></li>
                            <li><a href="http://www.alphagalileo.org/ViewItem.aspx?ItemId=126991&CultureCode=en" target="_blank"> alphagalileo.org</a></li>
                            <li><a href="http://phys.org/news/2012-10-tree-life-online.html" target="_blank">Phys.org</a></li>
                            <li><a href="http://phys.org/news/2013-04-viewing-life-onezoom.html" target="_blank">Phys.org further coverage</a></li>
                            <li><a href="http://tech.groups.yahoo.com/group/evolutionary-psychology/message/141344" target="_blank">Evolutionary Psychology Yahoo group</a></li>
                            <li><a href="http://www.redorbit.com/news/science/1112714944/evolutionary-tree-of-life-made-digital-101712/" target="_blank">RedOrbit</a></li>
                            <li><a href="http://www.treevis.net" target="_blank">treevis.net</a></li>
                            <li><a href="http://www.youtube.com/watch?v=eQUt8XgXNWE" target="_blank">Imperial TV (STOIC)</a></li>
                            <li><a href="http://champagnewhisky.com/2013/02/15/fractalling-the-paper-paradigm/" target="_blank">champagnewhisky.com</a></li>
                            <li><a href="http://champagnewhisky.com/2013/03/26/march-of-tetrapods-elver-reluctance/" target="_blank">champagnewhisky.com further coverage</a></li>
                            <li><a href="http://civic.mit.edu/blog/kyuan/onezoom-tree-of-life" target="_blank">Kyle Yuan Blog at MIT</a></li>
                            <li><a href="http://yanwong.me/?p=942" target="_blank">Dr. Yan Wong personal blog</a></li>       
                            <li><a href="http://blogs.plos.org/biologue/2012/11/09/fractaltastic-evolution/" target="_blank">PLoS Biologue</a></li>
                            <li><a href="http://www.cfax1070.com/Media/CFAX-Podcasts/Frank-Stanford/April-2,-2013-1pm" target="_blank">CFAX1070 live interview</a></li>
                            <li><a href="http://jecologyblog.wordpress.com/2013/04/19/interview-with-james-rosindell/" target="_blank">Journal of Ecology Podcast</a></li>
                            <li>Promega Connections (WordPress)</li>
                            <li><a href="http://www.xatakaciencia.com" target="_blank">Xatakaciencia.com</a></li>
                            <li><a href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/newssummary/news_30-7-2013-14-17-5" target="_blank">Inventor's Corner</a></li>
                            <li><a href="http://www.ibest.uidaho.edu/contact/news/interactive-fractal-tree-of-life-zooms-in-on-earths-entire-evolutionary-history/" target="_blank">ibest News</a></li>
                            <li><a href="http://www.pinterest.com/search/pins/?q=OneZoom" target="_blank">Pinterest postings</a></li>
                            <li><a href="http://sandrarendgen.wordpress.com/2013/02/06/tree-of-life-2/" target="_blank">Big Times</a></li>
                            <li><a href="http://blogs.plos.org/scied/2013/05/20/learning-to-read-the-tree-of-life/" target="_blank">PLOS blogs further coverage</a></li>
                            <li><a href="http://cabbagesofdoom.blogspot.co.uk/2012/12/zooming-round-tree-of-life.html" target="_blank">Cabbages of Doom Blog</a></li>
                            <li><a href=" http://www.treeoflife.net.au/Tree-of-Life-Evolution-Tree-Of-Life.net.au.html" target="_blank">Treeoflife.net.au</a></li>
                            <li><a href="http://britishlibrary.typepad.co.uk/sound-and-vision/2014/01/index.html" target="_blank">British Library Blog</a></li>
                            <li><a href="http://londonist.com/2014/02/beautiful-science-at-the-british-library.php?showpage=4#gallery-1" target="_blank">Londonist.com</a></li>
                            <li><a href="http://allthedirtongardening.blogspot.co.uk/2014/02/big-data-and-one-zooms-tree-of-life.html" target="_blank">All the dirt on gardening blog</a></li>
                            <li><a href="http://www.bbc.co.uk/programmes/b03vtgbd" target="_blank">BBC Radio4 Saturday Review (20m 30s in)</a></li>
                            <li><a href="http://www.telegraph.co.uk/culture/culturepicturegalleries/10650907/Beautiful-Science-Picturing-Data-Inspiring-Insight-at-the-British-Library.html?frame=2828805" target="_blank">The Telegraph</a></li>
                            <li><a href="http://www.designweek.co.uk/whats-on/data-visualisation-throughout-the-ages/3037981.article?utm_term=%23Design+%23photography&utm_source=twitterfeed&utm_medium=twitter" target="_blank">Design Week .co.uk</a></li>
                            <li><a href="http://www.theguardian.com/technology/2014/feb/16/visualise-data-change-life-florence-nightingale" target="_blank">The Guardian</a></li>
                            <li><a href="http://www.wired.com/wiredscience/2014/03/beautiful-science/#slide-id-560821" target="_blank">Wired</a></li>
                            <li><a href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(14)60433-5/fulltext" target="_blank">The Lancet</a></li>
                            <li><a href="http://brilliantbotany.com/post/74723720918/onezoom-tree-of-life-explorer-plants" target="_blank">Brilliant Botany .com</a></li>
                            <li><a href="http://neurosciencestuff.tumblr.com/post/34982401370/onezoom-a-fractal-explorer-for-the-tree-of-life" target="_blank">Neuo Science Stuff Blog</a></li>
                            <li><a href="http://pressandpolicy.bl.uk/content/detail.aspx?ReleaseID=1666&NewsAreaId=2" target="_blank">British Library Press Release</a></li>
                        </ol>
                    </div>
                </div><!--/row-->
