{{response.title='OneZoom: The Future'}}
{{extend 'layout.html'}}

      <div class="row-fluid">
          <div class="hero-unit">
              <center>
                  <h1>The Future of OneZoom</h1>
              </center>
              <p></p>
              <p>OneZoom is committed to heightening awareness about the diversity of life on earth, its evolutionary history and the threats of extinction. This website allows you to explore the tree of life in a completely new way: it's like a map, everything is on one page, all you have to do is zoom in and out. OneZoom also provides free, open source, data visualisation tools for science and education, currently focusing on the tree of life. You can <a href="software.htm">create visualisations of your own data</a> as well as explore ones we have made. Got any questions or feedback? Want your data to appear here on OneZoom? <a href="mailto:mail@onezoom.org">just ask us</a>.
              </p>
              
              
          </div><!--/row-->
          <div class="row-fluid">
              <div class="span4">
                 
                 <h2>What you can do</h2>
                 
                 <h4>NEW: Download our free Android app</h4>
                   <p>
                   available for download from the <a href="https://play.google.com/store/apps/details?id=com.onezoom&hl=en_GB" target="_blank"> Goole Play store </a>. Search for &ldquo;OneZoom&rdquo; in the store of <a href="https://play.google.com/store/apps/details?id=com.onezoom&hl=en_GB" target="_blank"> click here </a>. Now at last you can experience the main features of OneZoom from your mobile device.
                   </p>
                  
                 <h4>Link to or embed OneZoom</h4>
                 <p>
                 We welcome you to use our new <a href="embed.htm">link and embed</a> tool to link to OneZoom or embed it as html in your own website or blog.  The tool is really easy to use, choose the options you want and it will generate a short piece of code or a hyperlink for you to copy and paste. You can choose your own styles and colours as well as create custom animations that fly through the tree to your speces or taxa of interest.
                 </p>
                 <h4>Members of the public</h4>
                 <p>
                 
                 Just enjoy using OneZoom to explore the tree of life.  Please tell your friends about us.  If you've got some suggestions for how we can improve or have a user opinion for us to quote on our <a href="impact.htm">Impacts</a> page then please <a href="mailto:mail@onezoom.org">contact us</a>. Follow our updates on <a href="https://twitter.com/OneZoomTree" target="_blank">Twitter</a> and <a href="http://www.facebook.com/OneZoomTree" target="_blank">Facebook</a> so you know when we've got more data and better software for you.
                 
                 </p>
                 
                 <h4>Other bioinformatics websites</h4>
                 
                 <p>
                 
                 We want to work with you.  OneZoom provides tree visualisations that you can now easily <a href="embed.htm">link to or embed</a> in your website.  If you have a lot of information available for species in our trees we would like to add links to your page from the leaves of our trees.
                 
                 </p>
                 <h4>Educators</h4>
                 
                 <p>
                 Join the growing community of teachers and educators using OneZoom in the classroom and lecture theatre to aid learning about biodiversity and evolution.  We want to support you in this, so please ask if you have any questions.
                 </p>
                 
                 <h4>Musuems, zoos, botanical gardens</h4>
                 
                 <p>
                 <a href="mailto:mail@onezoom.org">Contact us</a> to ask about getting a custom designed multi-touch OneZoom display in your institution.  We can embed images and other information on the leaves and nodes of the trees and provide an easy to use explorer for the weath of information you offer to your visitors.
                 </p>

                 
                  <h4>Scientists and software developers</h4>
                  
                  <p>Share your newly produced tree data with us and we will produce a visualisation for you.  This can be kept private for your reviewer and collaborator eyes only until your paper is published.  The weblink you give in the final manuscript will go live when you instruct us and we will share viewing statistics with you.  We have already done this for several authors and hope there will be more interested in the future.
                  </p>
                  
                <p>See our <a href="software.htm" >online instructions</a> for how to visualise your data using OneZoom online, offline, in presentations and as a portable file that can be shared or embedded.  No installation is required and your data is only stored locally so it's confidential unless you choose to release it.
                 </p>
                 <p>
                 If you've done something special with OneZoom please do <a href="mailto:mail@onezoom.org">let us know</a>.  Perhaps you've used it for teaching, visualising your own data or in a public display?  It's free to use and adapt OneZoom (see <a href="licence.htm">license</a>) but we do need funding for further development so it's helpful to know as much as possible about work that uses OneZoom to strengthen our case.
                 </p>
                 
                 
                  <h4>Funding bodies</h4>
                 
                 <p>
                    OneZoom needs funding to be able to continue its work.  We are looking to attract the interest of private foundations, research councils, museums and other organisations who we hope will be excited to be involved in OneZoom. If you work for an organisation that is potentially interested in getting involved with further development of OneZoom, please <a href="mailto:mail@onezoom.org">contact us</a>, we would be delighted to hear from you.
                 </p>
  
              </div>
              <div class="span4">
               
               
               <h2>Tree of Life visualisation plans</h2>
               
               <p>
               More interactive displays for museums, zoos, botanical gardens, educational establishments and more with photographs and more information about each species.
               </p>
               <p>
               Improvements to our embed tool.
               </p>
               
               <p>
               Additional view types for OneZoom (there are currently four). We expect it will be possible with further development to devise views that show diversification rates and the relative quantities of extant biodiversity more clearly in OneZoom.
               </p>
               <p>
               Inclusion of fossil data and information about the evolutionary links between species and evidence of intermediate forms.
               </p>
               <p>
               Inclusion domestic animals and plants, they are part of life on earth too. We would have to clearly distinguish between these and the wild animals and plants that make up the vast majoirty of the tree of life.
               </p>
               <p>
               Educational packages both for schools and higher education.
               </p>
               <p>
               Incorporated visualisation of a species tree together with several gene trees for scientific use.
               </p>
               <p>Coming by end 2015: The complete tree of life on OneZoom with approximately 2 million species.  The <a href="http://www.opentreeoflife.org" target="_blank">Open Tree of Life Project</a> will provide the data and OneZoom will visualise it.</p>
               
              </div>
              <div class="span4">
                 
                  
                 
                  
                   <h2>Other applications</h2>
                  <p>
                   Use of OneZoom and the Interactive Fractal Inspired Graph (IFIG&trade;) concept for other types of big data visualisation. Possibilities that we are evaluating include ...
                  <ul>
                  <li>Monitoring of large and complex industrial processes</li>
                 <li>Global financial data</li>
                 <li>Spending and performance data</li>
                 <li>Directory structures</li>
                 <li>Complex computing structures including hardware and software</li>
                 <li>Exploration of the contents of personal computing devices</li>
                <li>Databases of drugs for healthcare</li>
                  <li>Exploration of the products available for purchase from large online stores</li>
                  <li>Family trees, genealogy and pedigrees</li>
                  <li>We'd like to see a OneZoom visualisation of the <a href="http://www.youtube.com/watch?v=mmQl6VGvX-c" target="_blank">Google Knowledge Graph</a>. This could be done by allowing the same data to appear in multiple places as part of an infinitely zoomable tree of knowledge assocation from any given starting topic.</li>
                      
                  </ul>
                  The concept of visualisation by use of a fractal inspired zoomable interface does not have to produce images that appear like a tree with leaves and need not be restricted to the visualisation of strict hierarchies only.  We expect many more types of IFIG to be possible after further research and these will be more suitable for the visualisation and popularisation of other types of scientific, political and industrial data.  OneZoom allows the strucutre of the fractal itself to reflect summary statistics of the data, such as the ballance of a tree.
                  </p>
               
              </div>
              
          </div><!--/row-->
</div><!--/row-->

