{{response.title='OneZoom: images/gallery'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>OneZoom images</h1>
  <em>videos, photos and screencasts</em>
</div>
{{end block}}

<h3>Screenshots and still images</h3>
<ul class="uk-list gallery-images">
    <li>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_SS2.jpg')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_SS2_small.jpg')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2f.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2f_small.png')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2e.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2e_small.png')}}" alt=""></a>
    </li>
    
    <li>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_SS5.jpg')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_SS5_small.jpg')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2b.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2b_small.png')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2a.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2a_small.png')}}" alt=""></a>
    </li>
    <li>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_SS3.jpg')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_SS3_small.jpg')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_SS4.jpg')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_SS4_small.jpg')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2d.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2d_small.png')}}" alt=""></a>
        <a href="{{=URL('static', 'images/gallery/highres/OneZoom_g2c.png')}}" target = "_blank">
            <img src="{{=URL('static', 'images/gallery/OneZoom_g2c_small.png')}}" alt=""></a>
    </li>
</ul>

<h3>First public viewing of OneZoom at Evolution 2012</h3>
<iframe width="640" height="360" src="http://www.youtube.com/embed/gxp-1IE9zfs?rel=0" frameborder="0" allowfullscreen></iframe>
