<!--all templates must be inside something which has class 'container' as a minimum.  
This is because 'container' is hardcoded as the handle in the tour controller tour.js-->
<div class='container'>
  <div><a class="linkout oz-pill pill-leafout" href="" target="_blank">{{=T('Start exploring')}} <span class="ottname"></span></a></div>
  <div class="tour-controls">
    <a href="javascript:void(0)" class='tour_backward oz-pill pill-round' uk-icon="icon: chevron-left"></a>
    <a href="javascript:void(0)" class='tour_play oz-pill pill-round' uk-icon="icon: play"></a>
    <a href="javascript:void(0)" class='tour_pause oz-pill pill-round' uk-icon="icon: close"></a>
    <a href="javascript:void(0)" class='tour_forward oz-pill pill-round' uk-icon="icon: chevron-right"></a>
  </div>
</div>
