<!--all templates must be inside something which has class 'container' as a minimum.  
This is because 'container' is hardcoded as the handle in the tour controller tour.js-->
<div class='container'>
  <div class='linkout'><a class="linkout" href="">{{=T('Start exploring')}} <span class="ottname"></span></div>
  <div><span class='tour_prev button'>prev</span></div>
  <div><span class='tour_play button'>play</span></div>
  <div><span class='tour_pause button'>pause</span></div>
  <div><span class='tour_next button'>next</span></div>
</div>
