{{response.title='OneZoom Tree of Life Explorer'}}
{{extend 'uikit_layout.html'}}


{{block masthead}}
<div class="home-heading uk-text-center">
  <h1>Welcome to the OneZoom <a href="life/@Eukaryota">tree of life explorer</a>...</h1>
  <p>An interactive map of the evolutionary tree of all life on our planet. Discover your favourites, see which species are under threat, and be amazed by biodiversity.</p>
  <em>Our tree of life explorer is designed to be easily accessible for everyone; we also provide educational tools for teachers, software for scientists and interactive exhibits for museums.</em>
</div>
{{end block}}


<div class="uk-grid-small uk-child-width-expand@s uk-grid-match uk-grid-oz-dark" uk-grid>
  <div> <!-- left column -->
    <div class="uk-grid-small" uk-grid>

      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-card-title">What is the tree of life?</h3>
        <p>
          The tree of life shows how all life on earth is related.
          Each leaf represents a different species.
          The branches show how these many species evolved from common ancestors over billions of years.
          In our interactive tree of life you can explore the relationships between
          <b>{{="{:,}".format(n_species)}}</b> species and wonder at <b>{{="{:,}".format(n_images)}}</b> images on a single zoomable page.
        </p>
        <a href="/life.html" class="oz-pill pill-bottomright pill-sqicon">Show me how</a>
      </div>

      <div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-expand">
        <h3 class="uk-card-title">Popular places to start exploring...</h3>

        <style>
        .oz-slider-popularplaces img {
          border-radius: 50%;
          border: 10px solid white;
        }
        .oz-slider-popularplaces .uk-active {
          z-index: 2;
        }
        .oz-slider-popularplaces .uk-active + .uk-active + .uk-active,
        .oz-slider-popularplaces .uk-active:first-child + .uk-active ~ .uk-active:last-child {
          /* If there's 3 active items in the row, last goes underneath the middle */
          z-index: 1;
        }

        .oz-slider-popularplaces img {
          margin: 1rem 0;
          transition: transform 0.1s;
        }
        .oz-slider-popularplaces .uk-active img {
          transform: scale(1.3);
        }
        .oz-slider-popularplaces .uk-transition .uk-active img {
          transform: scale(1.2);
        }

        .oz-slider-popularplaces figcaption {
          opacity: 0;
          transition: opacity 0.1s;
        }
        .oz-slider-popularplaces .uk-transition .uk-active figcaption {
          opacity: 0.3;
        }
        .oz-slider-popularplaces .uk-active figcaption {
          opacity: 1;
        }
        </style>
        <div class="uk-position-relative uk-width-5-6 uk-container-center oz-slider-popularplaces" uk-slider="center: true; index: 1">
          <div class="uk-slider-container"><ul class="uk-slider-items">{{for p in popular_places:}}
            <li style="width: 150px">
              <a href="{{=p['tree_href']}}"><figure>
                <img src="{{=p['image_href']}}" alt="" />
                <figcaption class="uk-text-center">{{=XML(p['name'])}}</figcaption>
              </figure></a>
            </li>
          {{pass}}</ul></div>
          <a class="uk-position-top-left uk-position-small" style="top: 55px; left: -50px" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-top-right-out uk-position-small" style="top: 55px; right: -50px" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>

    </div>
  </div>
  <div> <!-- Right column -->
    <div class="uk-card uk-card-default uk-card-small">
      <div class="hp_tour_ui" id="tour_wrapper"></div>
      <canvas id="OneZoomCanvasID" class="embedded" style="height: 100%"></canvas>
    <!-- treeviewer constants -->
    {{include 'treeviewer/dynamic_scripts.html' }}
    {{include 'treeviewer/server_urls.html' }}
      <script>
animation_config = {{include 'treeviewer/homepage_animation.js'}}
      </script>
      <script>
$(document).ready(function() {    /* Mainly a place to attach JS event handlers */
    // Set up some global variables
    /** CREATE A ONEZOOM INSTANCE
    this allows us to access e.g. onezoom.controller, onezoom.config, etc (defined in OZentry.js)
     **/

    setup_onezoom()
    function setup_onezoom() {
        window.onezoom = OZentry.default(
            window.server_urls,
            null, // No UI
            null, // No window title function
            'OneZoomCanvasID',
            window['tree_config'],
            window.rawData,
            window.metadata,
            window.cut_position_map_json_str,
            window.polytomy_cut_position_map_json_str,
            window.cut_threshold,
            window.tree_date);
        window.onezoom.add_hook('on_tree_loaded', () => {
            /* we use the 'screensaver' tour to provide a constant animation */
            onezoom.screensaver.setup_setting(
                animation_config,
                'homepage_animation',
                null, // nothing before the screensaver runs
                true, // loop back and forth
                null, // nothing on exit
                "block", // disable interaction with the tree
                null, // do not provide an interaction callback
                0, // start immediately
                ); 
        })
    }
})
      </script>
      </div>
    </div>
</div>


<section class="oz-section bkgd-leaves"><div class="oz-section-body">
  <h3 class="uk-card-title">Biodiversity and Conservation...</h3>
  <p>We want to help everyone appreciate biodiversity and the need to conserve it.<br/>
  <em>Species shown as red leaves on our tree of life are known to be under threat of extinction.</em></p>
</div></section>


<div class="uk-grid-small uk-child-width-expand@s uk-grid-match" uk-grid>
  {{for sub_menu in response.menu[0:3]:}}
    <div class="uk-card uk-card-body">
      <div class="oz-pill">
        <h3>{{=T(sub_menu[0])}}</h3>
        {{=MENU(sub_menu[-1][0:4], _class="leaf-list")}}
      </div>
    </div>
  {{pass}}
</div>

<section class="oz-section bkgd-quotes"><div class="oz-section-body">
  <h3>What they say...</h3>

  <div class="uk-position-relative" uk-slider>
    <div class="uk-slider-container"><ul class="uk-slider-items uk-child-width-1-1">{{for q in quotes:}}
      <li>
        <blockquote>{{=XML(q.html_quote)}}
          <footer class="blockquote-footer">
              <cite>{{if q.person_url:}}<a href="{{=q.person_url}}" target="_blank">{{=q.person}}</a>{{else:}}{{=q.person}}{{pass}}{{if q.html_affiliation:}}, {{=XML(q.html_affiliation)}}{{pass}}</cite>
          </footer>
        </blockquote>
      </li>
    {{pass}}</ul></div>
    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
</div></section>


<section class="oz-section bkgd-polytomy"><div class="oz-section-body uk-position-relative">
  <h3 class="uk-card-title">Become a sponsor...</h3>

  <div class="uk-position-relative" uk-slider>
    <div class="uk-slider-container"><ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">{{for i,item in enumerate(sponsored['rows']):}}
      <li>
        <a href="{{=URL('life/@=' + str(item['OTT_ID']), url_encode=False)}}">
          <figure class="uk-text-small">
            <img alt=""
                 style="border-radius: 50%; width: 100px; height: 100px; background: whitesmoke;"
                {{img = sponsored['images'].get(item['OTT_ID'])}}
                {{if img:}}
                    src="{{=thumbnail_url(img.get('src'), img.get('src_id'))}}"
                    title="{{=' / '.join([t for t in [img.rights, img.licence] if t]).replace('"',"'")}}"
                {{else:}}
                    src="{{=URL('static','images/noImage_transparent.png')}}"
                {{pass}} />
            <figcaption>
              <div style="height: 4.2rem; overflow: hidden">{{=(sponsored['html_names'][item['OTT_ID']])}}</div>
              <div style="margin-bottom: 0.5rem;">Sponsored {{=item['verified_kind']}}</div>
              <div><i>
                {{=item['verified_name']}}
                {{if item.get('verified_more_info', ''):}}— {{=item['verified_more_info']}}{{pass}}
              </i></div>
            </figcaption>
          </figure>
        </a>
      </li>
    {{pass}}</ul></div>
    <a class="uk-position-top-left uk-position-small" style="top: 25px; left: -50px" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-top-right uk-position-small" style="top: 25px; right: -50px" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
</div></section>


<section class="oz-section bkgd-white"><div class="oz-section-body">
  <h3 class="uk-card-title">What we've been up to...</h3>

  <div class="uk-position-relative" uk-slider>
    <div class="uk-slider-container"><ul class="uk-slider-items uk-child-width-1-1">{{for row in news:}}
      <li>
        <div class="uk-grid-small uk-text-small" uk-grid>
          <div class="uk-width-1-3@m">
            {{if row['image_href']:}}<img src="{{=row['image_href']}}" class="oz-pill" />{{pass}}
          </div>
          <div class="uk-width-2-3@m uk-text-left">
            <h4 style="line-height: 0.75">{{=row['heading']}}</h4>
            {{=XML(row['body'])}}
            <a href="{{=row['more_href']}}">Read more...</a>
          </div>
        </div>
      </li>
    {{pass}}</ul></div>
    <a class="uk-position-top-left uk-position-small" style="top: 25px; left: -50px" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-top-right-out uk-position-small" style="top: 25px; right: -50px" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
</div></section>
