{{response.title='OneZoom Tree of Life Explorer'}}
{{extend 'layout.html'}}


<div class="home-heading uk-text-center">
  <h2>Welcome to the OneZoom <a href="life/@Eukaryota">tree of life explorer</a></h2>
  <p>An interactive map of the evolutionary tree of all life on our planet. Discover your favourites, see which species are under threat, and be amazed by biodiversity.</p>
  <p>Our tree of life explorer is designed to be easily accessible for everyone; we also provide educational tools for teachers, software for scientists and interactive exhibits for museums.</p>
</div>


<div class="uk-grid uk-child-width-expand@s">
    <div> <!-- left column -->
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">What is the tree of life?</h3>
        <p>
          The tree of life shows how all life on earth is related.
          Each leaf represents a different species.
          The branches show how these many species evolved from common ancestors over billions of years.
          In our interactive tree of life you can explore the relationships between
          {{="{:,}".format(n_species)}} species and wonder at {{="{:,}".format(n_images)}} images on a single zoomable page.
        </p>
        <a href="/life.html">Start exploring</a>
      </div>
      <div class="uk-card uk-card-default uk-card-body">
       <h3 class="uk-card-title">Popular places to start exploring...</h3>
       {{for p in popular_places:}}
         <a href="{{=p['tree_href']}}">
           <img src="{{=p['image_href']}}" alt="" />
           <span>{{=XML(p['name'])}}</span>
         </a>
       {{pass}}
      </div>
    </div>
    <div style="margin-right: 1rem"> <!-- Right column -->
      <!-- TODO: Should be expanding height to fit -->
      <canvas id="OneZoomCanvasID" class="embedded" style="width: 100%; height: 400px"></canvas>
    <!-- treeviewer constnats -->
    {{include 'treeviewer/dynamic_scripts.html' }}
    {{include 'treeviewer/server_urls.html' }}
      <script>
$(document).ready(function() {    /* Mainly a place to attach JS event handlers */
    // Set up some global variables
    /** CREATE A ONEZOOM INSTANCE
    this allows us to access e.g. onezoom.controller, onezoom.config, etc (defined in OZentry.js)
     **/

    setup_onezoom()
    function setup_onezoom() {
        window.onezoom = OZentry.default(
            window.server_urls,
            null, // No UI
            null, // No window title function
            'OneZoomCanvasID',
            window['tree_config'],
            window.rawData,
            window.metadata,
            window.cut_position_map_json_str,
            window.polytomy_cut_position_map_json_str,
            window.cut_threshold,
            window.tree_date);
        window.onezoom.add_hook('on_tree_loaded', () => {
            /* Start stuff here, e.g. a screensaver which fires off immediately
            window.onezoom.screensaver.setup_setting(
                my_config_file, 'animation',
                null, // before the animation runs.
                null, // nothing on animation exit
                true); // loop back and forth
            */
        })
    }
})
      </script>
      <div id="tour_wrapper"></div><!-- only needed if we want the tour overlay-->
    </div>
</div>


<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Biodiversity and Conservation...</h3>
  <p>We want to help everyone appreciate biodiversity and the need to conserve it.</p>
  <p class="color: #d31818">Species shown as red leaves on our tree of life are known to be under threat of extinction.</p>
</div>


<div class="uk-grid uk-child-width-expand@s">
  {{for sub_menu in response.menu[0:3]:}}
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">{{=T(sub_menu[0])}}</h3>
      {{=MENU(sub_menu[-1][0:4])}}
    </div>
  {{pass}}
</div>

<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">What they say...</h3>
  {{for q in quotes:}}
    <blockquote>{{=XML(q.html_quote)}}
        <footer class="blockquote-footer">
            <cite>{{if q.person_url:}}<a href="{{=q.person_url}}" target="_blank">{{=q.person}}</a>{{else:}}{{=q.person}}{{pass}}{{if q.html_affiliation:}}, {{=XML(q.html_affiliation)}}{{pass}}</cite>
        </footer>
    </blockquote>
  {{pass}}
</div>


<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Become a sponsor...</h3>
        <ol class="sponsored_list">{{for i,item in enumerate(sponsored['rows']):}}
            <li>
                <figure>{{img = sponsored['images'].get(item['OTT_ID'])}}
                    <figure>
                        <figcaption>{{=(sponsored['html_names'][item['OTT_ID']])}}</figcaption>
                        <a href="{{=URL('life/@=' + str(item['OTT_ID']), url_encode=False)}}"><img alt="Go to this species on the OneZoom tree of life"
{{if img:}}
    src="{{=thumbnail_url(img.get('src'), img.get('src_id'))}}"
    title="{{=' / '.join([t for t in [img.rights, img.licence] if t]).replace('"',"'")}}"
{{else:}}
    src="{{=URL('static','images/noImage_transparent.png')}}"
{{pass}} />
                        </a>
                    </figure>
                <figcaption>Sponsored {{=item['verified_kind']}}<br /><strong>{{=item['verified_name']}}</strong><br />{{=item['verified_more_info'] or ''}}</figcaption></figure>
            </li>
        {{pass}}</ol>
</div>


<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">What we've been up to...</h3>
  {{for row in news:}}
    <blockquote>
        {{if row['image_href']:}}<img src="{{=row['image_href']}}" />{{pass}}
        <h4>{{=row['heading']}}</h4>
        {{=XML(row['body'])}}
        <a href="{{=row['more_href']}}">Read more...</a>
    </blockquote>
  {{pass}}
</div>
