{{response.title='About OneZoom'}}
{{extend 'uikit_layout.html'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>A view of all known life</h1>
</div>
{{end block}}

<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
        
        <h3>The tree of life </h3>
        <p> Everything that is alive, or has ever been alive has a place somewhere on the complete tree of life.  Each leaf represents a different species and the branches show how they are evolved from common ancestors over billions of years. </p>
       
        <img src= "{{=URL('static','images/Screenshots/all_life_PD.png')}}" alt="">
       
        <h3>Our vision </h3>
        <p>
        Our vision for OneZoom is to do for the tree of life what online mapping tools have done for the globe; to make the complete tree of life a public good at everyone’s fingertips, free of charge and free of advertising.
        
        </p>
        <img src= "{{=URL('static','images/Screenshots/animals_node_PD.png')}}" alt="">

            <h3>What we've been doing</h3>
            
            
            <p>
            We have been working on this resource since 2011, but all that time we have not done much curation of our own.  Instead we have been building tools to automatically connect together information that is already available from scientifically accurate resources. We then developed new technology to present these data in a visually stunning way that is easy to navigate.
            
            </p>
            
            
        </div>
    
    
    
    
    <div class = "uk-padding">
        
        <h3>Brief instructions</h3>
        <p >Explore OneZoom like you would a geographic map, zoom in to reveal more detail by pinching on your touch screen or scrolling on your mouse. To move around click and move your mouse or use your touch screen.</p>
        
        <div class = "uk-text-center uk-text-large"> <a class = "a-light oz-pill pill-leafout" href = "{{=URL('default','life.html')}}" target = "_blank">Explore now</a></div>
        <h3>What you can see here</h3>
        
        
        
        <p>
        This is the only place where you can explore the complete tree of life, over two million species, on one page. You can find everything here from the <a href = "{{=URL('default','life.html/@Speovelia_aaa=4195803',url_encode=False)}}" target = "_blank">Aaa Water Treader Bug</a> to the <a href = "{{=URL('default','life.html/@Zamioculcas_zamiifolia=1049792',url_encode=False)}}" target = "_blank">ZZ Plant</a>. In fact, there are so many species on the OneZoom tree, that if it were printed, the paper would span our entire solar system… at least sixty times over.  This is also the only resource with images and common names of species in the complete tree of life.  Here, you can discover your favourite species, see which species are under threat, and be amazed by biodiversity.
        </p>
        <h3>Finding out more</h3>
        <img src= "{{=URL('static','images/Screenshots/Wiki_example.png')}}" alt="">
            
            <p>
            As you explore the tree you can click on the creatures you see to quickly reveal information from other resources such as Wikipedia and the Encyclopedia of Life. So you need look no further whenever you want to find out more about the diversity of life on earth.
            </p>
     </div>
    
    <div class = "uk-padding">
        <h3>Different views of the same tree</h3>
        <p>There are many different ways to look at the same tree of life apart from our default spiral view. Try some of the others, but remember that they all show the same information.</p>
    
        
      <div class = "uk-text-center uk-padding-small">
          <a href = "{{=URL('default','life.html',vars=dict(vis='polytomy'))}}" target = "_blank">Try the polytomy view</a>
            </div>
            <img class="uk-align-center uk-margin-remove-top" src= "{{=URL('static','images/Screenshots/polytomy_PD.png')}}" alt="">
       
       <hr>
         <div class = "uk-text-center uk-padding-small">
                <a href = "{{=URL('default','life.html',vars=dict(vis='fern'))}}" target = "_blank">Try the fern view</a>
                 </div>
         
                <img class="uk-align-center uk-margin-remove-top" src= "{{=URL('static','images/Screenshots/fern_PD.png')}}" alt="" >
                <hr>
                <div class = "uk-text-center uk-padding-small">
                    <a href = "{{=URL('default','life.html',vars=dict(vis='natural'))}}" target = "_blank">Try the natural view</a>
                      </div>
                    <img class="uk-align-center uk-margin-remove-top" src= "{{=URL('static','images/Screenshots/natural_PD.png')}}" alt="">
                     
                   
    
      </div>
    
</div>
