<!-- config stuff that is specific to the life vs kew vs linnsoc etc trees e.g. css file, default tree config options, page title function, logo -->

{{
setup_params = {
  'UI_layer': {
    'page':'viewer_UI.load', 
    'vars':{'tabs':['wiki', 'ozspons'], 'nolinks':1} }, 
  'page_params': {'nolinks':1}, #used to append to linkout_via_picID.load, about.load, how.load, data_sources.load, and in the load_tab() function 
  'md_hack_show_embedded_sponsorship':True, #can be removed once we are able to properly embed a sponsor_leaf page (with leaf etc) without using an iframe
}
response.files.append(URL('static', 'css/tree_MD.css'))
}}
{{extend 'treeLayout.html'}}
<title>OneZoom Tree of Life Explorer, text page for {{=page_info['title_name']}}</title>
<!-- could include bespoke css file here -->
<script type="text/javascript">
/** disable context menu for museum display */
document.oncontextmenu = function() {
     return false;
}

/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config = null;
var pagetitle_func = function(nm) {return (nm)?"OneZoom Museum Display: "+ nm:"OneZoom Tree of Life Museum Display"};
document.title = pagetitle_func("{{=page_info['title_name']}}");
var popular_locations = [ /* strings are treated as headers (looked up in OZstrings), arrays as links with [ott,name] with name optional */
    'Popular places',
    [244265],  //Mammals
    [770315],  //Human
    [81461],   //Birds
    [991547],  //Frogs and toads
    [801601],  //Vertebrates
    [1062253], //Insects
    [691846],  //Animals
    [361838],  //Green plants
    [99252],   //Flowering plants
    [1012685], //Mushrooms
    [304358]   //Complex life (eukaryotes)
];
</script>
