{{response.title='OneZoom: Alphabetical list of children'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'popup.html' if request.vars.get('popup') else 'uikit_layout.html'}}
{{if len(species)==0:}} 
    <h2 class="uk-container-center">Sorry, no results found.</h2>
{{else:}}
{{block masthead}}
    <h2>Alphabetical list of species in this group</h2>
{{end block}}
    <ul>
    {{for i,s in enumerate(species):}}
        {{if i==items_per_page: break}}
        <li><a href="{{=URL('default', 'sponsor_leaf', vars={k:v for d in [request.vars, {'ott':s.ott}] for k,v in d.items()})}}"><i class="taxonomy">{{=s.name.replace('_', ' ')}}</i></a> &mdash;
{{if sponsorship_enabled:}}
 &pound;{{if s.price is None:}}{{T('contact us')}}{{else:}}{{=f"{s.price/100:.2f}"}}{{pass}}{{T('or more to sponsor.')}}
{{else:}}
  {{=T(price_levels_pence.get(s.price, "click for sponsorship details"))}}
{{pass}}</li>
    {{pass}}
    </ul>
    {{if page:}}
    {{=A(XML('&lt;&nbsp;previous&nbsp;'+str(items_per_page)+'..'),_href=URL(args=[page-1], vars=request.vars))}}
    {{pass}}
        
    {{if len(species)>items_per_page:}}
    {{=A(XML('..next&nbsp;'+str(items_per_page)+'&nbsp;&gt;'),_href=URL(args=[page+1], vars=request.vars))}}
    {{pass}}
{{pass}}