{{try:}}
{{version = str(version+0)}}
{{extend 'treeLayout.html'}}
<title>OneZoom Tree of Life Explorer{{try:}}{{=': '+page_info['subtitle']}}{{except:}}{{pass}}</title>
{{try:}}{{OZTree_js_suffix = (myconf.take('general.oztree_js_suffix') if myconf.take('general.oztree_js_suffix') else non_existent_variable)}}{{except:}}{{OZTree_js_suffix = '.js'}}{{pass}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/oldtree.css')}}" />
<script type="text/javascript" src="{{=URL('static', 'FinalOutputs/data/completetree_' + str(version) +  '.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'FinalOutputs/data/cut_position_map_' + str(version) +  '.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'FinalOutputs/data/dates_' + str(version) + '.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- fallback to local jQuery version e.g. if offline -->
<script>window.jQuery || document.write('<script src="{{=URL("static", "js/jquery.min.js")}}"><\/script>')</script>
<script type="text/javascript" src="{{=URL('static', 'OZTreeModule/dist/common' + OZTree_js_suffix)}}"></script>
<script type="text/javascript" src="{{=URL('static', 'OZTreeModule/dist/OZentry' + OZTree_js_suffix)}}"></script>
<script>var popular_species = [ /* strings are treated as headers, arrays as links with [ott,name] with name optional */
    "{{=T('Popular places')}}",
    [244265],  //Mammals
    [770315],  //Human
    [81461],   //Birds
    [991547],  //Frogs and toads
    [801601],  //Vertebrates
    [1062253], //Insects
    [691846],  //Animals
    [361838],  //Green plants
    [99252],   //Flowering plants
    [1012685], //Mushrooms
    [304358]   //Complex life (eukaryotes)
];
</script>
{{except:}}
</head><body><h1>Sorry - there has been a OneZoom error when getting the tree</h1>
No appropriate tree version available (Error: {{=version}}). Please <a href="mailto:mail@onezoom.org">contact us</a> and tell us of the problem.
<div style="display:none;">
{{pass}}