{{response.title='OneZoom: act for biodiversity'}}
{{extend 'uikit_layout.html'}}
{{response.files.append(URL('static', 'css/OZ_shared.css'))}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Act for biodiversity</h1>
    <p>OneZoom has partnered with <a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> to encourage action for biodiversity.</p>
</div>
{{end block}}

<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    
    <div class = "uk-padding">
        <h3>What is biodiversity?</h3>
        <p>Biodiversity refers to the variety of life on earth as a whole.  It is what makes our natural world richly variable in different places and across the seasons.  One way to measure biodiversity is to count the leaves (species) on the tree of life, but other measures are also commonly used.  For example, 'phylogenetic diversity' measures evolutionary history - the branches of the tree of life instead of the leaves, 'genetic variability' captures the genetic differences between organisms, and 'functional diversity' measures the differences in how individual organisms function to make a living.  It is increasingly recognised that biodiversity contributes substantially towards human well-being across the globe.</p>
        
        <img src= "{{=URL('static','otop/11-TOL-Butterfly-2-0-01-39-15.jpg')}}" alt="">
        
        <h3>What can I do to help biodiversity?</h3>
        <p><a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> highlights <a href="https://www.onetreeoneplanet.org/challenges/" target="_blank">fifteen different challanges</a> you can take as an individual to help preserve biodiversity, it explains how these help and gives advice on how you can successfully reduce your impact.</p>
        
        <p><img src= "{{=URL('static','otop/challenge-nobottledwater.svg')}}" alt="" style="width: 45px">
            <a href="https://www.onetreeoneplanet.org/challenges-2/" target="_blank">Avoid bottled water</a></p>
            
            <p><img src= "{{=URL('static','otop/challenge-zerowaste.svg')}}" alt="" style="width: 45px">
                <a href="https://www.onetreeoneplanet.org/waste/" target="_blank">Aim for zero waste</a></p>
                
                <p><img src= "{{=URL('static','otop/challenge-inseason.svg')}}" alt="" style="width: 45px">
                    <a href="https://www.onetreeoneplanet.org/vegetables/" target="_blank">Eat in-season sustainable vegetables</a></p>
                    
                    <p><img src= "{{=URL('static','otop/challenge-reducewater.svg')}}" alt="" style="width: 45px">
                        <a href="https://www.onetreeoneplanet.org/shower/" target="_blank">Reduce water consumption</a></p>
                        
                        <p><img src= "{{=URL('static','otop/challenge-nature.svg')}}" alt="" style="width: 45px">
                            <a href="https://www.onetreeoneplanet.org/nature/" target="_blank">Connect with nature</a></p>
                            
                            <p><img src= "{{=URL('static','otop/challenge-ecofriendlyproducts.svg')}}" alt="" style="width: 45px">
                                <a href="https://www.onetreeoneplanet.org/product/" target="_blank">Use eco-friendly products</a></p>
                                
                                <p><img src= "{{=URL('static','otop/challenge-reducefoodwaste.svg')}}" alt="" style="width: 45px">
                                    <a href="https://www.onetreeoneplanet.org/food-waste/" target="_blank">Reduce food waste</a></p>
                                    
                                    <p><img src= "{{=URL('static','otop/challenge-reducemeat.svg')}}" alt="" style="width: 45px">
                                        <a href="https://www.onetreeoneplanet.org/meat/" target="_blank">Eat less meat</a></p>
                                        
                                        <p><img src= "{{=URL('static','otop/challenge-ethicalfashion.svg')}}" alt="" style="width: 45px">
                                            <a href="https://www.onetreeoneplanet.org/fashion/" target="_blank">Go for ethical fashion</a></p>
                                            
                                            <p><img src= "{{=URL('static','otop/challenge-sustainableseafood.svg')}}" alt="" style="width: 45px">
                                                <a href="https://www.onetreeoneplanet.org/seafood/" target="_blank">Avoid unsustainable seafood</a></p>
                                                
                                                <p><img src= "{{=URL('static','otop/challenge-reduceenergy.svg')}}" alt="" style="width: 45px">
                                                    <a href="https://www.onetreeoneplanet.org/energy/" target="_blank">Reduce energy waste</a></p>
                                                    
                                                    <p><img src= "{{=URL('static','otop/challenge-plantnative.svg')}}" alt="" style="width: 45px">
                                                        <a href="https://www.onetreeoneplanet.org/plant/" target="_blank">Plant native plants</a></p>
                                                        
                                                        <p><img src= "{{=URL('static','otop/challenge-avoidpalmoil.svg')}}" alt="" style="width: 45px">
                                                            <a href="https://www.onetreeoneplanet.org/palmoil/" target="_blank">Avoid unsustainable palm oil</a></p>
                                                            
                                                            <p><img src= "{{=URL('static','otop/challenge-takeaction.svg')}}" alt="" style="width: 45px">
                                                                <a href="https://www.onetreeoneplanet.org/action/" target="_blank">Take action</a></p>
                                                                
                                                                <p><img src= "{{=URL('static','otop/challenge-transportation.svg')}}" alt="" style="width: 45px">
                                                                    <a href="https://www.onetreeoneplanet.org/transport/" target="_blank">Reduce your transportation impact</a></p>
            
                                    </div>
    
    <div class = "uk-padding">

        <h3>One Tree One Planet - connecting science and art</h3>
        
        <img src= "{{=URL('static','otop/One_Tree_FB_Cover_small.jpg')}}" alt="">
        
        <p><a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> is a digital artwork celebrating the diverstiy of animals, plants and other organisms represented by the tree of life.  It communicates the message that we're all related, provides interesting scientific facts about the tree of life, and encourages people to take 'challenges' to protect biodiversity.</p>
       
       
       <h3>How can I see One Tree One Planet?</h3>
       <p>The most powerful way to experience One Tree One Planet is at one of our public performances where dramatical flights through the tree of life will be projected onto the outsides of public buildings.  See the <a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet website for announcements of upcoming events</a>. </p>
       
        <img src= "{{=URL('static','otop/1-Tree-1-Planet-4p.jpg')}}" alt="">
            
       
       <p>Don't worry if attending a performance isn't possible for you. You can still take part using the <a href=" https://itunes.apple.com/app/id1405547430" target="_blank">One Tree One Planet app</a>, <a href="https://www.onetreeoneplanet.org" target="_blank">website</a>, and you can <a href = "{{=URL('default','otop.html')}}" target="_blank">explore the One Tree One Planet custom tree interactively</a>
        here on OneZoom. </p>
       
            <div class = "uk-text-center uk-text-large"> <a class = "a-light oz-pill pill-leafout" href = "{{=URL('default','otop.html')}}" target = "_blank">Explore One Tree One Planet</a></div>
            
            <p>We're looking to put on more performances in new locations so please contact the
            <a href="mailto:support@onetreeoneplanet.org?Subject=Enquiry%20about%20new%20performance" target="_top">One Tree One Planet team</a> or the
            <a href="mailto:mail@onezoom.org?Subject=Enquiry%20about%20new%20One%20Tree%20performance" target="_top">OneZoom team</a> if you are interesting in hosting one. </p>
        
         <img src= "{{=URL('static','otop/14-TOL-Alligator-2-0-00-54-16-2.jpg')}}" alt="">
             <hr>
             
       <img src= "{{=URL('static','otop/171116-0408.jpg')}}" alt="">
        
    </div>
    <div class = "uk-padding">
        
        <img src= "{{=URL('static','otop/otop-colibri.jpg')}}" alt="">
        
        <h3>Who is involved in the project?</h3>
        <p><a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> is a collaboration between art and science.
        
        
        <a href="http://www.nazihamestaoui.com/" target="_blank">Naziha Mestaoui</a>
        
         is a Paris-based environmental artist and architect, a pioneer of digital art whose work creates immersive and sensory experiences by blending space, imagery and technology.  The scientific team consisted of Douglas Soltis, Pamela Soltis, Robert Guralnick, Matt Gitzendanner, Yan Wong and James Rosindell.  For more information see the <a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> website.</p>
        
         <img src= "{{=URL('static','otop/10-TOL-Whale-2-0-00-54-24.jpg')}}" alt="">
             
        <h3>Use of the OneZoom tree of life visualisation engine</h3>
        <p>The <a href="https://www.onetreeoneplanet.org" target="_blank">One Tree One Planet</a> project uses OneZoom software as its tree of life visualisation engine.  The tree visualisations were customised to incorporate graphical designs and concepts from Naziha Mestaoui resulting in the final tree view seen as the core of One Tree One Planet.  The tree view is hosted by OneZoom and can be explored interactively on the One Tree One Planet Apps or from our website. Screen casts from the tree view were used as components to produce the short films projected as part of One Tree One Planet performances.</p>
        
        <img src= "{{=URL('static','otop/171116-0616.jpg')}}" alt="">
        
        
        <hr>
         <img src= "{{=URL('static','otop/12-TOL-Pan-Troglodyte-2-0-01-04-14.jpg')}}" alt="">
        
       
         <p>All images used exclusively on this page are shown with permission from the One Tree One Planet team and credited to  <a href="http://www.nazihamestaoui.com/" target="_blank">Naziha Mestaoui</a>.  They are licensed under a creative commons CC BY-NC-ND 4.0 license so should not be reused for commecial purposes or adapted into derivative works, thank you. </p>
        
    </div>

    
</div>
