{{response.title='OneZoom: '+T('invalid species to sponsor')}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('embed.html' if 'embed' in request.vars else 'layout.html')}}
    <h3>{{=T('Unavailable for sponsorship')}}</h3>
    <p>{{=T('It is likely that this leaf will not appear in its current form in future versions of the tree. For this reason we do not recommend sponsorship of this leaf.')}}</p>
    <p>{{=XML(T('Many things can cause this, but if you have got here by clicking through from the OneZoom tree of life, the most likely explanation is that you have accidentally tried to sponsor something that is on the %s, but which may not be a bona-fide species.') % (A(T('Open Tree of Life'), _href='http://www.opentreeoflife.org', _target="_blank")))}}</p>
    <p>{{=XML(T('Don’t worry, we’ve still got %s.') % (A(T('lots of great leaves available for sponsorship'), _href=URL('default','sponsor'))))}}</p>
