{{response.title='OneZoom: Maintenance mode'}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('embed.html' if 'embed' in request.vars else 'layout.html')}}
<h1>{{=T('Sorry, we’re temporarily in maintenance mode')}}</h1>
<p><figure class="right">{{=IMG(_src=URL('static','images/maintenance.jpg'), _alt="Monkey maintenance")}}<figcaption><p>{{=A("Japanese macaques", _href=URL('default', 'life.html/@Macaca_fuscata', host=True, url_encode=False))}} grooming</p><p>{{=A("© Noneotuho",_href="https://commons.wikimedia.org/wiki/File:Macaca_fuscata,_grooming,_Iwatayama,_20090201.jpg")}} {{=A(IMG(_src=URL('static','images/by-nc.svg'), _alt="Creative commons attribution + share-alike licence"),_href="https://creativecommons.org/licenses/by-sa/3.0/deed.en")}}</p></figcaption></figure>{{=T('Due to essential maintenance the sponsorship option is temporarily unavailable.')}}</p>
<p>{{=XML(T('You can still %s as normal and use the other website features.') % (A(T("explore the tree of life"), _href=URL('default', 'life.html', host=True)),))}}</p>
<p>{{=XML(T('We expect OneZoom to be fully functional again within %s minutes.') % (SPAN(mins, _id="time"), ))}}</p>
