{{response.title='OneZoom: '+T('species awaiting sponsorship payment')}}
{{if is_testing: response.meta.viewfile = response.view}}{{pass}}
{{extend ('embed.html' if request.vars.get('embed') else 'layout.html')}}
    <h3>{{=T('Reserved pending donation receipt')}}</h3>
    <p>{{=XML(T('This leaf, %s, has been reserved and is waiting to be matched to a donation. If you are the person who reserved it you might wish to return to this page later to see if the status has progressed to <q>awaiting admin check</q>, as it does sometimes take a while for payments to be processed and posted.  If you suspect something went wrong at the PayPal stage please %s to resolve it. After %s hours this leaf will become available again unless it is matched to a donation.') % (the_long_name, A(T('contact us'),_href="mailto:mail@onezoom.org"), unpaid_time_limit))}}</p>
    <p>{{=T('Only one sponsor per leaf so get your favourite species before someone else does.')}}</p>
