{{
    response.title='OneZoom: '+T('already sponsored species')
    response.files.append(URL('static', 'css/content_pages.css'))
}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}
{{import img}}

{{block masthead}}
{{if 'popup' not in request.vars:}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Leaf sponsorship</h1>
</div>
{{pass}}
{{end block}}

<h2>{{=T('This leaf has been sponsored')}}</h2>
<p>{{=XML(T('You can explore this tree of life at home or on your mobile device from %s') % (A("www.onezoom.org", _href="//www.onezoom.org", target="_blank"),))}}</p>
<div class="uk-grid uk-text-small uk-child-width-1-3@m">
  <div>
    <h3>{{=T('About leaf sponsorship')}}</h3>
    <p>{{=T('You can sponsor leaves on the OneZoom tree of life for yourself or as a unique gift for someone you know. As a thank-you, we acknowledge donations to the OneZoom charity (non-profit) by displaying your chosen sponsor’s name on the leaf of your choice. Your donations will help us in our aim to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it.')}}</p>
  </div>
  <div class="sponsored_list">
    <ul>
    <li>
    <figure>
        {{image = user_image or default_image}}
        <figure>
            <figcaption>{{=XML(long_name)}}</figcaption>
            <img alt="{{=T('Image of %s') % (species_name)}}"
            {{if image:}}
            src="{{=img.thumb_url(thumb_base_url, image.src, image.src_id)}}"
            title="{{=' / '.join([t for t in [image.rights, image.licence] if t]).replace('"',"'")}}"
            {{else:}}
            src="{{=URL('static','images/noImage_transparent.png')}}"
            {{pass}} />
        </figure>
        <figcaption>Sponsored {{=verified_kind}}<br /><strong>{{=verified_name}}</strong></figcaption></figure>
    </li>
    </ul>
  </div>
  <div>
    <h3>{{=T('There are plenty more leaves')}}</h3>
    <p> {{=T('We’re sorry if you wanted to sponsor this leaf.  There is only one name per species so get your favourite species while you can.')}}</p>
    <p>{{# Make all internal URLs absolute so they get culled when sandboxing
       =XML(T('If you would like to sponsor something else, we’ve still got %s.') % (A(T('lots of great leaves available for sponsorship'), _href=URL('default','sponsor.html', scheme=True, host=True)),))}}</p>
    <p>{{=T('Thank you for your interest in supporting our work.')}}</p>
  </div>
</div>





