{{
    response.title=base_title + ': ' + T('error')
    response.files.append(URL('static','css/content_pages.css'))
}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
{{if 'popup' not in request.vars:}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Leaf sponsorship</h1>
</div>
{{pass}}
{{end block}}
<h2>{{=T('Error when sponsoring')}}</h2>
<p>{{=T('Apologies, there seems to be something wrong with the OneZoom sponsorship process.')}}</p>
<p>{{=XML(T('We would appreciate it if you could %s') % (A(T('contact us'), _href='mailto:mail@onezoom.org?subject=Error in sponsoring a species with Open Tree ID %s'.format(OTT_ID_Varin))))}}</p>
<p>{{# Make all internal URLs absolute so they get culled when sandboxing
     =XML(T('Don’t worry, we’ve still got %s.') % (A(T('lots of great leaves available for sponsorship'), _href=URL('default','sponsor.html', scheme=True, host=True))))}}</p>
