{{
response.title='OneZoom: '+T('already sponsored species')
response.files.append(URL('static','OZsponsor/background.css'))
}}

{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('embed.html' if 'embed' in request.vars else 'layout.html')}}


<div class = "container-fluid">
    
    <div class="row-fluid">
        <div class="col-md-12">
            <header><h1>{{=XML(T('This leaf is not available to sponsor right now'))}}</h1>
                
                <p>{{=XML(T('You can explore this tree of life at home or on your mobile device from %s') % (A("www.onezoom.org", _href="//www.onezoom.org", target="_blank", _style="text-decoration: underline;"),))}}</p>
            </header>
        </div>
    </div>
    <div class="col-md-12 ">
        <ul class="columns">
            <li>
                <h4>{{=T('About leaf sponsorship')}}</h4>
                <p> {{=T('You can sponsor leaves on the OneZoom tree of life for yourself or as a unique gift for someone you know. As a thank-you, we acknowledge donations to the OneZoom charity (non-profit) by displaying your chosen sponsor’s name on the leaf of your choice. Your donations will help us in our aim to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it.')}}</p>
            </li>
            
            
            <li>
                <h4>{{=T('Example sponsored leaf')}}</h4>
                <img src= "{{=URL('static','images/gallery/Panda_PD_sponsorship_example.png')}}" class = "svgover">

                
            </li>
            
            <li>
                <h4>{{=T('There are plenty more leaves')}}</h4>
                <p> {{=T('We’re sorry if you wanted to sponsor this leaf.  There is only one name per species so get your favourite species while you can.')}}</p>
                <p>{{=XML(T('Find another leaf to sponsor on OneZoom at %s') % (A("www.onezoom.org/sponsor", _href="//www.onezoom.org/sponsor", target="_blank", _style="text-decoration: underline;"),))}}</a></p>
                <p> {{=T('Thank you for your interest in supporting our work.')}}</p>

            </li>
            
        </ul>
    </div>
</div>
</div>
