{{# Fragment requires giftaid_partners - list of partner_data objects applicable}}

{{giftaid_anded_names = XML(" and ".join(str(A(T(p['name']), _href=p['general_url'],_target="_blank")) for p in giftaid_partners)) }}
{{giftaid_and = " and " if giftaid_anded_names else "" }}
{{try:}}{{giftaid_previously_agreed = giftaid_recorded}}{{except:}}{{giftaid_previously_agreed = False}}{{pass}}
{{if not giftaid_previously_agreed:}}
<button id="gift_aid_button" type='button' onclick="toggle_giftaid_visibility(event)">{{=T('Click if you are a UK tax payer and agree to Gift Aid')}}</button>
{{pass}}

<div id="gift_aid" {{if not request.vars.user_giftaid:}}style="display: none"{{pass}}>
  <h3>{{=T('Gift Aid declaration')}}</h3>
  {{if giftaid_previously_agreed:}}
  <p>{{=T('Our records show that you have previously agreed to gift aid your donations. Thank you for this and for your previous support. Your gift aid declaration is below: please check your details as required.')}}
     {{=XML(T('If you wish to retract your previous gift aid statement just %s.') % A(T("contact us"), _href="mailto:mail@onezoom.org"))}}
  </p>
  {{else:}}
  <p>{{=T('Thank you for agreeing to gift aid your donation. Please check the statement below and fill out the necessary details. If you didn’t intend to gift aid, you can untick the box at the end')}}</p>
  {{pass}}
  {{if giftaid_anded_names:}}
  <p>You have previously sponsored with a joint donation that was shared between OneZoom {{=giftaid_and}}{{=giftaid_anded_names}}. Hence the declaration below will include our collaborator’s names as well, even if your current donation is not one that would be shared.</p>
  {{pass}}
  <p>I want to Gift Aid this donation and any donations I make in the future or have made in the past 4 years to OneZoom {{=giftaid_and}}{{=giftaid_anded_names}}</p>
  <p>I am a UK taxpayer and understand that if I pay less Income Tax and/or Capital Gains Tax than the amount of
  Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any difference.</p>
  <p>Please notify OneZoom {{=giftaid_and}}{{=giftaid_anded_names}} if you want to cancel this declaration, change your name or home address, or if you no longer pay sufficient tax on your income and/or capital gains.</p>
  <p>If you pay Income Tax at the higher or additional rate and want to receive the additional tax relief due to you, you must include all your Gift Aid donations on your Self-Assessment tax return or ask HM Revenue and Customs to adjust your tax code.</p>
  <p>Gift Aid is reclaimed by OneZoom {{=giftaid_and}}{{=giftaid_anded_names}} from the tax you pay for the current tax year.
  {{if giftaid_and:}}We will share your name (from PayPal) and address with {{=giftaid_anded_names}} for the purposes of Gift Aid
  {{pass}} - please make sure that information is up to date.</p>

  <div class="singlerow">
    <label>
      <input type="radio" name="user_addr_nonuk" data-divid="user_addr_nonuk_off_div" value=""
             onchange="toggle_giftaid_visibility(event)"
             {{=("checked" if not request.vars.user_addr_nonuk else "")}} />
      <span>{{=XML(T('I am a UK resident'))}}</span>
    </label>
    <label>
      <input type="radio" name="user_addr_nonuk" data-divid="user_addr_nonuk_on_div" value="on"
             onchange="toggle_giftaid_visibility(event)"
             {{=("checked" if request.vars.user_addr_nonuk else "")}} />
      <span>{{=XML(T('I live outside the UK (but pay tax in the UK)'))}}</span>
    </label>
  </div>

  <div id="user_addr_nonuk_off_div" {{if request.vars.user_addr_nonuk:}}style="display: none"{{pass}}>
    <div>
    <label for="user_addr_house_input">{{=T('Your house name or number:')}}</label>
    <p>
      <input type="text" id="user_addr_house_input" name="user_addr_house" size="40"
             maxlength="40"
             onfocus="if (event.target.value.startsWith('****')) event.target.value = ''"
             value="{{if (request.vars['user_addr_house']) is not None:}}{{=request.vars['user_addr_house']}}{{pass}}" />
      <em class = "error_text">{{=form.errors.get("user_addr_house") or ""}}</em>
    </p>
    </div><div>
    <label for="user_addr_postcode_input">{{=T('Your postcode:')}}</label>
    <p>
      <input type="text" id="user_addr_postcode_input" name="user_addr_postcode" size="40"
             onfocus="if (event.target.value.startsWith('****')) event.target.value = ''"
             value="{{if (request.vars['user_addr_postcode']) is not None:}}{{=request.vars['user_addr_postcode']}}{{pass}}" />
      <em class = "error_text">{{=form.errors.get("user_addr_postcode") or ""}}</em>
    </p>
    </div>
  </div>
  <div id="user_addr_nonuk_on_div" {{if not request.vars.user_addr_nonuk:}}style="display: none"{{pass}}>
    <div>
      <label for="user_addr_internationaladdr_input">{{=T('Your full address:')}}</label>
      <p>
        <input type="text" id="user_addr_internationaladdr_input" name="user_addr_internationaladdr" size="80"
               maxlength="40"
               onfocus="if (event.target.value.startsWith('****')) event.target.value = ''"
               value="{{if (request.vars['user_addr_internationaladdr']) is not None:}}{{=request.vars['user_addr_internationaladdr']}}{{pass}}" />
        <em class = "error_text">{{=form.errors.get("user_addr_internationaladdr") or ""}}</em>
      </p>
    </div>
  </div>

  <div {{if giftaid_previously_agreed:}}style="display: none"{{pass}}>
    <label for="user_giftaid_input">
      <p>
      {{=T('I agree')}}:
      <input
          type="checkbox"
          onclick="toggle_giftaid_visibility(event)"
          id="user_giftaid_input"
          name="user_giftaid"
          {{if request.vars.user_giftaid:}}checked{{pass}}/>
      </p>
    </label>
  </div>
</div>
<script>
    function toggle_giftaid_visibility(e) { 
        var elements = e.target.form.elements;

        if (e.target.tagName === "BUTTON") {
            // Triggered by pressing the button, so implicitly agreeing
            elements.user_giftaid.checked = true;
        }

        // Overall gift_aid form should be visible with gift aid state
        document.getElementById("gift_aid").style.display = elements.user_giftaid.checked ? null : 'none';
        document.getElementById("gift_aid_button").style.display = !elements.user_giftaid.checked ? null : 'none';

        // Sync div visibility with checkboxes
        for (var i = 0; i < elements.user_addr_nonuk.length; i++) {
            document.getElementById(elements.user_addr_nonuk[i].dataset.divid).style.display = elements.user_addr_nonuk[i].checked ? null : 'none';
        }
    }
</script>
