{{
    response.title='OneZoom: '+T('payments')
    response.files.append(URL('static','css/content_pages.css'))
}}
{{extend 'uikit_layout.html' # Never embedded}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Sponsorship payments</h1>
</div>
{{end block}}
<p>Sorry, {{=error}}</p>
If you intended to sponsor a species, any have not been able to do so, please <a href="mailto:mail@onezoom.org?subject=Question%20about%20sponsorship%20of%20OTT%20{{=ott}}">email us</a> quoting the species reference number <q>OTT = {{=ott}}</q>.
