{{response.title='OneZoom: Search for a species to sponsor'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Your name on the tree</h1>
    <p>Sponsor a leaf on our Tree of Life</p>
</div>
{{end block}}

<div class="uk-grid-small uk-text-small uk-child-width-1-3@m" uk-grid>
    <div>
        <h3>Name a leaf as a treat for yourself, or for someone else</h3>
        <p>We'll display your name (or your friend's <a class="btn btn-primary" href="{{=URL('treecards.html')}}">as a Tr-eCard</a>) on your selected leaf for any donation over &pound;5. With over two million leaves, there's something for everyone.</p>
        <p>There is only one name per species so get your favourite species while you can.</p>
        <img src= "{{=URL('static','images/Screenshots/sponsor_by_1.png')}}" class="example-leaf">
        <p>OneZoom is a <a href="{{=URL('static','images/RegistrationCertificate.jpg')}}" target="_blank">registered UK charity</a>, your donations help us provide easy access to scientific knowledge about biodiversity and evolution, the variety of life on Earth, and the need to conserve it.</p>
    </div>
    <div>        
        <h3 id="sponsor_title" class="lined">Explore the tree to choose your leaf</h3>
        <p>You can search within our tree viewer, or simply browse the tree to see what catches your eye.</p>
 <div class = "uk-text-center uk-padding"> <a class = "a-light oz-pill pill-leafout" href = "{{=URL('default','life', extension=False)}}" target = "_blank">Explore now</a></div>
        <h3>Enter a Creature Code</h3>
        <form action="{{=URL('default', 'sponsor_leaf')}}" class="lined">
        <fieldset>
        If you have been given a creature code from a OneZoom public display, you can
        enter it here to sponsor directly
        <div class="creature-code"><input type="number" name="ott" /><button class="btn btn-primary" type="submit">Submit creature code</button></div>
        </fieldset>
        </form>
        
        <form action="{{=URL('API', 'search_for_sponsor')}}" class="lined">
            <h3>Search for existing sponsors</h3>
            <fieldset>
                <input type="search" name="query" class="" />
                <input type="hidden" name="limit" value="6" />
                <input type="hidden" name="default_images" value="1" />
                <select name="type">
                    <option value="all">search all sponsorships</option>
                    <option value="for">sponsorships for someone else</option>
                    <option value="by">sponsorships for the sponsor themselves</option>
                </select>
                <button class="btn btn-primary" type="submit">Search sponsorships</button>
            </fieldset>
        </form>
        
    </div>
    <div>
        <h3>Choose a category to find your leaf</h3>
        <ul class="short-sponsor-ideas">
            {{for key, info in pick.items():}}
            {{if not info.get("subtext"):}}
            <li class="{{=str(key)}}"><a href="{{=URL(info['page'], vars=info.get('vars'))}}"><img src='{{=info["thumb_url"]}}' /><p>{{=info["name"]}}</p></a></li>
                {{pass}}{{pass}}
        </ul>
    </div>
</div>

<!--
 <p>We'll add some examples of each category with images to show people</p>
 <ul>
 <li>£5 ... tens of thousands available (possibly no photo or common name but some nice things if you search for them)</li>
 <li>£10 ... just under a million available</li>
 <li>£20 ... just under a million available (orchids and roses)</li>
 <li>£40 ... tens of thousands available (e.g. blue ringed octopus, seahorse, fruit bat)</li>
 <li>£75 ... thousands available (e.g. rattlesnake, poison dart frog, hummingbird, tea or coffee, venus flytrap, barbary macaque)</li>
 <li>£150 ... hundreds available (e.g. giraffe, scarlet macaw, penguin)</li>
 <li>£ contact us ... a few really cool species (e.g lion)</li>
 </ul>
 -->







