{{
# This is the main sponsorship page. It should be provided with default image data
# (if a default image exists). If default_image.src >= src_flags["onezoom_via_eol"]
# (i.e. this is not a bespoke image, see definitions in _OZglobals.py), then we do not
# necessarily have a really nice image, so as well as the default image, we also 
# present some others for the sponsor to pick, by querying the EoL API. 
# Up to 9 images (including the default) are shown. The image is only added to the database
# on validation of the sponsorship, to avoid bad images.
# 
# We always set "user_preferred_image_src" & "user_preferred_image_src_id" to the image
# selected by the sponsor, so we have a record of what they expected. The 
# "user_nondefault_image" column tells us whether they changed the selection from the
# first image (either the default or the first image from the EoL API) to something else
# from the EoL selection, in which case we specify the image src as 
# `src_flags["onezoom_via_eol"]` instead, and will usually explictly download it during
# validation, unless it is of rubbish quality. If the user chooses the first image,
# the "user_nondefault_image" column should be NULL or 0.
}}
{{
response.title='OneZoom: Sponsor a leaf on the tree'
response.files.append(URL('static', 'OZSponsor/sponsor_leaf.css'))
response.files.append(URL('static', 'OZSponsor/EOLqueries.js'))
response.files.append(URL('static', 'OZTree/dist/Drawing.js'))
response.files.append(URL('static', 'OZTree/dist/Leaf_draw.js'))
}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('embed.html' if 'embed' in request.vars else 'layout.html')}}
<script>var OZstrings={{include 'treeviewer/js_strings.json'}}</script>
<div>
    <h1 id = "sponsor_title">{{=XML(T('Sponsor %s on the OneZoom Tree of Life Explorer') % (the_long_name or T("a species"),))}}</h1>
    <p>{{=T('You can sponsor this leaf for yourself or as a unique gift for someone you know.')}}</p>

    {{if partner_data:}}
    <p>{{=XML(T('As a thank-you, we will acknowledge your donation to the %s and %s by displaying your chosen sponsor’s name on %s') % (A(T('OneZoom charity'),_href='//www.onezoom.org/static/images/RegistrationCertificate.jpg', _target="_blank"), A(T(partner_data.get('name')), _href=partner_data.get('url'), _target="_blank"), the_long_name))}}.
       {{=XML(T('%s%% of the donation we receive will help OneZoom to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it. The remaining %s%% will go to %s. %s.') % (int(round(100-partner_data.get('percentage'))), int(round(partner_data.get('percentage'))), T(partner_data.get('name')), T(partner_data.get('details')))  )  }}</p>

    {{else:}}
    <p>{{=XML(T('As a thank-you, we will acknowledge your donation to the %s by displaying your chosen sponsor’s name on %s. Your donations will help us in our aim to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it.') % (A(T('OneZoom charity'),_href='//www.onezoom.org/static/images/RegistrationCertificate.jpg', _target="_blank"), the_long_name))}}</p>

    {{pass}}
    <p>{{=T('There can be only one sponsor for each leaf, so get your favourite creature before someone else does!')}} {{=T('Sponsorship is for a fixed period of %s years; after that, if you wish to renew your sponsorship, you will have the first refusal.') % (4,)}}</p>
</div>
<form action="?ott={{=OTT_ID}}" enctype="multipart/form-data" method="post" {{if request.vars.get('embed'):}}target="_blank" onsubmit="setTimeout(function() {location.replace('sponsor_replace_page.html?embed={{=request.vars.get('embed')}}&ott={{=OTT_ID}}')}, 1000);" {{pass}}>
  <div>
    <h3>{{=T('Type the name of the person you want to appear on the leaf')}}</h3>
    <fieldset>
      <div class="singlerow"><label>{{=T('Sponsored by')}} <input type="radio" value="by" onclick="updateDonorPlaceholder();drawPreview()" id = "sponsorBy" name = "user_sponsor_kind" {{=("" if request.vars.user_sponsor_kind == "for" else "checked")}} /></label><label>{{=T('Sponsored as a gift for')}} <input type="radio"  value="for" id = "sponsorFor" name = "user_sponsor_kind" onclick="updateDonorPlaceholder();drawPreview()" {{=("checked" if request.vars.user_sponsor_kind == "for" else "")}}/></label></div>
      <div><label for="user_sponsor_name_input">{{=T('Sponsorship name (required): ')}}</label><p><input type="text" autocomplete="off" id="user_sponsor_name_input" name = "user_sponsor_name" maxlength="30" size="30" onchange="updateDonorPlaceholder();drawPreview()" onkeyup="updateDonorPlaceholder();drawPreview()" placeholder="{{=T('e.g. Jane Smith')}}"
      value="{{if (request.vars['user_sponsor_name']) is not None:}}{{=request.vars['user_sponsor_name']}}{{pass}}" /> 
        <em class = "error_text" > {{if (form.errors["user_sponsor_name"]) is not None:}}{{=form.errors["user_sponsor_name"]}}{{pass}} </em></p></div>
      <div><label for="user_more_info_input">{{=T('Extra text (optional): ')}}</label><p><input type="text" id="user_more_info_input" autocomplete="off" name = "user_more_info"  maxlength="30" size="30" onchange="drawPreview()" onkeyup="drawPreview()" placeholder = "{{=T('e.g. Edinburgh, UK')}}"
          value="{{if (request.vars['user_more_info']) is not None:}}{{=request.vars['user_more_info']}}{{pass}}"/>
        <em class = "error_text"> {{if (form.errors["user_more_info"]) is not None:}}{{=form.errors["user_more_info"]}}{{pass}} </em></p></div>

      
      
     <p class="singlerow extra_info">
       {{if partner_data:}}
       
      {{=XML(T('Extra text will only show when fully zoomed in; it can be used for your location, or to say who it’s from if you are sponsoring as a gift for another person (e.g. Happy Birthday from John Smith). The extra text will appear on our main tree at %s and %s tree at %s, but may not necessarily be shown on versions elsewhere.') % (A('OneZoom.org/life', _href="http://www.onezoom.org/life", _target="blank"), T(partner_data.get('name')), A('OneZoom.org/life/%s'% partner_data.get('partner_identifier'), _href="http://www.onezoom.org/life/%s"% partner_data.get('partner_identifier'), _target="blank"),))}}
    
       
       {{else:}}
     {{=XML(T('Extra text will only show when fully zoomed in; it can be used for your location, or to say who it’s from if you are sponsoring as a gift for another person (e.g. Happy Birthday from John Smith). The extra text will appear on our main tree at %s, but may not necessarily be shown on versions elsewhere.') % (A('OneZoom.org/life', _href="http://www.onezoom.org/life", _target="blank"),))}}
       
       {{pass}}
       
    {{=T('We will check that the sponsorship text is appropriate, and contact you if there is a problem. This is not intended to be advertising so please do not include web links. Normally your text should appear on the tree within a week.')}}
    
    
    </p>
    
    <div><label for="user_paid_input">{{=T('Your donation amount (£%s or greater for this leaf):') % (str(int(leaf_price)) if leaf_price.is_integer() else '{:f}'.format(leaf_price))}} </label><p><input type="number" step="0.01" id="user_paid_input" name = "user_paid"
        value="{{if (request.vars['user_paid']) is not None:}}{{=request.vars['user_paid']}}{{else:}}{{if(leaf_price.is_integer()):}}{{=str(int(leaf_price))}}{{else:}}{{='{:.2f}'.format(leaf_price)}}{{pass}}{{pass}}" />
        <em class = "error_text"> {{if (form.errors["user_paid"]) is not None:}}{{=form.errors["user_paid"]}}{{pass}} </em></p></div>
    <p class="singlerow extra_info">
    {{=T('The minimum donation required for other leaves ranges from from £%s to £%s depending on popularity. ') % (min_global_price, max_global_price)}}
    
    <!-- show alternative if leaf is possibly too expensive-->
    {{if leaf_price>20:}}
    
    {{if partner_data:}}
    <!-- pass down URL vars so future sponsorships are still for the same partner -->
 {{=XML(T('If this leaf does not fit your budget consider our lists of %s and %s sorted by price to choose an alternative.') % (A(T('animals'), _href=URL('default','sponsor_node', vars=dict(id=759129,partner=request.vars['partner'],user_more_info=request.vars['user_more_info'],lang=request.vars['lang']))),A(T('plants'),_href=URL('default','sponsor_node', scheme=True, host=True, vars=dict(id=108637,partner=request.vars['partner'],user_more_info=request.vars['user_more_info'],lang=request.vars['lang'])))))}}</p>
    
    {{else:}}
    <!-- no partner data to pass down but pass language -->
    {{=XML(T('If this leaf does not fit your budget consider our lists of %s and %s sorted by price to choose an alternative.') % (A(T('animals'), _href=URL('default','sponsor_node', vars=dict(id=759129,lang=request.vars['lang']))),A(T('plants'),_href=URL('default','sponsor_node', scheme=True, host=True, vars=dict(id=108637,lang=request.vars['lang'])))))}}</p>
    
    {{pass}}
    
    {{pass}}
    </p>
    
    </fieldset>

    
  </div>
  <div class="container-fluid">
    <h3>{{=T('Preview of your sponsored leaf')}}</h3>
    <div id = "leaf-options">
      <div id="leaf">
        <canvas id="leafCanvas" onclick="drawPreview()"></canvas>
        <p id="licenceText"><a target = "_blank">{{=T('More information about this image')}}</a></p>
        <p class="extra_info">{{=T('*The final leaf may be facing in any direction on the tree, it may also change based on scientific advances.')}}</p>
      </div>
    </div>
  </div>
  {{if 'embed' not in request.vars and not partner_data:}}
  <!-- don't want possibility for these link outs if embedding or if there is a partner involved as they will not keep the user in the partner tree -->
  <div class="subleaf">
    <p>{{=XML(T('If you fancy something different, you can %s, or simply %s and see what you like.') % (A(T('search for other available species'), _href=URL('default','sponsor')),A(T('browse the tree of life'),_href=URL('default','life.html', scheme=True, host=True))))}}</p>
  </div>
  {{pass}}
  <div>
    <h3>{{=T('A few more details (optional)')}}</h3>
    <fieldset>
      <div><label for="e-mail_input">{{=T('Your e-mail (recommended):')}}</label><p><input type="text" autocomplete="email" id="e-mail_input" name = "e_mail" size="40"
        value="{{if (request.vars['e_mail']) is not None:}}{{=request.vars['e_mail']}}{{pass}}" /> 
        <em class = "error_text"> {{if (form.errors["e_mail"]) is not None:}}{{=form.errors["e_mail"]}}{{pass}} </em></p></div>
      <p class="singlerow extra_info">{{=T('If we need to contact you about your donation or changes to your leaf, we will use the email entered here, otherwise we will use the email from your PayPal donation.')}}</p>
      
      <div><label for="user_donor_name_input">{{=T('Your title and name:')}}</label><p>
        
        <select name="user_donor_title" autocomplete="honorific-prefix" id="user_donor_title_input"  value="{{if (request.vars['user_donor_title']) is not None:}}{{=request.vars['user_donor_title']}}{{pass}}">
            <option value="   ">   </option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
            <option value="Prof">Prof</option>
            <option value="Rev">Rev</option>
            <option value="Sir">Sir</option>
            <option value="Lord">Lord</option>
            <option value="Lady">Lady</option>
        </select>
        
        <input type="text" autocomplete="name" id="user_donor_name_input" name = "user_donor_name" size="40"
        value="{{if (request.vars['user_donor_name']) is not None:}}{{=request.vars['user_donor_name']}}{{pass}}" /> </p>
        
        <em class = "error_text">{{if (form.errors["user_donor_title"]) is not None:}}{{=form.errors["user_donor_title"]}}{{pass}}{{if (form.errors["user_donor_name"]) is not None:}}{{=form.errors["user_donor_name"]}}{{pass}}</em></p>
      </div>
      
        <p class="singlerow extra_info">{{=T('We can use this in correspondance, on our public list of donors, and the information is required if you agree to gift aid your donation (see below)')}}</p>
        
      <div><label for="user_donor_show_input">{{=XML(T('Show your name on our public %s ?') % (A(T('list of donors'), _href='/donor_list', _target="blank"),))}}</label><p><input type="checkbox" autocomplete id="user_donor_show_input" name = "user_donor_show"/></p></div>
      <p class="singlerow extra_info">{{=T('This is in addition to your sponsored leaf on the tree.')}}</p>
      
      <div><label for="allow_contact_input">{{=T('Allow further contact?')}}</label><p><input type="checkbox" autocomplete id="allow_contact_input" name = "allow_contact" /></p></div>
      <p class="singlerow extra_info">{{=XML(T('On rare occasions we may wish to inform you about new / major changes to OneZoom (for more frequent updates, you might also like to %s)') % (A(T('follow us on Twitter'), _href='https://twitter.com/OneZoomTree', _target="_blank"),))}}</p>
      
      <div><label for="user_message_OZ_input">{{=T('Your message to us (optional)')}} </label><p><input type="text" autocomplete="off" id="user_message_OZ_input" name = "user_message_OZ"  size="40"
        value="{{if (request.vars['user_message_OZ']) is not None:}}{{=request.vars['user_message_OZ']}}{{pass}}"/> 
        <em class = "error_text"> {{if (form.errors["user_message_OZ"]) is not None:}}{{=form.errors["user_message_OZ"]}}{{pass}} </em></p></div>
      <div><label for="user_twitter_input">{{=T('Your Twitter handle (optional)')}} </label><p><span class="twitter_at">@</span><input type = "text" autocomplete="off" id="user_twitter_input" name="twitter_name" size="37"
        value="{{if (request.vars['twitter_name']) is not None:}}{{=request.vars['twitter_name']}}{{pass}}"/>
        <em class = "error_text"> {{if (form.errors["twitter_name"]) is not None:}}{{=form.errors["twitter_name"]}}{{pass}} </em></p></div>
      <p class="singlerow extra_info">{{=T('If you enter your Twitter handle, we will tweet when your leaf goes live')}}</p>
      <div class="singlerow">{{=XML(T('OneZoom is %s in the UK.') % (A('registered charity number 1163559', _href="//www.onezoom.org/static/images/RegistrationCertificate.jpg", _target="_blank"),))}}</div>
      <div class="singlerow">{{=T('If you are a UK tax payer please consider making a Gift Aid declaration which will increase the value of your donation by 25% at no cost to you')}}</div>
 
      <button type='button' onclick="document.getElementById('gift_aid').style.display='block'; document.getElementById('user_giftaid_input').checked = true;">{{=T('Click if you are a UK tax payer and agree to Gift Aid')}}</button>
              <!-- these bits should open up automatically -->
      <div id = "gift_aid" {{if request.vars.user_giftaid:}}style="display:block"{{pass}}>
        <h3>{{=T('Gift Aid declaration')}}</h3>
        <p>{{=T('Thank you for considering Gift Aid. Please share your street address by ticking the box when you make your donation through PayPal, this information is required for us to reclaim gift aid. Please also confirm that you agree to the below Gift Aid declaration.')}}</p>
        {{if partner_data.get('giftaid'):}}          
        <p>I want to Gift Aid this donation and any donations I make in the future or have made in the past 4 years to OneZoom and {{=T(partner_data.get('name'))}}</p>
        <p>I am a UK taxpayer and understand that if I pay less Income Tax and/or Capital Gains Tax than the amount of
  Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any difference.</p>
        <p>Please notify both OneZoom and {{=A(T(partner_data.get('name')), _href=partner_data.get('general_url'),_target="_blank")}} if you want to cancel this declaration, change your name or home address, or if you no longer pay sufficient tax on your income and/or capital gains.</p>
        <p>If you pay Income Tax at the higher or additional rate and want to receive the additional tax relief due to you, you must include all your Gift Aid donations on your Self-Assessment tax return or ask HM Revenue and Customs to adjust your tax code.</p>
        <p>Gift Aid is reclaimed by OneZoom and {{=T(partner_data.get('name'))}} from the tax you pay for the current tax year. We will use the name and address from your PayPal receipt for this purpose and will share this information with {{=A(T(partner_data.get('name')), _href=partner_data.get('url'),_target="_blank")}} for the purposes of Gift Aid - please make sure that information is up to date.</p>

        <p> I agree to all the above statements: <input type="checkbox" id="user_giftaid_input" name = "user_giftaid" {{if request.vars.user_giftaid:}}checked{{pass}}/></p>
        {{else:}}
        <p>I want to Gift Aid this donation and any donations I make in the future or have made in the past 4 years to OneZoom</p>
        <p>I am a UK taxpayer and understand that if I pay less Income Tax and/or Capital Gains Tax than the amount of
        Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any difference.</p>
        <p>Please notify the charity if you want to cancel this declaration, change your name or home address, or if you no longer pay sufficient tax on your income and/or capital gains.</p>
        <p>If you pay Income Tax at the higher or additional rate and want to receive the additional tax relief due to you, you must include all your Gift Aid donations on your Self-Assessment tax return or ask HM Revenue and Customs to adjust your tax code.</p>
        <p>Gift Aid is reclaimed by the charity from the tax you pay for the current tax year. We will use the name and address from your PayPal receipt for this purpose - please make sure that information is up to date</p>
          
        <p> I agree: <input type="checkbox" id="user_giftaid_input" name = "user_giftaid" {{if request.vars.user_giftaid:}}checked{{pass}}/></p>
        
          {{pass}}
                <p> Please note: we will need your name, title and UK street address to process gift aid, so please fill in these fields above. Please also remember to instruct PayPal to share your postal address when making your payment - thank you.</p>
          
      </div>
      <input type="hidden" id="user_nondefault_image_input" name="user_nondefault_image" value="0" />
      <input type="hidden" name="id" value="{{=id}}" />
      <input type="hidden" name="form_reservation_code" value="{{=form_reservation_code}}" />
      <input type="hidden" name="_formname" value="main_sponsor_form" />
      {{if partner_data:}}
      <input type="hidden" name="partner" value="{{=partner_data.get('partner_identifier') or ''}}" />
      {{pass}}
    </fieldset>
    <p class="submit_donate">{{=XML(T('Accept %s and <input id="submit_button" type="submit" value = "Donate"/> using PayPal') % (A(T('terms'),_href="/terms.html",_target="_blank"), ))}}{{if request.vars.get('embed'):}} <span>{{=T('(opens in a new window)')}}</span>{{pass}}.</p>
  </div>
</form>
<script>
function updateDonorPlaceholder() {
    if ($("#sponsorBy").is(':checked')) {
        $("#user_donor_name_input").attr("placeholder", document.getElementById('user_sponsor_name_input').value)
    } else {
        $("#user_donor_name_input").attr("placeholder", "")
    }
}
updateDonorPlaceholder(); //do it now, in case we are refreshing
</script>

<script>

/* define global variables */

var mintextsize = 3; // the smallest size text you want to have displayed
var fonttype = 'Helvetica'; // change the text font to match the rest of your article and journal style // 'sans-serif' // is good too
var green1 = 'rgb(135,215,90)';
var green2 = 'rgb(70,135,30)';

var newcanvas;
var leafContext;
var widthRes = 500;
var heightRes = 500;

var max_n_thumbnails = 9;

var workingEOL = true; // is the API OK?
var imageInfoReady = false; // is the image information ready to be shown?
//treat all srcs and src_ids at strings, for consistency
var EoL_srcs = [{{=",".join(["'{}'".format(src_flags[x]) for x in eol_src_flags])}}];
var image_objects = [];
{{if default_image.src is None or default_image.src_id is None:}}
var selected_img = null; //which of the image objects in image_objects is to be rendered
{{else:}}
// initialise list of images & info with default image
var selected_img = 0;
image_objects[0] = {
    "src":"{{=int(default_image.src)}}"
    "src_id":"{{=int(default_image.src_id)}}"
    "url":"{{=thumbnail_url(default_image.src,default_image.src_id)}}",
    "default":1,
    "already_default_on_onezoom":1,
    "dataRating":10}; //highest possible data rating, so this gets put first
{{pass}}
var leafImageFile = null; // image file (if null and image_objects exists then image is not loaded yet)
var leaftext = [null,null];
var leafCol = {
    // relating to the leaf itself (not highlighted)
    
    "insideColor" : 'rgb(135,215,90)',
    "outlineColor" : 'rgb(70,135,30)',
    "BGColor" : 'rgb(255,255,255)',
    "waterMark" : 'rgba(255,255,255,0.4)',
    // relating to the leaf itself (highlighted)
    "insideHighlight" : 'rgb(135,215,90)',
    "outlineHighlight" : 'rgb(70,135,30)',
    "BGHighlight" : 'rgb(255,255,255)',
    "waterMarkHighlight" : 'rgba(255,255,255,0.4)',
    
    // relating to the sponsorship text part
    "sponsorColor" : 'rgb(135,215,90)',
    "sponsorHighlight" : 'rgb(255,255,255)',
    
    // relating to main text part
    "textColor" : 'rgb(0,0,0)',
    "textHighlight" : 'rgb(0,0,0)',
    "textOutline" : 'rgba(255,255,255,0.6)',
    
    // image outside line
    "imageLineColor" : 'rgb(110,110,110)',
    "imageLineHighlight" : 'rgb(110,110,110)',
    
    // copyright symbol colors
    "copyrightText" : 'rgb(135,215,90)',
    "copyrightInside" : 'rgb(70,135,30)',
    "copyrightTextHighlight" : 'rgb(255,255,255)',
    "copyrightInsideHighlight" : 'rgb(0,0,0)'
}


// initialise the canvas
newcanvas = document.getElementById("leafCanvas");
if (newcanvas) {
    leafContext = newcanvas.getContext('2d');
    newcanvas.width = widthRes;
    newcanvas.height = heightRes;
    leafContext.textBaseline = 'middle';
}


// this draws a preview of the leaf
// it gathers information from the form for sponsorship information
// it requires the global information on workingEOL, imageReady, image_objects, selected_img, and leafImageFile to be set.
function drawPreview()
{
    // define sponsorship variables
    var sponsorText = null;
    var extraText = null;
    var hasText = false;
    
    // get sponsor text and extra text
    var sponsorTextInput = document.getElementById('user_sponsor_name_input')
    var extraTextInput = document.getElementById('user_more_info_input')
    if (sponsorTextInput.value)
    {
        sponsorText = sponsorTextInput.value
    }
    else
    {
        sponsorText = "";
    }
    if (extraTextInput.value)
    {
        extraText = extraTextInput.value
    }
    else
    {
        extraText = "";
    }

    // process the text
    if (sponsorText=="")
    {
        // sort out if there is no information there from the form
        if ((document.getElementById('sponsorBy').checked)==true)
        {
            sponsorText = OZstrings['Sponsored by you'].toUpperCase();
            extraText = "";
            hasText = false;
        }
        else
        {
            sponsorText = OZstrings['Sponsored for a person of your choice'].toUpperCase();
            extraText = "";
            hasText = false;
        }
    }
    else
    {
        // sort out if there is information there from the form
        if (extraText && extraText!="")
        {
            extraText = ", "+ extraText.toUpperCase();
        }
        if ((document.getElementById('sponsorBy').checked)==true)
        {
            sponsorText = (OZstrings['Sponsored by'] + " " + sponsorText).toUpperCase();
        }
        else
        {
            sponsorText = (OZstrings['Sponsored for'] + " " + sponsorText).toUpperCase();
        }
        hasText = true;
    }

    // set colours based on whether text has been entered or not
    var sponsorTextCol
    if (hasText == true)
    {
        leafCol.sponsorTextCol = 'rgb(255,255,255)';
    }
    else
    {
        leafCol.sponsorTextCol = green1;
    }
    
    // draw the leaf base again (to wipe out any previous renderings)
    fullLeafBase(leafContext,widthRes/2.28,heightRes/2,widthRes/2.3,5.6,2,leafCol)
    // draw the leaf details
    
    if (image_objects[selected_img])
    {
        var cfout = crop_frac(image_objects[selected_img],{{=percent_crop_expansion}});
        fullLeaf(
            leafContext, widthRes/2.28, heightRes/2, widthRes/2.3, 5.6, 2, hasText, null,
            sponsorText, extraText, {{=XML(js_common_name or '')}}, {{=XML(js_species_name)}},
            leaftext[0], leaftext[1], null, leafImageFile, null, leafCol,
            true, cfout[0], cfout[1], cfout[2])
    }
    else
    {
        fullLeaf(
            leafContext, widthRes/2.28, heightRes/2, widthRes/2.3, 5.6, 2, hasText, null,
            sponsorText, extraText, {{=XML(js_common_name or '')}}, {{=XML(js_species_name)}},
            leaftext[0], leaftext[1], null, leafImageFile, null, leafCol)
    }
}

function callbackAPIcomplete(data, flagsIn)
{
    /* flagsIn possibilities are:
        0 if OK
        1 if timeout (API down)
        2 bad response
        3 bad data from response
      Even if we get a bad response, we should try to draw a leaf, as image_objects might be filled
      using the data from our own database.
      
      We assume that the order returned by the EoL API is with exemplar first then
      in order of highest rating.
      
    */
    imageInfoReady = true;
    leafImageFile = null;
    imageReady = null;
    leaftext = [null,null];
    workingEOL = true;
    /* process data and redraw */

    if (data) {
        // Filter out if it is a duplicate of the existing image_objects[0]
        APIimgs = data.imageObjects.filter(
            function(o) {
                //don't filter if the default is not an EoL image
                if ((EoL_srcs.indexOf(image_objects[0].src) > -1) &&
                    (image_objects[0].src_id == o.dataObjectVersionID.toString())) {
                    return false;
                } else {
                    return true;
                }
            });
        for (var i = 0; (i<APIimgs.length) && image_objects.length <= max_n_thumbnails; i++) {
            var APIimg = APIimgs[i];
            if (APIimg.dataObjectVersionID) {
                var is_default = (image_objects.length == 0)
                image_objects.push({
                   /* If no default set, the default eol image is marked as a "plain" eol img, 
                      not via OZ, as this will be the selected image anyway */
                    "src" = is_default?{{=src_flags['eol']}}:{{=src_flags['onezoom_via_eol']}},
                    "src_id": APIimg.dataObjectVersionID.toString(),
                    "url":APIimg.url, /* this is inserted by setDataFromEoLpageID */
                    "default":is_default?1:0,
                    "dataRating":APIimg.dataRating
                });
            }
        }
        
        if (image_objects.length == 0) {
            // there will not be an image
            leafImageFile = null;
            if ((flagsIn == 1)||(flagsIn == 2))
            {
                workingEOL = false;
                {{from gluon.serializers import json}}
                leaftext = OZstrings['EOLimage_problem'].split("\n");
                drawPreview();
            }
        } else {
            leafImageFile = new Image();
            leafImageFile.onload = function()
            {
                 drawPreview();
                 $('#licenceText a').attr('href','{{=URL("tree","pic_info", args=["...PIC_SRC...","...PIC_SRC_ID..."])}}/'.replace("...PIC_SRC...", image_objects[selected_img].src).replace("...PIC_SRC_ID...", image_objects[selected_img].src_id))
                $('#licenceText').show();
            }
            leafImageFile.src = (image_objects[selected_img].url);
        
            if (image_objects.length == 1) {
                //Only 1 image - can't choose, so store the image ID so that it can be passed on in the form
                $('#leaf').after('<input type="hidden" name="user_preferred_image_src" value="' +
                                 image_objects[selected_img].src + 
                                 '" />' +
                                 '<input type="hidden" name="user_preferred_image_src_id" value="' +
                                 image_objects[selected_img].src_id + 
                                 '" />');
            } else {
                //There are at least 2 images, so change the page layout to add image selection
                $('#leaf').after($('<div>', {id:"select_pictures"}).append('<fieldset><legend>{{=T("Choose your preferred picture")}}</legend><ul></ul></fieldset>'));
                for(i=0; i<Math.min(img_keys.length, 9); i++)
                {
                    var key = img_keys[i].key
                    //Add a list of potential images to pick
                    var img_size_px = 100;
                    var bg_css = "background-image: url('"+ image_objects[key].url +"')";
                    if (image_objects[key].height && image_objects[key].width && image_objects[key].crop_width) {
                        crop_vals = crop_frac(image_objects[key], {{=percent_crop_expansion}})
                        bg_css = bg_css + ';background-size:' + crop_vals[0]* img_size_px + 'px;'
                        bg_css = bg_css + ';background-position:' + (crop_vals[1]* img_size_px)+'px ' + (crop_vals[2]*img_size_px)+'px'
                    } else {
                        bg_css = bg_css + ';background-size: cover'
                        bg_css = bg_css + ';background-position:left top'
                    }
                    var html = $('<li>').append([
                        '{{=A(SPAN("⧉",_class="linkout-button"),_target="_blank",_href=URL("tree","pic_info", args=[src_flags["eol"],"...PICFN..."]))}}'.replace("...PICFN...", image_objects[key].dataObjectVersionID),
                        $('<input/>',{type:    'radio', 
                                      value:   image_objects[key].dataObjectVersionID,
                                      name:    'user_preferred_image',
                                      id:      'r'+key,
                                      checked: ((key==selected_img)?'checked':null),
                                      onclick: 'selected_img = "' + key + '";' +
                                        'document.getElementById("user_nondefault_image_input").value = ' + ((!(image_objects[key].default))?"1":"0") + ';' +
                                        'leafImageFile.src = "' + image_objects[key].url + '";' + 
                                        'drawPreview();'}), 
                        $('<label>', {class:   'radio',
                                      for:     'r'+key,
                                      style:'width:'+img_size_px+'px;height:'+img_size_px+'px;'+bg_css})
                        ]);
                     $('#select_pictures ul').append(html);
                }
            }
        }
    }
    // redraw
    drawPreview();
}


if (document.getElementById("leafCanvas")) {
        drawPreview();
}

{{if (EOL_ID) and default_image.get('src', src_flags['onezoom_via_eol']) >= src_flags['onezoom_via_eol']:}}
// We always require n images, even if we have one already, in case one of the n returned
// is identical to the OneZoom default
setDataFromEoLpageID({{=EOL_ID}}, callbackAPIcomplete, "{{=EoL_API_key}}", max_n_thumbnails, false);
{{else:}}
imageInfoReady = true;
{{pass}}

</script>
