{{response.title='OneZoom: Sponsor a leaf on the tree'}}
{{response.files.append(URL('static', 'OZSponsor/sponsor_replace_page.css'))}}
{{extend ('embed.html' if request.vars.get('embed') else 'layout.html')}}


{{if (data.PP_transaction_code):}}
    {{if (data.name):}}
<h3>{{=XML(T('The leaf for the species <i>%s</i> on the OneZoom Tree of Life has been sponsored') % (data.name,))}}</h3>
    {{else:}}
<h3>{{=T('This leaf on the OneZoom Tree of Life has been sponsored')}}</h3>
    {{pass}}
<p>{{=T('It normally takes 2-3 days for us to verify sponsorship text and update the tree. If you are the sponsor of this leaf please be patient, you should soon receive an e-mail to confirm that your leaf has gone live.')}}</p>
<p>{{=XML(T('Please <a href="mailto:mail@onezoom.org?subject=Question about sponsorship of %s">ask us</a> if you have any questions, or if you wish to change your sponsorship text.') % (data.name,))}}</p>

{{else:}}
<h3>{{=T('Thank you for filling out the form to sponsor a leaf on OneZoom')}}</h3>
<ul>
    <li>{{=T('You should have been automatically redirected to complete your sponsorship: if you have done so, you can simply close this popup now to return and view the leaf you have sponsored. It should be marked as “awaiting confirmation” (you may need to reload the page to check this). We aim to approve your text within a few days, and will send you an email when it is live.')}}</li>
    <li>{{=XML(T('If for some reason you have not been able to complete your sponsorship, please <a href="mailto:mail@onezoom.org?subject=Leaf sponsorship">e-mail us</a> or try again after 6 minutes.'))}}</li>
    <li>{{=XML(T('If you want to change the details that will appear on the leaf of the tree you can do this at any time by <a href="mailto:mail@onezoom.org?subject=Please alter the details for my donation">e-mailing us</a> to request it.'))}}</li>
</ul>
        
<p>{{=XML(T('Thanks again for your support, and feel free to <a href="mailto:mail@onezoom.org?subject=Question about sponsorship of %s">ask us</a> if you have any questions.') % (data.name,))}}</p>

{{pass}}

<a href="index.html"> Continue to OneZoom main page</a>

{{if request.vars.get('embed'):}}
{{else:}}
<p class="last"><a href="http://www.onezoom.org/life/@={{=data.OTT_ID}}">Back to the tree</a></p>
{{pass}}
