{{
    response.title=base_title + ': ' + T('sponsor one of these species')
    response.files.append(URL('static','css/content_pages.css'))
    response.files.append(URL('static', 'OZSponsor/sponsor_node.css'))
}}
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
{{if 'popup' not in request.vars:}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Node sponsorship</h1>
</div>
{{pass}}
{{end block}}

{{include 'default/sponsor_node_price.load'}}