{{response.title='OneZoom: Sponsor a leaf on the tree'}}
{{extend 'layout.html'}}
    <h1>{{=T('Thank you for your donation to OneZoom')}}</h1>
    <p>{{=T('This will help us in our aim to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it.')}}</p>

    <p>{{=T('We will be in touch soon by e-mail, we expect that in normal circumstances it will only take a few days to add your sponsorship details to the public tree.')}}</p>
    <a href="index.html">{{=T('Continue to OneZoom main page')}}</a>
