{{
    response.title=base_title + ': ' + T('choose a species to sponsor')
    response.files.append(URL('static','css/content_pages.css'))
    response.files.append(URL('static', 'OZSponsor/sponsor_node.css'))
}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
{{if 'popup' not in request.vars:}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Sponsorship suggestions</h1>
</div>
{{pass}}
{{end block}}

<!-- (ottid, name, eolid)*6*price + status in {error string} -->

<div>
  <h2>Some great leaves to sponsor on the OneZoom Tree of Life Explorer</h2>
  <p>These leaves are currently available to sponsor. Select a species to see a preview of what it would look like to sponsor it. The <a href="sponsor.html">sponsorship information page</a> has more ways to find a leaf you would like to sponsor.</p>   
</div>

{{if error is not None:}}
    <h4>{{=error}}</h4>
{{else:}}
    {{for price, ott_list in otts.items():}}
        {{if len(ott_list) > 0:}}
        <div>
            <h3>Leaves requiring a minimum donation of £{{=price}}</h3>
            <ul class = "spList">
            {{for ott in ott_list:}}
                <li>
                    <a class="sponsor" style="background-image:url('{{=image_urls[ott] if ott in image_urls else URL("static","images/noImage_transparent.png")}}')" href="{{=URL('sponsor_leaf', extension=False,  vars=dict(vars,ott=ott))}}"> <p>{{=html_names[ott]}}</p> </a>
                    {{if ott in reserved:}}
                    <p><a href="life/@={{=ott}}?init=zoom">Already sponsored {{=" ".join([t for t in reserved[ott] if t])}}</a></p>
                    {{pass}}
                </li>
            {{pass}}
            </ul>
        </div>
        {{pass}}
    {{pass}}
{{pass}}

  </div>
</div>