{{response.title='OneZoom: Search for a species to sponsor'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend ('embed.html' if 'embed' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>Manage your sponsored leaves</h1>
    <em>Coming soon... share a page listing all your sponsored leaves and have one easy place to go for renewing all your sponsorships</em>
</div>
{{end block}}

<div class="uk-padding">{{=form}}</div>

<div class="uk-padding uk-text-small uk-column-1-2@s uk-column-1-3@m no-break-paras"  >        <h3> Thank you for sponsoring a leaf on our tree of life</h3>
        <p> OneZoom is a registered non-profit in the UK, all our products are available for free and with no advertising. Your donation will help us in our aim to provide easy access to scientific knowledge about biodiversity and evolution, and raise awareness about the variety of life on earth together with the need to conserve it. </p>
        
        <p>To thank you for your donation, we put your name (or the name of a nominated friend or relative) on a leaf of your choice on our {{=A('tree of life explorer', _href=URL('default','life'))}}.  Sponsorship is for four years and that after this point you would need to make another donation to renew your sponsorship if you want it to remain on the tree. </p>
        
            <img class="example-leaf" src="{{=URL('static','images/Screenshots/sponsor_for_1.png')}}" alt="" >
        
        <p>For many people it&#39s been more than four years now, but don&#39t worry.  The CVOID crisis hit just at the moment when the first renewals would have been needed.  We decided that this wasn&#39t a good time to ask our supporters for further donations and so we&#39ve delayed opening the renewals portal - everyone&#39s sponsored leaves have been extended for free in the meantime. </p>
        
        <p>We will soon be opening the renewals portal so please watch this space and check your e-mails too for instructions on how to renew if you wish. Meanwhile, we&#39ve written a bit of information in the form of questions and answers about what to expect so that you can be prepared. We do hope that you will consider renewing your sponsorships to help us continue our work.</p>
        
        <h3> Q: What do I have to do now if I want to renew?</h3>
        <p> A: Nothing, just wait and check back later, also check your e-mails.</p>
        
        <img class="example-leaf" src="{{=URL('static','images/Screenshots/sponsor_by_1.png')}}" alt="" >

        
        <h3> Q: Why aren't the sponsorships forever?</h3>
        <p> A: We need to be able to sustain OneZoom as a community resource in the long term.  If we made sponsorships last forever it would limit our ability to get ongoing funding for our activities.  You do get the first refusal to renew sponsorship on all your leaves.</p>
        
        <h3> Q: What will it cost to renew? </h3>
        <p> A: The cost of sponsoring any leaf depends on how popular that leaf is according to our <a href="{{=URL('popularity','index')}}">popularity index</a>.  The more charismatic and well known a species is, the large the donation required is likely to be.  Our index of popularity may have changed since your first sponsored and your species may therefore have increased or decreased in popularity. If that happened then the price of sponsorship may increase or decrease as well.  We do offer a discount to anyone renewing so you don't have to donate as much as a person sponsoring that leaf for the first time.</p>

        <h3> Q: What happens if I don&#39t renew?</h3>
        <p> A: Your sponsorship text would be removed from the tree and another person could choose to sponsor your leaf if they wanted.  Only one name is allowed on each leaf so once it&#39s yours, you have it until you choose not to renew.  If you miss the renewal of your leaf and it hasn't been sponsored by anyone else you can always recover it and return your sponsorship text to the tree, but it would be treated as a new sponsorship so you would no longer get the renewal discount. </p>
        
        <img class="example-leaf" src="{{=URL('static','images/Screenshots/Mammals_plus_IUCN.jpg')}}" alt="" >
        
        <h3> Q: How will the page listing all my sponsored leaves work?</h3>
        <p> A: we will assign you a username based on your name (if your name is already public on the tree) or based on the name of a species you've sponsored (if your name is not already public). A page will be created with a URL based on your username and you'll be able to share this page around to show all your sponsored leaves. In case you don't want this page you will have the option to disable it.</p>

</div>







