{{response.title='OneZoom team'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small"><h1>Meet the OneZoom team</h1>
 <p> Special thanks also to our <a href="/default/past_contributors.html"> past contributors</a></p>

</div>
{{end block}}


<!-- trustees -->
<div>
    <div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
        <div class = "uk-padding">
            <header>
                    <h4>Dr. James Rosindell</h4>
                    <p>Chief Executive Officer, Trustee</p>
            <header>
            <img width = "95%" style = "margin:10px"src= "{{=URL('static','images/Team/James.jpg')}}" alt="">
            <p><a href="//www.rosindell.org" target="_blank">James Rosindell</a> is a reader in biodiversity theory at Imperial College London. His area of research interest, biodiversity theory, is focused on the area of intersection between maths, biology and computing. He has published research around models of ecology, evolution, conservation and data-visualisation. James is the original inventor of OneZoom and wrote the early versions of the software. He co-wrote versions of OneZoom from 2 upwards and is especially responsible for client side JavaScript code as well as day to day running of the charity.</p>
        </div>
        
        <div class = "uk-padding">
            <header>
                <h4>Dr. Yan Wong</h4>
                <p>Chief Technology Officer, Trustee</p>
            </header>
            <img width = "95%" style = "margin:10px"src= "{{=URL('static','images/Team/Yan.jpg')}}" alt="Portrait of Yan Wong">
            <p><a href="//www.bdi.ox.ac.uk/Team/yan-wong" target="_blank">Yan Wong</a> is an evolutionary biologist with interests in maths, genetics and computing. He currently works on fundamental problems in evolution and genetics at the Big Data Institute at the University of Oxford. He previously worked in professional science outreach, co-authoring the Ancestor's Tale (2004, 2016) with Richard Dawkins, and presenting television and radio science shows including the BBC1 prime-time series "Bang goes the theory", BBC learning zome films and Radio 4's' 'More or less'. Yan co-wrote versions of OneZoom from 2 upwards and was responsible for obtaining and rationalising the underlying data sources used to build and decorate the OneZoom tree, as well as implementing much of the server-side and API functionality.</p>
        </div>
        <div class = "uk-padding">
            <header>
                <h4>Prof. Luke Harmon</h4>
                    <p>Trustee</p>
            </header>
            <img width = "95%" style = "margin:10px"src= "{{=URL('static','images/Team/Luke.jpg')}}" alt="Portrait of Luke Harmon">
            <p><a href="//lukejharmon.github.io" target="_blank">Luke Harmon</a> is a Professor and the University of Idaho, USA. His research focuses on Ecology and Evolutionary Biology and particularly in reptiles and amphibians. Luke has published over 100 scientific articles with particular focus on analytical techniques for understanding the speed of evolution and the relationships between the physical traits of species and their evolutionary history. Luke co-authored with James the original publication of the OneZoom article in PLoS Biology and provided advice from the start of the project.</p>
        </div>
    </div>
</div>

<!-- others -->
<div>
   <div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>

        <div class = "uk-padding uk-padding-remove-top">
            <header>
                <h4>Jamie Lentin</h4>
                <p>Software Developer</p>
            </header>
            <img width = "95%" style = "margin:10px"src= "{{=URL('static','images/Team/Jamie.jpg')}}" alt="Portrait of Jamie Lentin">
            <p>Jamie Lentin is a Freelance Software Developer at Shuttle Thread Limited, developing data-rich web applications and services using open-source tools, predominantly for research projects. He has contributed to many open source projects, from Plone UI widgets down to the Linux kernel. Before Shuttle Thread he was a Principal Software Engineer at the BBC, and has a B.Sc from Imperial College London and M.Sc from University of Manchester. Jamie has been done software development work for OneZoom to support release of versions 3.3 onwards, including the tours functionality in version 4. He also implemented features required to host the tree explorer components of the One Tree, One Planet project.</p>
        </div>
        
        <div class = "uk-padding uk-padding-remove-top">
            <header>
                <h4>David Ebbo</h4>
                <p>Volunteer Software Developer</p>
            </header>
            <img width = "95%" style = "margin:10px"src= "{{=URL('static','images/Team/David.jpg')}}" alt="Portrait of David Ebbo">
            <p>David Ebbo is a software engineer who spent most of his career in the Seattle area, working at Microsoft and Google. He has contributed to a range of products over the years, including ASP.NET, NuGet, Azure App Service, Azure Functions, Microsoft Office and Google Cloud infrastructure. He now lives in Paris, near where he grew up. In his spare time, he enjoys trail running and pickleball. Since 2022 he has been a tireless contributor to the OneZoom project, for example by improving the backend tree building logic. He is currently working on incorporating extinct species into OneZoom.</p>
        </div>
    </div>
    
</div>
