{{response.title='OneZoom trees index'}}
{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="col-md-12">
        <header><h1>A collection of other trees built with OneZoom</h1>
<p>Quite a number of other trees have been built with OneZoom over the years. Here are some examples of our favourites.</p>
</header>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
      
      <a target = "_blank" class="thumbnail" href = "{{=URL('ADEPD_birds_nunes_etal_2015.html')}}">
          <img src= "{{=URL('static','images/treeThumbs/ADEPD.png')}}" alt="">
              </a>
      <p>Conservation prioitisation coloured tree based on <a href = "http://dx.doi.org/10.1098/rstb.2014.0004">"The price of conserving avian phylogenetic diversity: a global prioritization approach"</a> Nunes LA, Turvey ST, Rosindell J. (2015) Phil. Trans. R. Soc. B 370: 20140004.
</p>
      <a href = "{{=URL('tetrapods_ballweg_arctic.html')}}" target = "_blank" class="thumbnail">
          <img src= "{{=URL('static','images/treeThumbs/Arctic.png')}}" alt="">
              </a>
      <p>Animals of the arctic. A student project with data prepared by Claire Ballweg</p>
      
      <a target = "_blank" class="thumbnail" href="vascularplants_tank2013nature.htm">
          <img src= "{{=URL('static','images/treeThumbs/Zanne.png')}}" alt="">
              </a>
      <p>Seed plant tree to accompany Zanne et al. manuscript - Zanne et. al. Nature. doi:10.1038/nature12872. (2013)</p>
      
    </div>
    <div class="col-md-3">
        <a target = "_blank" class="thumbnail" href="fish.htm">
            <img src= "{{=URL('static','images/treeThumbs/Deepfin.png')}}" alt="">
                </a>
        <p>A tree of 1416 fish species with latin names, in collaboration with <a href="http://www.deepfin.org" target="_blank">Deepfin.org</a> &mdash; thanks to Guillermo Orti for his data.</p>
        
        <a target = "_blank" href="EDGE_birds.htm?profile=EDGE" class="thumbnail">
            <img src= "{{=URL('static','images/treeThumbs/EDGE.png')}}" alt="">
                </a>
        <p> The rankings prioritise species that are both <a href="http://www.edgeofexistence.org" target="_blank">Evolutionarily Distinct and Globally Endangered (EDGE)</a>.  This visualisation was brought to you in collaboration with the ZSL EDGE project and the authors of Jetz et al., Global Distribution and Conservation of Evolutionary Distinctness in Birds, Current Biology (2014).</p>
        <a href="Euphorbia_2014.html" target = "_blank" class="thumbnail">
            <img src= "{{=URL('static','images/treeThumbs/Euphorbia.png')}}" alt="">
                </a>
        <p>Euphorbia tree, provided by Jess Peirson and Euphorbia PBI.</p>
        
    </div>
    <div class="col-md-3">
        
        <a href = "porifera" target = "_blank" class="thumbnail" href="porifera.htm">
            <img src= "{{=URL('static','images/treeThumbs/porifera.png')}}" alt="">
                </a>
        <p>Explore the tree of sponges (over 7,400 species). This tree has latin names only because there are few common names for sponges. Thanks to Bob Thacker for preparing this tree.</p>
        
        <a target = "_blank" class="thumbnail" href="Squamates_Pyron.htm">
            <img src= "{{=URL('static','images/treeThumbs/Pyron.png')}}" alt="">
                </a>
        <p>A phylogeny and revised classification of Squamata, including 4161 species of lizards and snakes
        (<a href="http://www.biomedcentral.com/1471-2148/13/93" target="_blank">R Alexander Pyron, Frank T Burbrink and John J Wiens, 2013, BMC Evolutinary Biology</a>)</p>
        <a href = "tetrapods_SFU.html" target = "_blank" class="thumbnail">
            <img src= "{{=URL('static','images/treeThumbs/SFU.png')}}" alt="">
                </a>
        <p>Simon Fraser University display online version - highlighting SFU researchers on the tetrapod tree. Simon Fraser University also have a permanent OneZoom display &mdash;we can produce the same for any other university or organisation.</p>
        
    </div>
    <div class="col-md-3">
        <a href = "tetrapods_SFU.html" target = "_blank" class="thumbnail" href="plants_Soltis2.htm">
            <img src= "{{=URL('static','images/treeThumbs/Soltis.png')}}" alt="">
                </a>
        <p>A latin-name-only tree of 640 example plant species, from data kindly provided by Prof. Doug Soltis.</p>
        <a href = "tetrapods.html" target = "_blank" class="thumbnail">
            <img src= "{{=URL('static','images/treeThumbs/tetrapods.png')}}" alt="">
                </a>
        <p>The flagship tree of most tetrapods from the previous version of OneZoom</p>
 
 <a href = "{{=URL('static','OZLegacy/OZ_VPX361_bacteria.htm')}}" target = "_blank" class="thumbnail" href="OZ_VPX361_bacteria.htm">
     <img src= "{{=URL('static','images/treeThumbs/bacteria.png')}}" alt="">
         </a>
 <p>Over 400,000 species of bacteria. Note that this may take a VERY long while to load and should not be attempted for those with slow internet connections (11 Mb download). Data from Pruesse E et al. (2007) <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc2175337/" target="_blank">SILVA: a comprehensive online resource for quality checked and aligned ribosomal RNA sequence data compatible with ARB</a>. Nucleic Acids Res 35: 7188–7196.</p>
 
    </div>
</div>





