html, body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin: 7vh auto;
  max-width: 70vw;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.8em;
  color: black;
}

a {
  display: block;
  margin: 17vh auto;
  max-width: 40vw;
}

a span {
  display: block;
  margin-top: 2vh;
  font-size: 10px;
}

a img {
  width: 20vw;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}


a:active, a:hover {
  color: black;
  text-decoration: underline;
}

.bkgd {
  position: fixed;
  width: 150vw;
  height: 100vh;
  opacity: 0.2;
}

.bkgd.top {
  top: -100vh;
  left: 0;
  width: 200vw;
  height: 200vh;
}

.bkgd.bottom {
  top: -12vh;
  right: 0;
  width: 200vw;
  height: 180vh;
}

.main {
  position: absolute;
  width: 100%;
}
