img
{
	display:none;
	float: left
}

#myCanvas
{
	padding:0;
	margin:0;
}

body
{
	align:center;
	height:100%;
	width:100%;
	background-color: rgb(0,0,0);
	overflow:hidden;
	margin:0;
}

::-webkit-scrollbar { 
    display: none; 
}

html
{
    align:center;
	height:100%;
	width:100%;
}



#wholecontainer
{
    align:left;
	color: rgb(255,0,0);
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}

#myCanvas
{
	padding-left: 0px;
    padding-right: 0;
    margin-left: 0px;
    margin-right: auto;
}