@use "../../OZ_variables";

//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: OZ_variables.$breadcrumb-padding-vertical OZ_variables.$breadcrumb-padding-horizontal;
  margin-bottom: OZ_variables.$line-height-computed;
  list-style: none;
  background-color: OZ_variables.$breadcrumb-bg;
  border-radius: OZ_variables.$border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: "#{OZ_variables.$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: OZ_variables.$breadcrumb-color;
    }
  }

  > .active {
    color: OZ_variables.$breadcrumb-active-color;
  }
}
