@use "../../OZ_variables";
@use "mixins/buttons";
@use "mixins/opacity";
@use "mixins/tab-focus";
@use "mixins/vendor-prefixes";

//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: OZ_variables.$btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include buttons.button-size(OZ_variables.$padding-base-vertical, OZ_variables.$padding-base-horizontal, OZ_variables.$font-size-base, OZ_variables.$line-height-base, OZ_variables.$btn-border-radius-base);
  @include vendor-prefixes.user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus.tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: OZ_variables.$btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include vendor-prefixes.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: OZ_variables.$cursor-disabled;
    @include opacity.opacity(.65);
    @include vendor-prefixes.box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include buttons.button-variant(OZ_variables.$btn-default-color, OZ_variables.$btn-default-bg, OZ_variables.$btn-default-border);
}
.btn-primary {
  @include buttons.button-variant(OZ_variables.$btn-primary-color, OZ_variables.$btn-primary-bg, OZ_variables.$btn-primary-border);
}
// Success appears as green
.btn-success {
  @include buttons.button-variant(OZ_variables.$btn-success-color, OZ_variables.$btn-success-bg, OZ_variables.$btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include buttons.button-variant(OZ_variables.$btn-info-color, OZ_variables.$btn-info-bg, OZ_variables.$btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include buttons.button-variant(OZ_variables.$btn-warning-color, OZ_variables.$btn-warning-bg, OZ_variables.$btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include buttons.button-variant(OZ_variables.$btn-danger-color, OZ_variables.$btn-danger-bg, OZ_variables.$btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: OZ_variables.$link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include vendor-prefixes.box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: OZ_variables.$link-hover-color;
    text-decoration: OZ_variables.$link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: OZ_variables.$btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include buttons.button-size(OZ_variables.$padding-large-vertical, OZ_variables.$padding-large-horizontal, OZ_variables.$font-size-large, OZ_variables.$line-height-large, OZ_variables.$btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include buttons.button-size(OZ_variables.$padding-small-vertical, OZ_variables.$padding-small-horizontal, OZ_variables.$font-size-small, OZ_variables.$line-height-small, OZ_variables.$btn-border-radius-small);
}
.btn-xs {
  @include buttons.button-size(OZ_variables.$padding-xs-vertical, OZ_variables.$padding-xs-horizontal, OZ_variables.$font-size-small, OZ_variables.$line-height-small, OZ_variables.$btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
