@use "../../OZ_variables";
@use "mixins/clearfix";

//
// Pager pagination
// --------------------------------------------------


.pager {
  padding-left: 0;
  margin: OZ_variables.$line-height-computed 0;
  list-style: none;
  text-align: center;
  @include clearfix.clearfix;
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: OZ_variables.$pager-bg;
      border: 1px solid OZ_variables.$pager-border;
      border-radius: OZ_variables.$pager-border-radius;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: OZ_variables.$pager-hover-bg;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: OZ_variables.$pager-disabled-color;
      background-color: OZ_variables.$pager-bg;
      cursor: OZ_variables.$cursor-disabled;
    }
  }
}
