@use "../../OZ_variables";
@use "mixins/border-radius";
@use "mixins/pagination";

//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: OZ_variables.$line-height-computed 0;
  border-radius: OZ_variables.$border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: OZ_variables.$padding-base-vertical OZ_variables.$padding-base-horizontal;
      line-height: OZ_variables.$line-height-base;
      text-decoration: none;
      color: OZ_variables.$pagination-color;
      background-color: OZ_variables.$pagination-bg;
      border: 1px solid OZ_variables.$pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-radius.border-left-radius(OZ_variables.$border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-radius.border-right-radius(OZ_variables.$border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: OZ_variables.$pagination-hover-color;
      background-color: OZ_variables.$pagination-hover-bg;
      border-color: OZ_variables.$pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: OZ_variables.$pagination-active-color;
      background-color: OZ_variables.$pagination-active-bg;
      border-color: OZ_variables.$pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: OZ_variables.$pagination-disabled-color;
      background-color: OZ_variables.$pagination-disabled-bg;
      border-color: OZ_variables.$pagination-disabled-border;
      cursor: OZ_variables.$cursor-disabled;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination.pagination-size(OZ_variables.$padding-large-vertical, OZ_variables.$padding-large-horizontal, OZ_variables.$font-size-large, OZ_variables.$line-height-large, OZ_variables.$border-radius-large);
}

// Small
.pagination-sm {
  @include pagination.pagination-size(OZ_variables.$padding-small-vertical, OZ_variables.$padding-small-horizontal, OZ_variables.$font-size-small, OZ_variables.$line-height-small, OZ_variables.$border-radius-small);
}
