@use "../../OZ_variables";
@use "mixins/background-variant";
@use "mixins/clearfix";
@use "mixins/text-emphasis";
@use "mixins/text-overflow";
@use "sass:math";

//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: OZ_variables.$headings-font-family;
  font-weight: OZ_variables.$headings-font-weight;
  line-height: OZ_variables.$headings-line-height;
  color: OZ_variables.$headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: OZ_variables.$headings-small-color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: OZ_variables.$line-height-computed;
  margin-bottom: calc(OZ_variables.$line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: calc(OZ_variables.$line-height-computed / 2);
  margin-bottom: calc(OZ_variables.$line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: OZ_variables.$font-size-h1; }
h2, .h2 { font-size: OZ_variables.$font-size-h2; }
h3, .h3 { font-size: OZ_variables.$font-size-h3; }
h4, .h4 { font-size: OZ_variables.$font-size-h4; }
h5, .h5 { font-size: OZ_variables.$font-size-h5; }
h6, .h6 { font-size: OZ_variables.$font-size-h6; }


// Body text
// -------------------------

p {
  margin: 0 0 calc(OZ_variables.$line-height-computed / 2);
}

.lead {
  margin-bottom: OZ_variables.$line-height-computed;
  font-size: math.floor((OZ_variables.$font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: OZ_variables.$screen-sm-min) {
    font-size: (OZ_variables.$font-size-base * 1.5);
  }
}


// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: math.floor(calc(100% * OZ_variables.$font-size-small / OZ_variables.$font-size-base));
}

mark,
.mark {
  background-color: OZ_variables.$state-warning-bg;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: OZ_variables.$text-muted;
}

@include text-emphasis.text-emphasis-variant('.text-primary', OZ_variables.$brand-primary);

@include text-emphasis.text-emphasis-variant('.text-success', OZ_variables.$state-success-text);

@include text-emphasis.text-emphasis-variant('.text-info', OZ_variables.$state-info-text);

@include text-emphasis.text-emphasis-variant('.text-warning', OZ_variables.$state-warning-text);

@include text-emphasis.text-emphasis-variant('.text-danger', OZ_variables.$state-danger-text);

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}
@include background-variant.bg-variant('.bg-primary', OZ_variables.$brand-primary);

@include background-variant.bg-variant('.bg-success', OZ_variables.$state-success-bg);

@include background-variant.bg-variant('.bg-info', OZ_variables.$state-info-bg);

@include background-variant.bg-variant('.bg-warning', OZ_variables.$state-warning-bg);

@include background-variant.bg-variant('.bg-danger', OZ_variables.$state-danger-bg);


// Page header
// -------------------------

.page-header {
  padding-bottom: calc((OZ_variables.$line-height-computed / 2) - 1px);
  margin: (OZ_variables.$line-height-computed * 2) 0 OZ_variables.$line-height-computed;
  border-bottom: 1px solid OZ_variables.$page-header-border-color;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: calc(OZ_variables.$line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}


// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: OZ_variables.$line-height-computed;
}
dt,
dd {
  line-height: OZ_variables.$line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    @include clearfix.clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: OZ_variables.$dl-horizontal-breakpoint) {
    dt {
      float: left;
      width: (OZ_variables.$dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      @include text-overflow.text-overflow;
    }
    dd {
      margin-left: OZ_variables.$dl-horizontal-offset;
    }
  }
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted OZ_variables.$abbr-border-color;
}
.initialism {
  font-size: 90%;
  @extend .text-uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 0.5em;
  margin: 0 0 OZ_variables.$line-height-computed;
  font-size: OZ_variables.$blockquote-font-size;
  border-left: 5px solid OZ_variables.$blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer {
    display: block;
    //font-size: 80%; // back to default font-size
    line-height: OZ_variables.$line-height-base;
    color: OZ_variables.$blockquote-cite-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid OZ_variables.$blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: OZ_variables.$line-height-computed;
  font-style: normal;
  line-height: OZ_variables.$line-height-base;
}
