{
  "presets": [
    ["@babel/env", {
        "targets": {
          "browsers": [
              "defaults",
              "not ie <= 11",
          ]
        },
    }],
    ["@babel/preset-react", {
        "runtime": "automatic"
    }],
    "@babel/preset-typescript"
  ]
}
