pymysql==1.1.1
# Required by pymysql depending on setup: https://stackoverflow.com/questions/54477829/cryptography-is-required-for-sha256-password-or-caching-sha2-password
cryptography==44.0.1
# uwsgi==2.0.23  # No need for this if running via rocketserver
