<!-- This is an example of how to set different view parameters using tree_config -->
{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'partner':None,
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'all'} }, 
  }
}}

{{extend 'treeviewer/layout.html'}}
<title>OneZoom Tree of Life Explorer, text page for {{=page_info['title_name']}}</title>
<!-- could include bespoke css file here -->
<script type="text/javascript">
/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config= {colours:'AT', layout:{branch:'AT', node:'AT', leaf:'AT', sign:'AT'}, data_structure:'AT'};
var pagetitle_func = function(nm) {return (nm)?"OneZoom: "+ nm:"OneZoom Tree of Life Explorer"};
document.title = pagetitle_func("{{=page_info['title_name']}}");
var popular_locations = [ /* strings are treated as headers (looked up in OZstrings), arrays as links with [ott,name] with name optional */
  "{{=T('Rendezvous points')}}",
  [312031,"2"],
  [770311,"3"],
  [386191,"4"],
  [842867,"5"],
  [386195,"6"],
  [702152,"7"],
  [913935,"8"],
  "{{=T('Tales')}}",
  [820026], //Humped bladderwort
];
</script>
