<!-- This is an example of how to set different view parameters using tree_config -->
{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'default'} }, 
   'popups': {
    'vars':{'embed':1, 'form_reservation_code': form_reservation_code} },
   'locations_json':('[' 
        '"Rendezvous points",' 
        '{"OTT": 312031, "":2},'
        '{"OTT": 770311, "":3},'
        '{"OTT": 386191, "":"4"},'
        '{"OTT": 842867, "":"5"},'
        '{"OTT": 386195, "en":"6"},'
        '{"OTT": 702152, "en":"7"},'  
        '{"OTT": 913935, "en":"8"},' 
        '"Tales",'
        '{"OTT": 820026}'
      ']')

  }
}}

{{extend 'treeviewer/layout.html'}}
<title>OneZoom Tree of Life Explorer, text page for {{=page_info['title_name']}}</title>
<!-- could include bespoke css file here -->
<script type="text/javascript">
/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config= {cols:'AT', 'layout.branch':'AT', 'layout.node':'AT', 'layout.leaf':'AT', 'layout.sign':'AT', midnode:'AT'};
var pagetitle_func = null;
</script>
