<!DOCTYPE html>
<html>
<head>
  <meta NAME="description" CONTENT="OneZoom Tree of Life Explorer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{{=URL('static', 'favicon.ico')}}" type="image/ico" />
  <title>OneZoom embedded viewer</title>
  {{include}}
<!-- had a problem with version mismatch -->
</head>
<body>
<!-- Shouldn't embed a viewer within another: e.g. if accidentally called within an iframe of another viewer instance, otherwise we get recursive nesting of viewers -->
<div id="stop_recursion">{{=T('Please close this popup window to return to the OneZoom tree viewer')}}</div>
</body></html>