<!DOCTYPE html>
<html>
<head>
  <meta NAME="description" CONTENT="OneZoom Tree of Life Explorer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{{=URL('static', 'images/favicon.ico')}}" type="image/ico" />
  <title>OneZoom error</title>
  {{include}}
</head>
<body><h1 class="OneZoom_error">{{=T('Sorry - there has been a OneZoom error when getting the tree')}}</h1>
{{=XML(T('No appropriate tree version available (Error: %s). Please <a href="mailto:mail@onezoom.org">contact us</a> and tell us of the problem') % (page_info.get('version'),))}}</body>
</html>