<!DOCTYPE html>
<html>
<head>
  <meta NAME="description" CONTENT="OneZoom Tree of Life Explorer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{{=URL('static', 'favicon.ico')}}" type="image/ico" />
{{
partner = None
if setup_params.get('partner'):
    partner_data = db(db.partners.partner_identifier == setup_params['partner']).select().first()
    if partner_data and partner_data.allow_own_site:
        partner = partner_data.partner_identifier
        setup_params['UI_layer']['vars']['partner_logo'] = partner_data.logo
        setup_params['UI_layer']['vars']['partner_url'] = partner_data.url
        setup_params['popups']['vars']['partner'] = partner_data.partner_identifier
        setup_params['popups']['vars']['user_more_info'] = partner_data.default_more_info
        if partner_data.popular_locations_json:
            setup_params['locations_json'] = partner_data.popular_locations_json
        pass
    pass
pass
request.vars.links = setup_params['UI_layer']['vars'].get('links')
}}
  <title>OneZoom Tree of Life Explorer, text page for {{=page_info.get('title_name')}}</title>
  {{if response.canonical:}}<link rel="canonical" href="{{=response.canonical}}" />{{pass}}
{{include 'web2py_ajax.html' #only really needed for web2py ajax loading in sponsor_node tab (must be above the UIkit lines)}}
  <link rel="stylesheet" href="{{=URL('static','uikit-3/css/uikit.min.css')}}" />
  <script src="{{=URL('static','uikit-3/js/uikit.min.js')}}"></script>
  <script src="{{=URL('static','uikit-3/js/uikit-icons.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/tree.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/OZ_shared.css')}}" />
  {{if is_testing:}}<script>window.is_testing = true;</script>{{pass}}
  <!-- do not change the next line in any way. The exact format is used for partial installs -->
  <div id="OZ_js_modules">
  {{include '../static/OZTreeModule/dist/OZ_main.html'}}
  </div>

  <!-- treeviewer constants -->
  {{include 'treeviewer/dynamic_scripts.html' }}
  {{include 'treeviewer/server_urls.html' }}
  <script>var OZstrings={{include 'treeviewer/js_strings.json'}}</script>
  <script type="text/javascript">
    //include a few default funcs & params early on, so they can be used / overridden in the file which includes this layout
    var globals = {} /* A place to store global variables that are set in the file which includes this one */
    var extra_title = "{{='/' + partner if partner else ''}}"

    globals.UI_callbacks = {};

    globals.UI_callbacks.badOTT = function(ott) { 
      /* used within setup_page.js when the page tries to load a bad location */
      $("#error-modal a.OpenTreeSearchOnTree").attr("href","https://tree.opentreeoflife.org/opentree/argus/ottol@" +  ott.toString());
      $("#error-modal a.OpenTreeSearchInTaxonomy").attr("href","https://tree.opentreeoflife.org/taxonomy/browse?id=" + ott.toString());
      onezoom.controller.button_reset();
      UIkit.modal('#error-modal').show();
    };
    
    globals.UI_callbacks.closeAll = function() {
      {{if is_testing:}}console.log("OneZoom internal JS has been asked to hide all open modals & dropdowns");{{pass}}
      $('.uk-modal-container').each(function() {
          UIkit.modal(this).hide(false); // Hide immediately, by default we wait in case mouse comes back
      });
      $('[uk-dropdown]').each(function() {
          UIkit.dropdown(this).hide(false); // Hide immediately, by default we wait in case mouse comes back
      });
    };
    
    /** Display / hide the loading spinner */
    globals.UI_callbacks.loadingMessage = function (active) {
      document.body.classList.toggle('loading', active);
    };
    
    globals.UI_callbacks.openCopyright = function(pic_src, pic_fn) {
      var load_url = "{{=XML(URL('tree', 'pic_info', scheme=True, host=True, extension='html', args=['...PICSRC...', '...PICFN...'], vars=(setup_params.get('popups') or {}).get('vars')))}}".replace('...PICSRC...', pic_src || "").replace('...PICFN...', pic_fn || "");
      var link_url = "{{=URL('tree','pic_info', scheme=True, host=True, extension=False, args=['...PICSRC...', '...PICFN...'], vars={'redirect':1})}}".replace('...PICSRC...', pic_src || "").replace('...PICFN...', pic_fn || "");
      $("#imageinfo-modal .popup-content .iframe-loading-info").show();
      $("#imageinfo-modal .popup-content .no-loading-info").hide();
      //Always load into a new iframe
      var ifrm = document.createElement("iframe");
      ifrm.setAttribute('src', load_url);
      ifrm.addEventListener('load', function() {
        {{if is_testing:}}console.log("Hiding image iframe loading info");{{pass}}
        $(".iframe-loading-info", $(this).parent().parent()).hide()
      }, false);
      ifrm.setAttribute("sandbox", "allow-same-origin allow-scripts allow-forms allow-popups");
      $("#imageinfo-modal .popup-content").append(ifrm);
      $("#imageinfo-modal .uk-modal-header a").attr('href', link_url);
      UIkit.modal('#imageinfo-modal').show();
      return [load_url, link_url]
    };
    
    /* called as soon as a request to open a linkouts window is made */
    globals.UI_callbacks.openLinkouts = function() {
      {{if is_testing:}}console.log("OneZoom internal JS has been asked to open tabs");{{pass}}
      $('#external-modal .no-tab-data').hide();
      $('#external-modal .external-content').hide();
      $('#external-modal .tab-loading-info').show();
      UIkit.modal('#external-modal').show();
      {{if is_testing:}}console.log("Hidden content and showing loading animation");{{pass}}
    };
    
    /* called when the API returns with details about contents of the linkouts window */
    globals.UI_callbacks.populateLinkouts = function(responseJSON, initialSelected) {
        console.log("populating linkout tabs with API data from", responseJSON);
      {{if is_testing:}}console.log("populating linkout tabs with API data from", responseJSON);{{pass}}
      if (initialSelected) {
          initialSelected = $('#external-modal .external-tabs li').index($("#"+ initialSelected))
      } else {
          initialSelected = 0
      }
      var select_tab_index=null;
      var url_dict = responseJSON.data;
      var n_tabs = 0;
      // make sure the id names correspond to the names returned by the api
      $("#external-modal .external-tabs li").each(function(index) {
        var tab = $(this);
        var linkout_name = tab.attr('id'); //'wiki', 'eol', etc. Visited in order specified in html file
        if (linkout_name) {
          if (url_dict.hasOwnProperty(linkout_name) && url_dict[linkout_name].length) {
            var url_arr = url_dict[linkout_name] //contains the list of urls for this tab
            n_tabs += 1;
            tab.show(); //show the tab at the top (but not necessarily the content yet)
            if (select_tab_index == null) select_tab_index = index; //start selecting earliest non-hidden tab
            if (index == initialSelected) select_tab_index = index; //override if initialSelected is not hidden
            var specific_popup = $("#external-modal .popup-container ." + linkout_name);
            //set the data-src attribute to the url. When the tab is shown, it will get src from there
            specific_popup.attr("data-src", url_arr[0]);
            {{if is_testing:}}console.log("set data-src for '" + linkout_name + "' to " + url_arr[0]);{{pass}}
            //define the linkout (some hackery here to allow the same element to act as a plain link or a 'post' submission)
            $(".expand-tab form input[type=hidden]", specific_popup).remove()
            switch (url_arr.length) {
                case 1: //only a single URL for the iframe and the linkout - use that for both
                  $(".expand-tab form", specific_popup).removeAttr("action");
                  $(".expand-tab form a", specific_popup).attr("href", url_arr[0]).removeAttr("onclick");
                  break;
                case 2: //second value in the response gives a different URL for the linkout
                  $(".expand-tab form", specific_popup).removeAttr("action");
                  $(".expand-tab form a", specific_popup).attr("href", url_arr[1]).removeAttr("onclick");
                  break;
                case 3: //third value in the response gives a set of key:value params to add as POST variables
                  $(".expand-tab form", specific_popup).attr("action", url_arr[1]);
                  $.each(url_arr[2], function(key, data) {
                      $(".expand-tab form", specific_popup).append($('<input>').attr({'type':'hidden','name':key,'value':data}));
                  });
                  $(".expand-tab form a", specific_popup).attr("onclick", "$(this).parent().submit();return false").removeAttr("href");
              }
          } else {
            {{if is_testing:}}console.log("Hiding tab for '" + linkout_name + "' which is not present for this taxon");{{pass}}
            tab.hide(); //hide irrelevant tabs (those not returned by the API)
          }
        }
      });
      if (n_tabs == 0) {
        {{if is_testing:}}console.log("The API did not return any linkout URLs that match those expected in the UI");{{pass}}
        $('#external-modal .no-tab-data').show()
      }
      UIkit.tab('#external-modal .external-tabs').show(select_tab_index);
      load_tab($("#external-modal .popup-container li").eq(select_tab_index));
      $('#external-modal .tab-loading-info').hide();
      $('#external-modal .external-content').show();
    };

  </script>
{{include}}
<script>
    var title_name = "{{=page_info.get('title_name') or ""}}";
    if (window['pagetitle_func']) {
        document.title = pagetitle_func(title_name);
    } else {
        if (title_name) {
            document.title = "OneZoom" + extra_title + ": " + title_name;
        } else {
            document.title = "OneZoom" + extra_title + " Tree of Life Explorer";
        }
    }
</script>
  <noscript>
    <style>
        /* hide control buttons if there is no JS */
        #UI {display:none;}
    </style>
  </noscript>
</head>
<body id = "wholebody" style="user-select:none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select:none; -ms-user-select:none;" unselectable = "on" class="loading tree-viewer">
    <!-- main body of document - canvas, then rest of UI elements in a single div -->
  <canvas id="OneZoomCanvasID" tabindex="1">{{include 'treeviewer/life_text.load'}}</canvas>
  <div id="tour_wrapper"></div>
  {{=LOAD("treeviewer",setup_params['UI_layer']['page'],vars=setup_params['UI_layer'].get("vars"), ajax=False, target="UI")}}
  <script type="text/javascript">
/* define most of the JS after the main page has loaded */
var onezoom = null; //will be filled out on document ready
var locations_json = '{{=XML(setup_params.get("locations_json") or "[]")}}';

/* UI functions that allow javascript in the main viewer to interact with the UI.
    Names for each function are hard-coded into the OneZoom viewer  in config.ui within 
    global_config.js. These refer to items in the viewer_UI file */


function closeAndLeap(event, OZIDin, original_searchbox) {
    //TODO: add hit in search count.
    // add_hit_in_search_count(OZIDin);
    var dropdown = $(".search_dropdown", original_searchbox)
    if (dropdown.length) {
        if ((dropdown.first().outerWidth()*2) > document.getElementById("OneZoomCanvasID").width) {
            globals.UI_callbacks.closeAll();
        }
    }
    if (OZIDin) onezoom.controller.default_move_to(OZIDin);
}


function load_tab(tab_content) {
  if (! tab_content.children().last().hasClass('popup-content')) {
      $('.iframe-loading-info',tab_content).show();
      {{if is_testing:}}console.log("trying to create iframe with src = " + tab_content.attr('data-src'));{{pass}}
      var ifrm = document.createElement("iframe");
      ifrm.setAttribute('src', tab_content.attr('data-src'));
      ifrm.addEventListener('load', function() {
        {{if is_testing:}}console.log("Hiding iframe loading info");{{pass}}
        $(".iframe-loading-info", $(this).parent().parent()).hide()
        }, false);
      ifrm.setAttribute("sandbox", "allow-same-origin allow-scripts allow-forms allow-popups");
      //add iframe inside a div wrapper
      tab_content.append($('<div>', {'class':'popup-content iframe-container'}).append(ifrm));
  }
}

/* Add a set of species (e.g. popular species) to a target list, 
 * by using the onezoom.utils.process_taxon_list() function
 * to map OTT ids to OneZoom IDs / vernacular names.
 * The parameter 'click_callback_id_name' should be a
 * callback that is fired when an item is clicked on in the list
 * (called with event, OZid, item_name, sci_name, dropdown)
 */
function setup_location_list(target, taxon_list_json, click_callback_id_name) {
    target.empty();
    onezoom.utils.process_taxon_list(
        taxon_list_json, 
        function(ott, given_name, sciname, OZid) {
            if (OZid) {
                target.append(
                    $('<dd>').html(
                        $('<p>')
                            .html(given_name?$('<span></span>').text(given_name):$('<i></i>').text(sciname))
                            .addClass('taxon_location_button')
                            .attr("draggable","true")
                            .attr("id",'menuitem'+OZid.toString())
                            .attr("data-OZid",OZid.toString())
                            .attr("data-given_name", given_name)
                            .attr("data-sciname", sciname)
                            .click(function(event) {
                                click_callback_id_name(event, OZid.toString(), given_name, sciname);
                            })
                            .on('dragstart', function(event){
                                 event.originalEvent.dataTransfer.setData('drop_id', $(this).attr('id'));
                                 event.originalEvent.dataTransfer.setData('taxon', true);
                            })
                    )
                );
            }
        },
        function(header) {target.append($('<dt>').text(OZstrings.hasOwnProperty(header)?OZstrings[header]:header))});
}

var previous_location_codes;
/* Function to call when location menu is clicked
 * will be filled out with call to API using update_location_menu(onezoom.controller.get_my_location())
 */
function update_location_menu(loc_root) {
  var my_location = loc_root[0]
  var root = loc_root[1]
  var my_location_names = my_location[0];
  var my_location_codes = my_location[1];
  var my_location_richness = my_location[3];
  if (JSON.stringify(my_location_codes) === previous_location_codes) {
    //Do not change location dropdown lists if the location has not changed.
    return;
  } else {
    previous_location_codes = JSON.stringify(my_location_codes);
  }
  {{if is_testing:}}console.log("constructing location menu from " + my_location + " (richness: " + my_location_richness + ")");{{pass}}
  // first remove everything in the current list
  var loc_list = $(".location-list").empty()
  // now rebuild the list
  loc_list.append(
      $('<li>').addClass('toploc').append(
          $('<a>').append(OZstrings["Current location"])));
  // add the main elements, in reverse order
  for (var i = my_location_names.length-1; i >= 0; i--)
  {
    {{if is_testing:}}console.log("adding '" + my_location_names[i] + "' with richness " + my_location_richness[i+1] + " / " +my_location_richness[i]);{{pass}}
    var richnessProportion = my_location_richness[i+1]/my_location_richness[i];
    richnessProportion = Math.min(richnessProportion, 1.0-6.0/$('#locationDropdown').width()); //never have richness prop = 1 (looks odd): always add 6 px on
    var richnessRemainder = Math.floor((1.0 - richnessProportion)/2.0 * $('#locationDropdown').width());
    var richnessWidth = $('#locationDropdown').width()-2*richnessRemainder;
    loc_list.append(
      $('<li>')
        .width(richnessWidth)
        .css({'border-right-width': richnessRemainder+'px','border-left-width': richnessRemainder+'px'})
        .append(
          $('<a>')
            .css('margin-left', '-' + richnessRemainder + 'px')
            .data('locationCode', my_location_codes[i])
            .click(function() { /* close And Fly */
              if (((document.getElementById("locationDropdown").offsetWidth)*2) > onezoom.tree_state.widthres) {
                {{if is_testing:}}console.log("Small screen width detected, so closing location box before jump");{{pass}}
                $("#locationDropdown").hide();
              };
              onezoom.controller.default_move_to($(this).data('locationCode'));
            })
            .append(my_location_names[i] + "<br>(" + onezoom.utils.number_convert(my_location_richness[i]) + ")")
        )
    );
  }
}

function load_into_searchbox(searchbox, OZIDin, given_name, sciname, colour) {
    //Place a non-editable box of the selected item [given_name (/sci_name/)]
    //over the top of the original search box and replace the search icon
    //with an appropriately coloured pin icon. Clicking the pin should
    //do a closeAndLeap() to the appropriate place
    //will also jump to the common ancestor of all the marked places
    //capitalise the common name
    var searchresult = $('.searchresult', searchbox);    
    if (given_name) given_name = given_name.charAt(0).toUpperCase() + given_name.slice(1);
    if (given_name && sciname) {
        $('input',searchresult).attr('value', given_name + " (" + sciname + ")");    
    } else {
        $('input',searchresult).attr('value',(given_name || '') + (sciname || ''));
    }
    searchresult.attr('data-OZid', OZIDin);
    searchbox.addClass('result_displayed_in_box');
    //once the svg is loaded into the icon, change the colour of the icon
    UIkit.icon($('.icon-beside-input .main-icon',searchresult)).svg.then(function() {
        $('.icon-beside-input .main-icon svg path',searchresult).css('fill',colour);
        $('.icon-beside-input .main-icon svg circle',searchresult).css('fill','white');
    });
};

function UI_reset_marked(searchbox, OZIDin, given_name, sciname, event) {
    //create a new mark, and load into a searchbox 
    var searchresult = $('.searchresult', searchbox);
    {{if is_testing:}}console.log("Hiding search dropdown");{{pass}}
    UIkit.dropdown($('.search_dropdown', searchbox)).hide();
    if (searchresult.attr('data-OZid')) {
        onezoom.controller.unmark_area(searchresult.attr('data-OZid'));
    }
    var colour = onezoom.controller.mark_area(OZIDin);
    load_into_searchbox(searchbox, OZIDin, given_name, sciname, colour);    
    closeAndLeap(event, onezoom.controller.get_ancestor_of_marked(), searchbox);
}

function UI_reset_marked_via_event(event, OZIDin, given_name, sciname) {
    //fired when an item is selected in an advanced dropdown
    UI_reset_marked($(event.currentTarget).closest('.searchbox'), OZIDin, given_name, sciname, event);
}

function toggleAdvancedSearch(state) {
    //toggles advanced search mode, or switches it on (state=true) or off (state=false)
    if (state == null) {
        //toggle the current state
        state = !$('#searchnav').hasClass("advanced_mode");
    }
    if (state) {
        $('#searchnav').addClass("advanced_mode");
        UIkit.getComponent(UIkit.util.$('#advanced_search_button'), 'tooltip').title = $('#advanced_search_button').attr("data-advanced-title")
        $('#advanced_search_button')
            .attr('uk-icon','icon: close');
    } else {
        $('#searchnav').removeClass("advanced_mode");
        UIkit.getComponent(UIkit.util.$('#advanced_search_button'), 'tooltip').title = $('#advanced_search_button').attr("data-simple-title")
        $('#advanced_search_button')
            .attr('uk-icon','icon: git-fork');
    }
}

function add_advanced_searchbox(OZid, name, sciname, col) {
    /* Add an advanced searchbox, and attach all the necessary listeners.
     * This is done dynamically so that we can add and remove them easily.
     * If any parameters are given, we set the box to those values
     */
    var box_selector = $(advSchbx).appendTo('#searchboxes');
    $('.search_dropdown', box_selector)
        .on('show', function(event) {
            //have to recalc the max height here as we need to dynamically work out the dropbox posn
            $(event.currentTarget).css("max-height", "calc(100vh - 5px - " + $(event.currentTarget).offset().top + "px)");
        });

    $('.remove-searchbox', box_selector)
        .click(function(event) {
            var searchbox = $(event.currentTarget).closest('.searchbox');
            var highlighted = $('.searchresult', searchbox).attr('data-OZid');
            if (highlighted) onezoom.controller.unmark_area(highlighted);
            searchbox.remove();
            if ($('#search-advanced #searchboxes li').length == 0) {
                toggleAdvancedSearch(false);
                //add 2 searchboxes back
                add_advanced_searchbox();
                add_advanced_searchbox();
            }
        });

    $('.searchresult .main-icon', box_selector).on('ready', function(event) {
    });

    
    $('.searchresult .icon-beside-input .main-icon', box_selector)
        .on('click',function(event) {
               {{if is_testing:}}console.log("icon clicked for jumping");{{pass}}
            var OZid = $(event.currentTarget).closest('.searchresult').attr('data-OZid');
            if (OZid) closeAndLeap(event, OZid, box_selector);
            event.preventDefault();
            event.stopPropagation();
        })
        
    $('.searchresult input', box_selector)
        .click(function(event) {
            var searchbox = $(event.currentTarget).closest('.searchbox');
            searchbox.removeClass('result_displayed_in_box');
            $('.searchinput input', searchbox).focus();
            UIkit.dropdown($('.search_dropdown', searchbox)).show();
            event.preventDefault()
            event.stopPropagation();
        });
    $('.searchinput .icon-beside-input .main-icon', box_selector)
        .mousedown(function(event) {
            // Fires before the blur event, catch this and stop overlaying the result, so that if 
            // we lose focus because we touched the magnifying glass, we stil get the dropdown
            var searchbox = $(event.currentTarget).closest('.searchbox');
            if ($('.searchinput input', searchbox).is(":focus")) {
                event.preventDefault()
                event.stopPropagation();
                return false;
            } else {
                return true;
            };
        })
        
    $('.searchinput input', box_selector)
        .blur(function(event) {
            // if we have an already-selected location, and we lose focus, we simply revert
            var searchbox = $(event.currentTarget).closest('.searchbox');
            if ($('.searchresult', searchbox).attr('data-OZid')) {
                searchbox.addClass('result_displayed_in_box');
            }
        })
        .on('keyup', function(event) {
            
            var search_term = this.value;
            var searchbox = $(this).closest('.searchbox');
            var searchresult = $('.searchresult', searchbox);
            var dropdown = $('.search_dropdown', searchbox);
            if (searchresult.attr('data-OZid')) {
                onezoom.controller.unmark_area(searchresult.attr('data-OZid'));
                searchresult.attr('data-OZid','');
            }
            if (search_term.length==0) {
                $('.popular_species', dropdown).show();
                {{if is_testing:}}console.log("Hiding no_result section of dropdown");{{pass}}
                $('.no_results', dropdown).hide();
                $('.search_hits', dropdown).empty();
                onezoom.search_manager.full_search(""); // this clears the search
                $('.searchinput', searchbox).removeClass('waiting_for_search_result');
            } else {
                //$('.searchinput', searchbox).addClass('waiting_for_search_result');
                var delay_ms = 1000;
                if (event.which == 13) {
                    delay_ms = 1;   //enter was pressed - don't delay
                }
            if ((search_term.replace(/ /g,'').length > 2)||((search_term.replace(/ /g,'').length > 1)&&(delay_ms == 1))) { // we're never going to search for a single character and we only search for two characters if enter has been pressed.
            
            //if (search_term.replace(/ /g,'').length > 1) { // we're never going to search for a single character
            
            onezoom.search_manager.full_search(
                search_term,
                function(original_string, actual_search, results) {
                    search_ui.searchPopulate(searchbox, original_string, results, function (event, OZIDin, given_name, sciname) {
                        event.preventDefault();  // Don't follow links
                        return UI_reset_marked_via_event(event, OZIDin, given_name, sciname);
                    });
                },
                delay_ms,
                function() {
                    {{if is_testing:}}console.log("Search for '" + search_term + "' sent to OneZoom API from advanced search");{{pass}}
                    if(!($(".searchinput").hasClass('waiting_for_search_result'))) {
                        $(".searchinput", searchbox).addClass('waiting_for_search_result'); // switch flag for search to on
                    }});
            }
            }
        });
        
    setup_location_list($('.popular_species', box_selector), locations_json, UI_reset_marked_via_event);

    if (OZid) {
        if (!col) col = onezoom.controller.mark_area(OZid);
        //look up this OZid, and use OZid, name, sciname, colour to show the result
        //use a timeout to allow the icon time to load, so we can colour it
        load_into_searchbox(box_selector, OZid, name, sciname, col);
    }
}

function preventTouchZoom(event) {
    if(event.touches.length > 1) {
        event.preventDefault(); 
        event.stopPropagation();
    };
}

function setupUI() {
    /*
     Used whenever the UI component is loaded (e.g. at start or on language change)
    */

    /* Make sure we scroll the canvas, not the body behind it */
    $(document.body).on("touchstart touchmove touchend", preventTouchZoom);

    /* make sure we can't zoom on UI items */
    $("#UI").on("touchstart touchmove touchend", preventTouchZoom);
    $("[uk-modal]").on("touchstart touchmove touchend", preventTouchZoom);

    $('#outButton .icon-container')
        .click(function(){onezoom.controller.button_zoom_up()});
    $('#inButton .icon-container')
        .click(function(){onezoom.controller.button_zoom_in()});
    $('#resetButton .icon-container')
        .click(function(){onezoom.controller.button_reset()});

    /* Control Button Hint Toggle */
    $('#controlButtons #hideControlsButton .icon-container')
        .click(function() {
            $('#controlButtons').addClass('button-label-hidden')
        })

    $('#controlButtons #showControlsButton .icon-container')
        .click(function () {
            $('#controlButtons').removeClass('button-label-hidden')
        })
    
    $('#controlButtons #howToUseButton .icon-container')
        .click(function () {
            onezoom.tutorial.start()  //activate tutorial
        })

    $('input[name="imgsource"]').change(function() {onezoom.controller.set_image_source(this.value)});
    $('input[name="treeshape"]').change(function() {onezoom.controller.change_view_type(this.value)});
    $('input[name="colourtype"]').change(function() {onezoom.controller.change_color_theme(this.value)});
    $('input[name="searchmode"]').change(function () { onezoom.controller.set_search_jump_mode(this.value) });
    $('select#language').change(function() {
        //reset the OZ strings to the new language
        var lang_param = (this.value)?('lang='+this.value):'';
        var self = this;
        $.getJSON('{{=URL("treeviewer","js_strings.json")}}?' + lang_param, {}, function(json){
            OZstrings = json;
            onezoom.controller.set_language(self.value);
            //reset the UI to a new language
            $('[uk-modal]').remove(); //UIkit modals jump around the DOM, so need deleting by hand
            $('#UI').load('{{=URL("treeviewer", setup_params["UI_layer"]["page"], vars=setup_params["UI_layer"].get("vars"))}}{{=XML("&" if setup_params["UI_layer"].get("vars") else "?")}}'+lang_param, setupUI)
        });
    })
    $('select#treepage').val('{{=request.function}}');
    $('select#treepage').change(function() {
        /* slighly yucky function here - to go to the same location on another tree (another page), we 
           replace the current url parameter (e.g. life.html, linnean.html, etc) with the
           new value, by search-and-replace in the location.pathname component. We then paste
           the url back together again as "origin + new_pathname + search + hash" */
        window.location.href= window.location.origin + 
            window.location.pathname.replace("/{{=request.function}}","/" + this.value) +
            window.location.search +
            window.location.hash;
    });

    $('#settingsDropdown')
      .on('show', function() {
       $('input[name=imgsource]').val([onezoom.controller.get_image_source()]);
       $('input[name=treeshape]').val([onezoom.controller.get_view_type()]);
       $('input[name=colourtype]').val([onezoom.controller.get_color_theme()]);
       $('select#language').val(onezoom.controller.get_language());
       $('input[name=searchmode]').val([onezoom.controller.get_search_jump_mode()]);
    });

    $('#locationDropdown')
      .on('beforeshow', function() {
        update_location_menu(onezoom.controller.get_my_location());
        return true;
      })
      /* this hack doesn't seem to work
      .on('show', function () {
        $('#locationDropdown').css("min-height","0");
      })
      .on('hide', function () {
        $('#locationDropdown').css("min-height","100%");
      })*/

    
    $('#advanced_search_button')
      .on("dragover", function(event) {
        $(this).addClass('dragover');
        event.preventDefault();
        event.stopPropagation();
      })
      .on("dragleave", function(event) {
        event.preventDefault();
        event.stopPropagation();
        $(this).removeClass('dragover');
      })
      .on("drop", function(event) {
        event.preventDefault();  
        event.stopPropagation();
        if (event.originalEvent.dataTransfer.getData('taxon')) {
            var dropped_item = $('#' + event.originalEvent.dataTransfer.getData('drop_id'))
            //find the first unused advanced search box
            var to_fill = $('#search-advanced .searchresult:not([data-OZid])').first().closest('.searchbox');
            if (to_fill.length) {
                UI_reset_marked(
                    to_fill,
                    dropped_item.attr("data-OZid"),
                    dropped_item.attr("data-given_name"), 
                    dropped_item.attr("data-sciname")
                );
            } else {
                add_advanced_searchbox(
                    dropped_item.attr("data-OZid"),
                    dropped_item.attr("data-given_name"), 
                    dropped_item.attr("data-sciname")
                );
            }
            toggleAdvancedSearch(true);
            $(this).removeClass('dragover');
        }
      })
      .click(function() {
        //switch on or off common ancestor mode
        toggleAdvancedSearch()
      });
    
    $('#search_form_basic')
      .submit(function(event) {
        //stop form submission reloading the page
        event.preventDefault();
      })
    
    $('#search-basic .searchinput input')
      .keyup(function(event) {
        var search_term = this.value;
        var searchbox = $(this).closest('.searchbox');
        var dropdown = $('.search_dropdown', searchbox);
        if (search_term.length==0) {
            $('.popular_species', dropdown).show();
            {{if is_testing:}}console.log("Hiding no_result section of dropdown");{{pass}}
            $('.no_results', dropdown).hide();
            $('.search_hits', dropdown).empty();
            onezoom.search_manager.full_search("");
            $('.searchinput', searchbox).removeClass('waiting_for_search_result');
        } else {
            var delay_ms = 1000;
            if (event.which == 13) {
                delay_ms = 1;   //enter was pressed - don't delay
                // we should probably catch the case of short string here and give the user a warning - todo.
            }
            if ((search_term.replace(/ /g,'').length > 2)||((search_term.replace(/ /g,'').length > 1)&&(delay_ms == 1))) { // we're never going to search for a single character and we only search for two characters if enter has been pressed.
             
             // we want to test for whether the search is working already or not....
             
             onezoom.search_manager.full_search(
                                                search_term,
                                                function(original_string, actual_search, results) {
                                                search_ui.searchPopulate(searchbox, original_string, results, function(event, OZid) {
                                                    event.preventDefault();  // Don't follow links
                                                    closeAndLeap(event, OZid, $('#search-basic'));
                                                })
                                                },
                                                delay_ms,
                                                function() {
                                                    {{if is_testing:}}console.log("Search for '" + search_term + "' sent to OneZoom API from basic search");{{pass}}

                                                        if(!($(".searchinput").hasClass('waiting_for_search_result')))
                                                        {
                                                            $(".searchinput", searchbox).addClass('waiting_for_search_result'); // switch flag for search to on
                                                        }
                                                    }
                                                );
             
             }
             else
             {
                // the user should get some comment back here ideally because they tried to search for a single character
             }
        }
      });
    
    $('#search-basic .search_dropdown')
        .on('show', function(event) {
            //have to recalc the max height here as we need to dynamically work out the dropbox posn
            $(event.currentTarget).css("max-height", "calc(100vh - 5px - " + $(event.currentTarget).offset().top + "px)");
        })
    
    /* Advanced search stuff */
    $('#add_searchbox')
        .click(function(event) {
            add_advanced_searchbox();
            event.preventDefault();
        });
    $('#common_ancestor_button')
        .click(function(event) {
            var OZid = onezoom.controller.get_ancestor_of_marked();
            if (OZid !== null) {
                closeAndLeap(event, OZid);
            }
            event.preventDefault();
        });
        
    /*** MODALS ***/
    $('#info-modal')
        .on('beforeshow', function() {
            /* to avoid loading all the text on page load, we check here and load it via ajax if necessary */
            if ($("#info-modal .uk-modal-body > .unloaded").length) {
                var url = '{{=XML(URL("treeviewer","about_plus_data.load", vars=(setup_params.get("UI_layer") or {}).get("vars"), scheme=True, host=True))}}';
                {{if is_testing:}}console.log("Loading url into page: " + url);{{pass}}
                $("#info-modal .uk-modal-body").load(url);
            }
        });

    $('#about-modal')
        .on('beforeshow', function() {
            /* to avoid loading all the text on page load, we check here and load it via ajax if necessary */
            if ($("#about-modal .uk-modal-body > .unloaded").length) {
                var url = '{{=XML(URL("default","about.load", vars=(setup_params.get("UI_layer") or {}).get("vars"), scheme=True, host=True))}}';
                {{if is_testing:}}console.log("Loading url into page: " + url);{{pass}}
                $("#about-modal .uk-modal-body").load(url);
            }
        });

    $('#howuse-modal')
        .on('beforeshow', function() {
            /* to avoid loading all the text on page load, we check here and load it via ajax if necessary */
            if ($("#howuse-modal .uk-modal-body > .unloaded").length) {
                var url = '{{=XML(URL("default","how.load", vars=(setup_params.get("UI_layer") or {}).get("vars"), scheme=True, host=True))}}';
                {{if is_testing:}}console.log("Loading url into page: " + url);{{pass}}
                $("#howuse-modal .uk-modal-body").load(url);
            }
        });

    $('#datasources-modal')
        .on('beforeshow', function() {
            /* to avoid loading all the about text on page load, we check here and load it via ajax if necessary */
            if ($("#datasources-modal .uk-modal-body > .unloaded").length) {
                var url = '{{=XML(URL("default","data_sources.load", vars=(setup_params.get("UI_layer") or {}).get("vars"), scheme=True, host=True))}}';
                {{if is_testing:}}console.log("Loading url into page: " + url);{{pass}}
                $("#datasources-modal .uk-modal-body").load(url);
            };
        });

    $('#terms-modal')
        .on('beforeshow', function() {
            /* to avoid loading all the text on page load, we check here and load it via ajax if necessary */
            if ($("#terms-modal .uk-modal-body > .unloaded").length) {
                var url = '{{=XML(URL("default","terms.load", args="site", vars=(setup_params.get("UI_layer") or {}).get("vars"), scheme=True, host=True))}}';
                {{if is_testing:}}console.log("Loading url into page: " + url);{{pass}}
                $("#terms-modal .uk-modal-body").load(url);
            };
        });

    $('#imageinfo-modal')
        .on('hide', function() {
             $("#imageinfo-modal .uk-modal-header a").removeAttr('href');
             $('#imageinfo-modal .popup-content iframe').remove();
             $('#imageinfo-modal .popup-content .no-loading-info').show();
        });
    
    /*** Model for external tabs, e.g. wikipedia (must create & destroy tabbed content (e.g. iframes)) ***/
    $('#external-modal')
      .on('hidden', function() {
        {{if is_testing:}}console.log("Removing content, data-src values, and hidden vars from each tab");{{pass}}
        $('#external-modal .popup-container li').each(function() {
            $(this)
                .attr("data-src","")
                .children('.popup-content').remove()
                .children('form').removeAttr("action")
                .children('form a').removeAttr("href onclick")
                .children('form input').remove()
                .children('.iframe-loading-info').show()
        });
        $('#external-modal .no-tab-data').show();
        $('#external-modal .external-content').hide();
        $('#external-modal .tab-loading-info').hide();
      });

    $('#external-modal .external-content').on('show', function (event) {
        if ($(event.target).closest('li.tab-content').attr("data-src")) {
            load_tab($(event.target).closest('li.tab-content'));
        }
    });
    
    $('#external-modal .popup-container li.tab-content').on('hidden', function (event) {
        /* make sure hiding anything within the container (e.g. when the tabs are
         * switched) does not bubble up and close the entire modal window.
         */
        event.stopPropagation();
    });

    setup_location_list($('#search-basic .popular_species'), locations_json, 
        function(event, OZid) {closeAndLeap(event, OZid, $('#search-basic'))});

    var existing_searchresults = onezoom.controller.list_all_marked().filter(function(id_col) {return !isNaN(id_col[0])});
    if (existing_searchresults.length) {
        var colours = {};
        var ids = [];
        for(var i=0; i<existing_searchresults.length; i++) {
           ids.push(existing_searchresults[i][0]);
           colours[existing_searchresults[i][0]]=existing_searchresults[i][1]
        }
        //must look up the names & values via the API
        onezoom.search_manager.lookup_nodes(ids, function(OZIDin, ott, sciname, vernacular, image_src_ids, image_srcs, date) {
           add_advanced_searchbox(OZIDin, vernacular, sciname, colours[OZIDin]);
        },'best_pd');
        toggleAdvancedSearch(true);
    } else {
        //add 2 searchboxes as default
        add_advanced_searchbox();
        add_advanced_searchbox();
        toggleAdvancedSearch(false);        
    }

    $(document).triggerHandler("setupUI", onezoom);
}

$(document).ready(function() {    /* Mainly a place to attach JS event handlers */
    // Set up some global variables
    /** CREATE A ONEZOOM INSTANCE
    this allows us to access e.g. onezoom.controller, onezoom.config, etc (defined in OZentry.js)
     **/
    {{if is_testing:}}console.log("Starting OneZoom viewer");{{pass}}
    
    setup_onezoom()

    function setup_onezoom() {  
        onezoom = OZentry.default(
            window.server_urls,
            window.globals.UI_callbacks,
            window.pagetitle_func,
            'OneZoomCanvasID',
            window['tree_config'],
            window.rawData,
            window.metadata,
            window.cut_position_map_json_str,
            window.polytomy_cut_position_map_json_str,
            window.cut_threshold,
            window.tree_date);

        onezoom.add_hook('on_tree_loaded', () => {
            onezoom.tutorial.setup_setting(
                globals['tutorial_config'], 'tutorial',
                globals.UI_callbacks.closeAll, // before the tutorial runs, close modals etc.
                null, // nothing on tutorial end
                null, // nothing on premature exit
                null, // allow interaction to pause the tutorial
                function() {$(".tour_resume").show()} // if interaction, show the resume button
                )})
        /* The screensaver is a type of tour with a different calling signature */
        onezoom.add_hook('on_tree_loaded', () => {
            onezoom.screensaver.setup_setting(
                // screensaver_config may only be defined for some displays
                window.globals['screensaver_config'], 'screensaver',
                globals.UI_callbacks.closeAll, // before the screensaver runs, close modals etc.
                true, // loop back and forth
                null, // nothing on screensaver exit
                );
        })
        $(document).triggerHandler("setupOneZoom", [onezoom])
    
        setupUI();
    }
})

  </script>
</body>
</html>
