{{#Config settings that will change for different views, e.g. for AT, trail2016, etc. These are stored in the setup_params dictionary
#UI_layer->page        The name of the UI layer view file
#UI_layer->tabs        An array of names of tabs to use (names are in the linkouts() function in tree.py, 
#                       as key names in the url dict) or 'all' for all
#UI_layer->vars->links Can be 'none' for no links, 'newtab' for all links (except the OZ logo) in new tab, or 'default' (or unset) to leave.
#popups->vars          Passed to pic_info.load, about.load, how.load, data_sources.load, and the 
#                       internal linkouts urls. You will usually want to define 'embed':1 or 'embed':3. 
#partner               (Optional): if it matches a partner_identifier in the partners table, we will automatically fill out 
#                       the popups and UI_layer params to make am automatically created sponsorship site
#locations_json        Partners can provide their own json string of locations to use, but if not is provided
#                       or there is no partner, the json here is used. This is an array whose items are strings (headers) or 
#                       dicts (each turned into a clickable items) with at least one key labelled 'OTT', and then any other optional 
#                       names keyed by language, e.g. {'OTT':1012685, 'en':'Mushrooms'}.
setup_params = {
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':['wiki', 'ozspons'], 'links':'none'} },   
  'popups':{
    'vars':{'embed':3, 'no_sponsoring':1}, #don't need to keep track of reservation_code
  },
  'partner':page_info.get('partner'),
  'locations_json':('[' 
      '"Popular places",' 
      '{"OTT":244265},'  #Mammals - should get looked up automatically: this also allows the correct language to be used
      '{"OTT":770315},'  #Human - ditto
      '{"OTT":81461},'   #Birds
      '{"OTT":991547},'  #Frogs and toads
      '{"OTT":801601},'  #Vertebrates
      '{"OTT":1062253},' #Insects
      '{"OTT":691846},'  #Animals
      '{"OTT":361838},'  #Green plants
      '{"OTT":99252},'   #Flowering plants
      '{"OTT":1012685, "en":"Mushrooms"},' #the default OZ english name is bad for menus here, so we replace it
      '{"OTT":304358}'   #Complex life (eukaryotes)
      ']')
}
}}
{{extend 'treeviewer/layout.html'}}
<!-- could include bespoke css file here -->
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/tree_MD.css')}}" />
<script type="text/javascript">
/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config = null;
var pagetitle_func = function(nm) {return (nm)?"OneZoom Museum Display: "+ nm:"OneZoom Tree of Life Museum Display"};
</script>
