<!-- config stuff that is specific to the life vs kew vs linnsoc etc trees e.g. css file, default tree config options, page title function, logo -->
{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'all'} }, #should also include an OpenTree tab in here
   'popups': {
    'vars':{'embed':1, 'form_session_id': response.session_id} }
  }
}}

{{extend 'treeviewer/layout.html'}}

<style>
#controlButtons #screenshotButton   {display:block;}
#controlButtons #screenshotButton a {border-top: 1px solid #DDD}
#controlButtons #infoButton a       {border: 0}
</style>
<script src="{{=URL('static','js/canvas2svg.js')}}"></script>
<script type="text/javascript">
/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config=null;
var pagetitle_func = null;
var popular_locations = [ /* strings are treated as headers (looked up in OZstrings), arrays as links with [ott,name] with name optional */
    'Popular places',
    [244265],  //Mammals
    [770315],  //Human
    [81461],   //Birds
    [991547],  //Frogs and toads
    [801601],  //Vertebrates
    [1062253], //Insects
    [691846],  //Animals
    [361838],  //Green plants
    [99252],   //Flowering plants
    [1012685], //Mushrooms
    [304358]   //Complex life (eukaryotes)
];

function make_screenshot(lnk) {
    try {
        context = new C2S({
            width:document.getElementById("OneZoomCanvasID").width,
            height:document.getElementById("OneZoomCanvasID").height, 
            embedImages : true});
        onezoom.controller.draw_single_frame(context);
        var svg_content = context.getSerializedSvg(true);
        /* Change MIME type to trick the browser to download the file instead of displaying it */
        lnk.setAttribute('download', 'OneZoomScreenshot.svg');
        lnk.href = 'data:application-x/force-download;charset=utf-8,' + encodeURIComponent(svg_content);
        return true;
    } catch(err) {
        alert("You can't save pictures with embedded images unless you enable '-allow-file-access-from-files' in chrome, or equivalent in other browsers.")
        lnk.removeAttribute("href");
        return false;
    }
};
</script>
