{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'default'} }, 
   'popups': {
    'vars':{'popup':1} }, #definitely don't encode 'form_reservation_code' as this will be permanently stored in the html
  'locations_json':('[' 
      '"Popular places",' 
      '{"OTT":244265},'  #Mammals - should get looked up automatically: this also allows the correct language to be used
      '{"OTT":770315},'  #Human - ditto
      '{"OTT":81461},'   #Birds
      '{"OTT":991547},'  #Frogs and toads
      '{"OTT":801601},'  #Vertebrates
      '{"OTT":1062253},' #Insects
      '{"OTT":691846},'  #Animals
      '{"OTT":361838},'  #Green plants
      '{"OTT":99252},'   #Flowering plants
      '{"OTT":1012685, "en":"Mushrooms"},' #the default OZ english name is bad for menus here, so we replace it
      '{"OTT":304358}'   #Complex life (eukaryotes)
      ']')
  }
}}

{{extend ('treeviewer/layout_popuped_viewer.html' if request.vars.popup else 'treeviewer/layout.html')}}
<!-- since this should be possible to run without a server, remove the ability to switch languages/pages -->
<style>
ul#controlButtons #tourButton {display: block;}
.treeswitch {display: none}
.langswitch {display: none}
</style>
<!-- could define js variables (specifically: pagetitle_func, tree_config, screensaver_config, tutorial_config) within <script> tags here -->
<script type="text/javascript">
var pagetitle_func = function(nm) {return (nm)?("OneZoom restricted: "+ nm):"OneZoom Tree of Life Explorer: restricted version"};
</script>
<script id="tour_config" type="text/html">
<div class="tour minlife_tour">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'tour/tour_template.css')}}" />

  <div class="container tour_container"
       data-ott="991547"
       data-wait="6000"
       data-wait_after_backward="0"
       >
    <h2 class="title">OneZoom Demo Tour</h2>
    <div class='window_text'>Slide 1</div>
    <img class="img" src="http://images.onezoom.org/99/098/31338098.jpg" />
    {{ include "tour/tourstop/footer.html" }}
  </div>

  <div class="container tour_container"
       data-ott="991547"
       comment-transition_in="can be 'fly' (default), 'leap', or 'fly_straight' (rare)"
       data-transition_in="leap"
       comment-wait="set 'wait" to null to require pressing "next" to continue"
       data-wait=""
       >
    <h2 class="title">OneZoom Demo Tour</h2>
    <div class='window_text gray_background'>Slide 2 with style change</div>
    <img class="img" src="http://images.onezoom.org/99/727/26848727.jpg" />
    {{ include "tour/tourstop/footer.html" }}
  </div>

  <!-- NB: visible-transition_in means this tourstop is visible in transition_in, as well as active_wait (by default) -->
  <div class="container tour_container visible-transition_in"
       data-ott="81461"
       comment-fly_in_speed="speed relative to the global_anim_speed, set via controller.set_anim_speed()"
       data-fly_in_speed="2"
       comment-transition_in_wait="how long to wait (e.g. after showing self) before entering into the transition, in milliseconds."
       data-transition_in_wait="1000"
       data-wait="3000"
       comment-style="hide everything"
       style="visibility: hidden"
       >
  </div>

  <div class="container tour_container"
       data-ott="81461"
       comment-pos="pos alters the final position. 'max' ==> the transition ends up with the internal node filling the screen"
       data-pos="max"
       data-wait="1000"
       >
    <h2 class="title">OneZoom Demo Tour</h2>
    <div class='window_text'>Slide 4</div>
    {{ include "tour/tourstop/footer.html" }}
  </div>

  <div class="container tour_container"
       comment-ott="Empty OTT means return to the (rough) starting position"
       data-ott=""
       data-wait="3000"
       >
    <h2 class="title">The End</h2>
    {{ include "tour/tourstop/footer.html" }}
  </div>

  {{include 'tour/tourstop/exit_confirm.html'}}
</div>
</script>

<script>
// Until we finalise the UI for tours, define tours as happening when we click the
// "#tourButton", and inject tthe tour object into the onezoom object dynamically.

$(document).on("setupOneZoom", function(event, onezoom_object) {
    onezoom_object.tour = onezoom_object.utils.new_tour(onezoom_object);
    onezoom_object.add_hook('on_tree_loaded', () => {
        onezoom_object.tour.setup_setting(
            document.getElementById('tour_config').firstChild, 'main_tour',
            globals.UI_callbacks.closeAll, // before the tutorial runs, close modals etc.
            null, // nothing on tutorial end
            null, // nothing on premature exit
            null, // allow interaction to pause the tutorial
            function() {$(".tour_resume").show()} // if interaction, show the resume button
            )});
});

$(document).on("setupUI", function() {
    $('#controlButtons #tourButton .icon-container')
        .click(function () {
            onezoom.tour.start()  //activate tutorial
        })

});


</script>