{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'default'} }, 
   'popups': {
    'vars':{'embed':1} }, #definitely don't encode 'form_reservation_code' as this will be permanently stored in the html
  'locations_json':('[' 
      '"Popular places",' 
      '{"OTT":244265},'  #Mammals - should get looked up automatically: this also allows the correct language to be used
      '{"OTT":770315},'  #Human - ditto
      '{"OTT":81461},'   #Birds
      '{"OTT":991547},'  #Frogs and toads
      '{"OTT":801601},'  #Vertebrates
      '{"OTT":1062253},' #Insects
      '{"OTT":691846},'  #Animals
      '{"OTT":361838},'  #Green plants
      '{"OTT":99252},'   #Flowering plants
      '{"OTT":1012685, "en":"Mushrooms"},' #the default OZ english name is bad for menus here, so we replace it
      '{"OTT":304358}'   #Complex life (eukaryotes)
      ']')
  }
}}

{{extend 'treeviewer/layout.html'}}
<!-- since this should be possible to run without a server, remove the ability to switch languages/pages -->
<style>
.treeswitch {display: none}
.langswitch {display: none}
</style>
<script type="text/javascript">
/* check that we are not using a non-matching tree version - a single one-off ajax call */
$.ajax({
    type:"GET", 
    url: "{{=URL('API', 'version', scheme=True, host=True, extension='json')}}", 
    success: function(data) {
            if (parseInt(data.version) != version) {
                $('body').prepend('<h1 class="OneZoom_error", style="z-index: 100; position:absolute; margin:1em; color:red;">' +
                'WARNING: the version of the OneZoom tree you are running (' + version +
                ') does not match the data returned from the OneZoom website (' + data.version + '). ' +
                'The data shown on this tree may be matched to the wrong lifeforms</h1>')
            }
        }, 
    error: function(jqXHR, textStatus, errorThrown) {
            alert(jqXHR.status);
        },
});

/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config=null;
var pagetitle_func = function(nm) {return (nm)?("OneZoom restricted: "+ nm):"OneZoom Tree of Life Explorer: restricted version"};
</script>
