<!DOCTYPE html>
<html>
<head>
    <meta NAME="description" CONTENT="OneZoom Tree of Life Explorer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{if response.canonical:}}<link rel="canonical" href="{{=response.canonical}}">{{pass}}
    
<script type="text/javascript">
/* GLOBALS */
/* site-specific OZ json urls are needed to locate the OneZoom API, so that iframe contents can be shown */
var partner="" //override this in the main html file
OZ_leaf_json_url = function(ott) {
    return("{{=URL('default', 'leaf_linkouts', scheme=True, host=True, extension='json')}}" +
           "/" + ott.toString() + 
           "?" + "{{=XML('&'.join(['{}={}'.format(k,v) for k,v in partner.items() if k in ['partner','user_more_info']]))}}");
    };
OZ_node_json_url = function(id) {
    return("{{=URL('default', 'node_linkouts', scheme=True, host=True, extension='json')}}" + 
           "/" + id.toString() + 
           "?" + "{{=XML('&'.join(['{}={}'.format(k,v) for k,v in partner.items() if k in ['partner','user_more_info']]))}}");
    };

var data_path_pics_main = "{{try:}}{{=myconf.take('general.pics_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/";
var data_path_thumbs_main = "{{try:}}{{=myconf.take('general.thumbs_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/";
var node_api = "{{try:}}{{=myconf.take('API.node')}}{{except:}}{{=URL('API','node_details.json', scheme=True, host=True)}}{{pass}}";
var search_api = "{{try:}}{{=myconf.take('API.search')}}{{except:}}{{=URL('API','search_node.json', scheme=True, host=True)}}{{pass}}";
var search_sponsor_api = "{{try:}}{{=myconf.take('API.search_sponsor')}}{{except:}}{{=URL('API','search_for_sponsor.json', scheme=True, host=True)}}{{pass}}";
var search_init_api = "{{try:}}{{=myconf.take('API.search_init')}}{{except:}}{{=URL('API','search_init.json', scheme=True, host=True)}}{{pass}}";
var ott2id_api = "{{try:}}{{=myconf.take('API.ott2id')}}{{except:}}{{=URL('API','get_id_by_ott.json', scheme=True, host=True)}}{{pass}}";
var ott2id_api_array = "{{try:}}{{=myconf.take('API.ott2id_array')}}{{except:}}{{=URL('API', 'get_ids_by_ott_array.json', scheme=True, host=True)}}{{pass}}";
var otts2vns_api = "{{try:}}{{=myconf.take('API.ott2vns')}}{{except:}}{{=URL('API','otts2vns.json', scheme=True, host=True)}}{{pass}}";
var link_from_image = "{{=URL('linkout_via_picID', scheme=True, host=True)}}";
var data_logo_path = "{{=URL('static','images/OZ_logo5_grey.png')}}";
var image_api = "{{try:}}{{=myconf.take('API.image')}}{{except:}}{{=URL('API', 'image_details.json', scheme=True, host=True)}}{{pass}}";
var update_visit_count_api = "{{try:}}{{=myconf.take('API.update_visit_count')}}{{except:}}{{=URL('API','update_visit_count.json', scheme=True, host=True)}}{{pass}}";

var data_path_pics_main = "{{try:}}{{=myconf.take('general.pics_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/";
var data_path_thumbs_main = "{{try:}}{{=myconf.take('general.thumbs_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/";

var tour = {"api":"{{try:}}{{=myconf.take('API.tours')}}{{except:}}{{=URL('OneZoom','default','tour.json', scheme=True, host=True)}}{{pass}}", "tour_name":"{{= page_info.get('tourname') or ''}}"}
</script>
{{include 'strings.html'}}
{{include}}
<noscript>
    <style>
        /* hide control buttons if there is no JS */
        #controlButtons {display:none;}
    </style>
</noscript>
    
<script type="text/javascript" src="{{=URL('static','site-specific/google-analytics.js')}}"></script>

</head>

<body id = "wholebody" onresize="special_resize()" style="overflow: hidden; user-select:none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select:none; -ms-user-select:none;" unselectable = "on">
    <!-- main body of document - only four elements -->
    <canvas id="myCanvas" class="text_tree" tabindex="1">
        <!-- Text alternative to the tree. see http://odyniec.net/articles/turning-lists-into-trees/ -->
    {{if 'plaintext' in page_info:}}
    {{=page_info['plaintext']}}
    {{pass}}
    {{if 'tree' in page_info:}}
        {{info = page_info['tree']['info']}}
        {{for root_id, root in page_info['tree']['bases'].items():}}
        <h2>Base of the evolutionary tree for {{=XML(info[root_id]['htmlname'])}}</h2>
        {{if info[root_id]['real_parent']>0:}}<a href="{{=info[info[root_id]['real_parent']]['url']}}">&larr; parent</a>{{pass}}
        {{if root_id<0:}}
        <h3>Species: {{=XML(info[root_id]['htmlname'])}}</h3>
        {{if 'iucn' in info[root_id]:}}<p><a href="http://www.iucnredlist.org">IUCN RedList status</a>: <a href="http://www.iucnredlist.org/static/categories_criteria_3_1#categories">{{=info[root_id]['iucn']}}</a></p>{{pass}}
        {{if info[root_id].get('best_image'):}}<p>Best image: <img src="http://images.onezoom.org/{{=info[root_id]['best_image']['src_id']}}.jpg" title="{{=info[root_id]['best_image']['rights']}} / {{=info[root_id]['best_image']['licence']}}"> (EoL rating: {{=(info[root_id]['best_image']['rating']/10000)}} stars)</p>{{pass}}
        <h4>OneZoom</h4>
        <a href="{{=URL('default','life', scheme=True, host=True)}}/@={{=info[root_id]['ott']}}">Visit it on the OneZoom tree</a> or <a href="{{=URL('default','sponsor_leaf', vars={'ott':info[root_id]['ott']})}}">sponsor it!</a>
        {{else:}}
        <ul id="root">
        <li>{{=XML(info[root_id]['htmlname'])}}{{if root_id>=0:}} ({{=(info[root_id]['leaf_rgt']-info[root_id]['leaf_lft']+1)}} species){{if 'age' in info[root_id] and info[root_id]['age'] and info[root_id]['age']>0:}}. Deepest divergence date between species estimated at {{=info[root_id]['age']}} million years ago.{{pass}}{{pass}}
        <ul>
          {{for id1, more1 in root.items():}}
          <li><a href="{{=info[id1]['url']}}">{{=XML(info[id1]['htmlname'])}}{{if id1<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id1]['leaf_rgt']-info[id1]['leaf_lft']+1)}} species){{pass}}
          {{if more1:}}
          <ul>
            {{for id2, more2 in more1.items():}}
            <li><a href="{{=info[id2]['url']}}">{{=XML(info[id2]['htmlname'])}}{{if id2<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id2]['leaf_rgt']-info[id2]['leaf_lft']+1)}} species){{pass}}
            {{if more2:}}
            <ul>
              {{for id3, more3 in more2.items():}}
              <li><a href="{{=info[id3]['url']}}">{{=XML(info[id3]['htmlname'])}}{{if id3<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id3]['leaf_rgt']-info[id3]['leaf_lft']+1)}} species){{pass}}
              {{if more3:}}
              <ul>
                {{for id4, more4 in more3.items():}}
                <li><a href="{{=info[id4]['url']}}">{{=XML(info[id4]['htmlname'])}}{{if id4<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id4]['leaf_rgt']-info[id4]['leaf_lft']+1)}} species){{pass}}
                </li>
                {{pass}}
              </ul>
              {{pass}}
              </li>
              {{pass}}
            </ul>
            {{pass}}
            </li>
            {{pass}}
          </ul>
          {{pass}}
          </li>
          {{pass}}  
        </ul>
        </li>
        </ul>
        {{pass}}
        {{if info[root_id]['wikidata'] or info[root_id]['eol'] or info[root_id].get('iucn') or info[root_id]['ncbi'] or info[root_id]['ott']:}}
        <h4>Other links for {{=XML(info[root_id]['htmlname'])}}</h4>
        <ul>
        {{if info[root_id]['wikidata']:}}<li><a href="http://www.wikidata.org/wiki/Q{{=info[root_id]['wikidata']}}">Wikidata</a></li>{{pass}}
        {{if info[root_id]['wikipedia_lang_flag'] and (info[root_id]['wikipedia_lang_flag'] & wikiflags['en']):}}<li><a href="http://www.wikidata.org/wiki/Special:GoToLinkedPage?site=enwiki&itemid=Q{{=info[root_id]['wikidata']}}">Wikipedia</a></li>{{pass}}
        {{if info[root_id]['eol']:}}<li><a href="http://eol.org/pages/{{=info[root_id]['eol']}}">Encyclopedia of life</a></li>{{pass}}
        {{if info[root_id].get('iucn'):}}<li><a href="http://www.iucnredlist.org/details/{{=info[root_id]['iucn']}}/0">IUCN (conservation)</a></li>{{pass}}
        {{if info[root_id]['ncbi']:}}<li><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{=info[root_id]['ncbi']}}">NCBI (genetics)</a></li>{{pass}}
        {{if info[root_id]['ott']:}}<li><a href="https://tree.opentreeoflife.org/opentree/argus/opentree@ott{{=info[root_id]['ott']}}">Open Tree of Life</a></li>{{pass}}
        </ul>
        {{pass}}
        <hr />
        {{if info[root_id].get('rep1'):}}
        <h4>Some illustrative species in this group</h4>
        (follow link for a picture)
        <ul>
        {{for i in range(1,9):}}
        {{if info[root_id].get('rep'+str(i)):}}
        <li><a href="{{=URL(args=['@={}'.format(info[root_id].get('rep'+str(i)))])}}">{{=i}}</a></li>
        {{pass}}
        {{pass}}
        </ul>
        {{pass}}

        {{pass}}
    {{pass}}
    </canvas>
    
    <div id="Logos">{{if partner.get('logo_src'):}}{{if partner.get('logo_url'):}}<a href="{{=partner.get('logo_url')}}" target="_blank"><img src="{{=partner['logo_src']}}" /></a>{{else:}}<img src="{{=partner['logo_src']}}" />{{pass}}{{pass}} <img id="Logo" src="{{=URL('static','images/OZ_logo5_grey3_small.png')}}"></div>
    
    
    <ol id = "controlButtons" >
        <li class = "dropdown" id = "menuButton"><button><img src="{{=URL('static','images/menu.png')}}"/></button>
        </li>
        <li class = "nonzoomcb" id = "searchButton"><button><img src="{{=URL('static','images/search.png')}}" /></button></li>
        <li class = "nonzoomcb"id = "locateButton"><button><img src="{{=URL('static','images/locate.png')}}" /></button></li>
        <li class = "nonzoomcb"id = "upButton"><button><img src="{{=URL('static','images/up.png')}}" /></button></li>
        <li class = "zoomcb"id = "plusButton"><button><img src="{{=URL('static','images/plus.png')}}" /></button></li>
        <li class = "zoomcb"id = "minusButton"><button><img src="{{=URL('static','images/minus.png')}}" /></button></li>
        <li class = "zoomcb"id = "resetButton"><button><img src="{{=URL('static','images/reset.png')}}" /></button></li>
    </ol>
    
    <div id ="outerHint"></div>
    <div id = "hintBox"></div>
    <div id = "search_not_fillin_hint"></div>
    <div id = "searchBox" class="dropdown_container">
        <ol class = "sbuttons" >
            <li id = "search_header">{{=T('Search the tree')}}</li>
        </ol>
        <input type="text" id = "search_input" name="search_input_text" autocomplete="off">
        <div class="search_input2_container">
          <input type="text" id = "search_input2" name="search_input_text" autocomplete="off">
          <img class="search_input2_close" src="{{=URL('static','images/close_black.png')}}">
        </div>
        <ol class ="sbuttons">
          <li id = "toggle_search_highlight" data-state="on">{{=T('Clear search result')}}</li>
        </ol>
        <ol class ="sbuttons">
          <li id = "search_common_path">{{=T('Find most recent common ancestor')}}</li>
        </ol>
        <ol class = "sbuttons" id="searchButtons" >
            <!-- search results will be inserted here by js -->
        </ol>
        <ol id = "popularSpecies">
        </ol>
    </div>

    <div id = "locationBox" class="dropdown_container">
        <ol id="locationButtons">
        </ol>
    </div>
    
    <div id = "menuBox">
        <ol id="menuButtons" class="menuButtonContainer">
            <li class="menu_how" >{{=T('How to use')}}</li>
            <li class="menu_about" >{{=T('About this tree')}}</li>
            <li class="menu_data" >{{=T('Data sources')}}</li>
            <li class="menu_setting" >{{=T('Settings')}}</li>
            <li><a href = "http://www.onezoom.org/sponsor">{{=T('Sponsor a leaf')}}</a></li>
            <li><a href = "{{=URL('default', 'index')}}">{{=T('Back to home')}}</a></li>
        </ol>
        <ol id="menuSettings" class="menuButtonContainer">
          <li class="image_source" >{{=T('Image sources')}}</li>
          <li class="tree_shape">{{=T('Tree shape')}}</li>
          <!--<li class="color_theme">{{=T('Color Theme')}}</li>-->
          <li class="setting_back">{{=T('Back')}}</li>
        </ol>
        <ol id="menuImageSource" class="menuButtonContainer">
          <li class="image_source_any selected_setting">{{=T('Any')}}</li>
          <li class="image_source_pb" >{{=T('Public domain')}}</li>
          <li class="image_source_verified" >{{=T('Verified')}}</li>
          <li class="image_source_back" >{{=T('Back')}}</li>
        </ol>
        <ol id="menuTreeShape" class="menuButtonContainer">
          <li class="tree_shape_spiral selected_setting">{{=T('Spiral')}}</li>
          <li class="tree_shape_natural" >{{=T('Natural')}}</li>
          <li class="tree_shape_fern" >{{=T('Fern')}}</li>
          <li class="tree_shape_balanced" >{{=T('Balanced')}}</li>
          <!--<li class="tree_shape_polytomy" >{{=T('Polytomy')}}</li>
          <li class="tree_shape_polytomy2" >{{=T('Polytomy2')}}</li>-->
          <li class="tree_shape_back" >{{=T('Back')}}</li>
        </ol>
        <!--<ol id="menuColorTheme" class="menuButtonContainer">
          <li class="color_theme_natural selected_setting">{{=T('Natural')}}</li>
          <li class="color_theme_ancestors_tale">{{=T('Ancestor’s Tale')}}</li>
          <li class="color_theme_popularity" >{{=T('Popularity')}}</li>
          <li class="color_theme_back" >{{=T('Back')}}</li>-->
        </ol>
    </div>


    <div id = "boxContainer">
        <div id = "outsideBox" ></div>
        <div class="popup_box" id = "aboutBox"></div>
        <div class="popup_box" id = "aboutBox2"></div>
        <div id = "linkoutsBox" role="tablist">
            <!-- this contains multiple tabs (as radio buttons, see http://alistapart.com/article/radio-controlled-web-design)
            , associated with iframes to other sites (e.g. wikipedia). Tabbed labels are all defined here, but hidden and shown 
            by javascript, depending on if we have appropriate urls. The selected input and label should have aria-selected="true" 
            set by javascript -->
            <div class="tabs" aria-hidden="true">
                {{for tab in tabs:}}
                <label for="{{=tab['id']}}" class="{{=tab['id']}}">{{if 'icon' in tab:}}<img src="{{=tab['icon']}}" title="{{=tab['name']}}" /><span>{{=tab['name']}}</span>{{else:}}{{=tab['name']}}{{pass}}</label>
                {{pass}}
            </div>

            <div id="iframe_wrapper">
                <p id="loading_pic"><img src="{{=URL('static','images/ajax-loader.gif')}}" /></p>
                {{for tab in tabs:}}
                <input type="radio" title="{{=tab['name']}}" name="linkout-state" role="tab" id="{{=tab['id']}}" class="tabButton" aria-controls="{{=tab['id']}}-panel" />
                {{pass}}
            </div>
        </div>
		<img id = "newTabButton" src="{{=URL('static','images/new_tab.png')}}" />
        <img id = "closeButton" src="{{=URL('static','images/close.png')}}"/>
    </div>
    
    <script>
    if(navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)){
            //if user is on ios
        window.addEventListener("orientationchange", function() {
            setTimeout(function(){
                //hide the url bar
                window.scrollTo(0, 1);
            }, 700);
        }, false);
    }
    </script>

</body>
</html>
