<!-- an example of how to override some of the API settings -->
{{#define a dict used for setup: must at a minimum define the UI_layer page (that is reloaded e.g. when language changes)
setup_params = {
  'partner':None, #if we define a partner here, we can get user_more_info and user_message_OZ from there, instead of hard-coding as here
  'UI_layer': {
    'page':'UI_layer.load', 
    'vars':{'tabs':'all'} }, 
   'popups': {
    'vars':{'embed':1, 'form_session_id': response.session_id, 'user_more_info':"Ancestor’s Trail 2016", 'user_message_OZ':"AT16"} }, 
  'locations_json':('[' 
        '"Trail routes",' 
        '{"OTT":770315, "en":"Human trail start"},'
        '{"OTT":540235, "en":"Gazelle trail start"},'
        '{"OTT":81461, "en":"Bird trail start"},' #Should pick a more recent node
        '{"OTT":991547, "en":"Amphibian trail start"},'  #Frogs and toads
        '{"OTT":320137, "en":"Fish trail start"},'  #Vertebrates
        '{"OTT":99252, "en":"Plant trail start"},'  
        '{"OTT":1007130, "en":"Bacteria trail start"},' 
        '{"OTT":5334778, "en":"Humans meet gazelles"},'
        '{"OTT":229560, "en":"Mammals meet birds"},'
        '{"OTT":229562, "en":"Mammals & birds meet amphibians"},'
        '{"OTT":114654, "en":"Land vertebrates meet fish"},'
        '{"OTT":304358, "en":"Animals meet plants"},'
        '{"OTT":93302, "en":"All life meets"}'
      ']')
  }
}}

{{extend 'treeviewer/layout.html'}}
<!-- could include bespoke css file here -->
<script type="text/javascript">
/* override default urls for linkouts */

/* MUST at a minimum define tree_config and pagetitle_func which configure the tree and page title (either could be null) */
var tree_config={'layout.node':'AT', 'layout.sign':'AT', midnode:'AT'};
var pagetitle_func = function(nm) {return (nm)?"OneZoom + Ancestor’s Trail: "+ nm:"OneZoom Tree of Life Explorer"};
</script>
