#ignore created files for all trees
/*/*.phy
/*/*.js
/*/BespokeTree/include*
!/*/BespokeTree/include_noAutoOTT
/*/OpenTreeParts/OpenTree_all/*
!/*/OpenTreeParts/OpenTree_all/README.markdown
/*/OpenTreeParts/OpenTree_print/*
/*/OpenTreeParts/OpenTree_selected/*

