{{response.title='OneZoom: Available Tours'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}
    
{{block masthead}}
<div class="home-heading uk-padding-small">
  <h1 style="margin: 0">{{=T("Tours near here" if request.vars.get("title-near") else "Tours through here")}}</h1>
</div>
{{end block}}

<ul class="uk-padding-small uk-list uk-text-small uk-child-width-1-2@m" uk-grid>

  {{for tour in tours:}}<li>
    <a {{if request.vars.get("popup"):}}onclick="window.parent.onezoom.controller.tour_start('{{=tour.url}}'); return(false)"{{pass}}
       class="block"
       href="{{=URL('default', 'life', vars=dict(tour=tour.url))}}">
        <img src="{{=img.url(tour.image_url)}}"
         onerror="this.onerror=null; this.src='{{=URL('static','images/notAvailable.png')}}'"
            width="150" height="150"
            alt="" style="float: left; margin-right: 1vw; border: 1px solid #242A22; border-radius: 10px" />
        <h3 style="margin: 0">{{=tour.title}}</h3>
        <p>{{=tour.description}}</p>
    </a>

    </a>
  </li>{{pass}}

</ul>
