{{# Google analytics tracking code Copyright Google }}
{{ga_code = myconf.get('analytics.ga_code', default='')}}
{{ga_debugview = myconf.get('analytics.ga_debugview', default=False)}}
{{civicuk_api_key = myconf.get('analytics.civicuk_api_key', default='')}}


<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }

  // Deny analytics storage before any other gtag() calls, otherwise we get "A tag read consent state before a default was set"
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'analytics_storage': 'denied'
  });

  // Strip off querystring / OTT from /life calls, so we don't treat each OTT as a separate page
  var pv_location = window.location.href;
  var pv_title = window.document.title;
  if (window.location.pathname.startsWith("/life")) {
    pv_location = document.location.href.replace(/(life[^/]*\/)@.*/, '$1');
    pv_title = "OneZoom tree viewer";
  }

  gtag('js', new Date());
  gtag('config', '{{=ga_code}}', {
      'anonymize_ip': true,

      // NB: 'config' will trigger our page_view event, so these need to be set immediately
      // https://developers.google.com/analytics/devguides/collection/ga4/reference/config#page_location
      // https://developers.google.com/analytics/devguides/collection/ga4/reference/config#page_title
      'page_location': pv_location,
      'page_title': pv_title,

      // Enable debug mode: Change appconfig.ini, Go to Admin (bottom-left) -> Data Display -> DebugView
      {{if ga_debugview:}}'debug_mode': true,{{pass}}
  });
</script>

{{if ga_code and civicuk_api_key:}}
  {{# https://www.civicuk.com/blog-item/simplify-cookie-control-set-google-consent-mode }}
  {{# https://developers.google.com/tag-platform/devguides/consent#implementation_example }}
  <script type="text/javascript">
  var cc_config={
    apiKey: '{{=civicuk_api_key}}',
    product: "COMMUNITY",
    text: {
      title: "OneZoom uses cookies to store information on your computer.",
      intro:
          "Some of these cookies are essential, while others help us to improve your experience by providing insights into how the site is being used." +
          "\n\n" +
          "OneZoom is a charitable incorporated organisation (non-profit) registered in the UK",
    },
    necessaryCookies: ['session_id_oztree'],
    optionalCookies: [{
      name: 'analytics',
      label: 'Analytical Cookies',
      description: 'Analytical cookies help us to improve our website by collecting and reporting information on its usage.',
      cookies: ['_ga', '_gid', '_gat', '__utma', '__utmt', '__utmb', '__utmc', '__utmz', '__utmv'],
      onAccept: function() { gtag('consent', 'update', {'analytics_storage': 'granted'}); },
      onRevoke: function() { gtag('consent', 'update', {'analytics_storage': 'denied'}); },
    }],
  };
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{=ga_code}}"></script>
  <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" type="text/javascript"></script>
  <script type="text/javascript">CookieControl.load(cc_config);</script>
  <style>body #ccc #ccc-icon:first-child { display: none }</style>
{{else:}}
  <script type="text/javascript">
  // Dummy gtag logging events to webdeveloper console
  function gtag() {
    console.debug("gtag", JSON.stringify(Array.from(arguments)));
  }
  for (a of window.dataLayer) gtag.apply(null, a);
  </script>
{{pass}}
