<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="{{='leaf_redirect' if response.view.startswith('default/spl_') else ''}}">
<head>
  <script type="text/javascript" src="{{=URL('static','js/jquery.min.js')}}"></script>
  <script src="{{=URL('static','uikit-3/js/uikit.min.js')}}"></script>
  <link rel="stylesheet" href="{{=URL('static','uikit-3/css/uikit.min.css')}}" />
  <link rel="stylesheet" href="{{=URL('static','css/content.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static','css/embed.css')}}" type="text/css" />
  <link rel="shortcut icon" href="{{=URL('static', 'favicon.ico')}}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
  <style>h2 {margin-top: 0}</style>
{{
    response.include_meta()
    response.include_files()
}}
  <script>
  {{include 'embed.js'}}
  var OZstrings={{include 'treeviewer/js_strings.json'}};
  </script>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    {{block head}}{{end}}
  </head>
  <body class="embedded">
    {{include 'analytics.html'}}
    {{block masthead}}{{end}}
    {{include}}
    </div>
    <!-- The javascript =============================== -->
  </body>
</html>
