<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">

    {{if response.canonical:}}<link rel="canonical" href="{{=response.canonical}}">{{pass}}
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{=URL('static','uikit-3/css/uikit.min.css')}}" />
    <link rel="stylesheet" href="{{=URL('static','css/OZ_bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{=URL('static','css/content.css')}}" type="text/css" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}" />
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script src="{{=URL('static','uikit-3/js/uikit.min.js')}}"></script>
    <script src="{{=URL('static','uikit-3/js/uikit-icons.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    {{include 'web2py_ajax.html'  # This makes web2py ajax available in the include below: used e.g. as this is the layout for management pages}}
    {{include 'web2py.html'}}
    <!-- Treeviewer code for search / embedded view -->
    {{if is_testing:}}<script>window.is_testing = true;</script>{{pass}}
    <script>var OZstrings={{include 'treeviewer/js_strings.json'}};</script>
    {{include '../static/OZTreeModule/dist/OZentry.html'}}
    {{include '../static/OZTreeModule/dist/OZui.html'}}
    {{include 'treeviewer/server_urls.html' }}

    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body class="standalone">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    {{include 'analytics.html'}}
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {{if request.vars.get('login') is not None:}}
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{pass}}
          <form class="nav navbar-form navbar-right search-nav" id="header_searchnav">




  <div class="search-basic">
    <div class="searchbox uk-search uk-search-default" id="search_form_basic">
      <div class="searchinput"><div class="icon-beside-input">
          <button   class="spinner" uk-spinner="ratio:0.5"></button>
          <button   class="main-icon" uk-icon="icon: search"></button>
        </div><input class="uk-search-input" type="search" placeholder="{{=T('Search all life...')}}" /></div>
      <div uk-dropdown="pos: bottom-left; offset: 0" class="search_dropdown selectable uk-overflow-auto">
        <div class="no_results">{{=T("No results found")}}</div>
        <dl class="search_hits"></dl>
        <dl class="popular_species"></dl>
      </div>
    </div>
  </div>
<script>
(function() {
    var box_selector = $('#header_searchnav');

    $('.searchinput input', box_selector)
        .on('keyup', function(event) {

            var search_term = this.value;
            var searchbox = $(this).closest('.searchbox');
            var searchresult = $('.searchresult', searchbox);
            var dropdown = $('.search_dropdown', searchbox);
            if (search_term.length==0) {
                $('.popular_species', dropdown).show();
                $('.recents', dropdown).show();
                {{if is_testing:}}console.log("Hiding no_result section of dropdown");{{pass}}
                $('.no_results', dropdown).hide();
                $('.search_hits', dropdown).empty();
                OZui.search_manager.full_search(""); // this clears the search
                $('.searchinput', searchbox).removeClass('waiting_for_search_result');
            } else {
                //$('.searchinput', searchbox).addClass('waiting_for_search_result');
                var delay_ms = 1000;
                if (event.which == 13) {
                    delay_ms = 1;   //enter was pressed - don't delay
                }
            if ((search_term.replace(/ /g,'').length > 2)||((search_term.replace(/ /g,'').length > 1)&&(delay_ms == 1))) { // we're never going to search for a single character

            OZui.search_manager.full_search(
                search_term,
                function(original_string, actual_search, results) {
                    OZui.searchPopulate(searchbox, original_string, results);
                },
                delay_ms,
                function() {
                    {{if is_testing:}}console.log("Search for '" + search_term + "' sent to OneZoom API from advanced search");{{pass}}
                    if(!($(".searchinput").hasClass('waiting_for_search_result'))) {
                        $(".searchinput", searchbox).addClass('waiting_for_search_result'); // switch flag for search to on
                    }});
            }
            }
        });
}())
</script>


          </form>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->

    <div class="container-fluid">
        {{include}}
    </div>

    {{block footer}} 
          
    <footer class="shortcuts" class="uk-grid-small uk-grid-match" uk-grid>
      <div class="uk-width-1-3@m uk-text-center">
        <style>
         #footer-images img.species {
           width: 60px;
           height: 60px;
           margin: 10px 3px;
         }
        </style>
        {{=LOAD('default', 'footer_sponsor_items.load', target="footer-images", ajax=False, _style="position: relative", _class="uk-child-width-1-3")}}
        <ul class="oz-pill leaf-list"><li><a href="{{=URL('default', 'sponsor.html')}}">Sponsor a leaf now!</a></li></ul>
      </div>
      <div class="uk-width-1-3 uk-width-1-6@m">
        <h3>About us</h3>
        <ul>
          <li><a href="/timeline.html">Timeline</a></li>
          <li><a href="/endorsements.html">Endorsements</a></li>
          <li><a href="/about.html">About OneZoom</a></li>
          <li><a href="/team.html">Team</a></li>
          <li><a href="/FAQ.html">FAQ</a></li>
        </ul>
      </div>

      <div class="uk-width-1-3 uk-width-1-6@m">
        <h3>Quick links</h3>
        <ul>
          <li><a href="/introduction.html">Start exploring</a></li>
          <li><a href="/installations.html">Museum displays</a></li>
          <li><a href="/work_with_us.html">Work with us</a></li>
          <li><a href="/popularity/index.html">Popularity index</a></li>
          <li><a href="/sponsor.html">Support our work</a></li>

        </ul>
      </div>

      <div class="uk-width-1-3 uk-width-1-6@m">
        <h3>Follow us</h3>
        <div>
          <a href="mailto:mail@onezoom.org" title=""><span uk-icon="icon: mail" style="vertical-align: bottom;"></span>&nbsp; E&#8209;mail</a><br/>
          <a href="https://twitter.com/OneZoomTree" target="_blank" title=""><span uk-icon="icon: twitter" style="vertical-align: bottom;"></span>&nbsp; Twitter</a><br/>
          <a href="http://www.facebook.com/OneZoomTree" target="_blank" title=""><span uk-icon="icon: facebook" style="vertical-align: bottom;"></span>&nbsp; Facebook</a><br/>
        </div>
      </div>

    </footer>
    <footer class="terms">
      <span>© {{=request.now.year}} OneZoom, UK charity 1163559</span>
      &nbsp;|&nbsp;
      <a href="{{=URL('default','terms.html', args='site')}}" target="_blank" class="footlink" title="">{{=T('Terms and Cookies')}}</a>
      &nbsp;|&nbsp;
      <a href="{{=URL('default','accessibility.html', args='site')}}" target="_blank" class="footlink" title="">{{=T('Accessibility')}}</a>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>

    <!-- Share ============================y============
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script> -->
    {{block page_js}}{{end page_js}}
  </body>
</html>
