{{
# This is only masquerading as a python file: it is web2py { {included} } like a normal 
# html file, and is intended to kill off links from e.g. museum displays. 
# This file is only used for UI elements included (but not iframes) in the viewer.
# Similar functionality is duplicated in popup.html for iframed ("popup-ed") pages
try:
    web2py_A = web2py_A #if already included, skip
except NameError:
    web2py_A = None
    if request.vars.links=='none':
        #remove hyperlink from *all* links created via the web2py A() helper, e.g. for the logos & in the LOADed modals
        def A(*args, **kwargs):
            # use SPAN rather than CAT so that e.g. _style attributes are kept
            kwargs.pop('_href', None)
            return SPAN(*args, **kwargs)
        pass
    if request.vars.links=='newtab':
        #make *all* links created via the web2py A() helper open in a new tab, e.g. from logos - this should override others
        web2py_A = A
        def A(*args, **kwargs):
            return web2py_A(*args, **dict(kwargs, _target='_blank'))
        pass
    no_tab_A = web2py_A or A
pass
}}