<!DOCTYPE html>
<html>
<head>
    <meta NAME="description" CONTENT="OneZoom Tree of Life Explorer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{if response.canonical:}}<link rel="canonical" href="{{=response.canonical}}">{{pass}}
    
<script type="text/javascript">

/* 
//I think the following 2 lines are unused
var data_path_thumbs_main = "{{try:}}{{=myconf.take('general.thumbs_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/";
var data_logo_path = "{{=URL('static','images/OZ_logo5_grey.png')}}"; */

var onezoom = null; //will be filled out on document ready

var server_urls = {
    /* These fill out the equivalently named variables in OneZoom global_config.
       They need to be defined here to avoid hard-coding them into the OneZoom js code */
    data_path_pics: "{{try:}}{{=myconf.take('general.pics_dir')}}{{except:}}{{=URL('static','FinalOutputs/pics', scheme=True, host=True)}}{{pass}}"+"/",
    link_from_image: "{{=URL('linkout_via_picID', scheme=True, host=True)}}",
    node_details_api: "{{try:}}{{=myconf.take('API.node')}}{{except:}}{{=URL('API','node_details.json', scheme=True, host=True)}}{{pass}}",
    search_api: "{{try:}}{{=myconf.take('API.search')}}{{except:}}{{=URL('API','search_node.json', scheme=True, host=True)}}{{pass}}",
    search_sponsor_api: "{{try:}}{{=myconf.take('API.search_sponsor')}}{{except:}}{{=URL('API','search_for_sponsor.json', scheme=True, host=True)}}{{pass}}",
    search_init_api: "{{try:}}{{=myconf.take('API.search_init')}}{{except:}}{{=URL('API','search_init.json', scheme=True, host=True)}}{{pass}}",
    ott2id_api: "{{try:}}{{=myconf.take('API.ott2id')}}{{except:}}{{=URL('API','get_id_by_ott.json', scheme=True, host=True)}}{{pass}}",
    ott2id_arry_api: "{{try:}}{{=myconf.take('API.ott2id_array')}}{{except:}}{{=URL('API', 'get_ids_by_ott_array.json', scheme=True, host=True)}}{{pass}}",
    otts2vns_api: "{{try:}}{{=myconf.take('API.ott2vns')}}{{except:}}{{=URL('API','otts2vns.json', scheme=True, host=True)}}{{pass}}",
    image_details_api: "{{try:}}{{=myconf.take('API.image')}}{{except:}}{{=URL('API', 'image_details.json', scheme=True, host=True)}}{{pass}}",
    update_visit_count_api: "{{try:}}{{=myconf.take('API.update_visit_count')}}{{except:}}{{=URL('API','update_visit_count.json', scheme=True, host=True)}}{{pass}}",
    OZ_leaf_json_url_func: function(ott) {return("{{=URL('default', 'leaf_linkouts', scheme=True, host=True, extension='json')}}" + "/" + ott.toString())},
    OZ_node_json_url_func: function(id) {return("{{=URL('default', 'node_linkouts', scheme=True, host=True, extension='json')}}" + "/" + id.toString())},
}

var tour = {"api":"{{try:}}{{=myconf.take('API.tours')}}{{except:}}{{=URL('OneZoom','default','tour.json', scheme=True, host=True)}}{{pass}}", "tour_name":"{{= page_info.get('tourname') or ''}}"}

/* UI functions that allow javascript in the main viewer to interact with the UI */
var UI_callbacks = {

  closeAll: function() {  /* close all of the popup windows, menus, etc */
    $('.closeable').hide()
    closeBox("from_closeall");
  },
  
  badOTT: function(ott) { /* used within setup_page.js when the page tries to load a bad location */
    $('#errorBox #noOTTtext').html('You may be able to find this taxon on the Open Tree of Life <a target="_blank" href="https://tree.opentreeoflife.org/opentree/argus/ottol@'+ott+'" >at this link</a>, or on the database that they maintain <a target="_blank" href="https://tree.opentreeoflife.org/taxonomy/browse?id='+ott+'">at this link</a>, since the Open Tree contains additional groups not on the OneZoom tree (particularly subspecies, fossils, and bacteria). However, if you can’t find it via either of these links, or by <a href="https://tree.opentreeoflife.org">searching the Open Tree</a>, then chances are you have entered a wrong number or a misspelt name.');
    showonly($('.closeable'),'#boxContainer, #errorBox');
  },

  openLinkouts: function(responseText, initialSelected) { /* used within button_manager.js when the page needs to pop up a tabbed window */
    var responseJSON = JSON.parse(responseText);
    
    /* make sure the id names correspond to the names returned by the api */
    $("#linkoutsBox label").each(function() {
      var linkout_name = $(this).attr('for'); //'wiki', 'eol', etc. Visited in order specified in html file
      if (linkout_name) {
        var input_tag = document.getElementById(linkout_name);
        if (responseJSON.data[linkout_name]) {
          //set the src of the iframe
          $(this).show();      //show the tab
          $(input_tag).show(); //show the radio button
          input_tag.value = responseJSON.data[linkout_name]; //set the value to the url. When the iframe is shown, it will get src from there
          //check the radio button, which should auto-reveal it
          if (initialSelected==null || initialSelected==linkout_name) {
            input_tag.checked = true;
            initialSelected=linkout_name;
          } else {
            input_tag.checked = false;
          }
        } else {
          input_tag.checked = false;
          $(this).hide(); //show the tab
          $(input_tag).hide(); //show the radio button
        }
      }
    });
    switchToTab();
    showonly($('.closeable'),'#boxContainer, #linkoutsBox');
  }
};
var OZstrings={{include 'tree/js_strings.json'}}
</script>
{{include}}
<noscript>
    <style>
        /* hide control buttons if there is no JS */
        #controlButtons {display:none;}
    </style>
</noscript>
    
<script type="text/javascript" src="{{=URL('static','site-specific/google-analytics.js')}}"></script>

</head>

<body id = "wholebody" style="overflow: hidden; user-select:none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select:none; -ms-user-select:none;" unselectable = "on">
    <!-- main body of document - only four elements -->
    <canvas id="OneZoomCanvasID" class="text_tree" tabindex="1">
        <!-- Text alternative to the tree. see http://odyniec.net/articles/turning-lists-into-trees/ -->
    {{if 'title_name' in page_info:}}
    {{=page_info['title_name']}}
    {{pass}}
    {{if 'tree' in page_info:}}
        {{info = page_info['tree']['info']}}
        {{for root_id, root in page_info['tree']['bases'].items():}}
        <h2>Base of the evolutionary tree for {{=XML(info[root_id]['htmlname'])}}</h2>
        {{if info[root_id]['real_parent']>0:}}<a href="{{=info[info[root_id]['real_parent']]['url']}}">&larr; parent</a>{{pass}}
        {{if root_id<0:}}
        <h3>Species: {{=XML(info[root_id]['htmlname'])}}</h3>
        {{if 'iucn' in info[root_id]:}}<p><a href="http://www.iucnredlist.org">IUCN RedList status</a>: <a href="http://www.iucnredlist.org/static/categories_criteria_3_1#categories">{{=info[root_id]['iucn']}}</a></p>{{pass}}
        {{if info[root_id].get('best_image'):}}<p>Best image: <img src="http://images.onezoom.org/{{=info[root_id]['best_image']['src_id']}}.jpg" title="{{=info[root_id]['best_image']['rights']}} / {{=info[root_id]['best_image']['licence']}}"> (EoL rating: {{=(info[root_id]['best_image']['rating']/10000)}} stars)</p>{{pass}}
        <h4>OneZoom</h4>
        <a href="{{=URL('default','life', scheme=True, host=True)}}/@={{=info[root_id]['ott']}}">Visit it on the OneZoom tree</a> or <a href="{{=URL('default','sponsor_leaf', vars={'ott':info[root_id]['ott']})}}">sponsor it!</a>
        {{else:}}
        <ul id="root">
        <li>{{=XML(info[root_id]['htmlname'])}}{{if root_id>=0:}} ({{=(info[root_id]['leaf_rgt']-info[root_id]['leaf_lft']+1)}} species){{if 'age' in info[root_id] and info[root_id]['age'] and info[root_id]['age']>0:}}. Deepest divergence date between species estimated at {{=info[root_id]['age']}} million years ago.{{pass}}{{pass}}
        <ul>
          {{for id1, more1 in root.items():}}
          <li><a href="{{=info[id1]['url']}}">{{=XML(info[id1]['htmlname'])}}{{if id1<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id1]['leaf_rgt']-info[id1]['leaf_lft']+1)}} species){{pass}}
          {{if more1:}}
          <ul>
            {{for id2, more2 in more1.items():}}
            <li><a href="{{=info[id2]['url']}}">{{=XML(info[id2]['htmlname'])}}{{if id2<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id2]['leaf_rgt']-info[id2]['leaf_lft']+1)}} species){{pass}}
            {{if more2:}}
            <ul>
              {{for id3, more3 in more2.items():}}
              <li><a href="{{=info[id3]['url']}}">{{=XML(info[id3]['htmlname'])}}{{if id3<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id3]['leaf_rgt']-info[id3]['leaf_lft']+1)}} species){{pass}}
              {{if more3:}}
              <ul>
                {{for id4, more4 in more3.items():}}
                <li><a href="{{=info[id4]['url']}}">{{=XML(info[id4]['htmlname'])}}{{if id4<0:}}</a>{{else:}} &rarr;</a> ({{=(info[id4]['leaf_rgt']-info[id4]['leaf_lft']+1)}} species){{pass}}
                </li>
                {{pass}}
              </ul>
              {{pass}}
              </li>
              {{pass}}
            </ul>
            {{pass}}
            </li>
            {{pass}}
          </ul>
          {{pass}}
          </li>
          {{pass}}  
        </ul>
        </li>
        </ul>
        {{pass}}
        {{if info[root_id]['wikidata'] or info[root_id]['eol'] or info[root_id].get('iucn') or info[root_id]['ncbi'] or info[root_id]['ott']:}}
        <h4>Other links for {{=XML(info[root_id]['htmlname'])}}</h4>
        <ul>
        {{if info[root_id]['wikidata']:}}<li><a href="http://www.wikidata.org/wiki/Q{{=info[root_id]['wikidata']}}">Wikidata</a></li>{{pass}}
        {{if info[root_id]['wikipedia_lang_flag'] and (info[root_id]['wikipedia_lang_flag'] & wikiflags['en']):}}<li><a href="http://www.wikidata.org/wiki/Special:GoToLinkedPage?site=enwiki&itemid=Q{{=info[root_id]['wikidata']}}">Wikipedia</a></li>{{pass}}
        {{if info[root_id]['eol']:}}<li><a href="http://eol.org/pages/{{=info[root_id]['eol']}}">Encyclopedia of life</a></li>{{pass}}
        {{if info[root_id].get('iucn'):}}<li><a href="http://www.iucnredlist.org/details/{{=info[root_id]['iucn']}}/0">IUCN (conservation)</a></li>{{pass}}
        {{if info[root_id]['ncbi']:}}<li><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{=info[root_id]['ncbi']}}">NCBI (genetics)</a></li>{{pass}}
        {{if info[root_id]['ott']:}}<li><a href="https://tree.opentreeoflife.org/opentree/argus/opentree@ott{{=info[root_id]['ott']}}">Open Tree of Life</a></li>{{pass}}
        </ul>
        {{pass}}
        <hr />
        {{if info[root_id].get('rep1'):}}
        <h4>Some illustrative species in this group</h4>
        (follow link for a picture)
        <ul>
        {{for i in range(1,9):}}
        {{if info[root_id].get('rep'+str(i)):}}
        <li><a href="{{=URL(args=['@={}'.format(info[root_id].get('rep'+str(i)))])}}">{{=i}}</a></li>
        {{pass}}
        {{pass}}
        </ul>
        {{pass}}

        {{pass}}
    {{pass}}
    </canvas>    
    
    <div id="Logos"><a id="Logo"><img src="{{=URL('static','images/OZ_logo5_grey3_small.png')}}" /></a></div>
    
    
    <ol id = "controlButtons" >
        <li><button id="menuButton"><img src="{{=URL('static','images/menu.png')}}"/></button></li>
        <li><button id="searchButton"><img src="{{=URL('static','images/search.png')}}" /></button></li>
        <li><button id="locateButton"><img src="{{=URL('static','images/locate.png')}}" /></button></li>
        <li><button class="hint" id="upButton" title="Previous ancestor"><img src="{{=URL('static','images/up.png')}}" /></button></li>
        <li><button class="hint" id="inButton" title="Zoom in"><img src="{{=URL('static','images/plus.png')}}" /></button></li>
        <li><button class="hint" id="outButton" title="Zoom out"><img src="{{=URL('static','images/minus.png')}}" /></button></li>
        <li><button class="hint" id="resetButton" title="Reset view"><img src="{{=URL('static','images/reset.png')}}" /></button></li>
    </ol>
    
    <div id ="outerHint"></div>
    <div id = "hintBox" class="closeable"></div>
    <div id = "search_not_fillin_hint"></div>
    <div id = "searchBox" class="closeable dropdown_container">
        <ol class = "sbuttons" >
            <li id = "search_header">{{=T('Search the tree')}}</li>
        </ol>
        <input type="text" id = "search_input" name="search_input_text" autocomplete="off">
        <div class="search_input2_container">
          <input type="text" id = "search_input2" name="search_input_text" autocomplete="off">
          <img class="search_input2_close" src="{{=URL('static','images/close_black.png')}}">
        </div>
        <ol class ="sbuttons">
          <li id = "toggle_search_highlight" data-state="on">{{=T('Clear search result')}}</li>
        </ol>
        <ol class ="sbuttons">
          <li id = "search_common_path">{{=T('Find most recent common ancestor')}}</li>
        </ol>
        <ol class = "sbuttons" id="searchButtons" >
            <!-- search results will be inserted here by js -->
        </ol>
        <ol id = "popularSpecies">
        </ol>
    </div>

    <div id = "locationBox" class="closeable dropdown_container">
        <ol class="locationList">
        </ol>
    </div>
    
    <div id = "menuBox" class="closeable">
        <ol id="menuButtons" class="menuButtonContainer closeable">
            <li id="menu_how">{{=T('How to use')}}</li>
            <li id="menu_about">{{=T('About this tree')}}</li>
            <li id="menu_data">{{=T('Data sources')}}</li>
            <li id="menu_settings">{{=T('Settings')}}</li>
            <li><a href = "http://www.onezoom.org/sponsor">{{=T('Sponsor a leaf')}}</a></li>
            <li><a href = "{{=URL('default', 'index')}}">{{=T('Back to home')}}</a></li>
        </ol>
        <ol id="menuSettings" class="menuButtonContainer closeable">
          <li id="image_source">{{=T('Image sources')}}</li>
          <li id="tree_shape" onclick="showonly($('.closeable'),'#menuBox, #menuTreeShape')" >{{=T('Tree shape')}}</li>
          <!--<li class="color_theme">{{=T('Color Theme')}}</li>-->
          <li class="setting_back">{{=T('Back')}}</li>
        </ol>
        <ol id="menuImageSource" class="menuButtonContainer closeable">
          <li class="best_any">{{=T('Any')}}</li>
          <li class="best_pd">{{=T('Public domain')}}</li>
          <li class="best_verified">{{=T('Verified')}}</li>
          <li class="setting_back">{{=T('Back')}}</li>
        </ol>
        <ol id="menuTreeShape" class="menuButtonContainer closeable">
          <li class="spiral">{{=T('Spiral')}}</li>
          <li class="natural">{{=T('Natural')}}</li>
          <li class="fern">{{=T('Fern')}}</li>
          <li class="balanced">{{=T('Balanced')}}</li>
          <!--<li class="tree_shape_polytomy" >{{=T('Polytomy')}}</li>
          <li class="tree_shape_polytomy2" >{{=T('Polytomy2')}}</li>-->
          <li class="setting_back">{{=T('Back')}}</li>
        </ol>
        <!--<ol id="menuColorTheme" class="menuButtonContainer closeable">
          <li class="natural">{{=T('Natural')}}</li>
          <li class="ancestors_tale">{{=T('Ancestor’s Tale')}}</li>
          <li class="popularity" >{{=T('Popularity')}}</li>
          <li onclick="$('#menuColorTheme').hide();$('#menuSettings').show();">{{=T('Back')}}</li>
        </ol>-->
    </div>


    <div id = "boxContainer" class="closeable">
        <div id = "outsideBox" ><!--to contain the close button, etc--></div>
        <div id = "aboutBox" class="popup_box closeable">
            <div id = "htmltext_about" class="hideable">{{include "default/about.load"}}</div>
            <div id = "htmltext_how" class="hideable">{{include "default/how.load"}}</div>
            <div id = "htmltext_data_sources" class="hideable">{{include "default/data_sources.load"}}</div>
        </div>
        <div id = "errorBox" class="popup_box closeable">
            <div id = "htmltext_badOTT">{{include "default/badOTT.load"}}</div>
        </div>
        <div id = "linkoutsBox" role="tablist" class="closeable">
            <!-- this contains multiple tabs (as radio buttons, see http://alistapart.com/article/radio-controlled-web-design)
            , associated with iframes to other sites (e.g. wikipedia). Tabbed labels are all defined here, but hidden and shown 
            by javascript, depending on if we have appropriate urls. The selected input and label should have aria-selected="true" 
            set by javascript -->
            <div class="tabs" aria-hidden="true">
                {{for tab in tabs:}}
                <label for="{{=tab['id']}}" class="{{=tab['id']}}">{{if 'icon' in tab:}}<img src="{{=tab['icon']}}" title="{{=tab['name']}}" /><span>{{=tab['name']}}</span>{{else:}}{{=tab['name']}}{{pass}}</label>
                {{pass}}
            </div>

            <div id="iframe_wrapper">
                <p id="loading_pic"><img src="{{=URL('static','images/ajax-loader.gif')}}" /></p>
                {{for tab in tabs:}}
                <input type="radio" title="{{=tab['name']}}" name="linkout-state" role="tab" id="{{=tab['id']}}" class="tabButton" aria-controls="{{=tab['id']}}-panel" />
                {{pass}}
            </div>
        </div>
		<img id = "newTabButton" src="{{=URL('static','images/new_tab.png')}}" />
        <img id = "closeButton" src="{{=URL('static','images/close.png')}}"/>
    </div>
    
    <script>

function showonly(selector, to_show) {
    return selector.not(to_show).hide().end().filter(to_show).show();
}

function update_location_menu(loc_root) {
  var my_location = loc_root[0]
  var root = loc_root[1]
  var my_location_names = my_location[0];
  var my_location_codes = my_location[1];
  var my_location_richness = my_location[3];
  if (JSON.stringify(my_location_codes) === previous_location_codes) {
    //Do not change location dropdown lists if the location has not changed.
    return;
  } else {
    previous_location_codes = JSON.stringify(my_location_codes);
  }
  // first remove everything in the current list
  var loc_list = $(".locationList").empty()
  // now rebuild the list
  loc_list.append(
      $('<li>').addClass('toploc').append(
          $('<a>').append(OZstrings["Current location"])));
  // add the main elements, in reverse order
  for (var i = my_location_names.length-1; i >= 0; i--)
  {
    /* TO DO - we don't use the richness of the current location 
    should be returned in my_location_richness[my_location_names.length] */
    var richnessProportion = 0.9;
      richnessProportion = Math.min((my_location_richness[i])/(my_location_richness[my_location_names.length-1-i]),0.9)
    
    if ((my_location_names.length > 1)&&(richnessProportion!=0))
    {
      
      
      var newcanvas = document.createElement("canvas");
      var tempGap = (1-richnessProportion)*newcanvas.width/2;
      newcanvas.height = 12;//Math.min(Math.floor(tempGap)+2,20);
      loc_list.append(newcanvas);
      
      var newContext= newcanvas.getContext('2d');
      newContext.fillStyle = "rgb(230,230,230)";
      // newContext.strokeStyle = "rgb(119,119,119)";
      //newContext.lineWidth = 0.5;
      newContext.beginPath();
      newContext.moveTo( 0 , 0);
      newContext.lineTo( tempGap , newcanvas.height);
      newContext.lineTo( newcanvas.width -tempGap, newcanvas.height);
      newContext.lineTo( newcanvas.width, 0);
      newContext.lineTo( 0 , 0);
      newContext.closePath();
      newContext.fill();
      
    }
    
    loc_list.append(
      $('<li>').append(
        $('<a>').data('locationCode', my_location_codes[i]
        ).click(function() { /* close And Fly */
          if (((document.getElementById("locationBox").offsetWidth)*2) > onezoom.tree_state.widthres) {
            /* on mobiles - small screen so close box */
            $(".locationList").parent().hide();
          }
        onezoom.controller.perform_flight_animation($(this).data('locationCode'));
        }).append(
            my_location_names[i] + 
            "<br>(" + 
            onezoom.utils.number_convert(my_location_richness[i]) +
            ")")));
  }
}

function UI_search_go(charLimit, input_id, jump_to_top_hit) {
    //this is the actual search for a bit of text
    $("#searchButtons").html("<li><b>" + OZstrings["loading..."] + "</b></li>"); //zap existing and replace with loading
    var toSearchFor = document.getElementById(input_id).value;
    //construct the UI callback that will be called on success of the ajax call (in controller_search.js) 
    //defined here so we can have access to toSearchFor, charLimit, and input_id
    var searchPopulateCallback = function(_search_result, needFurtherSearchSponsor) {
        searchPopulate(toSearchFor, charLimit, input_id, _search_result, needFurtherSearchSponsor);
    }
    onezoom.search_manager.full_search(toSearchFor, charLimit, searchPopulateCallback, onezoom.data_repo)  // this does the main search stuff.
}

function UI_search(event) {
    var keycode = event.key ? event.key : event.keyIdentifier;
    if (keycode === "Enter" || keycode === "NumpadEnter")
    {
        // we pressed enter so jump straight to top search result and set minimum search string length to 2.
        UI_search_go(1, event.target.id, true);
    }
    else
    {
        UI_search_go(3, event.target.id, false);
    }
}

function show_common_ancestry_hints() {
    /* show UI hints before firing off the main CA search */
    if (!$("#search_input2").is(":visible")) {
        return $("#search_input2").show(); // show the other search box if it isn't already open
    } else if (search_src_id === null) {
        return show_input_fillin_hint("search_input"); // give hint if one of the boxes isn't filled in
    } else if (search_dest_id === null) {
        return show_input_fillin_hint("search_input2"); // give hint if one of the boxes isn't filled in
    }
}

// only used in show_common_ancestry_hints()
function show_input_fillin_hint(input_id) {
    var text;
    if (input_id === "search_input") {
        text = OZstrings["Select 1st search box species"];
    } else if (input_id === "search_input2") {
        text = OZstrings["Select 2nd search box species"];
    }
    $("#search_not_fillin_hint").html(text);
    $("#search_not_fillin_hint").show();
    setTimeout(function() {
               $("#search_not_fillin_hint").hide();
               }, 5000);
}

// this function will call perform_leap_animation - but will first close the UI boxes if they take up too much space on screen
function closeAndLeap(OZIDin) {
    //TODO: add hint in search count.
    // add_hit_in_search_count(OZIDin);
    if (((document.getElementById("searchBox").offsetWidth)*2) > document.getElementById("OneZoomCanvasID").width) {
        UI_callbacks.closeAll();
    }
    onezoom.controller.jump_to_search_res(OZIDin);
}

function leapOrCommonAncestry(OZIDin) {
    if (!$("#search_input2").is(":visible")) {
        closeAndLeap(OZIDin);
    } else if (search_src_id === null) {
        closeAndLeap(OZIDin);
    } else if (search_dest_id === null) {
        closeAndLeap(OZIDin);
    } else {
        show_common_ancestry_hints();
        onezoom.controller.show_common_ancestor(search_src_id, search_dest_id);
    }
}

/* //This function is not used but James want to keep not of it in case we need to reimplement someting similar
function enterJumpToFirstSearchHit(newRes, toSearchFor, input_id) {
    if ($("#search_input2").is(":visible")) {
        find_common_ancestry();
    } else if (input_id === "search_input" && search_src_id) {
        onezoom.controller.jump_to_search_res(search_src_id);
    }
}
*/



function switchToTab() {
  $('#linkoutsBox label').removeClass("selected");
  $('#linkoutsBox input').each(function() {
    if ($(this).is( ":checked[value]" )) {
      /* we have checked (selected) this one, so need to load it */
      $("#linkoutsBox label[for='"+this.id+"']").addClass("selected")
      this.setAttribute('aria-selected', 'true');
      if ($(this).next().is('iframe')) {
        //there is an iframe following the input type => we have already loaded something, so do nothing
      } else {
        $('#loading_pic').show();
        var ifrm = document.createElement("iframe"); 
        //Kai hardcode. Only disable horizontal scroll in wiki since eol and redlist's page is not mobile friendly.
        //Comment it out because it also disabled vertical scroll.
        // if (elems[i].value.indexOf("www.wikidata.org/wiki") !== -1) {
        //   ifrm.setAttribute("scrolling", 'no');
        // }
        ifrm.setAttribute("src", $(this).attr('value'));
        ifrm.setAttribute("onload", "$('#loading_pic').hide()");                
        ifrm.setAttribute("role", "tabpanel");
        ifrm.setAttribute("sandbox", "allow-same-origin allow-scripts allow-forms allow-popups");
        ifrm.setAttribute("aria-labelledby", $(this).attr('id'));
        $(this).after(ifrm);
      }
    } else {
      this.removeAttribute('aria-selected');
    }
  });
}


function closeBox(caller) {
    // if (!caller) record_tap_close(); //TODO.
    $("#boxContainer").hide();
    //document.getElementById("aboutBox").hide;
    $("#linkoutsBox iframe").remove(); //kill all iframes within linkoutsBox. They are recreated when switching to tabs
    $("#linkoutsBox input").removeAttr('value'); //kill the place where the src for the iframes is normally stored
    $("#linkoutsBox").hide();
}

var previous_location_codes;
var overLocation_timer = null;
var overSearch_timer = null;
var overMenu_timer = null;
// these will store the previous search queries so that the UI can avoid repeating the same search again.
var search_src_id = null;
var search_dest_id = null;

function overLocation() {
  if (overLocation_timer != null) { /* have only recently left the location button or box: no need to change */
    clearTimeout(overLocation_timer);
  } else {                          /* coming in fresh, from having closed the location box some time previously */
    update_location_menu(onezoom.controller.get_my_location());
  }
  showonly($('div.closeable'), '#locationBox');
}

function overSearch() {
  if (overSearch_timer != null) { /* have only recently left the search button or box: no need to change */
    clearTimeout(overSearch_timer);
  } else {                          /* coming in fresh, from having closed the search box some time previously */
    // do the search here
  }
  showonly($('div.closeable'), '#searchBox');
}

// only used in searchPopulate(...)
function compile_names(record) {
    var is_leaf = record[2] < 0;
    if (record[0] && record[1]) {
        return record[0] + "</br>(" + (is_leaf?"<i>"+record[1]+"</i>":record[1]) + ")";
    } else if (record[0]) {
        return record[0];
    } else if (record[1]) {
        return (is_leaf?"<i>"+record[1]+"</i>":record[1]);
    }
}

// only used in searchPopulate(...)
function compile_sponsorship(record) {
    if (record.length >= 5 && record[4] && record[4].info_type == "Sponsorship Info") {
        return "</br>----------------------</br>" + record[4].text;
    } else if (record.length >= 5 && record[4] && record[4].info_type == "Extra Vernacular") {
        return "</br>" + record[4].text;
    } else {
        return "";
    }
}

// only used from append_search_hit(tempHTML, record, input_id)
function fill_input_res(input_id, leapId) {
    if (input_id === "search_input") {
        search_src_id = leapId;
    } else {
        search_dest_id = leapId;
    }
}

// only used in searchPopulate(...)
function append_search_hit(tempHTML, record, input_id) {
    if (tempHTML) {
        $("#searchButtons").append(
            $('<li></li>')
                .html(tempHTML)
                .click(function() {
                     fill_input_res(input_id, record[2]);
                     leapOrCommonAncestry(record[2]);
                })
            );
    }
}


function replace_items_in_search_menu(_search_result, input_id) {
    $("#searchButtons").empty();
    for (var i = 0 ; i < _search_result.length ; i++) {
        var tempHTML = compile_names(_search_result[i]);
        tempHTML += compile_sponsorship(_search_result[i]);
        append_search_hit(tempHTML, _search_result[i], input_id);
    }
}


// call back function for when total search is complete.
function searchPopulate(toSearchFor, charLimit, input_id, _search_result, needFurtherSearchSponsor) {
    if (_search_result.length<1) {
        $("#popularSpecies").show();
    }
    else {
        $("#popularSpecies").hide();
    }
    replace_items_in_search_menu(_search_result, input_id) //add the normal hits
    if (needFurtherSearchSponsor) {
        //append_search_for_sponsor
        $("#searchButtons").append(
            $("<li></li>")
                .text(OZstrings['Click to search among sponsors of the tree'])
                .addClass('button_header')
                .click(function() { // this appends a button to click to search in sponsor results.
                    $("#searchButtons").html($("<li></li>").text(OZstrings["loading..."]).addClass('loading'));
                    onezoom.search_manager.searchForSponsor(toSearchFor, charLimit, function(res) {replace_items_in_search_menu(res, 'search_input');}, 'all', onezoom.data_repo);
            })
        );
    }
}

function append_popular_species_header(record) {
    $('#popularSpecies').append(
        $('<li></li>')
            .text(record)
            .addClass('popular_header')
    );
}

function append_popular_species_body_entry(record_as_array, OZid) {
  //only put menu item if there is a provided or common name, so e.g. other language versions don't have latin names
  if (OZid && record_as_array.length > 1) {
    $('#popularSpecies').append(
        $('<li></li>')
            .text(record_as_array[1])
            .addClass('popular_button')
            .click(function() {closeAndLeap(OZid.toString());})
    );
  }
}

$(document).ready(function() {    /* Mainly a place to attach JS event handlers */

    /** CREATE A ONEZOOM INSTANCE
    this allows us to access e.g. onezoom.controller, onezoom.config, etc (defined in OZentry.js)
     **/
    onezoom = OZentry.default(
        window.server_urls, 
        window.UI_callbacks, 
        window.pagetitle_func,
        'OneZoomCanvasID', 
        window.tree_config, 
        window.rawData, 
        window.metadata,
        window.cut_position_map_json_str, 
        window.polytomy_cut_position_map_json_str, 
        window.cut_threshold,
        window.tree_date);

    $('body').on('resize', onezoom.controller.canvas_resize());

    /*** MENU ***/
    /* set some defaults */
    $('#menuImageSource .' + onezoom.controller.get_image_source()).addClass('selected_setting');
    $('#menuTreeShape .' + onezoom.controller.get_view_type()).addClass('selected_setting');

    /* set the handlers */
    $('#menuButton')
        .click(function(){showonly($('.closeable'),'#menuBox, #menuButtons')}) /* on click, reset to base menu */
    $('#menuButton,#menuBox')
        .mouseover(function(){
            if (overMenu_timer != null) {
                clearTimeout(overMenu_timer);
            }
            showonly($('div.closeable'),'#menuBox');      /* on over, show current menu (not necessarily base) */
            if($('#menuBox .closeable:visible').length == 0) {     /* show main menu if nothing is shown at all */
                $('#menuButtons').show();
            }
        })        
        .mouseout(function(){
            clearTimeout(overMenu_timer);
            /* hide in a second */
            overMenu_timer = setTimeout(function() {
              $("#menuBox").hide();
              overMenu_timer = null;
            }, 1000);
        });
    $('#menu_how')
        .click(function(){showonly(showonly($('.closeable'),'#boxContainer,#aboutBox').find('.hideable'),'#htmltext_how')});
    $('#menu_about')
        .click(function(){showonly(showonly($('.closeable'),'#boxContainer,#aboutBox').find('.hideable'),'#htmltext_about')});
    $('#menu_data')
        .click(function(){showonly(showonly($('.closeable'),'#boxContainer,#aboutBox').find('.hideable'),'#htmltext_data_sources')});
    $('#menu_settings')
        .click(function(){showonly($('.closeable'),'#menuBox, #menuSettings')});
    $('#image_source')
        .click(function(){showonly($('.closeable'),'#menuBox, #menuImageSource')});
    $('#tree_shape')
        .click(function(){showonly($('.closeable'),'#menuBox, #menuTreeShape')});
    $('.setting_back')
        .click(function(){showonly($('.closeable'),'#menuBox, #menuButtons')});
    $('#menuImageSource li').not('.setting_back')
        .click(function(){ //change image source: assumes there is only a single class
            $('#menuImageSource li').removeClass('selected_setting'); 
            onezoom.controller.set_image_source($(this).attr('class'));
            $(this).addClass('selected_setting');
        });
    $('#menuTreeShape li').not('.setting_back')
        .click(function(){ //change tree shape: assumes there is only a single class
            $('#menuTreeShape li').removeClass('selected_setting'); //remove from all
            onezoom.controller.set_view_type($(this).attr('class'));
            $(this).addClass('selected_setting');
        });
    $("#locationBox,#locateButton")
        .mouseover(function(){overLocation()})
        .mouseout(function(){
            clearTimeout(overLocation_timer);
            /* hide in a second */
            overLocation_timer = setTimeout(function() {
              $("#locationBox").hide();
              overLocation_timer = null;
            }, 1000);
        });        
    $("#searchBox,#searchButton")
        .mouseover(function(){overSearch()})
        .mouseout(function(){
            clearTimeout(overSearch_timer);
            /* hide in a second */
            overSearch_timer = setTimeout(function() {
              $("#searchBox").hide();
              overSearch_timer = null;
            }, 1000);
        }); 
    $("#search_input")
        .keyup(function() {
            search_src_id = null;
            UI_search(event);
        })
        .focus(function() {
            UI_search_go(3, 'search_input', 'focus');
        });
    $("#search_input2")
        .keyup(function() {
            search_dest_id = null;
            UI_search(event);
        })
        .focus(function() {
            UI_search_go(3, 'search_input2', 'focus');
        });
    $("#search_input2_close")
        .click(function() {
            //hide_second_search_input
            $("#search_input2").hide();
            $("#search_input2").val("");
            search_src_id = null;
            search_dest_id = null;
            onezoom.controller.clear_route_to_search();
        });
    $("#toggle_search_highlight")
        .click(function() {
            if ($("#toggle_search_highlight").data('state') == "on") {
                $("#toggle_search_highlight").html(OZstrings['Mark search result']);
                $("#toggle_search_highlight").data('state', 'off');
                onezoom.controller.turn_off_search_highlight();
            } else if ($("#toggle_search_highlight").data('state') == 'off') {
                $("#toggle_search_highlight").html(OZstrings['Clear search result']);
                $("#toggle_search_highlight").data('state', 'on');
                onezoom.controller.turn_on_search_highlight(search_src_id, search_dest_id);
            }
    });
    $("#search_common_path")
        .click(function() {
            show_common_ancestry_hints();
            onezoom.controller.show_common_ancestor(search_src_id, search_dest_id);
        })
        .mouseout(function() {
            $("#search_not_fillin_hint").hide();
        });
        
        
    $('#locateButton')
        .click(function(){overLocation()})
    $('#upButton')
        .click(function(){onezoom.controller.button_zoom_up()});
    $('#inButton')
        .click(function(){onezoom.controller.button_zoom_in()});
    $('#outButton')
        .click(function(){onezoom.controller.button_zoom_out()});
    $('#resetButton')
        .click(function(){onezoom.controller.button_reset()});
    $('.hint')
        .mouseover(function(){
            $('#hintBox').html(OZstrings[$(this).attr('title')]);
            showonly($('div.closeable'),'#outerHint,#hintBox')
        })
        .mouseout(function() {
            $('#outerHint,#hintBox').hide(); // Kai notes: not finished yet
        });

    /*** POPUP BOX (e.g. for tabbed iframes, errors, etc) ***/
    
    $("#boxContainer #outsideBox, #boxContainer #closeButton")
        .click(function() {closeBox()});
    $("#boxContainer .tabButton")
        .click(function() {switchToTab()});
    $("#boxContainer #newTabButton")
        .click(function() {
            var url = $('#linkoutsBox input:checked').attr('value');
            if (url) {
                window.open(url, '_blank').focus();
            };
        });

    $('#Logo')
        .click(function(){showonly($('div.closeable'),'#boxContainer,#aboutBox').find('.hideable').show()});

    if ($("#toggle_search_highlight").data('state') == 'on') {
            onezoom.tree_state.search_highlight = true;
    } else {
            onezoom.tree_state.search_highlight = false;
    }

    /** fill in the search menu with popular species at the start **/
    $("#searchButtons").empty();
    onezoom.utils.process_taxon_list(popular_species, append_popular_species_body_entry, append_popular_species_header, onezoom.data_repo); // this sets up the popular species data.
})


/*** OTHER STUFF ***/

if(navigator.userAgent.match(/iPhone/i)
    || navigator.userAgent.match(/iPad/i)
    || navigator.userAgent.match(/iPod/i)){
        //if user is on ios
    window.addEventListener("orientationchange", function() {
        setTimeout(function(){
            //hide the url bar
            window.scrollTo(0, 1);
        }, 700);
    }, false);
}
    </script>

</body>
</html>
