{{response.title='OneZoom: Set prices'}}
{{response.files.append(URL('static', 'OZSite/SET_PRICES.css'))}}
{{extend 'layout.html'}}
{{from OZfunc import fmt_pounds}}
<div class="row-fluid">
  <div class="col-md-12">
<h1>Set the prices from the pre-calculated popularities</h1>
{{=form.custom.begin}}
Popularity ranges from {{=int(round(pop_min,0))}} to {{=int(round(pop_max,0))}}. As a guide, here are the popularities of a few species:

<ul>
{{for name, val, quant in example_spp:}}
<li>{{=name}} = {{=f"{val:.0f}"}} (quantile = {{=f"{quant:.2f}"}}%)</li>
{{pass}}
</ul>
<h2>previous pricing structure was:</h2>
<table><tr>
<th></th>
{{for r in previous_prices:}}
<th>{{=fmt_pounds(pence=r.price)}} cutoff</th>
{{pass}}
</tr><tr>
<td>upper popularity quantile cutoff</td>
{{for r in previous_prices:}}
<td>{{=r.quantile}}</td>
{{pass}}
</tr><tr>
<td>number of species</td>
{{for r in previous_prices:}}
<td>{{=("{:,}" if r.n_leaves else "{}").format(r.n_leaves)}}</td>
{{pass}}
</tr></table>
<h2>set cutoffs:</h2>
<table><tr><th>Band</th><th style="background-color: yellow; border-right: double">Set upper<br/>popularity<br/>quantile (%)</th>
{{for i, field in enumerate(other_fields):}}
<th style="border: none; {{if i==0:}}padding-left: 4em;{{pass}}">{{=field.name}}</th>
{{pass}}
</tr>
{{for b, price in bands.items():}}
<tr>
{{  if b != max_band:}}
<th style="text-align: left">{{=b}} (currently {{=fmt_pounds(pence=price)}})</th><td style="background-color: yellow; border-right: double">{{=form.custom.widget['_'.join(['quantile', b])]}}</td>
{{  else:}}
<th style="text-align: left">{{=b}} (currently {{=fmt_pounds(pence=price)}})</th><td style="border-right: double">remainder</td>
{{  pass}}
{{  for i, field in enumerate(other_fields):}}
<td style="border: none; {{if i==0:}}padding-left: 4em;{{pass}}">{{=form.custom.widget["_".join([field.name, b])]}}</td>
{{  pass}}
{{pass}}
</tr>
</table>
Click here to set all the prices in the database (may take some time): {{=form.custom.submit}}
{{=form.custom.end}}<h2>Submitted variables</h2>
{{=BEAUTIFY(request.vars)}}
</div></div>