{{response.title='OneZoom: validate and inspect sponsors'}}
{{response.files.insert(0,URL('static','js/web2py.js')) #To allow =LOAD(ajax=True) to work}}
{{response.files.append(URL('static', 'OZSponsor/validate.css'))}}
{{response.files.append(URL('static', 'OZSponsor/EOLqueries.js'))}}
{{extend 'layout.html'}}
{{if request.vars.show == 'all' or request.vars.show == 'validated':}}
<h2><a href="{{=URL('index')}}">Management</a>: revalidation page</h2>
<form method="get">You can also look at this page <a href="?show=unvalidated">showing only taxa that need to be validated</a>, or enter an OTT number <input name="show" type="text" size="8" placeholder="e.g. 872573" value="{{=request.vars.show if (request.vars.show and request.vars.show.isdigit()) else ''}}"> and </input><button type="submit">search for it</button></form>
{{elif not request.vars.show or request.vars.show=="unvalidated":}}
<h2><a href="{{=URL('index')}}">Management</a>: recently sponsored leaves to validate</h2>
<form method="get">You can also look at this page <a href="?show=all">with *all* taxa shown</a>, or enter one or more OTT numbers separated by commas <input name="show" type="text" size="8" placeholder="e.g. 872573" value="{{=request.vars.show if (request.vars.show and request.vars.show.isdigit()) else ''}}"> and </input><button type="submit">search for it</button></form>
{{else:}}
<h2><a href="{{=URL('index')}}">Management</a>: list of leaves with validation status</h2>
{{pass}}
<p>Where a user chosen image has a red outline, the user has chosen something other than the default image (or the admin has loaded a new image in). To restore the default image, simply close the chosen image which will remove it entirely, reverting to the standard EoL one.</p>


<div class="table">
<div class="row-group">
<div class="header-row">
<div>Ids</div>
<div>Scientific name</div>
<div class='image'>Alt image</div>
<div class='image'>Chosen image</div>
<div>Donor &amp; <span class="username">username</span></div>
<div>Sponsor</div>
<div>More</div>
<div>Mesg</div>
<div>Paid</div>
</div>
</div>

    {{if len(rows)==0:}}
    <h1>No more records to validate</h1>
    {{else:}}
        <script>var loaded = {};</script>
        {{for i,rowid in enumerate(rows):}}
            {{if i==items_per_page: break}}
            {{=LOAD('manage','SPONSOR_UPDATE.load', args=[rowid], ajax=True)}}
        {{pass}}
    {{pass}}
    
</div>
    {{if page:}}
    <a href="{{=URL(args=[page-1], vars=vars)}}">&lt previous ..</a>
    {{pass}}
    
    {{if len(rows)>items_per_page:}}
    <a href="{{=URL(args=[page+1], vars=vars)}}">.. next &gt;</a>
    {{pass}}

