{{response.title='OneZoom IUCN page'}}
{{extend 'embed.html'}}

<div class="main_content">

<center><h3>
International Union for Conservation of Nature (IUCN) Red List of Threatened Species.
</h3></center>

<p>
The IUCN Red List is the most comprehensive resource for information on the degree to which species are threatened with extinction.  It isn't possible to show the IUCN page here in a window but we can provide a {{=A('link to more information about extinction risk for this species', callback=("http://www.iucnredlist.org/details/{}/0".format(int(request.vars.iucnid))), _target='blank')}} which will open in a new tab.
</p>

<div class = "uk-text-center uk-text-large"> <a class = "a-light oz-pill pill-leafout" href = {{=("http://www.iucnredlist.org/details/{}/0".format(int(request.vars.iucnid)))}} target = "_blank"> Open IUCN Red List page</a></div>

<p>
IUCN Red List status gives an indication of extinction risk for species.  The default colour scheme of our tree of life shows the degree to which species are threatened with global extinction from the colour scheme used on their leaves.
</p>

<center><img src= "{{=URL('static','images/IUCN_col_key.jpg')}}" alt="" style = "width:100%"></img></center>



</div>

