{{
    response.title=base_title + ': ' + T('Links for ') + str(name)
    response.files.append(URL('static','css/content_pages.css'))
}}
{{extend ('popup.html' if 'popup' in request.vars else 'uikit_layout.html')}}

{{block masthead}}
{{if 'popup' not in request.vars:}}
<div class="home-heading uk-text-center uk-padding-small">
  <h1>Links</h1>
</div>
{{pass}}
{{end block}}

<h3>Links for <i>{{=name}}</i> (OTT {{=ott}})</h3>
<ul>{{for k,d in data.items():}}
  {{if k.startswith('oz'): continue}}
  {{if d is None or len(d) == 0: continue}}
  <li>{{=A(current.OZglobals['tab_definitions'][k]['name'] if k in current.OZglobals['tab_definitions'] else k, _href=(d[1] if len(d) > 1 else d[0]))}}</li>
{{pass}}</ul>
