<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}">
<head>
    <!-- Our own wikipedia page, without any external styling -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .wikipedia-warning, .wikidata-warning {
        color: black;
        text-align: center;
        background-color: yellow;
    }
    
    .wikipage-source {
        clear:both;
        text-align: center;
        background-color: lightgrey;
    }
    </style>
<title>{{=T('OneZoom wikipedia page')}}</title>
<head>
  <script type="text/javascript" src="{{=URL('static','js/jquery.min.js')}}"></script>
  <script>{{include 'popup.js' # ban zooming, right click if necessary, etc.}}</script>
</head>
<body>
{{if is_testing: response.meta.viewfile, response.meta.date_accessed = response.view, request.now}}{{pass}}
{{  #note that popup-ing a remote page and removing links etc is trickier than if it is our own web2py page
    #as we can't override the URL and A helpers. Instead, we parse the html using Jquery and replace links. 
    #There are no links apart from ones within the page (e.g. to #anchor_refs) that can be considered 
    #"relative" to OneZoom. Also note that if popup-ing, all links should open in a new tab. 
    #How we do this should be controlled by the remove_links param
    try:
        popup = int(request.vars.popup)
        if popup == 0:
           restrict_links = 0 #all links left
        elif popup <=2:
            restrict_links = 1 #external links open in tabs
        else:
            restrict_links = 2 #external links banned
        pass
    except:
       restrict_links = 0
    pass
}}
<div id="wikipage"><div class="ajax-loading-pic" style="height: 100%; display: flex; align-items: center; text-align: center; justify-content: center; background-color: white /* height 100 & bg:white hides the other loading pic */"><div>Obtaining wiki information<br /><img src="{{=URL('static','images/ajax-loader.gif')}}" /></div></div></div>

<script>
/* this is where we do all the fancy wikipedia parsing stuff */

var timeout_ms = 10000; //allow 10 secs for wiki pages to load

/* Look up a wikidata Qid and a site language using the wikidata API to get a page name
 * then use the page name to get the rest_v1 wikipedia machine-readable page (see
 * https://en.wikipedia.org/api/rest_v1/ ), and inject it into the page within a <div>
 * tag of class "popup-content", using Jquery to remove links from the injected html
 * where necessary. Note that we also need to get the wikipedia stylesheet 
 * for that page (which may differ from page to page, depending on loaded components), and
 * inject that into the head of the current page. We need to make sure that wikipedia-defined 
 * css rules do not interfere with our own layout.
 */

/**
 * Replace the "src" attribute value passed in by adding an https: if necessary
 * and converting relative and absolute local URLs to the full string
 */
function replace_src(src_value, https_base, https_origin) {
    if (src_value.startsWith("//")) {
        return 'https:' + src_value;
    }
    if (src_value.startsWith("./")) {
        return https_base + src_value.substr(2);
    }
    if (src_value.startsWith("/")) {
        return https_origin + src_value;
    }
}

/**
 * Break up the srcset value by comma+whitespace and run replace_src on each
 */
function replace_srcset(srcset_value, https_base, https_origin) {
    return srcset_value.split(/,\s+/).map(function(s) {return replace_src(s, https_base, https_origin)}).join(", ");
}

/**
 * Sanitise links and src attributes in an html file, possibly remove all but internal links
 * @function sanitise_links
 * @param {string} html - a Jquery object containing the html which needs sanitizing.
 * @param {Number} restrict_links -  if 0 if we leave all links as-is, if 1 if we make all links open 
 *  in a new tab, if 2 if we remove all links (except page-internal ones to #locations within the page) 
 * @param {string} base_url - if we do want relative URLs external to this page, we need to point them 
 *  to a fully resolved host, which needs a base url taken from the 'src' attribute of the 'base' tag. 
 *  If there is no such attr, we default to the value given by this parameter.
 **/
function sanitise_links(html, restrict_links, base_url) {
  var base_url =  ($('base', html) && $('base', html).attr('href'))?$('base', html).attr('href'):base_url;
  var origin = $('<a>').prop('href', base_url).prop('origin'); //get the host/port etc
  /* sanitize image sources. Safari doesn't like using non-https urls here, because 
   * "http://en.wikipedia.org/wiki/" redrects to the https site. So we need to replace
   * '^http://' or '^//' with 'https://'
   */
  https_base = base_url.replace(/^(\/\/|\/\/)/,"https://");
  https_origin = origin.replace(/^(http:\/\/|\/\/)/,"https://");
  $('[src]', html).attr('src', function(i, attr) {return replace_src(attr, https_base, https_origin)});
  $('[srcset]', html).attr('srcset', function(i, attr) {return replace_srcset(attr, https_base, https_origin)});
  //Any internal links need to be re-written to use scrollIntoView(), so that we don't change the URL by adding a hash
  $('[href^="#"]', html).click(function() {document.getElementById($(this).attr('href').substr(1)).scrollIntoView(); return false;});
  if (restrict_links>1) {
    $('[href]', html).not('[href^="#"]').each(function() {
      if ($(this).contents().length) {
          $(this).contents().unwrap();
        } else {
          $(this).remove();
      }
    });
  } else {
    if (restrict_links>0) {
        $('[href]', html).not('[href^="#"]').attr('target','_blank');
    }
    //relative refs
    $('[href^="./"]', html).attr('href', function(i,attr) {return base_url + attr.substr(2);});
    //absolute refs
    $('[href^="/"]', html).not('[href^="//"]').attr('href', function(i,attr) {return origin + attr;});
  }
  return html;
}

function show_wikipage_for_Qid(selector, lang, Qid, backup_name, restrict_links) {
  {{if is_testing:}}console.log("Finding wikipage via Qid");{{pass}}
  var site = lang+'wiki';
  $.ajax({
    type: "GET",
    timeout: timeout_ms, 
    id:Qid,
    lang:lang,
    selector: selector,
    restrict_links: restrict_links,
    sitecode: site,
    backup_name: backup_name,
    dataType: "jsonp",
    data: {
      action:'wbgetentities',
      props:'sitelinks',
      sitefilter:site,
      ids:Qid,
      format:'json'
    },
    url: "https://www.wikidata.org/w/api.php", /* use https so that we don't fall foul of HSTS */
    success: function(data) {
        if (data.entities[this.id].sitelinks.hasOwnProperty(this.sitecode)) {
            this.selector.empty()
            append_wikipedia_page(this.selector, data.entities[this.id].sitelinks[this.sitecode].title, "https://"+this.lang+".wikipedia.org/", this.restrict_links);
        } else if (this.backup_name) {
            show_wikipage_for_name(this.selector, this.lang, this.id, this.backup_name, this.restrict_links);
        } else {
            this.selector.html($('<div></div>').addClass("wikidata-warning").text('{{=T("We have no record of an exact wikipedia page. The page below is the data page from %s which may contain additional information.") % ("www.wikidata.org")}}'))   
            append_wikidata_page(this.selector, this.id, this.lang, this.restrict_links)
        }
    },
    error: function(data) {
        {{if is_testing:}}console.log("error ", data);{{pass}}
        this.selector.html("<h1>{{=T('Could not get wikidata information')}}</h1>");
    }    
  })
}

function show_wikipage_for_name(selector, lang, Qid, name, restrict_links) {
  {{if is_testing:}}console.log("Finding wikipage via name");{{pass}}
  var site = lang+'wiki';
  $.ajax({
    type: "GET",
    timeout: timeout_ms, 
    id:Qid,
    lang:lang,
    selector: selector,
    restrict_links: restrict_links,
    sitecode: site,
    name:name,
    dataType: "jsonp",
    data: {
      srsearch:name,
      action:'query',
      list:'search',
      srprop:'',
      srlimit:1,
      format:'json'
    },
    url: "https://" + lang + ".wikipedia.org/w/api.php",
    success: function(data) {
        if (data.query.search.length && data.query.search[0].hasOwnProperty("title")) {
            this.selector.html($('<div></div>').addClass("wikipedia-warning").text('{{=T("We have no record of an exact wikipedia page. The page below is the first page returned by searching %s by name for ‘%s’") % (wikilang + ".wikipedia.org", "...NAME...")}}'.replace("...NAME...",name)))  
            append_wikipedia_page(this.selector, data.query.search[0].title, "https://"+this.lang+".wikipedia.org/", this.restrict_links);
        } else {
            this.selector.html($('<div></div>').addClass("wikidata-warning").text('{{=T("We could not find a wikipedia page. The page below is the data page from %s which may contain additional information.") % ("www.wikidata.org")}}'))   
            append_wikidata_page(this.selector, this.id, this.lang, this.restrict_links)
        }
    },
    error: function(data) {
        {{if is_testing:}}console.log("error ", data);{{pass}}
        this.selector.html("<h1>{{=T('Could not search for wikipedia page')}}</h1>");
    }
  })
}

function append_wikidata_page(selector, Qid, lang, restrict_links) {
  /* Warning - this may inject scripts into the existing page, leading to XSS vulnerabilities. 
     Hopefully negated by safemode=1 (see https://www.mediawiki.org/wiki/Manual:Parameters_to_index.php#User_preference_overriding) */
  var base_url = "https://www.wikidata.org/"
  $.ajax({
    type: "GET",
    timeout: timeout_ms, 
    pagetitle: Qid,
    base_url: base_url,
    selector: selector,
    restrict_links: restrict_links,
    url: base_url + "api/rest_v1/page/html/" + Qid,
    extra_style_url: "w/load.php?lang=" + lang + "&modules=ext.uls.pt%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikidata-org.badges%7Cext.wikimediamessages.styles%7Cjquery.makeCollapsible.styles%7Cjquery.wikibase.toolbar.styles%7Cskins.vector.icons%2Cstyles%7Cskins.vector.search.codex.styles%7Cwikibase.alltargets%2Cdesktop%7Cwikibase.vector.scopedTypeaheadSearchStyles&only=styles&skin=vector-2022",
    dataType: "html",
    data: {
        printable:'yes',
        safemode:1,
        uselang: lang,
        //format:'jsonp',
    },
    success: append_wikipage,
    error: function(data) {
        {{if is_testing:}}console.log("error ", data);{{pass}}
        this.selector.html("<h1>{{=T('Could not get wikidata page')}}</h1>");
    }
  });
}

function append_wikipedia_page(selector, pagetitle, base_url, restrict_links) {
  /* Warning - this may inject scripts into the existing page, leading to XSS vulnerabilities. However, the wikipedia
  rest_v1 API, which is used here, should not contain any JS, so we should be OK */
  $.ajax({
    type: "GET",
    timeout: timeout_ms, 
    headers: {'Api-User-Agent':'mail@onezoom.org'}, /* as requested by https://en.wikipedia.org/api/rest_v1/ */
    pagetitle: pagetitle,
    base_url: base_url,
    selector: selector,
    restrict_links: restrict_links,
    url: base_url + "api/rest_v1/page/html/" + pagetitle,
    dataType: "html",
    success: append_wikipage,
    error: function(data) {
        {{if is_testing:}}console.log("error ", data);{{pass}}
        this.selector.html("<h1>{{=T('Could not get wikipedia page')}}</h1>");
    }
  });
}

function append_wikipage(data) {
  {{if is_testing:}}console.log("Injecting wikipage from " + this.url);{{pass}}
  //double-check that we haven't inserted it while waiting for a previous AJAX call
  if (!this.selector.children().last().hasClass('wiki-content')) {
    //add classes in wikipage body to the current body - needed for some styling in tables
    var wikibody = data.match(/<body\s+.*?>/)
    if (wikibody) {
        //Jquery won't parse <body>: swap for a <div>
        wikibody = $.parseHTML(wikibody[0].replace(/<body\s+/, "<div "));
        $('body').addClass($(wikibody).attr('class'))
        $('body').attr('dir', $(wikibody).attr('dir'))
    };
    //convert reponse to html (should throw away <head> and <body> tags)
    var html_to_inject = $('<div class="wiki-content"></div>').append($.parseHTML(data));
    //just make sure we don't have a stray head or body
    $('head', html_to_inject).contents().unwrap();
    $('body', html_to_inject).contents().unwrap();
    //check if redirected and get current page title
    var page = $('link[rel="dc:isVersionOf"]', html_to_inject).attr('href');
    if (page && (page = page.match(/wikipedia.org\/wiki\/(.*)\/?$/))) {
    	this.pagetitle = page[1];
    }

    //inject stylesheet
    var array_of_styles = $('link[rel~="stylesheet"]', html_to_inject)
    if (this.extra_style_url) {
        // add to the array of styles to be injected
        array_of_styles = array_of_styles.add(
            $('<link rel="stylesheet" type="text/css" href="'+this.extra_style_url+'">')
        );
    }
    array_of_styles.addClass('injected-stylesheet');
    //make stylesheet link into an absolute URL if necessary
    var self = this;
    array_of_styles.attr('href',function(i,v) {if (/^https?:\/\//.test(v) || /\/\//.test(v)) {} else {return (self.base_url + v)};});
    $('head').prepend(array_of_styles);
    
    //transform internal page links of the form ./<title>#internal_link to simply #internal_link
    var url_start = './'+this.pagetitle;
    $('a[href^="'+url_start+'#"]', html_to_inject).attr('href', function(i,attr) {return attr.substr(url_start.length);});
    //append the URL so that we abide by wikipedia distribution
    var original_page = this.base_url + 'wiki/' + this.pagetitle;
    html_to_inject.append($('<footer></footer>').addClass('wikipage-source').html('{{=T("This is a summary of ")}} <a href="'+ original_page +'">' + original_page + '</a>'));
    sanitise_links(html_to_inject, this.restrict_links, this.base_url);
    $('base,meta,link,title,script', html_to_inject).remove();
    $('div[role="note"]', html_to_inject).remove();
    $('div[role="navigation"]', html_to_inject).remove();
    html_to_inject.children('ul').remove(); //remove lists, e.g. "see also", etc. : Assumes references (to keep) are ordered lists (not always true)
    $('.sistersitebox,.sisterlinks,.mw-editsection, #See_also, #External_links', html_to_inject).remove();
    this.selector.append(html_to_inject);
  }
}

$(document).ready(function() {
    show_wikipage_for_Qid($('#wikipage'), '{{=wikilang}}', 'Q{{=Qid}}', "{{=XML((sciname or '').replace(r'"', r'\"'))}}", {{=restrict_links}});
})
</script>
</body>
</html>