<style>
#wiki_search_frame
{
	width : 100%;
	height : 92%;
}
</style>

{{response.title='OneZoom: Wikidata but no wikipedia page'}}
{{extend 'embed.html'}}

<div id="text"><strong style="font-size:20px">Something's not right. This may not be the page that you were looking for.  </strong><a href="http://en.wikipedia.org/wiki/Special:Search/{{=name}}"><img src="/static/images/close_black.png" height="20px" width="20px"></a></div>
<div>
	<details>
		<summary>Tell me more</summary>
		<div>
			The {{if type=='leaf':}}species {{else:}} group{{pass}} <i>{{=(name or '<no name>').replace('_', ' ')}}</i> does not have a dedicated Wikipedia page.
			The page below may be a list of searches, or a redirected page. Close this message to view the page properly, or see
			<strong><a href='{{=url}}'> the list of other wiki pages concerning this species</a></strong> (these may be in other languages, or in the <a href='http://commons.wikimedia.org'>
			Wikimedia commons gallery of images and other media files</a>, or on <a href='https://species.wikimedia.org'>Wikispecies</a>).
		</div>
	</details>
</div>

<div style="text-align: center"><iframe id="wiki_search_frame" src="http://en.wikipedia.org/wiki/Special:Search/{{=name}}"></iframe></div>



<!-- {{if type=='leaf':}}
<p>The species <i>{{=(name or '<no name>').replace("_", " ")}}</i> doesn't seem to have a specific page on the English language Wikipedia (<div onClick="document.getElementByID(wiki_search).display">view search</div>). Nevertheless, there seems to be information about it on other wikipedia pages, or on other language wikipedias. You could try{{if name:}} either{{pass}}:</p>
<ul>{{if name:}}<li><strong><a href="http://en.wikipedia.org/wiki/Special:Search/{{=name}}">Searching for <i>{{=name.replace("_", " ")}}</i> on en.wikipedia</a></strong>, or</li>{{pass}}
<li><strong><a href="{{=url}}">Going to the list of other wiki pages concerning this species</a></strong> (these may be in other languages, or in the <a href="http://commons.wikimedia.org">wikimedia commons gallery of images and other media files</a>, or on <a href="https://species.wikimedia.org">wikispecies</a>).</li></ul>
{{else:}}
<button href="http://en.wikipedia.org/wiki/Special:Search/{{=name}}">Okay</button>	
<p>The group <q>{{=name.replace("_", " ")}}</q> doesn't seem to have a specific page on the English language Wikipedia (<a href="http://en.wikipedia.org/wiki/Special:Search/{{=name}}" target="_blank">view search</a>). However, it may be that there are other names for this group, or there is information on other language wikipedias. You could try {{if name:}} either{{pass}}:</p>
<ul>{{if name:}}<li><strong><a href="http://en.wikipedia.org/wiki/Special:Search/{{=name}}">Searching for <q>{{=name.replace("_", " ")}}</q> on en.wikipedia</a></strong>, or</li>{{pass}}
<li><strong><a href="{{=url}}">Going to the list of other wiki pages concerning this species</a></strong> (these may be in other languages, or in the <a href="http://commons.wikimedia.org">wikimedia commons gallery of images and other media files</a>, or on <a href="https://species.wikimedia.org">wikispecies</a>).</li></ul>
{{pass}} -->

<!--<div id="wikidata_image" style="text-align: center"></div>-->
<!-- <script>
/* decorate the page with the default image */
$.ajax({
        type: "GET",
        dataType: "jsonp",
        url: "https://www.wikidata.org/w/api.php",
        data: "format=json&action=wbgetclaims&props=&entity=Q{{=Q}}&property=P18",
        success: function(data, textStatus) {
            if (('P18' in data.claims) && (data.claims.P18[0].mainsnak.datavalue.value)) {
                $.ajax({
                        type: "GET",
                        dataType: "jsonp",
                        url: "https://commons.wikimedia.org/w/api.php",
                        data: "format=json&action=query&prop=imageinfo&iiprop=url&iiurlwidth=300&titles=File:" + data.claims.P18[0].mainsnak.datavalue.value,
                        title: data.claims.P18[0].mainsnak.datavalue.value,
                        success: function(data, textStatus) {
                            for (var key in data.query.pages) {
                                
                                var src = data.query.pages[key].imageinfo[0].thumburl
                                if (src) {
                                    $("#wikidata_image").append('<figure><img src="'+src+'" />' +
                                                                '<figcaption>Default taxon image from wikimedia commons<br />'+
                                                                'For licensing and copyright information, <a href="' +
                                                                'https://commons.wikimedia.org/wiki/File:' + this.title +
                                                                '">see the original picture</a></figcaption></figure>')
                                }
                            }
                        },
                        timeout: 5000 //default to 5 seconds timout
                })
            }
        },
        timeout: 5000 //default to 5 seconds timout
    });

</script> -->
</body>
</html>
