{{response.title='OneZoom: Test posting'}}
{{extend 'layout.html'}}
<h1>Test posting like paypal does</h1>

<p>This requires an OTT of a species that has been sponsored but not yet paid for.
It makes request.args[0] the OTT_ID. If no OTT is given, we default to 773491, the
coelacanth. If you want to test with another ott, you need to append it the the end of
the TEST_POST url, as in
<a href="{{=URL('test_post/773491')}}">{{=URL('test_post/773491', scheme=True, host=True)}}</a>.</p>

<h4>OTT {{=ott}}</h4>

<form name="myform" action="{{=URL('default', 'pp_process_post', args=[ott])}}" method="POST">
This form should send a 'post' request to pp_process_post.html/{{=ott}} with
<pre>&lt;input type="hidden" name="var1" id="hiddenField" value="my value"&gt;</pre>
<input type="hidden" name="first_name" value="Yan & James">
<input type="hidden" name="last_name" value="éspadrilles">
<input type="hidden" name="address_zip" value="OX1 4LY">
<input type="hidden" name="address_street" value="159 Marlborough Rd">
<input type="hidden" name="address_city" value="Oxford">
<input type="hidden" name="address_state" value="">
<input type="hidden" name="address_country" value="Britain">
<input type="hidden" name="payer_email" value="yan@pixie.org.uk">
<input type="hidden" name="mc_gross" value="200">
<input type="hidden" name="txn_id" value="TransactionCode1234">
<input type="hidden" name="payment_date" value="Paypal sale time">

<input type="submit" value="Submit">
</form>

Just like paypal calling (for OTT ID 1234)

<p><pre>pp_process_post.html/1234?first_name=John&last_name=Smith...</pre></p>


<pre>

 
PP provides the following: 
** first_name -> PP_first_name
** last_name -> PP_second_name
** address_zip -> PP_postcode
** address_street -> PP_house_and_street
** address_city + address_state -> PP_town
** address_country -> PP_country

** payer_email -> PP_e_mail
** mc_gross -> verified_paid
** txn_id -> PP_transaction_code
** payment_date -> sale_time

</pre>
