@use "Boot-Sass/oz_partials/mixins/image";
@use "Boot-Sass/oz_partials/mixins/vendor-prefixes";
@use "OZ_variables";

//
// OZ Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: OZ_variables.$thumbnail-padding;
  margin-top: calc(OZ_variables.$line-height-computed / 2);
  margin-bottom: OZ_variables.$line-height-computed;
  line-height: OZ_variables.$line-height-base;
  background-color: OZ_variables.$thumbnail-bg;
  border: 1px solid OZ_variables.$thumbnail-border-color;
  border-radius: OZ_variables.$thumbnail-border-radius;
  @include vendor-prefixes.transition(border .2s ease-in-out);

  > img,
  a > img {
    @include image.img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: OZ_variables.$thumbnail-caption-padding;
    color: OZ_variables.$thumbnail-caption-color;
  }
}

// Remove border and put around whole figure if img is in a <figure> tag
figure {
  border: 1px solid OZ_variables.$thumbnail-border-color;
  border-radius: OZ_variables.$thumbnail-border-radius;
  .thumbnail {
    border: 0;
    border-radius: 0;
    margin-bottom: calc(OZ_variables.$line-height-computed / 2);
  }
  figcaption {
    text-align: center;
    margin-bottom: calc(OZ_variables.$line-height-computed / 2);
  }
}

.withoutBorder {
  border:none;
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: OZ_variables.$link-color;
}
