//
// OZ Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-top: calc($line-height-computed / 2);
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border-color;
  border-radius: $thumbnail-border-radius;
  @include transition(border .2s ease-in-out);

  > img,
  a > img {
    @include img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }
}

// Remove border and put around whole figure if img is in a <figure> tag
figure {
  border: 1px solid $thumbnail-border-color;
  border-radius: $thumbnail-border-radius;
  .thumbnail {
    border: 0;
    border-radius: 0;
    margin-bottom: calc($line-height-computed / 2);
  }
  figcaption {
    text-align: center;
    margin-bottom: calc($line-height-computed / 2);
  }
}

.withoutBorder {
  border:none;
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $link-color;
}
