$oz_dark_bg: #1c261c;
$oz_dark_fg: #3f473f;
$oz_grey_bg: #736e63;
$oz_grey_fg: #b8b3ae;
$oz_red_bg: #d11c1c;
$oz_red_fg: #ff9e7f;
$oz_green_bg: #3a8a30;
$oz_green_fg: #7fd14f;
$oz_light_bg: #ffffff;
$oz_light_fg: #d9f0ca;
$oz_terms_bg: #4a514a;
$oz_terms_fg: #c6c2be;
$oz_grey_leaf: #6e6e6e;

$oz_border_def: 242A22;

$oz-font-serif: serif;
%oz-font-serif {
  font-family: $oz-font-serif;
  font-style: italic;
}

%oz-background-dark {
  background: $oz_dark_bg;
  color: $oz_light_bg;

  h1, h2, h3, h4, h5, h6 {
    color: $oz_green_fg;
  }

  em {
    color: $oz_grey_fg;
  }

  a:not(.block) {
    color: inherit;
    &:link, &:active, &:visited, &:hover {
      color: inherit;
    }
  }

  &.oz-pill {
    color: $oz_green_fg;
  }
  .oz-pill {
    border: 1px solid $oz_light_bg;
  }

  .uk-slider .oz-slider-arrow-left {
    background-image: url(../images/oz-leftarrow-greenfg.svg);
  }
  .uk-slider .oz-slider-arrow-right {
    background-image: url(../images/oz-rightarrow-greenfg.svg);
  }
}

%oz-background-light {
  background: $oz_light_fg;
  color: $oz_dark_bg;

  em {
    color: $oz_red_bg;
    font-family: inherit;
  }

  &.oz-pill {
    color: $oz_dark_bg;
  }

.green-text {
    color: $oz_green_bg;
    font-family: inherit;
}

.grey-text {
    color: $oz_grey_leaf;
    font-family: inherit;
}

}
