@import "colour_scheme.scss";

.main_content {
    a, a:link, a:active, a:visited, a:hover {
    color: inherit;
    }
}

/* ********** HP sections ********** */


.oz-card-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;

  .oz-pill {
    border-radius: 1.5rem 0 0 0;
  }
}

/* ********** Grid modifications for homepage  ********** */

.uk-grid-oz-dark {
  background: $oz_dark_bg;

  &.uk-grid-small {
    /* Padding above/below cells */
    padding: 15px 0;
  }
  @media screen and (min-width: 960px) {
    &.uk-grid-small {
      /* Modify grid so we get some padding around cells */
      padding: 15px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 640px) {
    /* Grid collapsed, so we specify the treeviewer height */
    > div {
      min-height: 58vh;
    }
    .uk-grid-small {
      margin-left: 0; /* margins collapsed, so don't need to nudge over */
    }
  }

  .uk-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $oz_dark_bg;
  }

  .uk-card-body {
    overflow: hidden; /* Contain "What is the tree of life" text */
  }
}

/* ********** Home page tour UI ************************* */

.hp_tour_ui {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .tourstop {
    text-align: right;

    .tour-controls {
      display: none;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0.5rem;
    }
    &.active .tour-controls {
      display: block;
    }
    .linkout {
      opacity: 0;
      transition: opacity .5s;
      transition-delay: .25s; /* Delay fading out so we don't fade to white too much */
      pointer-events: none;
    }
    &.active .linkout {
      opacity: 1;
      transition-delay: 0s;
      pointer-events: auto;
    }
  }

  .linkout.oz-pill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ********** Home page stat circles ************************* */

.oz-info-card {
  .oz-info-card-aside {
    min-height: 1rem; /* Use this as padding to stop text clashing with "start exploring" */
  }

  @media screen and (min-width: 1200px) {
    padding-right: calc(12em) !important;

    .oz-info-card-aside {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 12em;
      overflow: hidden;
    }
  }

  .hp-stat-circles {
    @extend %oz-font-serif;
    font-size: 120%;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    > * {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      position: absolute;
      border-radius: 100%;
      background: $oz_green_fg;
      color: $oz_dark_bg;
      text-align: center;
    }
    + h3 {
      margin-top: 0;
    }
  }
}

/* ********** Home page slider prev/next arrows ************** */

.oz-slider-arrow {
  width: 35px;
  height: 35px;
  margin: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.oz-slider-arrow-left {
    left: -55px;
    background-image: url(../images/oz-leftarrow-darkbg.svg);
  }
  &.oz-slider-arrow-right {
    right: -55px;
    background-image: url(../images/oz-rightarrow-darkbg.svg);
  }
}

/* ********** Home page news items ************** */

.news-list img.non-default {
    border: 1px solid lightgray;
}

