@import "colour_scheme.scss";

.main_content {
    margin: 0.5rem;  // Make some space around the page (does not apply to embedded pages)
}

.page-end {
    text-align: center;
}

h3 {
    margin-top: 1em; // separate out sections within a page, especially for single cols
}

h2:first-child, h3:first-child {
    margin-top: 0; //but not the top of each column
}
// ==== Blockquote ==== //

.blockquote-ul {
list-style-type: none;
}

.blockquote-footer {
color: #a6a6a6;

}

.blockquote-main {
font-size: .875rem;
padding: 0 0 0 0.5em;
border-left: 5px solid #ccc;
}

// ===== List pages, e.g. FAQ, milestones ====== //

ul.columns {
    list-style-type: none;
    > li {
        display: inline-block;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
        text-align: justify;
        margin-bottom: 1.5em;
    }
}

// ===== Sponsor leaf ====== //
.qrcode {
  text-align: center;
  #OZ-qrcode {
    display: inline-block
  }
}

#licenceText {
    text-align: center;
    display: none; /* this only gets shown if an image appears */
}

// ===== Sponsor node ====== //

.showall {
    color: #888888;
    text-align: right;    
    font-size: smaller;
}

.problem {
    /* display:none; */
}

.spList {
    padding:0;
    list-style-type: none;
}

.spList li {
    vertical-align: top;
    display: inline-block;
    margin: 0 0.2em 0.4em 0.2em;
}

.spList li a {
    text-decoration: none;
    height: 200px;
    /* line-height: 200px; */
}


.spList li a.sponsor, .spList li label {
    line-height: 1em;
    width: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    color:rgb(130,130,130);
    display: block;
    border-radius: 3px;
    border: 1px solid grey;
    
}

.spList li a.sponsor:hover {
    color:black;
}

.spList li p  {
    display: table-cell;
    line-height: 1.2;
    height: 3em;
    text-align: center;
    padding: 0.25em 0.5em;
    font-size: 14px; // To fit 4 lines of text over a picture
}

.spList li > p  {
    width: 130px;
}

.alphabetical_list {
    list-style-type: none;
    padding:0;
    margin:0;
    padding-left:1em;
    -webkit-columns: 6 150px;
       -moz-columns: 6 150px;
            columns: 6 150px;
            
}

.alphabetical_list li {
    padding:0;
    margin:0;
    margin-left:0.5em;
    text-indent: -0.5em;
}

.alphabetical_list li a {
    display:inline-block; /*makes sure the name doesn't get split between columns*/
}


.cname:first-letter {
    color: red;
    text-transform: capitalize;
}


// ===== Sponsor ====== //

.full-title {
margin: 1.5rem 0 1.5rem 0
}

q {
quotes: "\201C" "\201D" "\2018" "\2019";
}

.unpad {
padding:0
}

.creature-code input {
    font-size: 100%;
    height: 2em;
    text-align: center;
}

.short-sponsor-ideas, .long-sponsor-ideas {
list-style-type: none;
font-size: 110%;
margin:0;
padding:0;
li img {
vertical-align: center;
border-radius: 50%;
height: 4rem;
width: 4rem;
margin: 0.5rem 0.5em 0.5rem 0;
}

.subtext {
margin-top:-1.5rem;
margin-left: 6rem;
font-size: 75%;
}
}

.short-sponsor-ideas {
columns: 2 12em;
}

.short-sponsor-ideas img {
  max-width: none; // needed to override 100%, which can squash the image
}

.short-sponsor-ideas a {
    display: table-row;
    vertical-align: middle;
}

.short-sponsor-ideas a p {
    display: table-cell;
    vertical-align: middle;
}

// ===== Search sponsor ====== //
ul.sponsor_list {
list-style: none;
}
ul.sponsor_list > li:nth-of-type(even) {
}

ul.sponsor_list li {
padding-left: 80px;
padding-top:20px;
background-size:60px;
height: 75px;
background-repeat: no-repeat;
background-position: .5em .5em;
}

// ===== Sponsored, donor_list ====== //

.sponsored_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: inline-block;
    position: relative;
    vertical-align:text-top;
    padding:0 1em;
    margin: 1em 0;
    /*    border-right: 1px solid grey;*/
    text-align: center;
  }
  img {
    border-radius: 50%;
    border: 2px solid grey;
    &.nopic {
      border: 1px solid grey; opacity: 0.2;
    }
    &.pd {
      border-color: green;
    }
  }
}

.donor_head h1 {
  padding:1em 4em 0 4em;
}

.donor_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: inline-block;
    position: relative;
    vertical-align:text-top;
    padding:0 1em;
    margin: 1em 0;
    text-align: center;
    ul {  display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        position: relative;
      }
    }
  }
  .donor {
    font-size: 2em;
  }
  img {
    border: 2px solid grey;
    &.nopic {
      border: 1px solid grey; opacity: 0.2;
    }
  }
}


.donor_list.cutoff_gt1000 {
  padding: 0;
  margin: 0;
  display: block;
  > li {
    margin:2em 10%;
    border-radius: 1em;
    border: 5px solid gold;
    display: block;
    vertical-align:text-top;
    padding:0 1em;
    text-align: center;
  }
  .donor {
    font-size: 2.5em;
  }
  img {
    width: 100px;
    border: 2px solid grey;
  }
}

.donor_list.cutoff_gt150 {
padding: 0;
margin: 0;
display: block;
> li {
border-radius: 1em;
border: 3px solid silver;
display: block;
vertical-align:text-top;
padding:0 1em;
margin: 2em 10%;
text-align: center;
}
.donor {
font-size: 2.5em;
}
img {
width: 100px;
border: 2px solid grey;
}
}

.donor_foot {
color: grey;
font-size: smaller;
margin-bottom: 1em
}

.hefty {
font-size: 120%;
font-weight:bold
}

.highlight {
    border: 1px solid black;
    background-color: yellow;
    padding: 0.2rem;
}

// ===== Translations ====== //

.untranslated {
    background-color: yellow;
}

// ===== Embedded pages (but not wikipedia) ====== //

body.embedded {
    padding: 0;
    margin: 0 0.3em;
}

.ajax-loading-pic {
    position: absolute;
    width: 100%;
    text-align: center;
}

.example-leaf {
    max-height: 600px;
    margin-left: 5%; // Correct for the circle of the leaf not being centred
}
