@import "colour_scheme.scss";

.main_content {
    margin: 0.5rem;  // Make some space around the page (does not apply to embedded pages)
}

// ==== Blockquote ==== //

.blockquote-ul {
list-style-type: none;
}

.blockquote-footer {
color: #a6a6a6;

}

.blockquote-main {
font-size: .875rem;
padding: 0 0 0 0.5em;
border-left: 5px solid #ccc;
}

// ===== List pages, e.g. FAQ, milestones ====== //

ul.columns {
    list-style-type: none;
    > li {
        display: inline-block;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
        text-align: justify;
        margin-bottom: 1.5em;
    }
}

// ===== Sponsor ====== //

.full-title {
margin: 1.5rem 0 1.5rem 0
}

q {
quotes: "\201C" "\201D" "\2018" "\2019";
}

.unpad {
padding:0
}

.creature-code input {
    font-size: 100%;
    height: 2em;
    text-align: center;
}

.short-sponsor-ideas, .long-sponsor-ideas {
list-style-type: none;
font-size: 110%;
margin:0;
padding:0;
li img {
vertical-align: center;
border-radius: 50%;
height: 4rem;
width: 4rem;
margin: 0.5rem 0.5em 0.5rem 0;
}

.subtext {
margin-top:-1.5rem;
margin-left: 6rem;
font-size: 75%;
}
}

.short-sponsor-ideas {
columns: 2 12em;
}

.short-sponsor-ideas img {
  max-width: none; // needed to override 100%, which can squash the image
}

.short-sponsor-ideas a {
    display: table-row;
    vertical-align: middle;
}

.short-sponsor-ideas a p {
    display: table-cell;
    vertical-align: middle;
}

// ===== Search sponsor ====== //
ul.sponsor_list {
list-style: none;
}
ul.sponsor_list > li:nth-of-type(even) {
}

ul.sponsor_list li {
padding-left: 80px;
padding-top:20px;
background-size:60px;
height: 75px;
background-repeat: no-repeat;
background-position: .5em .5em;
}

// ===== Sponsored, donor_list ====== //

.sponsored_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: inline-block;
    position: relative;
    vertical-align:text-top;
    padding:0 1em;
    margin: 1em 0;
    /*    border-right: 1px solid grey;*/
    text-align: center;
  }
  img {
    border-radius: 50%;
    border: 2px solid grey;
    &.nopic {
      border: 1px solid grey; opacity: 0.2;
    }
    &.pd {
      border-color: green;
    }
  }
}

.donor_head h1 {
  padding:1em 4em 0 4em;
}

.donor_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: inline-block;
    position: relative;
    vertical-align:text-top;
    padding:0 1em;
    margin: 1em 0;
    text-align: center;
    ul {  display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        position: relative;
      }
    }
  }
  .donor {
    font-size: 2em;
  }
  img {
    border: 2px solid grey;
    &.nopic {
      border: 1px solid grey; opacity: 0.2;
    }
  }
}


.donor_list.cutoff_gt1000 {
  padding: 0;
  margin: 0;
  display: block;
  > li {
    margin:2em 10%;
    border-radius: 1em;
    border: 5px solid gold;
    display: block;
    vertical-align:text-top;
    padding:0 1em;
    text-align: center;
  }
  .donor {
    font-size: 2.5em;
  }
  img {
    width: 100px;
    border: 2px solid grey;
  }
}

.donor_list.cutoff_gt150 {
padding: 0;
margin: 0;
display: block;
> li {
border-radius: 1em;
border: 3px solid silver;
display: block;
vertical-align:text-top;
padding:0 1em;
margin: 2em 10%;
text-align: center;
}
.donor {
font-size: 2.5em;
}
img {
width: 100px;
border: 2px solid grey;
}
}

.donor_foot {
color: grey;
font-size: smaller;
margin-bottom: 1em
}

.hefty {
font-size: 120%;
font-weight:bold
}

.highlight {
    border: 1px solid black;
    background-color: yellow;
    padding: 0.2rem;
}

// ===== Translations ====== //

.untranslated {
    background-color: yellow;
}

// ===== Embedded pages (e.g. wikipedia) ====== //

body.embedded {
    padding: 0;
    margin: 0 0.3em;
}

.wikipedia-warning, .wikidata-warning {
    color: black;
    text-align: center;
    background-color: yellow;
}

.wikipage-source {
    clear:both;
    text-align: center;
    background-color: lightgrey;
}

.ajax-loading-pic {
    position: absolute;
    width: 100%;
    text-align: center;
}
