@import "colour_scheme.scss";

/* ********** HP sections ********** */


.oz-card-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;

  .oz-pill {
    border-radius: 1.5rem 0 0 0;
  }
}

/* ********** Grid modifications for homepage  ********** */

.uk-grid-oz-dark {
  background: $oz_dark_bg;

  &.uk-grid-small {
    /* Padding above/below cells */
    padding: 15px 0;
  }
  @media screen and (min-width: 960px) {
    &.uk-grid-small {
      /* Modify grid so we get some padding around cells */
      padding: 15px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 640px) {
    /* Grid collapsed, so we specify the treeviewer height */
    > div {
      min-height: 58vh;
    }
    .uk-grid-small {
      margin-left: 0; /* margins collapsed, so don't need to nudge over */
    }
  }

  .uk-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $oz_dark_bg;
  }

  .uk-card-body {
    overflow: hidden; /* Contain "What is the tree of life" text */
  }
}

/* ********** Home page tour UI ************************* */

.hp_tour_ui {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .tourstop {
    text-align: right;

    .tour-controls {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0.5rem;
    }
    .linkout {
      opacity: 0;
      transition: opacity .5s;
      transition-delay: .25s; /* Delay fading out so we don't fade to white too much */
      pointer-events: none;
    }
    &[data-state=tsstate-active_wait] .linkout {
      opacity: 1;
      transition-delay: 0s;
      pointer-events: auto;
    }
  }

  .linkout.oz-pill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ********** Home page news items ************** */

.news-list img.non-default {
    border: 1px solid lightgray;
}

