/* CSS entry point for UIKit-based content pages */
@import "colour_scheme.scss";
@import "search_ui.scss";

h1, h2, h3, h4, h5, h6 {
  @extend %oz-font-serif;
}

blockquote, blockquote footer {
  @extend %oz-font-serif;
  color: inherit;  /* Override UIkit's styling for quotes */
}

a, a:link, a:active, a:visited, a:hover {
  color: inherit;
}

/* ********** Header ********** */
header {
  padding: 0 10px;
}

header .uk-navbar-nav>li>a {
  text-transform: none;
  span {
    /* The navbar items have too much height, so underline a nested element */
    border-bottom: 1px solid $oz_green_fg;
  }
  color: inherit;
  &:hover, &.uk-open {
    color: $oz_green_fg;
  }
}

header .masthead {
  max-width: 520px;
  margin: 0 auto;

  h1, h1 a {
    color: $oz_green_fg;
    &:link, &:visited, &:hover, &:active {
      color: $oz_green_fg;
    }
  }

  .subdued {
    @extend %oz-font-serif;
  }
}

header .logo img {
  width: 220px;
}

/* ********** HP sections ********** */

.oz-section {
  overflow: hidden; /* contain background */

  > .oz-section-body {
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
  }

  &.bkgd-darkspiral, &.bkgd-leaves, &.bkgd-quotes, &.bkgd-polytomy {
    position: relative; /* Contain the floating background elements */

    & > * {
      z-index: 1; /* Sit stuff on top of patterns if it floats */
    }

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center right;
    }

    &:after {
      transform: scaleX(-1);
    }
  }

  &.bkgd-leaves {
    @extend %oz-background-light;
    $background-image: url(../images/oz-sectionbg-leaves.svg);
    $background-spacing: calc(50% + 700px / 2);

    &:before, &:after {
      top: 40px;
      bottom: 40px;
      background-image: $background-image;
      background-size: contain;
    }

    &:before {
      right: $background-spacing;
    }

    &:after {
      left: $background-spacing;
    }
  }

  &.bkgd-quotes {
    @extend %oz-background-dark;
    $background-image: url(../images/oz-sectionbg-quotes.svg);
    $background-spacing: calc(50% + 700px / 2);

    &:before, &:after {
      background-image: $background-image;
      background-size: contain;
    }

    &:before {
      right: $background-spacing;
    }

    &:after {
      left: $background-spacing;
    }
  }

  &.bkgd-polytomy {
    @extend %oz-background-light;
    $background-image: url(../images/oz-sectionbg-polytomy.svg);
    $background-spacing: calc(50% + 700px / 2);

    &:before, &:after {
      top: 10px;
      background-image: $background-image;
      background-position: top right;
      opacity: 0.7;
    }

    &:before {
      right: $background-spacing;
    }

    &:after {
      left: $background-spacing;
    }
  }

  &.bkgd-darkspiral {
    @extend %oz-background-dark;
    $background-image: url(../images/oz-sectionbg-darkspiral.svg);
    $background-spacing: calc(50% + 700px / 2);

    &:before {
      background-image: $background-image;
      right: $background-spacing;
    }

    &:after {
      background-image: $background-image;
      left: $background-spacing;
    }
  }
}


/* ********** Grid modifications for homepage  ********** */

.uk-grid-oz-dark {
  background: $oz_dark_bg;

  &.uk-grid-small {
    /* Modify grid so we get some padding around cells */
    padding: 15px;
    margin-left: 0;
  }

  .uk-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $oz_dark_bg;
  }
}

.uk-container-center {
  /* Future UI-kit property missing from our version */
  margin-left: auto;
  margin-right: auto;
}

/* ********** Call-to-action pills ********************** */

.oz-pill {
  @extend %oz-background-dark;

  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem 0;

  &, &:link, &:visited, &:active, &:hover {
    color: $oz_green_fg;
  }

  &.pill-round {
    border-radius: 1.5rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }

  &.pill-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1.5rem 0 0 0;
  }

  &.pill-sqicon {
    background-image: url(../images/oz-logo-sqicon-white.svg);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 1.5rem;
    padding-right: calc(1.5rem + 1rem); /* Add icon size to normal padding */
  }
}

/* ********** Home page tour UI ************************* */

.hp_tour_ui {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .tour-controls {
    padding: 0.5rem;
    text-align: right;
  }

  .linkout.oz-pill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
