/* CSS shared between the tree viewer and the main pages. These will mostly be for pages in views/default
that have a .load extension which (apart from sponsor_node_price.load) is likely to mean they are loaded
into the tree viewer as well as being accessible as stand-alone pages */


.terms, .how, .data_sources, .about {

  img.rgt_edge {
      height: auto;
      float:right; 
      margin-left: 0;
      margin-right:-20px;
      background-color: white;
  }
  
  img.lft_edge {
      height: auto;
      float:left; 
      margin-right: 0;
      margin-left:-50px;
      background-color: white;
  }
  
}

.terms {
  h3 {
      text-align: center;
      margin: 1em 0;
  }
  
  .intro p {
      text-align: center;
  }
}

.data_sources {
  img {
      height: 12em;
      margin-left: 1em;
      float: right;
      background-color: black;
  }
    
  ul {
    list-style-type: none
  }
      
  ul img {
      border: 1px solid grey;
      width: 50px;
      height:50px;
      margin-right: 10px;
      margin-left: -60px;
      float: left;
      border-radius:50%;
      clear:both;
  }
  
  ul {
      margin:0;
      padding: 0;
      padding-left: 1em;
  }
  
  h2, li {
      clear:both;
  }
  
  li {
      margin: 0.5em 0;
      margin-left: 50px;
  }
}
