@import "colour_scheme.scss";

#advanced_search_toggle, .search-nav {
    float: right;
}

#advanced_search_button.dragover {
    background-color: blue;
}

.search-nav {
    padding: 0;
}

.search-nav .searchbox {
    width: auto;
    background-color: white;
    border: 1px solid $oz_border_def;
    border-radius: 5px;
}

.search-nav .search_dropdown {
    width: 100%;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}

.search-nav .searchinput {
    display:inline-block;
}

.search-nav .searchbox button {
    margin: 0 2px;
}

.search-nav .searchbox input {
    box-sizing: border-box;
    width: 16rem;
    border: 0;
    padding: 0.5rem 0.3rem;  /* Padding around a .ui-controls .uk-icon */
    height: 2.25rem; /* Height of a .ui-controls .uk-icon */

    /* On small screens, searchbox scales with screen width */
    @media screen and (max-width: 490px) {
        width: calc(100vw - 10rem);
    }
}

.search-nav .searchbox .remove-searchbox {
    box-sizing: content-box;
}

.search-nav .icon-beside-input {
    display: inline-block;
    width: 2rem;
    padding-left: 0.3rem; /* Matching .search-nav .searchbox input */
    text-align: center;

    .main-icon {
        opacity: 0.9;
    }
}

.search-nav .searchbox .icon-beside-input .spinner {
    position: absolute;
    margin: 0.3em 0.6em;
    display: none;
}

#search-advanced .searchresult {
    /* container for showing the chosen result clicked from the dropdown */
    position: absolute;
    display:none;
}

.search-nav #search-advanced,
.search-nav.advanced_mode .search-basic,
.search-nav .icon-beside-input .spinner,
.search-nav #search-advanced .searchresult {
    display:none;
}

.search-nav.advanced_mode #search-advanced, 
.search-nav .search-basic, 
.search-nav .waiting_for_search_result .icon-beside-input .spinner,
.search-nav #search-advanced .result_displayed_in_box .searchresult {
    display:block;
}

.search-nav .waiting_for_search_result .icon-beside-input .main-icon,
.search-nav #search-advanced .result_displayed_in_box .searchinput {
    visibility: hidden;
}

.search-nav .icon-beside-input main-icon,
.search-nav #search-advanced .input {
    visibility: visible;
}

.search-nav .search-basic .searchinput {
    white-space: nowrap;
}

ul#searchboxes {
    margin:0;
    padding:0;
    list-style: none;

    > li {
        display: list-item;
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:not(:first-child) {
            border-radius: 0;
            border-top: 0;
        }
    }
    + .sa-footer #add_searchbox, .remove-searchbox {
        /* Make oz-pills circular */
        padding: 2px;
        line-height: 1px;
    }
    + .sa-footer {
        padding: 5px;
        border-radius: 0 0 5px 5px;
        border: 1px solid $oz_border_def;
        border-top: 0;
        overflow: hidden;
        background: white;

        #add_searchbox {
            float: right;
            margin-top: 3px;
        }
    }
}

#advanced_search_toggle {
    > * {
        background-color: $oz_dark_bg;
        color: $oz_green_fg;
    }
    line-height: 2.25rem; /* Pad to match height of searchnav */
}
.search-nav.advanced_mode + #advanced_search_toggle > * {
    background-color: $oz_green_fg;
    color: $oz_dark_fg;
}

/* Dropdown for search results */

.search-nav .search_dropdown {
    padding: 1rem;
    text-align: center;
}

.search-nav .search_dropdown .no_results {
    display: none;
}

.search-nav .search_dropdown dl {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.search-nav.search_dropdown dt {
    color: #444;
    font-weight: bold;
}

.search-nav .search_dropdown dd {
    color: #444;

    &.leafout {
      position: relative;
    }
    &.leafout:after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      right: -15px;
      width: 20px;
      height: 20px;
      background-image: url(../images/oz-logo-leafout-black.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
}

.search-nav .search_dropdown dd:hover, .search-nav .search_dropdown dd p:hover {
    color: black;
}

.search_dropdown dd p:first-letter {
    text-transform:capitalize;
}

.search-nav .search_dropdown dd p {
    font-size: 110%;
    margin:0;
    line-height:1.1em;
}

.search-nav .search_dropdown dd p.sponsorship-info {
    font-size: 100%;
    margin:0;
}

.search-nav .search_dropdown dd p.extra-info {
    font-size: 90%;
    margin:0;
}


/** Dividing lines in the search results **/

.search-nav .search_dropdown dd:before {
    /* lines between results */
    content: "";
    display: block;
    height: 1px;
    width: 10%;
    margin: 0.25em auto;
    background: #ddd;
}

.search-nav .search_dropdown dt.sponsorhits {
    /* line above "sponsor" results */
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
}
.search-nav .search_dropdown dt + dd:before {
    /* line below each subtitle */
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: 0.25em auto;
    background: #ddd;
}
