#advanced_search_toggle, .search-nav {
    float: right;
}

#advanced_search_button.dragover {
    background-color: blue;
}

.search-nav {
    padding: 0;
}

.search-nav button {
    color: #999;
    border-color: #999;
}

.search-nav button:hover {
    color: #666;
    border-color: #666;
}


.search-nav .searchbox {
    width: auto;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.search-nav .searchbox, #add_searchbox, #common_ancestor_button {
    margin: 0.25rem;
}

.search-nav .search_dropdown {
    width: 100%;
    border: 1px solid #eee;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}

.search-nav .searchinput {
    display:inline-block;
}

.search-nav .searchbox button {
    margin: 0 2px;
}

.search-nav .searchbox input {
    box-sizing: border-box;
    width: 16rem;
    border: 0;
    height: 2.5rem;
    border-left: 1px solid #DDD;

}

.search-nav #search-advanced .searchinput, .search-nav #search-advanced .searchresult {
    border-right: 1px solid #DDD;
}

.search-nav .searchbox .remove-searchbox {
    box-sizing: content-box;
}

.search-nav .icon-beside-input {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.search-nav .searchbox .icon-beside-input .spinner {
    position: absolute;
    margin: 0.3em 0.6em;
    display: none;
}

#search-advanced .searchresult {
    /* container for showing the chosen result clicked from the dropdown */
    position: absolute;
    display:none;
}

.search-nav #search-advanced,
.search-nav.advanced_mode .search-basic,
.search-nav .icon-beside-input .spinner,
.search-nav #search-advanced .searchresult {
    display:none;
}

.search-nav.advanced_mode #search-advanced, 
.search-nav .search-basic, 
.search-nav .waiting_for_search_result .icon-beside-input .spinner,
.search-nav #search-advanced .result_displayed_in_box .searchresult {
    display:block;
}

.search-nav .waiting_for_search_result .icon-beside-input .main-icon,
.search-nav #search-advanced .result_displayed_in_box .searchinput {
    visibility: hidden;
}

.search-nav .icon-beside-input main-icon,
.search-nav #search-advanced .input {
    visibility: visible;
}

.search-nav .search-basic .searchinput {
    white-space: nowrap;
}

#searchboxes {
    margin:0;
    padding:0;
}

ul#searchboxes {
    margin:0;
    padding:0;
    list-style: none;
}
#searchboxes .searchbox {
    display: list-item;
}

#search-advanced #common_ancestor_button {
    float: left;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    font-size: 0.7rem;
    line-height: 1.5rem;
}

#search-advanced #common_ancestor_button span {
    display: block;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}

#search-advanced #add_searchbox {
    padding: 0.5rem 0.45rem;
    float: right;
}
#search-advanced #add_searchbox svg circle {
    fill: white;
}

/* Dropdown for search results */

.search-nav .search_dropdown {
    padding: 1rem;
    text-align: center;
}

.search-nav .search_dropdown .no_results {
    display: none;
}

.search-nav .search_dropdown dl {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.search-nav.search_dropdown dt {
    color: #444;
    font-weight: bold;
}

.search-nav .search_dropdown dd {
    color: #444;

    &.leafout {
      position: relative;
    }
    &.leafout:after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      right: -15px;
      width: 20px;
      height: 20px;
      background-image: url(../images/oz-logo-leafout-black.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
}

.search-nav .search_dropdown dd:hover, .search-nav .search_dropdown dd p:hover {
    color: black;
}

.search_dropdown dd p:first-letter {
    text-transform:capitalize;
}

.search-nav .search_dropdown dd p {
    font-size: 110%;
    margin:0;
    line-height:1.1em;
}

.search-nav .search_dropdown dd p.sponsorship-info {
    font-size: 100%;
    margin:0;
}

.search-nav .search_dropdown dd p.extra-info {
    font-size: 90%;
    margin:0;
}


/** Dividing lines in the search results **/

.search-nav .search_dropdown dd:before {
    /* lines between results */
    content: "";
    display: block;
    height: 1px;
    width: 10%;
    margin: 0.25em auto;
    background: #ddd;
}

.search-nav .search_dropdown dt.sponsorhits {
    /* line above "sponsor" results */
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
}
.search-nav .search_dropdown dt + dd:before {
    /* line below each subtitle */
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: 0.25em auto;
    background: #ddd;
}

/* On miniscule screens, only display search box on click */
@media screen and (max-width: 490px) {
    .search-nav .search-basic .searchbox input {
        width: calc(100vw - 3rem);
    }
    .search-nav .search-basic .searchinput:not(.uk-open) .uk-search-input:not(:focus) {
        /* Hide simple search box until it's selected */
        padding: 0;
        width: 0;
        border-left: none;
    }
}