@import "colour_scheme.scss";

#tour_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Disable any events on the UI when active, have to quit tour to re-activate */
#tour_wrapper.tour-active + #UI > :not(.logo) {
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

#tour_wrapper > .tour {
    /* All containers should be hidden at start */
    > .container {
      visibility: hidden;
    }

    /* Default to visible for active wait, allow it to be overriden */
    > .container[data-state=tsstate-active_wait] {
      visibility: visible;
    }
    > .container[data-state=tsstate-active_wait].hidden-active_wait {
      visibility: hidden;
    }

    /* Allow visibility to be added with additional classes */
    > .container[data-state=tsstate-transition_in].visible-transition_in,
    > .container[data-state=tsstate-transition_out].visible-transition_out,
    > .container[data-state=tsstate-active_wait].visible-active_wait {
      visibility: visible;
    }

    /* tour_resume buttons only visible the tour is paused */
    .tour_resume { display: none }
    &[data-state=tstate-paused] .tour_resume { display: initial }
    &[data-state=tstate-paused] .tour_forward { display: none }
    &[data-state=tstate-paused] .tour_final { display: none }

    /* tour_backward & tour_forward don't make sense at beginning / end */
    > .container.ts-first .tour_backward { opacity: 0.5 }
    > .container.ts-last .tour_forward { display: none; }

    /* tour_final only makes sense at the end */
    > .container:not(.ts-last) .tour_final { display: none }
    &:not(&[data-state=tstate-paused]) > .container.ts-last .tour_final { display: block }

    /* Content can use the .visible-* classes too */
    > .container .visible-transition_in, > .container .visible-transition_out, > .container .visible-active_wait {
      display: none!important; /* NB: Should work above any attempts to do display: block */
    }
    > .container[data-state=tsstate-transition_in] .visible-transition_in,
    > .container[data-state=tsstate-transition_out] .visible-transition_out,
    > .container[data-state=tsstate-active_wait] .visible-active_wait {
      display: unset!important;
    }
}

#tour_wrapper > .tour.layout-def {
  > .tour_container {
    @extend %oz-drop-shadow;
    position: fixed;
    bottom: -1px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-height: 66vh;

    padding: 0 0.6rem;

    border: 1px solid #242A22;
    border-bottom-width: 0;
    border-radius: 20px 20px 0 0;

    background: rgba(255,255,255,0.8);
    color: #242A22;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    @media (orientation: landscape) {
      /* Mobile landscape mode */
      max-width: 50%;
      margin: 0 5px;

      @media (min-width: 1000px) {
        /* Desktop/tablet landscape mode */
        position: absolute;
        top: 50vh;
        left: 5vw;
        width: 40vw;
        max-width: none;
        max-height: calc(100vh - 40px * 2); /* Don't overlap OZ logo */
        transform: translate(0, -50%);

        border-bottom-width: 1px;
        border-radius: 5px;
      }
    }
  }

  .window_text {
    flex-grow: 1;
    flex-shrink: 10;
    overflow-y: auto;
  }

  .tour_container > iframe, .tour_container > a.embed-image, .tour_container > .embed-audio, .tour_container > .embed-video {
    flex-grow: 1000;
    flex-shrink: 1000; /* Far more likely to shrink media than window text */
    overflow-y: auto;
    display: block;
    text-align: center;
    > .copyright {
      float: right;
    }
    > iframe {
      width: 100%;
      max-height: 40vh; /* Don't allow video to take over in ~square viewports */
      aspect-ratio: 16/9;
    }
  }
  .tour_container > a.embed-image {
    /* Keep .copyright inside box */
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    > img {
      object-fit: cover;
      max-height: 100%;
      max-width: 80%;
      border: 1px solid #242A22;
      border-radius: 5px;
    }
    > .copyright {
      /* Use remaining width rather than displaying below */
      position: absolute;
      padding-left: 3px;
    }
  }
  .tour_container > .embed-audio {
    position: relative; /* Contain copyright link */
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    > audio {
      display: inline;
      max-width: 80%;
      max-height: 100%;
    }
    .copyright {
      position: absolute;
      top: 0;
    }
  }

  button {
    border: 1px solid #000;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
  }

  .header {
    margin: 0 -0.6rem; /* Cancel container padding */

    .handle {
      border: none;
      margin: 0.3rem auto;
      width: 5rem;
      height: 3px;
      background: #242A22;
      border-radius: 6px;
      font-size: 0;
    }

    .tour_exit.button {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1.4rem;
      font-size: 30px;
      border: none;

      &:active {
        color: #9BD05A;
        text-shadow: 0 0 6px #9BD05A;
      }
    }
    > .title {
      margin: 0 calc(0.6rem + 5px) 0 0.6rem; /* Cancel-cancel container padding, space for close */
      font-size: 26px;

      @media (orientation: landscape) {
        @media (min-width: 1000px) {
          /* Desktop/tablet landscape mode */
          padding: 5px 0;
          font-size: 32px;
          border-bottom: 1px solid #242A22;
        }
      }
    }

    .handle { display: block; }
    .tour_exit.button { display: none; }
    @media (orientation: landscape) {
      @media (min-width: 1000px) {
        /* Desktop/tablet landscape mode: Reveal × */
        .handle { display: none; }
        .tour_exit.button { display: block; }
      }
    }
  }

  .footer {
    border-top: 1px solid #242a22;
    margin: 0.3rem 0;
    padding-top: 7px;

    display: flex;
    gap: 3%;
    > .grow {
        flex-grow: 1;
    }

    .tour_backward, .tour_forward, .tour_resume, .tour_final {
      @extend %oz-drop-shadow-active;
      border: 0;
      height: 35px;
      background-repeat: no-repeat;

      &:active {
        background-color: #EEE;
        position: relative;
        top: 2px;
      }
    }

    .tour_backward {
      background-image: url(../images/oz-leftarrow-darkbg.svg);
    }
    .tour_forward, .tour_resume, .tour_final {
      background-image: url(../images/oz-rightarrow-darkbg.svg);
      background-position: right;
      padding-right: 40px;
    }

    .tour_backward, .tour_forward, .tour_resume, .tour_final {
      font-size: inherit;
      border: 1px solid #242A22;
    }
    .tour_backward {
      background-position: left;
      border-radius: calc(35px / 2) 5px 5px calc(35px / 2);
      border-left: none;
      text-indent: 35px;
      padding-right: 10px;
    }
    .tour_forward, .tour_resume, .tour_final {
      background-position: right;
      border-radius: 5px calc(35px / 2) calc(35px / 2) 5px;
      border-right: none;
      padding-left: 10px;
      padding-right: 40px;
    }

    @media (orientation: landscape) {
      @media (min-width: 1000px) {
        /* Desktop/tablet landscape mode */
        margin: 0 0 0.9rem 0;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
