/* UIkit-skin scss override file for OneZoom treasure hunt. Author: Yan Wong for OneZoom CIO. License: MIT */

#searchnav, #advanced_search_toggle {display: none;} /* Turn off search */
.treeswitch, .langswitch {display: none;} /* Turn off language switching, as we can't change lang in the list */

#treasure_list label input {
  visibility: hidden;/* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

#treasure_list ul label > span:first-of-type {/* <-- Style the artificial checkbox */
  border: 1px solid grey;
  display: inline-block;
  margin-bottom: 2px;
}
#treasure_list ul label span span {/* <-- Style the artificial checkbox */
  visibility: hidden;
}
#treasure_list ul label span span:after {/* <-- Style the artificial checkbox */
  content: "\1F3C6";
}
#treasure_list ul [type=checkbox]:checked + span span {/* <-- Style its checked state */
  visibility: visible;  
}

#treasure_list {
    position: absolute;
    z-index: 200;
    background-color: white;
    right: 2em;
    top: 1em;
    border: 2px solid red;
    h3 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 0px
    };
    ul {
        margin: 0.5em;
        margin-top: 0;
        padding-left: 0;
        list-style-type: none;
        };
}