/* UIkit-skin scss override file for OneZoom museum display. Author: Yan Wong for OneZoom CIO. License: MIT */

html {font-size: 150%}
.treeswitch {display: none !important} /* can't allow to switch to trees on other pages */
.expand-tab {display: none !important} /* can't allow link out buttons */
.ui-controls #singleInfoButton {display:list-item;}
/* make the buttons larger */
.ui-controls > li a {padding-right: 0.5rem; padding-left: 0.5rem;}
.ui-controls > li a svg {width: 40px; height: 40px;}
#settingsDropdown {width: 12em;}
