/* UIkit-skin scss file for OneZoom. Author: Yan Wong for OneZoom CIO. License: MIT */
@import "search_ui.scss";
@import "tour.scss";

html {
    background: none;
}

h2 {
    /* e.g. in the info boxes */
    font-size: 1.25rem;
}

body.tree-viewer {
    height: 100vh; /* needed to stop control buttons disappearing on opening popup */
    width: 100vw;
    overflow:hidden; /* needed to force iframe scolling on safari */

    #OneZoomCanvasID, .background-layer, #UI {
        z-index: 1;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    }

    #UI {
        z-index:2; /* overlay the canvas with the UI */
        height: 0; /* UI layer can't cover page, then we can't interact with canvas */
    }
}
#OneZoomCanvasID {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    touch-action: none; /* Don't let browser zoom canvas, we handle these events */
}

#UI #loading_spinner {
  display: none;
}
body.loading #UI #loading_spinner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  /* NB: spinner is 90px wide, center it */
  margin: -45px 0 0 -45px;
}

.uk-navbar-item {
    height:3rem;
    line-height:3rem; /* force vertical centering */
    display: block; /* don't use flex, as we want to position these outside a container */
}

.uk-navbar-item.advanced_mode {
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    height:auto;
}
.uk-navbar-item div {
    line-height:1rem; /* force vertical centering */
}
.logo {
    float: left;
    min-height: 20px; /* Override uk-navbar's min-height */
}
.logo a, .icon-beside-input .main-icon {
    opacity: 0.55;
}
.icon-beside-input .main-icon {
    opacity: 0.45;
}
.logo a:hover {
    opacity: 1;
}
.icon-beside-input .main-icon:hover {
    opacity: 0.7;
}
.logo a, #logo img {
    vertical-align: middle;
}
.logo img {
    height: 2rem;
}

#advanced_search_button {
    width: 2rem; height: 2rem;
}

#advanced_search_button svg, .searchbox .main-icon svg,
#common_ancestor_button svg, #add_searchbox svg {
    width: 1.25rem; height: 1.25rem;
}

#controlButtons {
    position: fixed;
    bottom: 0.5em; 
    left:0.5em; 
    display:block; 
    border: 1px solid #DDD;
    border-radius: 5px; 
    background-color: white;
    padding: 0.2em 0;
    margin: 0;
    }
#controlButtons a:hover {text-decoration:none}
#controlButtons > li {
    padding:0;
    margin:0;
    border-radius: 5px;
    text-align: center;
    position: relative;
    .icon-container {
        width: 100%;
        display: inline-block;
        > a {
            display: inline-block;
            padding:0.5rem 0.1rem;
            width: 2rem;
            text-align: center;
            > svg {
                width: 1.25rem;
                height:1.25rem;
            }
        }
    }
}
    
#controlButtons [uk-dropdown] {
    /* make sure dropdowns always fit in the viewport, but don't cover header (or possibly get lost under Safari URL bar) */
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
}
#controlButtons #inButton a {
    border-top: 1px solid #DDD
}

#controlButtons #multipleInfoButton a, 
#controlButtons #singleInfoButton a, 
#controlButtons #hideControlsButton a, 
#controlButtons #showControlsButton a{
    border-top: 1px solid #DDD;
}

/* Hide label text on the right of buttons */
#controlButtons .button-label {
    display: none;
}

#controlButtons #singleInfoButton {
    display:none;
}

/* Hide hide/show control button, how to use button, tour button, etc */
#controlButtons #showControlsButton,
#controlButtons #hideControlsButton,
#controlButtons #howToUseButton,
#controlButtons #tourButton,
{
    display: none;
}
/* hide any "expert-mode" buttons */
#controlButtons #screenshotButton
{
    display: none;
}

/* Toggle show/hide buttons if enabled */
ul#controlButtons.button-label-hidden {
    #showControlsButton { display: block; }
    #hideControlsButton { display: none; }
}

#locationDropdown {
    font-size: small;
    text-align: center;
    padding:0;
    min-height: 100%; /*aligned to bottom of control buttons, so make sure we are the same height as containing control buttons*/
}


#locationDropdown ol {
    box-sizing: border-box;
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:0;
}
#locationDropdown li {
    margin:0;
    padding:0;
    text-align: center;    
}
#locationDropdown li {
    border: 0 solid rgba(255, 255, 255, 0); /*  set to a percentage of 12 rem, e.g. */
    border-top: 12px solid #DDDDDD;
}
#locationDropdown .toploc {
    border-top:0;
    background-color: #DDDDDD;
}
#locationDropdown .toploc a {
    color: black;
    border-color: #DDDDDD;
}

#locationDropdown li a {
    box-sizing: border-box;
    margin:0;
    padding:0;
    padding-left: 0.5em;
    padding-right: 0.5em;    
    display:inline-block;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px 0;
    border-color: #F9F9F9;
}

#locationDropdown li a:hover {
    border-color: black
}

#locationDropdown li a:first-letter {
    text-transform:capitalize;
}

#locationDropdown, #locationDropdown ol, #locationDropdown ol li, #locationDropdown ol li a {
    width:12rem;
}

#infoDropdown {
    padding: 0.5em 0;
}
#infoDropdown li span {
    margin-right: 1em;
}

#settingsDropdown {
    text-align: left;
    padding: 0.6rem 20px 0.6rem 0rem;
    min-width: 10rem;
}

.uk-modal-body {
    padding: 0 20px; /* no need for top/bottom padding */
}

#tours-modal .uk-modal-dialog,
#imageinfo-modal .uk-modal-dialog {
    height: 100%; /* make sure dialog is full height, even if iframe has not been loaded */
    display: flex;
    flex-flow: column;
}

#tours-modal .uk-modal-body,
#imageinfo-modal .uk-modal-body {
    flex: 1; /* fill remaining height */
    display: flex; /* contents (e.g. iframe) should fill height too */
}

#tours-modal .uk-modal-header a.expand-tab,
#imageinfo-modal .uk-modal-header a.expand-tab {
    float: right;
}

#external-modal .uk-modal-dialog {
    height: 100%; /* always fill with the dialog */
    width: 120em; //override the default max width of 1800px so it is wider but readable
}

#external-modal .external-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: white;
}

#external-modal .external-content .external-tabs {
    box-sizing: border-box;
    margin-top:0;
    margin-bottom:0;
    height: 2rem;
    padding-right: 2rem; /* allow for the expand button */
}
#external-modal .external-content .external-tabs>li {
    height:inherit;
}
#external-modal .external-content .external-tabs>li>a {
    height:inherit;
    box-sizing: border-box;
    text-transform: none;
}

#external-modal .external-content .external-tabs img {
    height: 1.5rem;
    border: 0;
    padding:0;
    margin:0;
}

#external-modal .external-content .popup-container {
    flex: 1;
    display: flex;
}

#external-modal .external-content .popup-container > li {
    flex: 1;
}

#external-modal .external-content .popup-container > li.uk-active {
    display: flex; /* only set on the active item, otherwise we mess with uk kit tab showing/hiding */
}

.popup-content {
    flex: 1;
    padding: 0 0.75em;
  	overflow-y: scroll;
  	position: relative; /* needed for contents that themselves contain elements with position: absolute */
}

.popup-content.iframe-container {
    padding: 3px;
    display: flex;
    overflow-y: auto; /* iframe should do the scrolling, but hidden causes iOS woe */
    -webkit-overflow-scrolling: touch; /* see https://davidwalsh.name/scroll-iframes-ios */
    overflow-y: hidden; /* Let the iframe do the scrolling */
}

.popup-content.iframe-container > iframe {
    position: unset; /* Otherwise iOS doesn't scroll */
    flex: 1;
    min-width: 100%;
    max-width: 100%; /* Don't let content bump iframe width over 100% */
}

.popup-content > footer {
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.iframe-loading-info, .tab-loading-info {
    position: absolute;
    text-align: center;
}

iframe {
    position: relative; /* required to make it a higher z-index thank the loading pics */
}

#external-modal .expand-tab {
    height: 2rem;
}
#external-modal .expand-tab a {
    margin: 0.25rem;
    width: 1.5em;
    height: 1.5em;
}

.selectable {
    user-select: text; 
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

/* responsive size changes */

/* On small screens, shrink the top bar (e.g. logo and advanced search button) */    
@media screen and (max-width: 800px) {
    #external-modal .external-content .external-tabs::before {
        left: 10px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: -10px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 10px;
    }
}
@media screen and (max-width: 640px) {
    .uk-navbar-item {
        padding: 0 5px;
        height:2.5rem;
        line-height:2.5rem;
    }

    #advanced_search_button {
        width: 1.5rem;
        height: 1.5rem;
    }
    #advanced_search_button svg {
        height: 1rem;
    }
    .logo img {
        height: 1.5rem;
    }
    #searchnav .searchbox input {
        height: 2rem;
    }
    .uk-modal-close-outside {
        padding: 0;
    }
}

/* On tiny screens, shrink the search box */    
@media screen and (max-width: 440px) {
    #searchnav .searchbox input {
        width: 14rem;
    }
    #external-modal .external-content .external-tabs::before {
        left: 2px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: -2px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 2px;
    }
    #external-modal .external-content .external-tabs img {
        height: 1.2rem;
    }    
}

/* On miniscule screens, wrap the CA button */
@media screen and (max-width: 490px) {
    #external-modal .external-content .external-tabs::before {
        left: 0px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: 0px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 0px;
    }
    #external-modal .external-content .external-tabs img {
        height: 1rem;
    }    
}

/* on short screens (mobile landscape), kill the zoom buttons, on the assumption that users can pinch zoom */
@media screen and (max-height: 360px) {
    #inButton, #outButton {
        display: None;
    }
}
