/* UIkit-skin scss file for OneZoom. Author: Yan Wong for OneZoom CIO. License: MIT */

body {
  overflow:hidden; /* needed to force iframe scolling on safari */
}

body {
    background-color: white;
    height: 100vh; /* needed to stop control buttons disappearing on opening popup */
    width: 100vw;
}

h2 {
    /* e.g. in the info boxes */
    font-size: 1.25rem;
}

#OneZoomCanvasID, .background-layer, #UI {
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
#OneZoomCanvasID {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#UI {
    z-index:2; /* overlay the canvas with the UI */
    height: 0; /* UI layer can't cover page, then we can't interact with canvas */
}

#UI #loading_spinner {
  display: none;
}
body.loading #UI #loading_spinner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  /* NB: spinner is 90px wide, center it */
  margin: -45px 0 0 -45px;
}

.uk-navbar-item {
    height:3rem;
    line-height:3rem; /* force vertical centering */
    display: block; /* don't use flex, as we want to position these outside a container */
}

.uk-navbar-item.advanced_mode {
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    height:auto;
}
.uk-navbar-item div {
    line-height:1rem; /* force vertical centering */
}
.logo {
    float: left;
    min-height: 20px; /* Override uk-navbar's min-height */
}
.logo a {
    opacity: 0.55;
}
.logo a:hover {
    opacity: 1;
}
.logo a, #logo img {
    vertical-align: middle;
}
.logo img {
    height: 2rem;
}

#advanced_search_toggle, #searchnav {
    float: right;
}

#advanced_search_button.dragover {
    background-color: blue;
}

#searchnav {
    padding: 0;
}

#searchnav button {
    color: #999;
    border-color: #999;
}

#searchnav button:hover {
    color: #666;
    border-color: #666;
}


#searchnav .searchbox {
    width: auto;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#searchnav .searchbox, #add_searchbox, #common_ancestor_button {
    margin: 0.25rem;
}

#searchnav .search_dropdown {
    width: 100%;
    border: 1px solid #eee;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}

#searchnav .searchinput {
    display:inline-block;
}

#searchnav .searchbox button {
    margin: 0 0.5em;
}

#searchnav .searchbox input {
    box-sizing: border-box;
    width: 16rem;
    border: 0;
    height: 2.5rem;
    border-left: 1px solid #DDD;

}

#searchnav #search-advanced .searchinput, #searchnav #search-advanced .searchresult {
    border-right: 1px solid #DDD;
}

#searchnav .searchbox .remove-searchbox {
    box-sizing: content-box;
}

#searchnav .icon-beside-input {
    display: inline-block;
    width: 2rem;
}

#searchnav .searchbox .icon-beside-input .spinner {
    position: absolute;
    margin: 0.3em 0.6em;
    display: none;
}

#search-advanced .searchresult {
    /* container for showing the chosen result clicked from the dropdown */
    position: absolute;
    display:none;
}

#searchnav #search-advanced,
#searchnav.advanced_mode #search-basic,
#searchnav .icon-beside-input .spinner,
#searchnav #search-advanced .searchresult {
    display:none;
}

#searchnav.advanced_mode #search-advanced, 
#searchnav #search-basic, 
#searchnav .waiting_for_search_result .icon-beside-input .spinner,
#searchnav #search-advanced .result_displayed_in_box .searchresult {
    display:block;
}

#searchnav .waiting_for_search_result .icon-beside-input .main-icon,
#searchnav #search-advanced .result_displayed_in_box .searchinput {
    visibility: hidden;
}

#searchnav .icon-beside-input main-icon,
#searchnav #search-advanced .input {
    visibility: visible;
}

#searchnav #search-basic .searchinput {
    white-space: nowrap;
}

#searchboxes {
    margin:0;
    padding:0;
}

ul#searchboxes {
    margin:0;
    padding:0;
    list-style: none;
}
#searchboxes .searchbox {
    display: list-item;
}

#search-advanced #common_ancestor_button {
    float: left;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    font-size: 0.7rem;
    line-height: 1.5rem;
}

#search-advanced #common_ancestor_button span {
    display: block;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}

#search-advanced #add_searchbox {
    padding: 0.5rem 0.45rem;
    float: right;
}
#search-advanced #add_searchbox svg circle {
    fill: white;
}

/* Dropdown for search results */

#searchnav .search_dropdown {
    padding: 1rem;
    text-align: center;
}

#searchnav .search_dropdown .no_results {
    display: none;
}

#searchnav .search_dropdown dl {
    list-style-type: none;
    margin:0;
    padding: 0;
}

#searchnav.search_dropdown dt {
    color: #444;
    font-weight: bold;
}

#searchnav .search_dropdown dd {
    color: #444;
}

#searchnav .search_dropdown dd:hover, #searchnav .search_dropdown dd p:hover {
    color: black;
}

.search_dropdown dd p:first-letter {
    text-transform:capitalize;
}

#searchnav .search_dropdown dd p {
    font-size: 110%;
    margin:0;
    line-height:1.1em;
}

#searchnav .search_dropdown dd p.sponsorship-info {
    font-size: 100%;
    margin:0;
}

#searchnav .search_dropdown dd p.extra-info {
    font-size: 90%;
    margin:0;
}


/** Dividing lines in the search results **/

#searchnav .search_dropdown dd:before {
    /* lines between results */
    content: "";
    display: block;
    height: 1px;
    width: 10%;
    margin: 0.25em auto;
    background: #ddd;
}

#searchnav .search_dropdown dt.sponsorhits {
    /* line above "sponsor" results */
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
}
#searchnav .search_dropdown dt + dd:before {
    /* line below each subtitle */
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: 0.25em auto;
    background: #ddd;
}
        
#controlButtons {
    position: fixed;
    bottom: 0.5em; 
    left:0.5em; 
    display:block; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    background-color: white;
    padding: 0.2em 0;
    margin: 0;
    }
#controlButtons a:hover {text-decoration:none}
#controlButtons > li {
    padding:0;
    margin:0;
    border-radius: 5px;
    text-align: center;
}
    
#controlButtons > li a
{
  display: inline-block;
  padding:0.5rem 0.1rem;
  width: 2rem;
  text-align: center;
 
}
#controlButtons #upButton a {
    padding: 0.25rem 0.1rem;
}
#controlButtons #upButton a svg polyline {
    stroke-width: 0.8; /* The up chevron is magnified to fill sideways, so make the line narrower */
}

#controlButtons [uk-dropdown] {
    /* make sure dropdowns always fit in the viewport, but don't cover header (or possibly get lost under Safari URL bar) */
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
}
#controlButtons #inButton a {
    border-top: 1px solid #DDD
}

#controlButtons #singleInfoButton {
    display:none;
}

#controlButtons #multipleInfoButton a, #controlButtons #singleInfoButton a {
    border-top: 1px solid #DDD;
}

#controlButtons #resetButton a {
    /* put a ring around the reset chevron (no equivalent UIkit3 icon)*/
    box-sizing: border-box;
    padding: 0;
    width: auto;
    border: 1px solid #999;
    border-radius: 20%; 
    margin: 0.5rem auto;
}
#controlButtons #resetButton a:hover {
    border: 1px solid #666;
}

/* hide any "expert-mode" buttons */
#controlButtons #screenshotButton
{
    display: none;
}

#locationDropdown {
    font-size: small;
    text-align: center;
    padding:0;
    min-height: 100%; /*aligned to bottom of control buttons, so make sure we are the same height as containing control buttons*/
}


#locationDropdown ol {
    box-sizing: border-box;
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:0;
}
#locationDropdown li {
    margin:0;
    padding:0;
    text-align: center;    
}
#locationDropdown li {
    border: 0 solid rgba(255, 255, 255, 0); /*  set to a percentage of 12 rem, e.g. */
    border-top: 12px solid #DDDDDD;
}
#locationDropdown .toploc {
    border-top:0;
    background-color: #DDDDDD;
}
#locationDropdown .toploc a {
    color: black;
    border-color: #DDDDDD;
}

#locationDropdown li a {
    box-sizing: border-box;
    margin:0;
    padding:0;
    padding-left: 0.5em;
    padding-right: 0.5em;    
    display:inline-block;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px 0;
    border-color: #F9F9F9;
}

#locationDropdown li a:hover {
    border-color: black
}

#locationDropdown li a:first-letter {
    text-transform:capitalize;
}

#locationDropdown, #locationDropdown ol, #locationDropdown ol li, #locationDropdown ol li a {
    width:12rem;
}

#infoDropdown {
    padding: 0.5em 0;
}
#infoDropdown li span {
    margin-right: 1em;
}

.uk-modal-body {
    padding: 0 20px; /* no need for top/bottom padding */
}

#imageinfo-modal .uk-modal-dialog {
    height: 100%; /* make sure dialog is full height, even if iframe has not been loaded */
    display: flex;
    flex-flow: column;
}

#imageinfo-modal .uk-modal-body {
    flex: 1; /* fill remaining height */
    display: flex; /* contents (e.g. iframe) should fill height too */
}
    
#imageinfo-modal .uk-modal-header a {
    float: right;
}

#external-modal .uk-modal-dialog {
    height: 100%; /* always fill with the dialog */
}

#external-modal .external-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: white;
}

#external-modal .external-content .external-tabs {
    box-sizing: border-box;
    margin-top:0;
    margin-bottom:0;
    height: 2rem;
    padding-right: 2rem; /* allow for the expand button */
}
#external-modal .external-content .external-tabs>li {
    height:inherit;
}
#external-modal .external-content .external-tabs>li>a {
    height:inherit;
    box-sizing: border-box;
    text-transform: none;
}

#external-modal .external-content .external-tabs img {
    height: 1.5rem;
    border: 0;
    padding:0;
    margin:0;
}

#external-modal .external-content .popup-container {
    flex: 1;
    display: flex;
}

#external-modal .external-content .popup-container > li {
    flex: 1;
}

#external-modal .external-content .popup-container > li.uk-active {
    display: flex; /* only set on the active item, othewise we mess with uk kit tab showing/hiding */
}

.popup-content {
    flex: 1;
    padding: 0 0.75em;
  	overflow-y: scroll;
  	position: relative; /* needed for contents that themselves contain elements with position: absolute */
}

.popup-content.iframe-container {
    padding: 3px;
    display: flex;
    overflow-y: auto; /* iframe should do the scrolling, but hidden causes iOS woe */
    -webkit-overflow-scrolling: touch; /* see https://davidwalsh.name/scroll-iframes-ios */
    overflow-y: hidden; /* Let the iframe do the scrolling */
}

.popup-content.iframe-container > iframe {
    position: unset; /* Otherwise iOS doesn't scroll */
    flex: 1;
    min-width: 100%;
    max-width: 100%; /* Don't let content bump iframe width over 100% */
}

.popup-content > footer {
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.iframe-loading-info, .tab-loading-info {
    position: absolute;
    text-align: center;
}

iframe {
    position: relative; /* required to make it a higher z-index thank the loading pics */
}

#external-modal .expand-tab {
    height: 2rem;
}
#external-modal .expand-tab a {
    margin: 0.25rem;
    width: 1.5em;
    height: 1.5em;
}

#tourbox {
    /* display:none; */
    position: absolute;
    padding: 1em;
    right: 10%;
    bottom: 10%;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
}    

#tourbox select#next {
    width: 8em;
}

.selectable {
    user-select: text; 
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

/* responsive size changes */

/* On small screens, shrink the top bar (e.g. logo and advanced search button) */    
@media screen and (max-width: 800px) {
    #external-modal .external-content .external-tabs::before {
        left: 10px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: -10px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 10px;
    }
}
@media screen and (max-width: 640px) {
    .uk-navbar-item {
        padding: 0 5px;
        height:2.5rem;
        line-height:2.5rem;
    }

    #advanced_search_button {
        width: 1.5rem;
        height: 1.5rem;
    }
    #advanced_search_button svg {
        height: 1rem;
    }
    .logo img {
        height: 1.5rem;
    }
    #searchnav .searchbox input {
        height: 2rem;
    }
    .uk-modal-close-outside {
        padding: 0;
    }
}

/* On tiny screens, shrink the search box */    
@media screen and (max-width: 440px) {
    #searchnav .searchbox input {
        width: 14rem;
    }
    #external-modal .external-content .external-tabs::before {
        left: 2px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: -2px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 2px;
    }
    #external-modal .external-content .external-tabs img {
        height: 1.2rem;
    }    
}

/* On miniscule screens, only display search box on click, and wrap the CA button */
@media screen and (max-width: 380px) {
    #searchnav #search-basic .searchbox input {
        width: calc(100vw - 3rem);
    }
    #searchnav #search-basic .searchinput:not(.uk-open) .uk-search-input:not(:focus) {
        /* Hide simple search box until it's selected */
        padding: 0;
        width: 0;
        border-left: none;
    }
    #external-modal .external-content .external-tabs::before {
        left: 0px;
    }
    #external-modal .external-content .external-tabs {
        margin-left: 0px;
    }
    #external-modal .external-content .external-tabs > li {
        padding-left: 0px;
    }
    #external-modal .external-content .external-tabs img {
        height: 1rem;
    }    
}

/* on short screens (mobile landscape), kill the zoom buttons, on the assumption that users can pinch zoom */
@media screen and (max-height: 360px) {
    #inButton, #outButton {
        display: None;
    }
}
