/* UIkit-skin scss override file for OneZoom museum display. Author: Yan Wong for OneZoom CIO. License: MIT */

html {font-size: 150%}
.treeswitch {display: none !important} /* can't allow to switch to trees on other pages */
.expand-tab {display: none !important} /* can't allow link out buttons */
.ui-controls #singleInfoButton {display:list-item;}
.ui-controls #multipleInfoButton {display:none;}
/* make the buttons larger */
.ui-controls > li a {padding-right: 0.5rem; padding-left: 0.5rem;}
.ui-controls > li a svg {width: 40px; height: 40px;}
.searchbox .spinner svg, .remove-searchbox svg {width: 25px; height: 25px;}
#settingsDropdown, #infoDropdown {width: 12em;}


/* Only show button labels by default in life_MD.html */
.ui-controls .button-label {
    display: inline-block;
    position: absolute;
    border-right: 1px solid #ddd;
    //Right border of control buttons would be overwrite by the background color of button-label
    border-left: 1px solid #ddd;
    width: 5rem;
    height: 100%;
    //TODO: line-height should be set dynamically as the parent's height is not fixed
    line-height: 2.1rem;
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
    font-size: 0.8rem;
    color: #888;
    background-color: white;
}

.ui-controls.button-label-hidden .button-label {
    display: none;
}

ul.ui-controls.controls-left {
  /**
   * Remove border corner in life_MD page as it will connect with the border corner of button label text
   */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/*
 * Kai: I don't know why when click on hide or show buttons, infoDropdown would popup automatically.
 * In order to stop it from opening, set it hidden in here.
 */
ul.ui-controls #infoDropdown {
  display: none !important;
}

.ui-controls .button-label.top-border {
    border-top: 1px solid #ddd;
}

.ui-controls .button-label.bottom-border {
    border-bottom: 1px solid #ddd;
}

.ui-controls .button-label.top-right-radius {
    border-top-right-radius: 5px;
}

.ui-controls .button-label.bottom-right-radius {
    border-bottom-right-radius: 5px;
}


.ui-controls .button-label.top-padding {
    //Align the top border of button-label to the top border of control buttons
    padding-top: 0.3em;
    top: -0.3em;
}

.ui-controls .button-label.bottom-padding {
    //Align the bottom border of button-label to the bottom border of control buttons
    padding-bottom: 0.2em;
}