$color-ui-background: #343434;
$color-ui-border: #acacad;
$color-ui-foreground: #eee;

#advanced_search_toggle .uk-icon-button,
#searchnav .searchbox button,
#searchnav .searchbox,
#searchnav .search_dropdown,
#searchnav .search_dropdown dd,
#search-advanced #common_ancestor_button,
#locationDropdown,
#locationDropdown .location-list,
#locationDropdown .toploc a,
#locationDropdown li a,
.ui-controls {
  background: $color-ui-background;
  border-color: $color-ui-border;
  color: $color-ui-foreground;
}
.ui-controls>*>a {
  color: $color-ui-foreground;
}
.ui-controls #resetButton a {
  border-color: $color-ui-foreground;
}
#advanced_search_toggle .uk-icon-button {
  border: 1px solid $color-ui-border;
}
#searchnav .searchbox input {
  color: $color-ui-foreground;
}
.uk-navbar-item.advanced_mode {
  background: #888;
}
.uk-modal-dialog {
  background: black;
  color: #c5c5c5;
  box-shadow: 0 0 2px 1px black;
}
.uk-modal-dialog h1, .uk-modal-dialog .uk-h1,
.uk-modal-dialog h2, .uk-modal-dialog .uk-h2,
.uk-modal-dialog h3, .uk-modal-dialog .uk-h3,
.uk-modal-dialog h4, .uk-modal-dialog .uk-h4,
.uk-modal-dialog h5, .uk-modal-dialog .uk-h5,
.uk-modal-dialog h6, .uk-modal-dialog .uk-h6 {
  color: #c5c5c5;
}

#searchnav .icon-beside-input .main-icon img {
  /* oz-logo-icon-darkbg.svg needs to be lightened for contrast */
  filter: invert(1);
}
