q, blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 0;
    font-family: Georgia, serif;
    font-style: italic ;
}

blockquote {
    padding: 0 1em;
    border: 0;
    font-size: 1em;
}

h3 {
    margin-top: 0px;    
}

h5 {
    margin-bottom: 1.5em;    
}

#attribution {
    margin-bottom: 1em;
}

#sponsor_viz h5 {
    margin-bottom: 0.5em;    
}


#left_column {
    margin-top: 0.7em;
    text-align: justify
}

#right_column {
    margin-top: 0.7em;
    text-align: justify
}

#carousel {
  position: relative;
  margin:0; padding:0;
}

.targets {
    font-size: 0.9em;
}

#cycler img {
  top:0; left:0;
  z-index:1; 
  position: absolute;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  width: 100%;
}

#cycler img:first-child {
  position: relative;  
}

#cycler img.active{
    z-index:3
    }

a#carousel_link {
    display: block;
    border-radius: 3px;
    border: 1px solid grey;
  font-size: 1.7em;
  text-align: center;
  background-color: rgb(235,235,235);
  color: rgb(70,70,70);
}

a#carousel_link p{
    padding: 0.6em;
}

a#carousel_link:hover {
    background-color: rgb(245,245,245);
    color: black;
}
a:hover {
    text-decoration: none;
}


p.main_text {
  font-size: 1.1em;
}

#sponsor_viz {
  position: relative;
  width: 100%;
}

#sponsor_viz ul {
    padding:0;
    list-style-type: none;
}

#sponsor_viz ul li {
    display: inline-block;
    margin: 0 0.2em 0.4em 0.2em;
    width: 22%;
}

#sponsor_viz li a {
    color:rgb(130,130,130);
    display: block;
    border-radius: 3px;
    border: 1px solid grey;
}

#sponsor_viz li a:hover {
    color:black;
}

#sponsor_viz li a img {
    width: 100%;
}
#sponsor_viz li a p {
 display: table-cell;
 line-height: 1.2;
 height: 3em;
 vertical-align: middle;
}

