.text_tree .text_tree_root ul {
    color: #AAAAAA;
}

.text_tree .text_tree_root span {
    opacity: 0.4;
}


.text_tree .text_tree_root em, #root strong {
    font-style: normal;
}

.text_tree .text_tree_root em.species {
    font-style: italic;
}

.text_tree div.species {
    font-size: large;
}