div.flash { 
    min-width: 40em;
}
td, th {
    border: 1px solid black;
    padding: 0.5em;
}

th {
    text-align: center
}

.integer.form-control {
    width: 5em;
}
.double.form-control {
    width: 7em;
}
.string.form-control {
    width: 20em;
}
