; App configuration

; db configuration - using MySQL and the default web2py connector, we need to add
;  ?set_encoding=utf8mb4 to the end of the string to cope with adding all e.g. chinese
;  characters etc into the database (e.g. for vernacular names)
[db]
uri       = mysql://oz:passwd@127.0.0.1/OneZoom?set_encoding=utf8mb4
migrate   = 1
pool_size = 1

; smtp address and credentials
[smtp]
; Start a debug SMTP server: python -m smtpd -n -c DebuggingServer localhost:2500
; NB: mail object configured in models/db.py
; server = localhost:2500
; sender = me@example.com
; login = (username:pass)  ; not required for debug server
; tls = False  ; Disable TLS for debug server
; autosend_email = 1

[twitter]

; form styling
[forms]
formstyle = bootstrap3_inline
separator =

[paypal]
url        = https://www.sandbox.paypal.com
; If set to "/var/tmp" e.g, the raw data received from Paypal will be dumped here.
save_to_tmp_file_dir =

[general]
; Enable "automatic translations" behavior. Ignored unless is_testing is also set
; allow_translation_string_writing = 1

[images]
; * url_base: get thumbnail images from this source. If not
;    defined, will default to the local version, but that
;    means you will need to download >100,000 thumbnail images
;    onto your machine. If you want to use the images on the
;    OneZoom server, set this to `//images.onezoom.org/`
; * eol_jumpout_url: The internal URL that redirects to the Encyclopedia
;    of Life data object page for a given source and source ID.
; * wiki_jumpout_url: The internal URL that redirects to an image on
;    Wikimedia Commons by looking up the QID in the images_by_ott table
url_base = //images.onezoom.org/
eol_jumpout_url = /redirect/eol_dataobject_ID/{src}/{src_id}
wiki_jumpout_url = /redirect/wikimedia_commons_QID/{src_id}

[azure_vision]
; * endpoint: The endpoint for the Azure Computer Vision API for image cropping
; * key: The key for the Azure Computer Vision API

[sponsorship]
; * allow_sponsorship. Should we allow the sponsorship page to be
;    shown on this machine (0 or 1)? Usually not allowed, except on the
;    main OneZoom site (on museum displays people will not want
;    to enter paypal etc details). If set to anything other than 0/1 or all/none
;    this is assumed to be a "role", such as manager, and only
;    people logged in with the role can sponsor (for testing purposes)
;    please note that the OneZoom software license does not permit users of
;    the code to set allow_sponsorship = 1 under any circumstances
; * maintenance_mins: to enable maintenance mode (e.g. when
;    switching beta and production to enable a new website version)
;    set to the number of minutes you expect the site to be down
;    note that if is_testing=False then you will probably need to
;    restart the server for changes to this to take effect
; * reservation_time_limit_mins: how long to reserve a leaf while a
;    user is looking at the sponsor page
; * unpaid_time_limit_mins: how long before a sponsored leaf becomes
;    free again if we receive no payment notification
; * hmac_key: A secret key used to generate signatures for links in renewal e-mails
;    to provide a private page that can only be accessed a link from an e-mail we sent.
; * sponsorship_duration_days: The default length of time of a sponsorship.
; * sponsorship_renew_discount: The fraction by which the price of a sponsorship is
;   reduced when renewing a sponsorship.
; * expiry_soon_days: Number of days before sponsorship expiry to start sending
;   "your sponsorship is about to expire" emails.
; * expiry_critical_days: Number of days before sponsorship expiry to start sending
;   "your sponsorship is expiring very soon" emails.
; * expiry_hysteresis: Number of days after sending an "expiry soon" email
;   before sending a "critical expiry" email, to avoid sending both emails
;   too close together.
allow_sponsorship = 0
maintenance_mins = 0
reservation_time_limit_mins = 6
unpaid_time_limit_mins = 2880
hmac_key = supersecretstring
sponsorship_duration_days = 1461
sponsorship_renew_discount = 0.2
expiry_soon_days = 30
expiry_critical_days = 15
expiry_hysteresis = 5


[api]
;If you want to get data from the Encyclopedia of Life, you need to put your own API key here.
;Fill it in using instructions at http://eol.org/info/api_overview
;eol_api_key = 11111111111

[analytics]
; * ga_code: The google analytics data stream code you wish to use for tracking
;        if unset, tracking is off.
; To get a code, go to Admin -> Select account -> Select property -> "Data streams"
; -> Add/select "web" stream -> Copy code from "Global site tag (gtag.js)"
;    Will begin with UA- or G-
; NB: "Enhanced measurement" must be disabled:
; * "Admin" -> "Data collection" -> "Data streams"
; * Click on stream
; * "Events" -> Disable "Enhanced measurement"
;ga_code = G-ABCABCABCA
; * civicuk_api_key: An API key from cookiecontrol by CivicUK
; To get a code, log into the https://www.civicuk.com/cookie-control/user-area/
; -> "Domains", configure your instance domain
; -> "Licences", copy/paste the hex key
;civicuk_api_key = 123abc123abc123abc123abc123abc123abc123a
; * ga_code: Uncomment to enable DebugView (Admin (bottom-left) -> Data Display -> DebugView)
;ga_debugview = yes
