.last {
    text-align: center;
}

.last a {
  padding:0.5em 1em;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}