div.table {display: table;}
.table>div {display: table-row-group}
.table>div>* { display: table-row; }
.table>div>*>* { display: table-cell; }

.table {border-collapse: collapse}
.table tr:nth-child(even) {
    background-color: #EFEFEF;
}
.table .header-row > div {border: 1px solid black; background-color: #DDFFDD; text-align:center}
.table > div:nth-of-type(odd) {
    background: #e0e0e0;
}
.table a {color: blue}
.table >div>*>* {padding: 0.5em 0.3em 0 0.3em; vertical-align: top;}
.table .DB {font-weight: bold} /* items taken from the DB (user) in bold */
.table div.ids {min-width: 5em}
.table div.image.API {border-right: 1px solid black; color: grey;}
.table div.sponsorKind {width: 5em;}
.table .speciesName {width: 18em;}
.table .speciesName .API.sci {font-style: italic;}
.table .speciesName .API.common::before {content: "EoL VN: ";}
.table .vernacularName a {color: inherit}
.table textarea.form-control { height: 2em; padding: 0.2em;}
.table .adminComment {padding-top: 0}
.table .adminComment textarea.form-control { height: 6em}
.table .ids .DB::before { content: "OTT: "; }
.table .ids .API::before { content: "(EoL: "; }
.table .ids .API::after { content: ")"; }
.table div ol {list-style-type:none; padding: 0; margin: 0}
.table .image img {width:88px; height:88px}
.table .image img {border: 2px solid gray; border-radius: 50%}
.table .image img.highlighted {border: 2px solid red}
.table .image {padding-top: 0.2em; vertical-align: middle; text-align:center}
.table .sponsorType {text-align: right}
.table .PayPal {font-size: small; color: grey;}
.table .sponsor textarea, .table .more textarea, .table .donor textarea {  min-height:3em;} /* to make sure we see extra lines */
.table .donor {width: 12em}
.table .donor .PayPal::before { content: "PP: ("; }
.table .donor .PayPal::after { content: ")"; }
.table .donor .donordetails input, .table .donor .username input {width: 74%; display: inline-block}
.table .donor .donordetails input:first-of-type {width: 25%;}
.table .donor .show {color: green}
.table .donor .hide {color: red}
.table .confirm {text-align:center;}
.table .confirm input {background-color: green; background-image:none; font-weight:normal}
.table .confirm p {display: inline-block; margin: 0}
.table .username {font-family: monospace; font-style: normal}

button.changeimage, button.noimage {
    border: 0;
    background-color: transparent;
    background-image: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button.changeimage {
    position: absolute;
    padding: 0;
    margin: 0;
}

button.noimage {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-left: -0.7em;
}

div.flash { 
    min-width: 40em;
}