{{response.title='OneZoom: Educational materials'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
     <h1 class="full-title">Educational materials</h1>
</div>
{{end block}}


<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
                                      
                                        <a href = "{{=URL('static','images/gallery/highres/One_Zoom_Science_Uncovered.jpg')}}"  target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/One_Zoom_Science_Uncovered_small.jpg')}}" alt=""></a>
                    
                       
                    </div>
                              <div class = "uk-padding">
                                 
                                 <p>OneZoom has been used by students of all ages in classrooms, lecture theatres and home learning environments.  We're looking for teachers and educators to help create learning materials and lesson plans that use OneZoom.  If you're using OneZoom for teaching and learning and have some materials that you are willing to share with others,
                                 <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top"> please let us know</a>
                                 
                                 and we'll populate this page with downloads and links to these materials so that others can benefit from them.
                                 </p>
                                 
                                 <p>With COVID-19 having recently closed many schools and universities across the globe, tools for home learning have never been more important.  If you're a teacher or home educator with an idea of activities to do at home with OneZoom, <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top"> please let us know</a> and we'll post your suggestions here.
                                 
                                 </p>
                                 
                             </div>
                             
                                   <div class = "uk-padding">
                                      
                                     
                                     
                                     <h3>
                                     Linnean Learning.
                                     </h3>
                                     
                                     <p>
                                     The Linnean Society of London has produced <a href="https://www.linnean.org/learning" target="_blank"> a wonderful set of educational materials </a>, including materials that you can use in the home.
                                     
                                     
                                     
                                     
                                     
                                     
                                     </p>
                                     
                                     <p>
                                     
                                     https://www.linnean.org/learning/linnaeus-at-home
                                     
                                     </p>
                                    
                                    <h3>
                                        Complexity Explorer
                                    </h3>
                                     
                                      <p>
                                     https://www.complexityexplorer.org/news/114-many-things-to-share-frontiers-origins-and-trees-of-life-and-subtitles
                                     
                                    https://www.complexityexplorer.org/explore/resources/829-one-zoom-tree-of-life-explorer
                                     </p>
                                     
                                     <p> maze and funny names</p>
                                      
                                  </div>
              
                </div><!--/row-->
