{{response.title='OneZoom: Educational materials'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
     <h1 class="full-title">Educational materials</h1>
</div>
{{end block}}

<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
        <h3>Use of OneZoom in education</h3>
        <p>OneZoom has been used by students of all ages in classrooms, lecture theatres and home learning environments.  We're looking for teachers and educators to help create learning materials and lesson plans that use OneZoom.  If you're using OneZoom for teaching and learning and have some materials that you are willing to share with others,
        <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top"> please let us know</a>
        and we'll populate this page with downloads and links to these materials so that others can benefit from them.</p>
        <a href = "{{=URL('static','images/gallery/highres/One_Zoom_Science_Uncovered.jpg')}}"  target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/One_Zoom_Science_Uncovered_small.jpg')}}" alt=""></a>
        <p>The COVID-19 pandemic, which closed many schools and universities across the globe, highlighted the importance of tools for home learning.  If you're a teacher or home educator with an idea of activities to do at home with OneZoom, <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top"> please let us know</a> and we'll post your suggestions here.</p>
        <a href = "{{=URL('static','images/Pad_example_large.jpg')}}"  target = "_blank" class="thumbnail"><img src= "/static/images/Pad_example_small.jpg" alt=""></a>
        <h3>Please help</h3>
        <p>Join the growing community of teachers and educators using OneZoom in the classroom and lecture theatre to aid learning about biodiversity and evolution.  We want to support you in this, so  <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top"> please ask</a> if you have any questions.</p>
    </div>
    <div class = "uk-padding">
        <h3>Linnean Learning</h3>
        <p>The Linnean Society of London has produced <a href="https://www.linnean.org/learning" target="_blank"> a wonderful set of educational materials </a>, including <a href="https://www.linnean.org/learning/linnaeus-at-home" target="_blank"> materials you can use at home</a> which feature OneZoom.</p>
        <a href = "/static/images/gallery/LinSoc_1.jpg"  target = "_blank" class="thumbnail"><img src= "/static/images/gallery/LinSoc_1.jpg" alt=""></a>
        <p>Above: OneZoom launch event at the Linnean Society of London in April 2017</p>
    
        <h3>Downloadable materials</h3>
        <p>Our main educational product is our <a href="{{=URL('default','life', extension=False)}}" target="_blank">tree of life explorer</a>.
            We have made some other educational materials as a way to motive exploration with questions that can be answered by using the tree of life explorer.</p>
        <p>The maze of life puzzle is suitable for students age 16 and above.
            It will likely require them to use our <a href="{{=URL('default','life', extension=False)}}" target="_blank">tree of life explorer</a>
            to find out how closely related different species are and thus solve the maze.
            The <a href = "{{=URL('static','downloads/Maze_of_Life.pdf')}}"  target = "_blank" class="thumbnail">downloadable PDF</a> is free to use and distribute under a CC-BY license.
            We do not provide straight answers online but if you're really stuck please <a href="mailto:mail@onezoom.org?Subject=Educational%20materials%20with%20OneZoom" target="_top">write to us</a> and we'll give you a clue.</p>
        <a href = "{{=URL('static','downloads/Maze_of_Life.pdf')}}"  target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/Maze_of_Life_image.png')}}" alt=""></a>
        <p>There are over 2 million species of life on earth.  One testament to this is the vernacular (common) names that have been chosen to represent some of them - there are just too many to give them all sensible names!  Try our <a href = "{{=URL('static','downloads/blanks_questions.pdf')}}"  target = "_blank" class="thumbnail">fill-in-the-blanks quiz of species names</a>
            to see what we mean.  It would be fun to guess the answers in teams, for example at a quiz night. If you're serious about getting the answers right you'll probably need to use the search bar on our website and the answers will be immediate.</p>
    </div>
    <div class = "uk-padding">
        <h3>Endorsements from educators</h3>
        <ul class = "uk-list columns blockquote-ul">
            {{category_order=['Educators', 'Lecturers and professors']}}
            {{for category in category_order:}}
            {{for q in quotes.get(category,[]):}}
            <li>
                <blockquote id="quote{{=q.id}}" class="blockquote-main">{{=XML(q.html_quote)}}
                    <footer class="blockquote-footer">
                        <cite>{{if q.person_url:}}<a href="{{=q.person_url}}" target="_blank">{{=q.person}}</a>{{else:}}{{=q.person}}{{pass}}{{if q.html_affiliation:}}, {{=XML(q.html_affiliation)}}{{pass}}</cite>
                    </footer>
                </blockquote>
            </li>
            {{pass}}
            {{pass}}
        </ul>
    </div>
</div><!--/row-->
