{{response.title='OneZoom: Educational materials'}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
     <h1 class="full-title">Educational materials</h1>
</div>
{{end block}}


<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding">
                                      
                                        <a href = "{{=URL('static','images/gallery/highres/One_Zoom_Science_Uncovered.jpg')}}"  target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/gallery/One_Zoom_Science_Uncovered_small.jpg')}}" alt=""></a>
                    
                       
                    </div>
                              <div class = "uk-padding">
                                 
                               
                                 
                             </div>
                             
                                   <div class = "uk-padding">
                                      
                                     
                                      
                                  </div>
              
                </div><!--/row-->
