{{response.title='OneZoom: Education tools'}}
{{extend 'layout.html'}}
<div class="row-fluid">
 <div class="col-md-12">    
  <h1>Some education links</h1>
  <ul>
   <li><a href="{{=URL('museum_display_setup')}}">A museum display</a>, which is <q>sandboxed</q>, such 
   that, when made full-screen, it is impossible to escape the tree viewer. This also
   allows viewing of wikipedia information, without linking to other wikipedia pages, or
   to the internet at large</a></li>
   <li><a href="{{=URL('treasure_hunt_setup')}}">A treasure hunt, where you can specify a set of taxa to hunt for</a></li>
  </ul>
 </div>
</div>