{{response.title='OneZoom: Museum display'}}
{{extend 'layout.html'}}
<div id="museum-container">
  <div class="col-md-12">
    <h1>OneZoom museum display</h1>

    <div class="form-group">
      <label class="left-label">View Type</label>
      <div class="right-input">
        <select class="view-type" style="width:100%;">
          <option value="spiral">Spiral</option>
          <option value="natural">Natural</option>
          <option value="fern">Fern</option>
          <option value="balanced">Balanced</option>
          <option value="polytomoty">Polytomoty</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="left-label">Image Source</label>
      <div class="right-input">
        <select class="image-source" style="width:100%;">
          <option value="best_any">Any</option>
          <option value="best_verified"
            title="Only show images that have been verified by a taxonomist. For any image, click or zoom on the © symbol for details">
            Verified</option>
          <option value="best_pd">Public Domain</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="left-label">Language</label>
      <div class="right-input">
        <select class="language" style="width:100%;"
          title="Most languages have some vernacular names on OneZoom, but only a few languages have been fully translated.">
          <optgroup label="Translated">
            <option value="en">English</option>
            <option value="fr">Français</option>
            <option value="sv">Svenska</option>
          </optgroup>
          <optgroup label="Not yet translated">
            <option value="zh">中文</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="left-label">Animation Preference</label>
      <div class="right-input">
        <select class="anim-setting" style="width:100%;">
          <option value="fly">Fly</option>
          <option value="jump">Jump</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="left-label left-label-input">Home Ott Id</label>
      <div class="right-input ott-id" style="width:600px;">
        <select style="width: 300px;">
          <option value="244265">Mammals</option>
          <option value="770315">Human</option>
          <option value="81461">Birds</option>
          <option value="991547">Frogs and toads</option>
          <option value="801601">Vertebrates</option>
          <option value="1062253">Insects</option>
          <option value="691846">Animals</option>
          <option value="361838">Green plants</option>
          <option value="99252">Flowering plants</option>
          <option value="1012685">Mushrooms</option>
          <option value="304358">Complex life</option>
          <option value="custom">Custom</option>
        </select>
        <input readonly type="text" class="form-control" style="width:280px;display:inline-block;" />
      </div>
    </div>
    <div class="form-group">
      <label class="left-label left-label-input">Screensaver Wait Time</label>
      <div class="right-input input-group screensaver">
        <input oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text" class="form-control" value="600"
          aria-describedby="screensaver-addon" />
        <span class="input-group-addon" id="screensaver-addon">seconds</span>
      </div>
    </div>
    <div style="height: 30px"></div>
    <div class="form-group">
      <label class="left-label left-label-input">Generated URL</label>
      <div class="right-input url-result">
        <input type="text" class="form-control" readonly />
      </div>
    </div>
    <div class="form-group">
      <label class="left-label"> </label>
      <div class="right-input button-group">
        <button id="copy">Copy</button>
        <button id="open-in-new-tab">Open in a new tab</button>
      </div>
    </div>
  </div>
</div>

<style>
  #museum-container .left-label {
    float: left;
    width: 170px;
    text-align: right;
  }

  #museum-container .left-label-input {
    height: 28px;
    line-height: 28px;
  }

  #museum-container .right-input {
    float: left;
    width: 300px;
    margin-left: 25px;
  }

  #museum-container .right-input select,
  #museum-container .right-input input {
    height: 28px;
  }

  #museum-container .right-input.url-result {
    width: 800px;
  }

  #museum-container .right-input.url-result input {
    background-color: #eee;
  }

  #museum-container .right-input.button-group {
    padding-top: 10px;
  }

  #museum-container .form-group {
    margin-bottom: 10px;
  }

  #museum-container .form-group:after {
    content: '';
    display: table;
    clear: both;
  }
</style>

<script>
  //anoymous function so that it won't pollute global namespace
  ; (function () {
    function setURL() {
      const HOST = window.location.host
      const PROTOCAL = window.location.protocol

      const view_type = $('#museum-container .view-type')
        .find('option:selected')
        .val()
      const image_source = $('#museum-container .image-source')
        .find('option:selected')
        .val()
      const language = $('#museum-container .language')
        .find('option:selected')
        .val()
      const anim_setting = $('#museum-container .anim-setting')
        .find('option:selected')
        .val()
      const ott_id = $('#museum-container .ott-id input').val()
      const screensaver_timer = $('#museum-container .screensaver input').val()

      let query = `vis=${view_type}&img=${image_source}&lang=${language}&anim=${anim_setting}`
      if (ott_id) {
        query = query + `&ott=${ott_id}`
      }
      if (screensaver_timer) {
        query = query + `&ssaver=${screensaver_timer}`
      }
      $('#museum-container .url-result input').val(
        PROTOCAL + '//' + HOST + '/life_MD?' + query,
      )
    }

    /**
     * When ott-id dropdown selection changes, do two things:
     * 1. enable or disable ott-id input readonly property
     * 2. change ott-id input value
     */
    function setHomeOttId() {
      const optionVal = $('#museum-container .ott-id select')
        .find('option:selected')
        .val()
      if (optionVal === 'custom') {
        $('#museum-container .ott-id input').attr('readonly', false)
      } else {
        $('#museum-container .ott-id input').attr('readonly', true)
        $('#museum-container .ott-id input').val(optionVal)
      }
    }

    //Initial setup
    setHomeOttId()
    setURL()

    //Bind copy event
    $('#museum-container #copy').click(function () {
      var input = $('#museum-container .url-result input')
      input.select()
      document.execCommand('copy')
      input.blur()
    })

    //Bind open in new tab event
    $('#museum-container #open-in-new-tab').click(function () {
      var url = $('#museum-container .url-result input').val()
      window.open(url, null)
    })

    //Bind dropdown selection event
    $('#museum-container select').change(function () {
      setURL()
    })

    //Bind text input change event
    $(
      '#museum-container .screensaver input, #museum-container .ott-id input',
    ).change(function () {
      setURL()
    })

    /**
     * When ott-id dropdown selection changes, do two things:
     * 1. enable or disable ott-id input readonly property
     * 2. change ott-id input value
     */
    $('#museum-container .ott-id select').change(function () {
      setHomeOttId()
      setURL()
    })
  })()
</script>