{{response.title='OneZoom: Screenshot tool'}}
{{response.files.append(URL('static', 'css/content_pages.css'))}}
{{extend 'uikit_layout.html'}}

{{block masthead}}
<div class="home-heading uk-text-center uk-padding-small">
    <h1>OneZoom screenshot tool</h1>
    
    <em>
       An easy way to create high quality screenshots of OneZoom as vectorgraphics. </em>
</div>
{{end block}}

<div class="uk-padding"><em>If you&rsquo;ve done something special with OneZoom please <a href="mailto:mail@onezoom.org">let us know</a>.  Perhaps you&rsquo;ve used it for teaching, visualising your own data or in a public display? This page will describe how you can download vector graphic screenshots from OneZoom and use them in your own work.</em>
</div>

<div class="uk-grid-small uk-text-small uk-child-width-1-3@m " uk-grid>
    <div class = "uk-padding uk-padding-remove-top">
        <h3>Introduction</h3>
        <p>Screenshots taken with a normal screenshot tool are unlikely to have a good enough resolution for many uses. Our built in screenshot tool enables you to generate a vector graphic (.svg file) of any view of the tree. These files can be opened in a web browser or using free image manipulation software (such as Inkscape) ready for use in print, in educational materials, or elsewhere online.</p>
        
        <div class = "uk-padding">
            <a class = "a-light oz-pill pill-leafout" href = "{{=URL('default','life_expert.html',vars=dict(img='best_pd'))}}" target = "_blank">Launch the screenshot tool</a>
        </div>
        
    </div>
    <div class = "uk-padding uk-padding-remove-top">
      
              <center><a href="{{=URL('static','images/user_guide/FullSize/SS_example.jpg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/user_guide/SS_example.jpg')}}" alt="" width="70%"></a></center>
        
        <h3>Permissions</h3>
        <p >We encourage wide use of screenshots from OneZoom. The default option of this tool uses public domain images only, so you can reuse the screenshots and only need to mention OneZoom as the source.  Please be careful of permissions if you change the image settings because you may need to credit each photographer individually. Please also see our {{=A('Terms of use', _href=URL('default','terms.html'))}} </p>
    </div>
    <div class = "uk-padding uk-padding-remove-top">
        <h3>How to use</h3>
        
        
            
        <p>After launching the tool, navigate the tree to your desired location.  You can change the tree view  using the settings button on the tool bar (bottom left).</p>
        
        <center><a href="{{=URL('static','images/user_guide/FullSize/SS_tool.jpg')}}" target = "_blank" class="thumbnail"><img src= "{{=URL('static','images/user_guide/SS_tool.jpg')}}" alt=""></a></center>

        <p >
        Once you're happy the view is correct, press the camera button on the tool bar (indicated above) and your web browser should open the screenshot as an SVG (Scalable Vector Graphics) file in a new tab. You could then use your web browser to save the file as an SVG or as a PDF (which is what we normally do).</p>
        
    </div>
</div>


