{{response.title='OneZoom: Popularity service'}}
{{
def link(a, **kwargs):
    return A(a, _href=a, **kwargs)
pass
}}
{{extend 'layout.html'}}
<div class="row-fluid">
    <div class="col-md-12">    

<h1>OneZoom popularity service</h1>
<p>As part of OneZoom, we have developed methods to assign a <q>popularity</q> score to every species on the OneZoom tree of life
(i.e. nearly all described species of life on Earth). This is done by using our mappings from
 <a href="https://tree.opentreeoflife.org/about/taxonomy-version">Open Tree of Life taxonomy IDs</a>
to <a href="https://www.wikidata.org/wiki/Q43649390">wikidata Qids</a>. From the Qid, we can find the equivalent wiki<em>pedia</em> page for that 
taxon in any given language. Since the english language wikipedia is the most visited, we default to calculating popularity on the
basis of activity on <a href="http://en.wikipedia.org">en.wikipedia.org</a>. Note that this may give english-language specific weights to the 
popularity measures. Given the predominance of visits from the US, we might also expect north american taxa to be ranked particularly highly.</p>

<p>The popularity value for a particular taxon is calculated as summary of the average number of wikipedia monthly page visits over a 
set period of time (truncated so as to remove spikes), combined with the size of the wikipedia page. This <q>base popularity</q> is then 
percolated up and down the tree, so that species gain some fraction of the popularity of their subspecies plus the popularity of their parent taxa.
This means that all species that can be placed on the tree should get some raw popularity measure, although the meaning of this raw value is subject
to change as the OneZoom tree topology changes, and as wikipedia visits and page size data change. For this reason, you are recommended only to 
consider the <em>relative</em> popularity values. It is also not necessarily clear what it means to compare the popularity of taxa at different 
levels of the taxonomic heirarchy. However, comparing species popularity values is reasonable, so to aid comparison, species 
(but not higher-level taxa) are ranked from 1 to <i>n<sub>taxa</sub></i>, where <i>n<sub>taxa</sub></i> is the maximum number of species on the 
OneZoom tree (the current value of <i>n<sub>taxa</sub></i> is also is returned by each API call).</p>

<p>Note that we do not normally distinguish subspecies, such as <i class="taxonomy">Canis lupus familiaris</i> (the domestic dog) on the OneZoom tree: 
only the full species <i class="taxonomy">Canis lupus</i> (the grey wolf, including the domestic dog, dingo, indian wolf, etc.) will be
displayed on the tree or returned using this API. Even although there <em>is</em> an Open Tree identifier for <i class="taxonomy">Canis lupus familiaris</i>,  
it will not be recognised if passed to this API. Additionally, OneZoom does not store higher level names for monospecific taxa, i.e.
for a species like the tuatara, <i class="taxonomy">Sphenodon punctatus</i> the OTT for the species (35890) will be recognised, but searching for the genus 
<i class="taxonomy">Sphenodon</i> (OTT 35886) will not return any results, nor will the higher level monospecific order Rhynchocephalia (OTT 35876).
In a similar vein, where multiple taxonomic names describe the same set of species on the OneZoom tree, only the <em>highest</em> distinguishing level is used. 
For example, lancelets are classified in OneZoom as Cephalochordata (OTT 176555): the lower level family Branchiostomidae (OTT 176551), 
in which all living cephalochordates also fall, is not recognised in OneZoom or in this API.</p>


<h2>Services available</h2>
Popularity services are accessed via URLs theat return JSON data for any set of Open Tree Taxonomy identifiers that are passed in (you cannot pass in scientific names).
All services require you to specify an API key (e.g. by appending <code>key=MY_API_KEY</code> to the URL) this allows us to keep track 
of the volume of requests we get from different private users: no other information is stored. 
{{if public_key is not None:}}
If you have not been given an API key, you can use the <q>public</q> key (<code>{{=public_key}}</code>), which is restricted to {{=public_max_taxa_per_query}} taxa per request,
and {{=public_max_returns_per_taxon}} results for each taxon requested.
{{pass}}

<h3>URL: <code>popularity/list</code></h3>
An API to get a list of taxa ranked by popularity, e.g. {{=link(URL('list', host=True, vars={"key":0, "otts":"770315"}))}} (see <a href="#examples">examples below</a> for more).
<h4>Parameters</h4>
<dl>
<dt>Required</dt>
<dd>
 <dl>
  <dt><code>key</code><dt><dd>Your OneZoom API key {{if public_key is not None:}}(use the public key <q><code>{{=public_key}}</code></q> if you have not been given one){{pass}}</dd>
  <dt><code>otts</code></dt><dd>A comma-separated list of <a href="https://tree.opentreeoflife.org/about/taxonomy-version/">Open Tree Taxonomy identifiers</a> (one or more positive integers)</dd>
 </dl>
</dd>
<dt>Optional</dt>
<dd>
 <dl>
 <dt><code>expand_taxa</code><dt><dd>Set to <code>True</code> or <code>False</code> (can also use <code>0</code> or <code>1</code>): If <code>True</code>, include all species which are descendants of the given OTTs (i.e. higher level taxa are "expanded" into their constituent species, and the returned taxa are all at the species level). You can mix OTTs for species and higher taxa in a single call: only higher taxa will be expanded. If the parameter is <code>False</code> or not given, do not expand taxa and simply return data on the OTTs that have been passed in (note that higher level taxa will not contain popularity_rank information, which is only valid for species)</dd>
 <dt><code>max</code></dt><dd>An integer giving the maximum number of taxa to return. By default this is equivalent to the number of OTTs passed in: if <code>expand_taxa</code> is true, 
you may wish to set this to a higher value. There is an upper limit on the maximum taxa, given by your API key.</dd>
 <dt><code>names</code><dt><dd>Set to <code>True</code> or <code>False</code> (can also use <code>0</code> or <code>1</code>): If <code>True</code>, return a scientific (<q>Latin</q>) name for each returned taxon, if one is available. Names are usually (but not necessarily) the same as the scientific name listed on the Open Tree of Life.</dd>
 <dt><code>sort</code><dt><dd>Set to <code>raw</code> or <code>rank</code>: If <code>raw</code> (the default), order the results by their raw popularity score (highest first), then OTT id. If <code>rank</code> order by species rank (lowest first, with higher leval taxa at start) then by raw popularity score (highest first), and finally by OTT id.</dd>
 </dl>
</dd>
<dt>Optional for developers / debugging</dt>
<dd>
 <dl>
  <dt><code>db_seconds</code><dt><dd>Set to <code>True</code> or <code>False</code> (can also use <code>0</code> or <code>1</code>): If <code>True</code>, return a <code>db_seconds</code> property giving the number of seconds taken to make the underlying database calls. Default to <code>False</code></dd>
 </dl>
</dd>
</dl>
<h4>Return values</h4>
In the absence of error, the returned JSON object contains the following properties:
<dl>
<dt><code>header</code><dt><dd>An array containing the names of each column in the "data" array (below). At a minimum the columns include &quot;ott&quot;, &quot;popularity&quot;, and &quot;popularity_rank&quot;. Depending on the parameters passed in, they may also include &quot;name&quot;</dd>
<dt><code>data</code></dt><dd>A list of arrays, one per valid OTT returned. Each array in the list contains a set of values as described in the <code>header</code> property. The list of arrays is sorted according the to <code>sort</code> parameter. Taxa above the species level have no popularity rank</dd>
<dt><code>tot_spp</code></dt><dd>The total number of species in the OneZoom popularity list. This gives the maximum possible value for &quot;popularity_rank&quot;. Quantiles for ranks can be gained by dividing the rank by this number (for example, </dd>
<dt><code>n_taxa</code></dt><dd>The total number of taxa that this call would have listed, were it not limited to returning only a certain number</dd>
<dt><code>max_taxa_in</code></dt><dd>The maximum number of OTTs this API key is allowed to send in the comma-separated list.</dd>
<dt><code>max_taxa_out</code></dt><dd>The maximum number of taxa this API key is allowed to return.</dd>
</dl>

<h4 id="examples">Examples</h4>
<dl>
<dt>The 10 most popular species of life, with names</dt>
<dd>{{=link(URL('list', host=True, vars={"key":0, "otts":"93302", "expand_taxa":1, "max":10, "names":1}))}} (NB: OTT 93302 = <q>biota</q> = all life)</dd>
<dt>The 15 most <q>popular</q> species of insect, with names</dt>
<dd>{{=link(URL('list', host=True, vars={"key":0, "otts":"1062253", "expand_taxa":1, "max":15, "names":1}))}} (NB: OTT 1062253 = Insecta)</dd>
<dt>The 50 most popular "reptiles" (turtles + crocodiles + lizards, snakes & tuatara, but not birds)</dt>
<dd>{{=link(URL('list', host=True, vars={"key":0, "otts":"639666,195672,35881", "expand_taxa":1, "max":50}, url_encode=False))}} (NB: OTT 639666 = Testudines, 195672 = Crocodylia, 35881 = <q>Mammalia</q>)</dd>
<dt>The 50 most popular "reptiles": turtles + crocodiles + lepidosaurs (lizards, snakes, tuatara), but not birds</dt>
<dd>{{=link(URL('list', host=True, vars={"key":0, "otts":"639666,195672,35881", "expand_taxa":1, "max":50}, url_encode=False))}} (NB: OTT 244265 = <q>Mammalia</q>)</dd>
</dl>
<h4>Test this API</h4>
<form action="{{=URL('list')}}" method="get" >
<dl>
<dt>key</dt><dd><input type="text" name="key" value="0" /></dd>
<dt>otts</dt><dd><input type="text" name="otts" value="247341,563159" /> (Grey wolf/domestic dog, <i class="taxonomy">Canis lupus</i>, has OTT 247341; the cat family, Felidae, has OTT 563159</dd>
<dt>expand_taxa</dt><dd><input type="radio" name="expand_taxa" value="True">&nbsp;True<br><input type="radio" name="expand_taxa" value="False" checked>&nbsp;False</dd>
<dt>max</dt><dd><input type="text" name="max" /></dd>
<dt>names</dt><dd><input type="radio" name="names" value="True">&nbsp;True<br><input type="radio" name="names" value="False" checked>&nbsp;False</dd>
<dt>sort</dt><dd><input type="radio" name="sort" value="raw" checked>&nbsp;raw<br><input type="radio" name="sort" value="rank">&nbsp;rank</dd>
<input type="submit" value="Try it!">
</dl>
</form>

</div>
</div>