.tour.tutorial_MD {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.tour.tutorial_MD .tour_container {
  border: 1px solid #cccccc;
  width: fit-content;
  height: fit-content;
  background-color: #FFFFAA;
  padding-top: 5px;
  top: 10px;
  left: 200px;
  width: 460px;
  position: fixed;
}

.tour.tutorial_MD .outsidebox {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.tour.tutorial_MD .title {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.tour.tutorial_MD .img {
  display: block;
  width: 250px;
  height: 300px;
}

.tour.tutorial_MD .window_text {
  min-height: 140px;
  padding: 0 1em;
  margin-bottom: 10px;
  font-size: 18px;
}

.tour.tutorial_MD .footer {
  border-top: 1px solid #cccccc;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.tour.tutorial_MD .button {
  flex: 1 1 0;
  border: 1px solid #cccccc;
  border-radius: 0.5em;
  padding: 0.8em 0.5em;
  font-size: 16px;
  text-align: center;
  margin: 0 15px;
  background-color: #ffffee;
}

.tour.tutorial_MD .button:hover {
  cursor: pointer;
  background-color: #dddddd;
}

