#tour_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#tour_wrapper .tour_container {
  border: 1px solid #cccccc;
  width: fit-content;
  height: fit-content;
  background-color: #FFFFAA;
  padding-top: 5px;
  top: 10px;
  left: 200px;
  position: fixed;
}

#tour_wrapper .title {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0 30px;
}

#tour_wrapper .img {
  display: block;
  width: 250px;
  height: 300px;
}

#tour_wrapper .window_text {
  width: 400px;
  min-height: 130px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#tour_wrapper .footer {
  border-top: 1px solid #cccccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#tour_wrapper .footer div {
  flex: 1 0 0;
}

#tour_wrapper .footer div:nth-of-type(1) {
   text-align: left
}

#tour_wrapper .footer div:nth-of-type(2) {
  text-align: center;
}

#tour_wrapper .footer div:nth-of-type(3) {
   text-align: right
}

#tour_wrapper .button {
  border: 1px solid #cccccc;
  border-radius: 0.5em;
  padding: 0.8em;
  font-size: 16px;
  text-align: center;
  margin: 0 7px;
  background-color: #ffffee;
}

#tour_wrapper .button:hover {
  cursor: pointer;
  background-color: #dddddd;
}

